<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <script>
        opener.location.href = '{{ target }}';
        window.close();
    </script>
</head>
<body></body>
</html>