<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <script>
        if (opener != null) {
            try {
                if (opener.location.href) {
                    setTimeout(function(){window.close();}, 1000);
                }
            } catch(e) {
                {% if gid is defined %}
                    setTimeout(function(){window.location.href='/app{{ gid }}';}, 1000);
                {% else %}
                    setTimeout(function(){window.location.href='/';}, 1000);
                {% endif %}
                setTimeout(function(){opener.close();}, 1000);
            }
        } else {
            {% if gid is defined %}
                setTimeout(function(){window.location.href='/app{{ gid }}';}, 1000);
            {% else %}
                setTimeout(function(){window.location.href='/';}, 1000);
            {% endif %}
        }
    </script>
</head>
    <body></body>
</html>