<html>
<head>

</head>
<body>
<h4>Доброго дня.</h4>
<p>Для изменения контактного email необходимо пройти по ссылке: <a href="{{ link }}?email={{ email_encode }}&token={{ token }}&code={{ key }}">{{ link }}?email={{ email }}&token={{ token }}&code={{ key }}</a></p>
</body>
</html>