<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<head><link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
<div width="100%" align="center">
	<div style="width:1024px;color:#36485e;font-size:16px;font-family: 'Roboto', sans-serif;">
	<div style="padding-top:20px;text-align:left;">
	<a href="{{ site }}" title="EXE.ru"><img src="{{ site }}assets/img/mail_logo.png" alt="EXE.ru" title="EXE.ru" width="1024" height="70" /></a>
	</div>

	<div style="padding-top:30px;text-align:left;">

			Недавно был получен запрос на изменение данных Вашей учетной записи. <br />
			<br />
			Ваши обновленные данные для входа на сайт <a href="/" title="EXE.ru" style="color:#03aaa4;">EXE.ru</a>:  
			<br /><br />
			Логин: <b>{{ email }}</b><br />
Пароль: <b>{{ password }}</b>
			<br /><br />
			Если Вы не посылали запрос на изменение данных учетной записи, немедленно сообщите нам об этом в <a style="color:#03aaa4;" title="EXE.ru" href="{{ site }}help">службу поддержки</a>.
			<br /><br />
			С уважением, <br />Администрация сайта EXE.ru.
<br /><br />			 
		</div>
		
		<hr style="border:2px solid #d8dcdf;">
</div>
</div>
</body>
</html>