<html>
    <head>

    </head>
    <body>
        <h4>Доброго дня.</h4>
        <p>Ваша ссылка для продолжения восстановления пароля: <a href="{{ link }}?email={{ email_encode }}&token={{ token }}">{{ link }}?email={{ email }}&token={{ token }}</a></p>
    </body>
</html>