{% extends "user/layout.twig" %}
{%  block content %}
    {% if promo.topline is defined %}
        {% include promo.topline %}
    {% endif %}
    {% include "user/topline/webpush_newmessage.twig" %}
    {% include "user/topline/email_not_checked.twig" %}
{#    <div style="width: 100%; background-color: #ffa800; text-align: center; font: 17px 'Roboto-Medium', sans-serif; vertical-align: baseline; line-height: 50px;">
        <span style=" color: #fff; display:inline;">7 декабря 2017 с 12 часов по московскому времени плановые технические работы на серверах EXE.RU</span>
    </div>#}
<div class="site-main">
    <div class="container">
        <div class="row">
            <div class="row__col--lg-10">
                <div class="col__header col__header--with-img">
                    {% if gameData.image_64x64 %}
                        {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/app/{{ gameData.gid }}/64x64/{{ constant('DPRIMAGEPREFIX') }}{{ gameData.image_64x64 }}{% endset %}
                    {% else %}
                        {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/dev-game__image-poster-32px.png{% endset %}
                    {% endif %}
                    <img class="col__header__img" src="{{ src }}">
                    <h1 class="col__header__text">{{ gameData.title }}</h1>

                    {% if not userData.isTemporaryUser %}
                    <div class="find-friend">
                        <p>Ищу друзей:</p>
                        <div class="find-friend__switcher">
                            <input type="checkbox" id="checkbox-switch" {% if gameData.invitible == '1' %}checked="checked" {% endif %}/>
                            <label for="checkbox-switch"></label>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col__content">
                    {% if userData.isTemporaryUser %}
{#                    <div data-modal="login-modal" data-module="users" data-method="setDestination" data-dest="5" style="width: 100%; background-color: #d8dcdf; text-align: center; font: 17px 'Roboto-Medium', sans-serif; vertical-align: baseline; line-height: 50px;">
                        <a href="#" style="color:#5d6d7d; display:inline; padding-right:12px;">Войдите или зарегистрируйтесь, чтобы не потерять прогресс игры. Быстрая регистрация через:</a>
                        <ul class="social__list">
                            <li><a class="social__icon social__icon-vk" href="/auth_vk" data-href="/app{{ gameData.gid }}" data-dest="2"></a></li>
                            <li><a class="social__icon social__icon-fb" href="/auth_fb" data-href="/app{{ gameData.gid }}" data-dest="2"></a></li>
                            <li><a class="social__icon social__icon-google" href="/auth_gp" data-href="/app{{ gameData.gid }}" data-dest="2"></a></li>
                            <li><a class="social__icon social__icon-ok" href="/auth_ok" data-href="/app{{ gameData.gid }}" data-dest="2"></a></li>
                            <li><a class="social__icon social__icon-mm" href="/auth_mm" data-href="/app{{ gameData.gid }}" data-dest="2"></a></li>
                            <li><a class="social__icon social__icon-lf" href="/auth_lf" data-href="/app{{ gameData.gid }}" data-dest="2"></a></li>
                        </ul>
                    </div>#}
                        <div class="users-list-wrap is-guest">
                            <p>Сейчас играют:</p>
                            <div id="users-list-wrap" class="is-guest"><ul class="users-list"></ul></div>
                            <a href="#" class="users-list__item users-list__item--more"></a>
                            <div id="users-list-wrap-queue" style="display:none;"></div>
                        </div>
                    {% else %}
                    <ul class="game-links-list">
                        <li><a href="#" data-modal="invite-friends-modal" data-module="friends" data-method="inviteFriends">Пригласить друзей в игру</a></li>
                        <li><a href="#" data-modal="search-friends-modal" data-module="friends" data-method="searchFriendsByGame">Найти друзей по игре</a></li>
                    </ul>
                    <div class="users-list-wrap">
                        <p>Сейчас играют:</p>
                        <div id="users-list-wrap"><ul class="users-list"></ul></div>
                        <a href="#" class="users-list__item users-list__item--more"></a>
                        <div id="users-list-wrap-queue" style="display:none;"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if userData.isTemporaryUser %}
        <div class="guest-box">
            <div class="guest-box--form tab-register">
                <form autocomplete="off">
                    <input type="hidden" name="position" value="left_form" />
                    <input type="hidden" name="dest_id" value="20" />
                    <input type="hidden" name="target_url" value="/{% if gameData.gid %}app{{ gameData.gid }}{% endif %}" />
                    <div class="guest-box--logo"></div>
                    <div class="guest-box--title">Сохраните прогресс игры!</div>

                    <div class="guest-box--fields">
                        <div class="guest-box--field">
                            <input type="text" name="email" placeholder="Введите e-mail" />
                        </div>

                        <div class="guest-box--field">
                            <input type="password" name="password" placeholder="Придумайте пароль" />
                        </div>

                        <div class="guest-box--field">
                            <input type="text" name="name" placeholder="Введите имя" />
                        </div>
                    </div>

                    <div class="guest-box--submit"><button type="submit" class="guest-box--submit-button">Сохранить</button></div>
                    <div class="guest-box--text">Регистрируясь, вы принимаете<br /><a href="/rules" target="_blank">правила пользования сайтом</a></div>
                    <div class="guest-box--stitle">Войти через соц. сети:</div>
                    <ul class="guest-box--socials">
                        <li><a href="/auth_vk" data-href="/app{{ gameData.gid }}" class="social__icon social__icon-vk" data-dest="21"></a></li>
                        <li><a href="/auth_fb" data-href="/app{{ gameData.gid }}" class="social__icon social__icon-fb" data-dest="21"></a></li>
                        <li><a href="/auth_gp" data-href="/app{{ gameData.gid }}" class="social__icon social__icon-google" data-dest="21"></a></li>
                        <li><a href="/auth_ok" data-href="/app{{ gameData.gid }}" class="social__icon social__icon-ok" data-dest="21"></a></li>
                        <li><a href="/auth_mm" data-href="/app{{ gameData.gid }}" class="social__icon social__icon-mm" data-dest="21"></a></li>
                        <li><a href="/auth_lf" data-href="/app{{ gameData.gid }}" class="social__icon social__icon-lf" data-dest="21"></a></li>
                    </ul>

                    <div class="guest-box--auth">Уже есть аккаунт? <a data-modal="login-modal" href="#" data-module="users" data-method="setDestination" data-dest="22">Войти</a></div>
                </form>
            </div>

            <div class="game">
                {% if gameData.repairs == 't' and hasAccess(userData.uid, gameData.gid, constant('\\Base\\Service\\Roles::ACCESS_VIEW')) == false  %}
                    <iframe webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" src="/remont" width="100%" height="{{ gameData.height }}px"></iframe>
                {% else %}
                    {% if gameData.frameUrl %}
                        <iframe webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" src="{{ gameData.frameUrl }}?rnd={{ random() }}&exe_user={{ userData.uid }}&game_sid={{ userData.gameSessionId }}&app_id={{ gameData.gid }}&auth_key={{ gameData.authKey }}{% if gameData.requestKey %}&request_key={{ gameData.requestKey }}{% endif %}" width="100%" height="{{ gameData.height }}px"></iframe>
                    {% else %}
                        <h3 style="text-align:center;">Адрес игры пока не указан разработчиком.</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="game">
            {% if gameData.repairs == 't' and hasAccess(userData.uid, gameData.gid, constant('\\Base\\Service\\Roles::ACCESS_VIEW')) == false  %}
                <iframe webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" src="/remont" width="100%" height="{{ gameData.height }}px"></iframe>
            {% else %}
                {% if gameData.frameUrl %}
                    <iframe webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" src="{{ gameData.frameUrl }}?rnd={{ random() }}&exe_user={{ userData.uid }}&game_sid={{ userData.gameSessionId }}&app_id={{ gameData.gid }}&auth_key={{ gameData.authKey }}{% if gameData.requestKey %}&request_key={{ gameData.requestKey }}{% endif %}" width="100%" height="{{ gameData.height }}px"></iframe>
                {% else %}
                    <h3 style="text-align:center;">Адрес игры пока не указан разработчиком.</h3>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="row__col--lg-10">
                <div class="col__content">
                    <ul class="game-links-list">
                        <li><a href="#" data-modal="terms">Пользовательское соглашение</a></li>
                        <li><a href="#" data-modal="developer">Разработчик</a></li>
                        <li><a href="#" data-modal="uninstall-modal" data-gid="{{ gameData.gid }}" data-type="game" data-module="game" data-method="showUnInstallGame">Удалить игру</a></li>
                    </ul>
                    <div class="game-bonus">
                        <a href="#"{% if userData.isTemporaryUser %}data-modal="login-modal" data-module="users" data-method="setDestination" data-dest="9"{% else %} data-modal="payment-modal"{% endif %} class="balance">У вас <span class="game-bonus__count">{{ userData.balance }}</span><span> {{ userData.balance|plural_str('рубль', 'рубля', 'рублей') }}</span></a>
                    </div>
                    <div class="checkbox-wrap">
                        <input type="checkbox" id="notification-checkbox" {% if gameData.notifications == '0' %}checked="checked" {% endif %}/>
                        <label for="notification-checkbox">Не получать уведомления от игры</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% include "user/modal/terms.twig" %}
    {% include "user/modal/developer.twig" %}
    {% include "user/modal/buy.twig" %}
    {% include "user/modal/buy_success.twig" %}

    {% if not userData.isTemporaryUser %}
        {% include "user/modal/invite-friends.twig" %}
        {% include "user/modal/search-friends.twig" %}
        {% include "user/modal/add-feed.twig" %}
        {% include "user/modal/add-request.twig" %}
    {% endif %}

    {% if userData.isTemporaryUser %}
        {% if constant("ENVIRONMENT") != 'production' %}
            {% include "connect_1.twig" %}
            <script>
                setTimeout(function(){
                    $('[data-modal = "connect_1-modal"]').click();
                }, 3000);
            </script>
        {% elseif userData.needConnect %}
            {% include "connect_1.twig" %}
            <script>
                setTimeout(function(){
                    $('[data-modal = "connect_1-modal"]').click();
                }, 600000);
            </script>
        {% endif %}
    {% endif %}
    <script>
        var epAlias = false;
        switch({{ gameData.gid }}) {
            case 3:  { if (install == 1) epAlias='GrimmInstall'; else epAlias='GrimmLaunch'; break; } // Ферма Гримм
            case 4:  { if (install == 1) epAlias='RodinaInstall'; else epAlias='RodinaLaunch'; break; } // Родина
            case 9:  { if (install == 1) epAlias='WarbannerInstall'; else epAlias='WarbannerLaunch'; break; } // Знамя войны
            case 10: { if (install == 1) epAlias='SturmInstall'; else epAlias='SturmLaunch'; break; } // Штурм
            case 11: { if (install == 1) epAlias='PiratesInstall'; else epAlias='PiratesLaunch'; break; } // Гроза Морей
            case 12: { if (install == 1) epAlias='NanoInstall'; else epAlias='NanoLaunch'; break; } // Нано-Ферма
            case 14: { if (install == 1) epAlias='RoyalClashInstall'; else epAlias='RoyalClashLaunch'; break; } // Королевский замес
            case 15: { if (install == 1) epAlias='RumbaInstall'; else epAlias='RumbaLaunch'; break; } // Румба
            case 19: { if (install == 1) epAlias='BonVoyageInstall'; else epAlias='BonVoyageLaunch'; break; } // Бон Вояж
            case 39: { if (install == 1) epAlias='HeroInstall'; else epAlias='HeroLaunch'; break; } // Путь война
            case 47: { if (install == 1) epAlias='MusicWarsInstall'; else epAlias='MusicWarsLaunch'; break; } // Музвар
            case 62: { if (install == 1) epAlias='WarTankInstall'; else epAlias='WarTankLaunch'; break; } // Битва Танков
            case 70: { if (install == 1) epAlias='NebesaInstall'; else epAlias='NebesaLaunch'; break; } // Небеса
            case 76: { if (install == 1) epAlias='WalkingUndeadInstall'; else epAlias='WalkingUndeadLaunch'; break; } // Ходячая Нежить
            case 89: { if (install == 1) epAlias='ImperialInstall'; else epAlias='ImperialLaunch'; break; } // Империал Хироу
            case 97: { if (install == 1) epAlias='ObitelInstall'; else epAlias='ObitelLaunch'; break; } // Обитель зла
            case 103: { if (install == 1) epAlias='VegaMixInstall'; else epAlias='VegaMixLaunch'; break; } // Вега Микс
            case 106: { if (install == 1) epAlias='ImperiaInstall'; else epAlias='ImperiaLaunch'; break; } // Империя Онлайн
            case 121: { if (install == 1) epAlias='StormLaunch'; else epAlias='StormInstall'; break; } // Шторм
        }
        if (epAlias !== false && epAlias !== '' && typeof epRiseEvent === 'function') {
            epRiseEvent(epAlias);
        }
    </script>
{% endblock %}