<!DOCTYPE html>
<html>
<head>
    {% if constant('ENVIRONMENT') != 'production' %}
        <meta name="robots" content="noindex,nofollow" />
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if gameData.title %}
        {% set single %}{{ constant('\\Base\\Service\\Game::actionTypes')[gameData.type].single }}{% endset %}
        <title>Игра {{ gameData.title }}. Играть онлайн бесплатно!</title>
        <meta name="keywords" content="{{ gameData.title|lower }} игра онлайн играть бесплатно {{ single|lower }}" />
        <meta name="description" content="{{ single }} {{ gameData.title }}. Играть бесплатно в онлайн-игру {{ gameData.title }} на EXE.ru." />
    {% else %}
        <title>EXE.RU. Лучшие игры сети</title>
    {% endif %}
    <script type="text/javascript" src="/assets/js/dpr.js?{{ constant('JS_VERSION') }}"></script>

    {% if gameData.image_16x16 %}
        <link rel="icon" type="image/{{ gameData.image_16x16_type }}" href="{{ constant('IMAGE_HOST') }}/assets/img/app/{{ gameData.gid }}/16x16/{{ gameData.image_16x16 }}" sizes="16x16">
    {% else %}
        <link rel="icon" type="image/png" href="/16_01.png" sizes="16x16">
    {% endif %}
    {% if gameData.image_64x64 %}
        <link rel="icon" type="image/{{ gameData.image_64x64_type }}" href="{{ constant('IMAGE_HOST') }}/assets/img/app/{{ gameData.gid }}/64x64/_{{ gameData.image_64x64 }}" sizes="32x32">
    {% else %}
        <link rel="icon" type="image/png" href="/32_01.png" sizes="32x32">
    {% endif %}

    <link rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/css/main1.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/css/popup.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/css/modal.css?{{ constant('CSS_VERSION') }}">
    {% if promo.css is defined %}
        <link rel="stylesheet" href="{{ promo.css }}?{{ constant('CSS_VERSION') }}">
    {% endif %}

    {% if userData.retention_modals %}
    <link rel="stylesheet" href="/assets/css/m2.css?{{ constant('CSS_VERSION') }}">
    {% endif %}

    <script type="text/javascript" src="/assets/js/jquery.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.validate.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.placeholder.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.imgareaselect.min.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/modernizr.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/classie.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/dialogfx.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/scrollbox.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/ejs.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/slick.js?{{ constant('JS_VERSION') }}"></script>
    {% if constant('ENVIRONMENT') == 'production' %}
        <script type="text/javascript" src="/assets/js/main.js?{{ constant('JS_VERSION') }}"></script>
    {% else %}
        <script type="text/javascript" src="/assets/js/full/main.js?{{ constant('JS_VERSION') }}"></script>
    {% endif %}

    <script src='https://www.google.com/recaptcha/api.js?onload=grecaptchaCallback&render=explicit' async defer></script>

    {% if promo.head_script is defined %}
        <script type="text/javascript" src="{{ promo.head_script }}?{{ constant('JS_VERSION') }}"></script>
    {% endif %}

    <link rel="manifest" href="/manifest.json">
    <script type="text/javascript" src="/push.js"></script>

    {% if userData.isTemporaryUser %}
    <script type="text/javascript" src="/assets/js/tempuser.js?{{ constant('JS_VERSION') }}"></script>
    {% endif %}
    <script>
        var
            imageHost = '{{ constant('IMAGE_HOST') }}',
            sid = '{{ userData.sessionId }}',
            gid = '{{ userData.gameSessionId }}',
            pageUrl = '/{{ currentPage }}',
            uid = {% if userData.isTemporaryUser %}0{% else %}{{ userData.uid }}{% endif %},
            install = {% if install and install == 1 %}1{% else %}0{% endif %},
            retentionLabel = {% if retention_label %}'{{ retention_label }}'{% else %}false{% endif %};
    </script>
    {% if userData.retention_modals %}
        <script>
            var init = true,
                initTime = new Date(),
                playBefore = 0,
                {% if gameData.gid == 19 %}
                retentionModals = ['modalExit', 'modalBookmarkN', 'modalSignupN'];
                {% else %}
                retentionModals = ['modalSignupN'];
                {% endif %}
        </script>
    {% endif %}
    {% include "statpixel.twig" %}
</head>
<body>
    <div class="site-header">
        <a href="/" class="site-logo site-logo--header">
            <img src="/assets/img/logo.png">
        </a>
        <div class="user-info user-info--site-header">
            {% if userData.isTemporaryUser %}
                <a href="#" data-modal="login-modal" data-module="users" data-method="setDestination" data-dest="7"><img src="{{ constant('IMAGE_HOST') }}{{ userData.photo.70 }}"></a>
                <a href="#" data-modal="login-modal" data-module="users" data-method="setDestination" data-dest="7">
                    <p>{{ userData.name }} {{ userData.last_name }}</p>
                </a>
            {% else %}
                <a href="/id{{ userData.uid }}" data-modal="user-modal" data-method="getUser" data-module="users" data-uid="{{ userData.uid }}"><img src="{{ constant('IMAGE_HOST') }}{{ userData.photo.70 }}"></a>
                <a href="/id{{ userData.uid }}" data-modal="user-modal" data-method="getUser" data-module="users" data-uid="{{ userData.uid }}">
                    <p>{{ userData.name }} {{ userData.last_name }}</p>
                </a>
            {% endif %}
        </div>
        <ul class="site-header__menu">
            <li><a class="icon icon__games{% if currentPage != '' %} active{% endif %}" href="/games">игры</a></li>
            <li>
                <a class="icon icon__news" data-modal="news-modal" href="/news" data-module="news" data-method="resetFilter">новости<div class="panel__count"{% if panel.news > 0 %} style="display:block;"{% endif %}>{{ panel.news }}</div></a>
            </li>
            <li>
                <a class="icon icon__comments" {% if userData.isTemporaryUser %}data-modal="login-modal" href="#" data-module="users" data-method="setDestination" data-dest="7" {% else %}data-modal="dialogs-modal" href="/dialogs" data-tab-target="tab_1"{% endif %}>общение<div class="panel__count"{% if panel.dialogs > 0 %} style="display:block;"{% endif %}>{{ panel.dialogs }}</div></a>
            </li>
            <li>
                <a class="icon icon__friends" {% if userData.isTemporaryUser %}data-modal="login-modal" href="#" data-module="users" data-method="setDestination" data-dest="7" {% else %}data-modal="friends-modal" href="/friends" data-tab-target="tab_1"{% endif %}>друзья<div class="panel__count"{% if panel.friends > 0 %} style="display:block;"{% endif %}>{{ panel.friends }}</div></a>
            </li>
            <li class="site-header__menu__item--right"><a class="icon icon__settings" {% if userData.isTemporaryUser %}data-modal="login-modal" href="#" data-module="users" data-method="setDestination" data-dest="7" {% else %} data-tab-target="{% if not userData.isEmailChecked %}tab_6{% else %}tab_1{% endif %}" data-modal="settings-modal" href="/settings"{% endif %}>настройки<div class="panel__count"{% if not userData.isEmailChecked %} style="display:block;"{% endif %}>!</div></a></li>
        </ul>
        <div id="online-events"></div>
    </div>
    {% block content %}{% endblock %}

    <div class="footer">
        <div class="container">
            <p>© {{ "now"|date('Y') }}   EXE.RU   Все права защищены</p>
            <ul class="footer__menu">
                <li><a href="#" data-modal="about">О проекте</a></li>
                <li><a href="#" data-modal="help">Помощь</a></li>
                {% if constant('ENVIRONMENT') == 'development' %}
                    {% set link='http://dev.exe.ru.dev' %}
                {% elseif constant('ENVIRONMENT') == 'testing' %}
                    {% set link='http://devtest.exe.ru' %}
                {% else %}
                    {% set link='http://dev.exe.ru' %}
                {% endif %}
                <li><a href="{{ link }}" target="_blank">Разработчикам</a></li>
{#                <li><a href="#">Реклама</a></li>
                <li><a href="#">Вакансии</a></li>#}
            </ul>
        </div>
    </div>

    {% include "user/modal/news.twig" %}
    {% include "user/modal/user.twig" %}
    {% include "help.twig" %}
    {% include "about_project.twig" %}
    {% include "user/modal/uninstall.twig" %}

    {% if promo.payment is defined %}
        {% include promo.payment %}
    {% else %}
        {% include "user/modal/payment.twig" %}
    {% endif %}

    {% if userData.isTemporaryUser %}
        {% include "user/modal/login.twig" %}
    {% else %}
        {% include "user/modal/dialogs.twig" %}
        {% include "user/modal/friends.twig" %}
        {% include "user/modal/settings.twig" %}
        {% include "user/modal/photo.twig" %}
        {% include "user/modal/assign.twig" %}
    {% endif %}

    {% if promo.body is defined %}
        {% include promo.body %}
    {% endif %}

    <div id="inProgressShadow"><img src="/assets/img/loading2.gif"/></div>
    <div style="display:none">
        <a id="forOpenByHash" href="#" data-modal="user-modal" data-uid="" data-module="users" data-method="getUser"></a>
    </div>

    {% if userData.retention_modals %}
        {% include "modals.twig" %}
    {% endif %}

    {% include "ya_metrika.twig" %}
    {% include "fb_pixel.twig" %}
    {% include "retention.twig" %}

    {% if userData.newUserAuthSocial == 1 %}
    <script>
        setTimeout(function(){
            if (typeof yaCounter41227294 != 'undefined') {
                yaCounter41227294.reachGoal('registration_success_social');
            }
        }, 1000);
    </script>
    {% endif %}
</body>
</html>