{% extends "user/layout.twig" %}
{%  block content %}
    {% if promo.topline is defined %}
        {% include promo.topline %}
    {% endif %}
    {% include "user/topline/webpush_newmessage.twig" %}
{#    <div style="width: 100%; background-color: #ffa800; text-align: center; font: 17px 'Roboto-Medium', sans-serif; vertical-align: baseline; line-height: 50px;">
        <span style=" color: #fff; display:inline;">7 декабря 2017 с 12 часов по московскому времени плановые технические работы на серверах EXE.RU</span>
    </div>#}
    <div class="nmain-slider">
        <div class="nmain-slider--in">
            {% for banner in carusel %}
            <div class="slide nmain-slide">
                <div class="nmain-game" style="background: {{ banner.color }}">
                    <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/{{ banner.gid }}.jpg)"></div>
                    <div class="nmain-game--in">
                        <div class="nmain-game--title">{{ banner.title }}</div>
                        <div class="nmain-game--text">{{ banner.text }}</div>
                        <div class="nmain-game--btn"><button class="catalog-btn" type="button" onclick="location.href='/app{{ banner.gid }}?source=catalog';">Играть</button></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="site-main">
    <div class="container minHeight">
        <div class="row row--main">
            {% include "user/user-catalog.twig" with catalog %}
        </div>
    </div>
</div>
<a href="#" class="go-up"></a>
{% endblock %}