{% extends "user/layout.twig" %}
{%  block content %}
    {% if promo.topline is defined %}
        {% include promo.topline %}
    {% endif %}
    {% include "user/topline/webpush_newmessage.twig" %}
    {% include "user/topline/email_not_checked.twig" %}
{#    <div style="width: 100%; background-color: #ffa800; text-align: center; font: 17px 'Roboto-Medium', sans-serif; vertical-align: baseline; line-height: 50px;">
        <span style=" color: #fff; display:inline;">7 декабря 2017 с 12 часов по московскому времени плановые технические работы на серверах EXE.RU</span>
    </div>#}

<div class="site-main">
    <div class="container minHeight">
        {% set class = 'main' %}
        {% if friendsNotifications|length > 0 or gameNotifications|length > 0%}
            <div class="row row--{{ class }}">
                {% include "user/user-news.twig" %}
            </div>
            {% set class = 'padding' %}
        {% endif %}

        {% if installed|length > 0 %}
            <div class="row row--{{ class }}">
                {% include "user/user-games.twig" with installed %}
            </div>
            {% set class = 'padding' %}
        {% endif %}

        <div class="row row--{{ class }}">
            {% include "user/user-catalog.twig" with catalog %}
        </div>
    </div>
</div>
<a href="#" class="go-up"></a>
{% endblock %}