{% if notify.game.image_150x150 %}
    {% set image %}{{ constant('IMAGE_HOST') }}/assets/img/app/{{ notify.game.gid }}/150x150/{{ constant('DPRIMAGEPREFIX') }}{{ notify.game.image_150x150 }}{% endset %}
{% else %}
    {% set image %}{{ constant('IMAGE_HOST') }}/assets/img/dev-game__image-poster-75px.png{% endset %}
{% endif %}
<div class="notification" data-gid="{{ notify.game.gid }}" data-nid="{{ notify.game.nid }}">
    <div class="news-list__item__delete delete-data" title=""></div>
    <img class="notification__img" src="{{ image }}">
    <div class="notification__info">
        <h5>{{ notify.game.title }}</h5>
        <p>{{ notify.game.text }}</p>
    </div>
</div>