{% if notify.game.image_150x150 %}
    {% set image %}{{ constant('IMAGE_HOST') }}/assets/img/app/{{ notify.game.gid }}/150x150/{{ constant('DPRIMAGEPREFIX') }}{{ notify.game.image_150x150 }}{% endset %}
{% else %}
    {% set image%}{{ constant('IMAGE_HOST') }}/assets/img/dev-game__image-poster-75px.png{% endset %}
{% endif %}
<div class="friend-request">
    <a href="/id{{ notify.user.uid }}" data-modal="user-modal" data-uid="{{ notify.user.uid }}" data-module="users" data-method="getUser"><img class="friend-request__user" src="{{ constant('IMAGE_HOST') }}{{ notify.user.photo.70 }}"></a>
    <div class="friend-request__info">
        <a href="/id{{ notify.user.uid }}" data-modal="user-modal" data-uid="{{ notify.user.uid }}" data-module="users" data-method="getUser">
            <h5>{{ notify.user.name|length > 15 ? notify.user.name[:12] ~ '...' : notify.user.name }} {{ notify.user.last_name|length > 15 ? notify.user.last_name[:12] ~ '...' : notify.user.last_name }}</h5>
        </a>
        <p>{{ notify.text|replace({'%game_link%': notify.link})|raw }}</p>
        <div class="btn-group--friend-request">
            <a class="btn-main btn-main--icon btn-main--green friend-request--game_link" data-gid="{{ notify.game.gid }}" data-nid="{{ notify.game.nid }}" {% if notify.game.requestKey %} data-rkey="{{ notify.game.requestKey }}"{% endif %}{% if notify.request_type %} data-rtype="{{ notify.request_type|trim }}"{% endif %}href="#">Играть</a>
            <a class="btn-main btn-main--transparent friend-request--game_link_delete" data-gid="{{ notify.game.gid }}" data-nid="{{ notify.game.nid }}" href="#">Отклонить</a>
        </div>
    </div>
    <a href="#" data-gid="{{ notify.game.gid }}" data-nid="{{ notify.game.nid }}" class="friend-request--game_link"{% if notify.game.requestKey %} data-rkey="{{ notify.game.requestKey }}"{% endif %}{% if notify.request_type %} data-rtype="{{ notify.request_type|trim }}"{% endif %}><img class="friend-request__game" src="{{ image }}"></a>
</div>
