<div class="row__col--lg-10">
    <div class="col__header">
        <h3 class="col__header__text">Мои игры</h3>
        <span class="col__header__count">{% if installed|length > 9 %}{{ installed|length }}{% else %}0{{ installed|length }}{% endif %}</span>
    </div>
    <div class="col__content">
        <ul class="my-games my-games--user">
            {% for game in installed %}
                {% if game.image_256x256 %}
                    {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/app/{{ game.gid }}/256x256/{{ constant('DPRIMAGEPREFIX') }}{{ game.image_256x256 }}{% endset %}
                {% else %}
                    {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/dev-game__image-poster-128px.png{% endset %}
                {% endif %}
                <li class="my-games__item">
                    <div data-original-title="Удалить" class="news-list__item__delete delete-data" data-toggle="tooltip" data-placement="top" title="" data-modal="uninstall-modal" data-gid="{{ game.gid }}" data-type="main" data-module="game" data-method="showUnInstallGame"></div>
                    <a href="/app{{ game.gid }}">
                        <img src="{{ src }}" alt="{{ game.title }}" style="border-bottom: 4px solid {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}">
                    </a>
                    <a href="/app{{ game.gid }}" class="my-games__item__game-text" style="color: {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}">{{ game.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
