<div class="row__col--lg-10{% if currentPage == '' %} catalog--main{% endif %}">
    {% if currentPage == '' %}
        <div class="col__header">
            <h2 class="col__header__text">Лучшие игры сети</h2>
        </div>
        {% else %}
            <div class="col__header">
                <h3 class="col__header__text">Каталог игр</h3>
                <span class="col__header__count">{% if catalog|length > 9 %}{{ catalog|length }}{% else %}0{{ catalog|length }}{% endif %}</span>
            </div>
        {% endif %}

    <div class="col__content col__content--catalog">
        <ul class="catalog-list">
            {% for game in catalog %}
                {% if ((constant('ENVIRONMENT') == 'production' and game.gid == 1) or (constant('ENVIRONMENT') != 'production' and (game.gid == 340))) %}
                    <li class="catalog-list__item soon">
                {% else %}
                    <li class="catalog-list__item" onclick="location.href='/app{{ game.gid }}?source=catalog';">
                {% endif %}
                    {% if game.image_810x500 %}
                        {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/app/{{ game.gid }}/810x500/{{ constant('DPRIMAGEPREFIX') }}{{ game.image_810x500 }}{% endset %}
                    {% else %}
                        {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/dev-games__item-poster.png{% endset %}
                    {% endif %}
                    <img src="{{ src }}" alt="{{ game.title }}" style="border-bottom: 4px solid {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}">
                    <h4 style="color: {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}">{{ game.title }}</h4>
                    <span>{{ constant('\\Base\\Service\\Game::actionTypes')[game.type].title }}</span>
                    {% if ((constant('ENVIRONMENT') == 'production' and game.gid == 1) or (constant('ENVIRONMENT') != 'production' and (game.gid == 340))) %}
                    {% else %}
                        <button class="catalog-btn" type="button">Играть</button>
                        <div class="catalog-overlay"></div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>