<div class="row__col--lg-4">
    <div class="col__header">
        <h3 class="col__header__text">Запросы от друзей</h3>
        <span class="col__header__count friends__notification__count">{% if friendsNotifications|length > 9 %}{{ friendsNotifications|length }}{% else %}0{{ friendsNotifications|length }}{% endif %}</span>
    </div>
    <div class="col__content">
        <div class="friend-request-wrap">
            {% for notify in friendsNotifications[:2] %}
                {% include "user/onenews.twig" with notify %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="row__col--lg-4 pull-right">
    <div class="col__header">
        <h3 class="col__header__text">Уведомления</h3>
        <span class="col__header__count game__notification__count">{% if gameNotifications|length > 9 %}{{ gameNotifications|length }}{% else %}0{{ gameNotifications|length }}{% endif %}</span>
    </div>
    <div class="col__content">
        <div class="notification-wrap">
            {% for notify in gameNotifications[:2] %}
                {% include "user/notify.twig" with notify %}
            {% endfor %}
        </div>
    </div>
</div>
{% if friendsNotifications|length > 2 or gameNotifications|length > 2 %}
<div class="row row--main row--main--hide row--main--notification">
    <div class="row__more-panel">
        <div class="row__col--lg-4">
            <div class="col__content">
                <div class="friend-request-wrap">
                    {% for notify in friendsNotifications[2:] %}
                        {% include "user/onenews.twig" with notify %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row__col--lg-4 pull-right">
            <div class="col__content">
                <div class="notification-wrap">
                    {% for notify in gameNotifications[2:] %}
                        {% include "user/notify.twig" with notify %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row__more row__more--open"></div>
    <div class="row__more row__more--close"></div>
</div>
{% endif %}