{% extends "quest/layout.twig" %}
{%  block content %}
    <h2 class="content__header">Лучшие игры сети</h2>
    <div class="catalog-wrap">
        <ul class="catalog-list">
            {% for game in games %}
                {% if game.image_810x500 %}
                    {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/app/{{ game.gid }}/810x500/{{ constant('DPRIMAGEPREFIX') }}{{ game.image_810x500 }}{% endset %}
                {% else %}
                    {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/dev-games__item-poster.png{% endset%}
                {% endif %}
                {% if ((constant('ENVIRONMENT') == 'production' and game.gid == 1) or (constant('ENVIRONMENT') != 'production' and (game.gid == 340))) %}
                    <li class="catalog-list__item soon">
                {% else %}
                    <li class="catalog-list__item" data-href="/app{{ game.gid }}?source=catalog" data-dest="11">
                {% endif %}
                    <img src="{{ src }}" alt="{{ game.title }}" style="border-bottom: 4px solid {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}">
                    <h4 style="color: {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}">{{ game.title }}</h4>
                    <span>{{ constant('\\Base\\Service\\Game::actionTypes')[game.type].title }}</span>
                {% if ((constant('ENVIRONMENT') == 'production' and game.gid == 1) or (constant('ENVIRONMENT') != 'production' and (game.gid == 340))) %}
                {% else %}
                    <button class="catalog-btn" type="button">Играть</button>
                    <div class="catalog-overlay"></div>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}