<!DOCTYPE html>
<html>
    <head>
        {% if constant('ENVIRONMENT') != 'production' %}
        <meta name="robots" content="noindex,nofollow" />
        {% endif %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ game.title|default('EXE.RU. Лучшие игры сети') }}</title>
        <script type="text/javascript" src="/assets/js/dpr.js?{{ constant('JS_VERSION') }}"></script>

        {% if game.image_16x16 %}
            <link rel="icon" type="image/{{ game.image_16x16_type }}" href="{{ constant('IMAGE_HOST') }}/assets/img/app/{{ game.gid }}/16x16/{{ game.image_16x16 }}" sizes="16x16">
        {% else %}
            <link rel="icon" type="image/png" href="/16_01.png" sizes="16x16">
        {% endif %}
        {% if game.image_64x64 %}
            <link rel="icon" type="image/{{ game.image_64x64_type }}" href="{{ constant('IMAGE_HOST') }}/assets/img/app/{{ game.gid }}/64x64/_{{ game.image_64x64 }}" sizes="32x32">
        {% else %}
            <link rel="icon" type="image/png" href="/32_01.png" sizes="32x32">
        {% endif %}

        <link rel="stylesheet" href="/assets/css/main.css?{{ constant('CSS_VERSION') }}">
        <link rel="stylesheet" href="/assets/css/popup.css?{{ constant('CSS_VERSION') }}">
        <link rel="stylesheet" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}">

        <script type="text/javascript" src="/assets/js/jquery.js?{{ constant('JS_VERSION') }}"></script>
        <script type="text/javascript" src="/assets/js/jquery.validate.js?{{ constant('JS_VERSION') }}"></script>
        <script type="text/javascript" src="/assets/js/guest.js?{{ constant('JS_VERSION') }}"></script>
        <script src='https://www.google.com/recaptcha/api.js?onload=grecaptchaCallback&render=explicit' async defer></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#connect_user-modal .modal__close')
                   .css({'visibility':'hidden'});

                $('#login .modal__close')
                   .off('click')
                   .on('click', function(){
                       $('#login')
                           .removeClass('modal--open');
                       $('#connect_user-modal')
                           .removeClass('modal--close')
                           .addClass('modal--open');
                   });

                $('.overlay').off('click');

                $('#connect_user-modal')
                    .removeClass('modal--close')
                    .addClass('modal--open');

            });
        </script>
    </head>
    {% if game.image_guest %}
        {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/app/{{ game.gid }}/guest/{{ game.image_guest }}{% endset %}
    {% else %}
        {% set src='https://rumba.ugo-games.com/FullScreen.jpg' %}
    {% endif %}
    <body style="background:url('{{ src }}') no-repeat top center; padding:20px 0 0 0; margin:0 0;">

        {% include "connect_user.twig" with {'dest': '18'} %}
        {% include "quest/login.twig" %}

        {% include "ya_metrika.twig" %}
        {% include "fb_pixel.twig" %}
        {% include "retention.twig" %}
    </body>
</html>