<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <script type="text/javascript" src="/assets/js/jquery.js?{{ constant('JS_VERSION') }}"></script>
        <style>
            div {
                display: block;
                opacity: 1;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                z-index: 300;
            }
            div img {
                position: absolute;
                top: 50%;
                left:50%;
            }
            iframe {
                visibility: hidden;
            }
        </style>
        <script>
            function listener(event) {
                $.post('/ajax/lf', {data:event.data}, function() {
                    window.location.reload();
                });
            }
            if (window.addEventListener) {
                window.addEventListener("message", listener);
            } else { // IE8
                window.attachEvent("onmessage", listener);
            }
        </script>
    </head>
    <body>
        <div><img src="/assets/img/loading2.gif"/></div>
        <iframe src="//lostfilm.tv/widgets/pixel.php" />
    </body>
</html>