{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    {% if constant('ENVIRONMENT') != 'production' %}
    <meta name="robots" content="noindex,nofollow" />
    {% endif %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>EXE.RU. Лучшие игры сети</title>
{#
    <script>
        window.devicePixelRatio = 3;
    </script>
#}
    <script type="text/javascript" src="/assets/js/dpr.js?{{ constant('JS_VERSION') }}"></script>

    <link rel="icon" type="image/png" href="/16_01.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/32_01.png" sizes="32x32">

    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css?{{ constant('CSS_VERSION') }}" />
    <link rel="stylesheet" href="/assets/css/main.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/css/popup.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/css/modal.css?{{ constant('CSS_VERSION') }}">

    <link rel="manifest" href="/manifest.json">
    <script type="text/javascript" src="/push.js"></script>

    <script type="text/javascript" src="/assets/js/jquery.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.validate.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/slick.js?{{ constant('JS_VERSION') }}"></script>
    {% if constant('ENVIRONMENT') == 'production' %}
    <script type="text/javascript" src="/assets/js/guest.js?{{ constant('JS_VERSION') }}"></script>
    {% else %}
    <script type="text/javascript" src="/assets/js/full/guest.js?{{ constant('JS_VERSION') }}"></script>
    {% endif %}
    <script src='https://www.google.com/recaptcha/api.js?onload=grecaptchaCallback&render=explicit' async defer></script>
    <script>var pageUrl = '/';</script>
    {% include "statpixel.twig" %}
</head>
<body>
	<div class="site-header">
        <a href="/" class="site-logo site-logo--header">
            <img src="/assets/img/logo.png">
        </a>
        <a href="#" class="btn btn--site-header" data-dest="3">войти</a>
        <a href="#" class="btn btn--site-header tab-register" data-dest="3">создать аккаунт</a>
        <div class="social social--header">
            <p>Войти через:</p>
            <ul class="social__list">
                <li><a class="social__icon social__icon-vk" href="/auth_vk" data-dest="1"></a></li>
                <li><a class="social__icon social__icon-fb" href="/auth_fb" data-dest="1"></a></li>
                <li><a class="social__icon social__icon-google" href="/auth_gp" data-dest="1"></a></li>
                <li><a class="social__icon social__icon-ok" href="/auth_ok" data-dest="1"></a></li>
                <li><a class="social__icon social__icon-mm" href="/auth_mm" data-dest="1"></a></li>
                <li><a class="social__icon social__icon-lf" href="/auth_lf" data-dest="1"></a></li>
            </ul>
        </div>
    </div>
    <div class="main">
{#        <div class="main__header">
            <div class="container">
                <h1> Любимые игры на EXE</h1>
                <h3>Присоединяйтесь</h3>
                <div class="btn-group--main__header">
                    <a href="#" class="btn-lg btn-lg--sign-in" data-dest="3">Войти</a>
                    <a href="#" class="btn-lg btn-lg--register" data-dest="3">Создать аккаунт</a>
                </div>
            </div>
        </div>#}
        <div class="nmain-slider">
            <div class="nmain-slider--in">
                {% for banner in carusel %}
                <div class="slide nmain-slide">
                    <div class="nmain-game" style="background: {{ banner.color }}">
                        <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/{{ banner.gid }}.jpg)"></div>
                        <div class="nmain-game--in">
                            <div class="nmain-game--title">{{ banner.title }}</div>
                            <div class="nmain-game--text">{{ banner.text }}</div>
                            <div class="nmain-game--btn"><button class="catalog-btn" type="button" data-href="/app{{ banner.gid }}?source=catalog">Играть</button></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
{#                <div class="slide nmain-slide">
                    <div class="nmain-game" style="background: #3079df">
                        <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/9.jpg)"></div>
                        <div class="nmain-game--in">
                            <div class="nmain-game--title">Знамя Войны</div>
                            <div class="nmain-game--text">В игре «Знамя Войны» вам предстоит взять на себя роль полководца одной из сверхдержав периода XVIII-XIX веков!</div>
                            <div class="nmain-game--btn"><button class="catalog-btn" type="button" data-href="/app9?source=catalog">Играть</button></div>
                        </div>
                    </div>
                </div>
                <div class="slide nmain-slide">
                    <div class="nmain-game" style="background: #8eb021">
                        <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/19.jpg)"></div>
                        <div class="nmain-game--in">
                            <div class="nmain-game--title">Бон Вояж</div>
                            <div class="nmain-game--text">Увлекательная игра-путешествие в жанре "три в ряд".</div>
                            <div class="nmain-game--btn"><button class="catalog-btn" type="button" data-href="/app19?source=catalog">Играть</button></div>
                        </div>
                    </div>
                </div>
                <div class="slide nmain-slide">
                    <div class="nmain-game" style="background: #3079df">
                        <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/10.jpg)"></div>
                        <div class="nmain-game--in">
                            <div class="nmain-game--title">Штурм</div>
                            <div class="nmain-game--text">Военная мощь сосредоточена в Ваших руках, но сможете ли Вы изменить ход истории?</div>
                            <div class="nmain-game--btn"><button class="catalog-btn" type="button" data-href="/app10?source=catalog">Играть</button></div>
                        </div>
                    </div>
                </div>
                <div class="slide nmain-slide">
                    <div class="nmain-game" style="background: #5762d5">
                        <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/11.jpg)"></div>
                        <div class="nmain-game--in">
                            <div class="nmain-game--title">Гроза Морей</div>
                            <div class="nmain-game--text">Захватывающие приключения пирата и его команды!</div>
                            <div class="nmain-game--btn"><button class="catalog-btn" type="button" data-href="/app11?source=catalog">Играть</button></div>
                        </div>
                    </div>
                </div>
                <div class="slide nmain-slide">
                    <div class="nmain-game" style="background: #e74c3c">
                        <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/12.jpg)"></div>
                        <div class="nmain-game--in">
                            <div class="nmain-game--title">Нано-Ферма</div>
                            <div class="nmain-game--text">На этой ферме все необычное, начиная с грядок и животных и заканчивая лесом с монстрами, который окружает ваш участок!</div>
                            <div class="nmain-game--btn"><button class="catalog-btn" type="button" data-href="/app12?source=catalog">Играть</button></div>
                        </div>
                    </div>
                </div>
                <div class="slide nmain-slide">
                    <div class="nmain-game" style="background: #27ae60">
                        <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/39.jpg)"></div>
                        <div class="nmain-game--in">
                            <div class="nmain-game--title">Путь Воина: Битва Героев</div>
                            <div class="nmain-game--text">Сражайтесь с другими воинами, побеждайте монстров, проходите приключения и принимайте участие в турнирах!</div>
                            <div class="nmain-game--btn"><button class="catalog-btn" type="button" data-href="/app39?source=catalog">Играть</button></div>
                        </div>
                    </div>
                </div>
                <div class="slide nmain-slide">
                    <div class="nmain-game" style="background: #27ae60">
                        <div class="nmain-game--bg" style="background-image: url(/assets/img/carusel/47.jpg)"></div>
                        <div class="nmain-game--in">
                            <div class="nmain-game--title">Music Wars</div>
                            <div class="nmain-game--text">Сражайтесь за любимый музыкальный стиль!</div>
                            <div class="nmain-game--btn"><button class="catalog-btn" type="button" data-href="/app47?source=catalog">Играть</button></div>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
        <div class="main__content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p>© {{ "now"|date('Y') }}  EXE.RU   Все права защищены</p>
            <ul class="footer__menu">
                <li><a href="#" data-modal="about">О проекте</a></li>
                <li><a href="#" data-modal="help">Помощь</a></li>
                {% if constant('ENVIRONMENT') == 'development' %}
                    {% set link='http://dev.exe.ru.dev' %}
                {% elseif constant('ENVIRONMENT') == 'testing' %}
                    {% set link='http://devtest.exe.ru' %}
                {% else %}
                    {% set link='http://dev.exe.ru' %}
                {% endif %}
                <li><a href="{{ link }}" target="_blank">Разработчикам</a></li>
{#
                <li><a href="#">Реклама</a></li>
                <li><a href="#">Вакансии</a></li>
#}
            </ul>
        </div>
    </div>

    {% include "connect_1.twig" with {'dest': '12'} %}
    {% include "quest/login.twig" %}
    {% include "help.twig" %}
    {% include "about_project.twig" %}

    {% include "ya_metrika.twig" %}
    {% include "fb_pixel.twig" %}
    {% include "retention.twig" %}
</body>
</html>
{% endspaceless %}