<div class="dev-game__head">Обратная связь</div>
<div class="dev-game__info-field clearfix">
    Спасибо за обращение!
</div>
<div class="dev-game__info-field clearfix">
    Ваше сообщение успешно отправлено.
</div>