<div class="dev-news__item">
    <div class="dev-news__item-avatar"><img src="<%= imageHost %><%= game_image_150x150 %>" alt=""></div>

    <div class="dev-news__item-game"><%= game_title %></div>

    <% if (title) { %>
        <div class="dev-news__item-title"><%= title %></div>
    <% } %>

    <%
    if (content.indexOf('%game_link%') !== -1) {
        var game_link = '<a href="' + game_applink;
        if (params != '') {
            game_link += '?request_key=' + params;
        }
        game_link += '">' + game_title + '</a>';
        content = content.split('%game_link%').join(game_link);
    }
    %>

    <p>
        <%= content %>
        <nobr><a href="<%= game_applink %><% if (params != '') { %>?request_key=<%= params %><% } %>" target="_blank"><%= game_applink %></a></nobr>
    </p>


    <% if (image_url) { %>
        <div class="dev-news__item-poster"><img src="<%= image_url %>" alt=""></div>
    <% } %>

    <div class="dev-news__item-date"><%= date %></div>
</div>