<div class="dev-news__item" data-fid="<%= fid %>">
    <div class="dev-news__item-deleteBox">
        <div class="dev-news__item-deleteBox-in">
            <span>Вы действительно хотите удалить?</span>
            <a href="#" class="btn-main" data-module="dev" data-method="delete" data-fid="<%= fid %>" data-gid="<%= game_gid %>">Удалить</a><a href="#" class="dev-news__item-tools-delete-cancel">Отменить</a>
        </div>
    </div>
    <div class="dev-news__item-avatar"><img src="<%= game_image_150x150 %>" alt=""></div>

    <div class="dev-news__item-tools clearfix">
        <a href="#" class="dev-news__item-tools-edit btn-main" data-module="dev" data-method="edit" data-fid="<%= fid %>" data-gid="<%= game_gid %>"><span>Редактировать</span><i class="icon-edit"></i></a>
        <a href="#" class="dev-news__item-tools-delete"><span>Удалить</span><i class="icon-remove"></i></a>
    </div>

    <div class="dev-news__item-game"><%= game_title %></div>

    <% if (title) { %>
    <div class="dev-news__item-title"><%= title %></div>
    <% } %>

    <%
    if (content.indexOf('%game_link%') !== -1) {
        var game_link = '<a href="' + game_applink;
        if (params != '') {
            game_link += '?request_key=' + params;
        }
        game_link += '">' + game_title + '</a>';
        content = content.split('%game_link%').join(game_link);
    }
    %>

    <p>
        <%= content %>
    <nobr><a href="<%= game_applink %><% if (params != '') { %>?request_key=<%= params %><% } %>" target="_blank"><%= game_applink %></a></nobr>
    </p>


    <% if (image_url) { %>
    <div class="dev-news__item-poster"><img src="<%= image_url %>" alt=""></div>
    <% } %>

    <div class="dev-news__item-date"><%= date %></div>
</div>

<!--
<div class="dev-news__item" data-fid="530">
    <div class="dev-news__item-deleteBox">
        <div class="dev-news__item-deleteBox-in">
            <span>Вы действительно хотите удалить?</span>
            <a href="#" class="btn-main" data-module="dev" data-method="delete" data-fid="530" data-gid="15">Удалить</a><a href="#" class="dev-news__item-tools-delete-cancel">Отменить</a>
        </div>
    </div>
    <div class="dev-news__item-avatar"><img src="/assets/img/app/15/150x150/a01f8344d5ffea35ae311a30d25bb3b2.jpg" alt=""></div>

    <div class="dev-news__item-tools clearfix">
        <a href="#" class="dev-news__item-tools-edit btn-main" data-module="dev" data-method="edit" data-fid="530" data-gid="15"><span>Редактировать</span><i class="icon-edit"></i></a>
        <a href="#" class="dev-news__item-tools-delete"><span>Удалить</span><i class="icon-remove"></i></a>
    </div>

    <div class="dev-news__item-game">Румба</div>
    <div class="dev-news__item-title">4</div>




    <p>
        4

    <nobr><a href="http://exe.ru.dev/app15" target="_blank">http://exe.ru.dev/app15</a></nobr>
    </p>

    <div class="dev-news__item-poster"><img src="/assets/img/feed/15/c3a4a9fbed33b8f9bc71ae81abeb3695.jpg" alt=""></div>

    <div class="dev-news__item-date">25.03.16</div>
</div>-->
