<ul class="sel_list mCustomScrollbar">
    {% for id, action in constant('\\Base\\Service\\Game::actionTypes') %}
        <li {% if active==id %} class="is-active"{% endif %}data-value="{{ id }}">{{ action.title }}</li>
    {% endfor %}
{#    <li {% if active==1 %} class="is-active"{% endif %}data-value="1">Экшн</li>
    <li {% if active==2 %} class="is-active"{% endif %}data-value="2">Экшн-адвенчура</li>
    <li {% if active==3 %} class="is-active"{% endif %}data-value="3">Квест</li>
    <li {% if active==4 %} class="is-active"{% endif %}data-value="4">Ролевая игра</li>
    <li {% if active==5 %} class="is-active"{% endif %}data-value="5">Симулятор</li>
    <li {% if active==6 %} class="is-active"{% endif %}data-value="6">Спортивная игра</li>
    <li {% if active==7 %} class="is-active"{% endif %}data-value="7">Стратегическая игра</li>
    <li {% if active==8 %} class="is-active"{% endif %}data-value="8">Карточная игра</li>#}
</ul>
