{% extends "dev/layout.twig" %}
	{%  block content %}
        <div class="dev-content__white-box dev-add-game container">
            <form method="post" action="/add_do" autocomplete="off">
                <div class="dev-add-game__head">Создание приложения</div>

                <div class="dev-add-game__form">
                    <div class="dev-add-game__field clearfix">
                        <label>Название:</label>
                        <div>
                            <input type="text" placeholder="Название игры" name="title">
                            <label style="display: none;" for="title" class="error" id="title-error"></label>
                        </div>
                    </div>

                    <div class="dev-add-game__field clearfix">
                        <label>Описание:</label>
                        <div>
                            <textarea rows="4" name="description" placeholder="Небольшое описание игры"></textarea>
                            <label style="display: none;" for="description" class="error" id="description-error"></label>
                        </div>
                    </div>

                    <div class="dev-add-game__field clearfix">
                        <label>Жанр:</label>

                        <div>
                            <div class="sel" style="display:block" data-depends="#dev-add-game__action_dub">
                                <input class="sel_hidden" type="hidden" name="action" value="" required/>

                                <div class="sel_in">
                                    <span class="sel_title"><span style="color:#83919e">Выберите жанр игры</span></span>
                                    <span class="sel_arrow"></span>
                                </div>

                                {% include "dev/game/_actions.twig" with {'active':''} only %}
                            </div>
                            <label for="dev-add-game__action_dub" class="error" id="dev-add-game__action_dub-error" style="display:none">Необходимо выбрать жанр игры</label>
                        </div>
                    </div>

                    <div class="dev-add-game__field">
                        <div class="check-box">
                            <input type="checkbox" id="c1" name="agree" value="agree" />
                            <label for="c1"><span><i class="icon-check"></i></span>Я согласен с <a href="/doc/terms" target="_blank" class="dotted">Правилами размещения приложений</a></label>
                            <label for="agree_dub" class="error" id="agree_dub-error" style="display:none"></label>
                        </div>
                    </div>

                    <div class="dev-add-game__btns clearfix">
                        <button type="submit" class="main">Перейти к загрузке</button>
                    </div>
                </div>
                <div style="position:absolute; visibility: hidden;">
                    <input type="text" name="action_dub" value="" id="dev-add-game__action_dub"/>
                    <input type="checkbox" name="agree_dub" value="agree"/>
                </div>
            </form>
        </div>
    {% endblock %}