{% extends "dev/layout.twig" %}
    {%  block content %}
        <script type="text/javascript" src="/sources/js/highstock.js"></script>
        <div class="dev-content__white-box dev-game container">
            <div class="clearfix">
                <div class="dev-game__nav left">
                    {% include 'dev/game/menu.twig' %}
                </div>

                <div class="dev-game__box dev-billing right">

                    <div class="dev-game__head">Платежи</div>
                    <div class="dev-billing__balance">Баланс: <strong>{{ game.balance }}</strong> {{ game.balance|plural_str('рубль', 'рубля', 'рублей') }}</div>
{#                    <div class="dev-billing__field clearfix">
                        <label>Адрес обратного вызова:</label>
                        <input type="text" value="http://exe.ru/rodina">
                    </div>#}
                    <div class="dev-billing__log"><a href="#" data-modal="payments_log">Лог платёжных уведомлений</a></div>
  {#                  <div class="dev-game__info-btns clearfix">
                        <button type="submit" class="main">Сохранить изменения</button>
                    </div>
#}
                    <div class="dev-game__head">Статистика платежей</div>
                    <div class="dev-billing__dating">{{ graph.start|date('d.m.Y') }} - {{ graph.end|date('d.m.Y') }}</div>
                    <div class="dev-charts__item item-01"></div>

                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'ююня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-01').highcharts('StockChart', {
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                colors: [ '#21b2ad', '#ffffff' ],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                plotOptions: {
                                    areaspline: {
                                        fillColor: {
                                            linearGradient: {
                                                x1: 0,
                                                y1: 0,
                                                x2: 0,
                                                y2: 1
                                            },

                                            stops: [
                                                [0, 'rgba(33, 178, 173, 0.2)'],
                                                [1, 'rgba(33, 178, 173, 0)']
                                            ]
                                        }
                                    }
                                },
                                xAxis: {
                                    gridLineWidth: 1,
                                    //type: 'datetime',
                                    range: 14 * 24 * 3600 * 1000
                                },
                                yAxis: {
                                    title: { text: '' }
                                },
                                series: [
                                    {
                                        type: 'areaspline',
                                        name: 'На приложение',
                                        data: [{{ graph.data }}],
                                        pointInterval: 24 * 60 * 60 * 1000,
                                        pointStart: Date.parse('{{ graph.start|date('c') }}')
                                    }
                                ]
                            });
                        });
                    </script>

                    <div class="dev-game__head">История платежей</div>
                    <div class="dev-billing__history">
                        <div class="dev-billing__history-search clearfix">
                            <input type="text" name="search" placeholder="Id пользователя" />
                            <button type="submit" class="dev-billing__history-search-reset"><i class="icon-close"></i></button>
                            <button type="submit" class="dev-billing__history-search-do"><i class="icon-search"></i></button>
                        </div>
                        <div class="dev-billing__history-search-error clearfix">
                            <label for="search" class="error" id="search-error">Не менее 5 символов</label>
                        </div>
                        <div class="dev-billing__history-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>Пользователь</th>
                                    <th>Рубли</th>
                                    <th>Дата и время</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if constant('ENVIRONMENT') == 'development' %}
                                    {% set site='http://exe.ru.dev' %}
                                {% elseif constant('ENVIRONMENT') == 'testing' %}
                                    {% set site='http://test.exe.ru' %}
                                {% else %}
                                    {% set site='http://exe.ru' %}
                                {% endif %}

                                {% for purchase in history %}
                                    <tr data-uid="{{ purchase.uid }}">
                                        <td><a target="_blank" href="{{ site }}/id{{ purchase.uid }}">{{ purchase.uid }}</a></td>
                                        <td>{% if purchase.type == constant('\\Base\\Service\\Account::decrementGame') %} - {% endif %}{{ purchase.count }}</td>
                                        <td>{{ purchase.time|date('d.m.y в H:i') }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="dev-billing__history-not-found">
                            <div>По вашему запросу ничего не найдено.</div>
                        </div>

{#                        <div class="dev-billing__history-more">
                            <a href="#">Показать ещё <i class="icon-arrow-right"></i></a>
                        </div>#}
                    </div>

                </div>
            </div>
        </div>

        <div class="modal-wrap" id="payments_log">
            <div class="overlay"></div>
            <div class="modal dev-dialog__content dev-dialog__content--preview">
                <div class="dev-dialog__header dev-dialog__header--preview">
                    <div class="dev-dialog__header-icon"><i class="icon-screen"></i></div>
                    <div class="dev-dialog__header-title">Лог платёжных уведомлений</div>
                    <div class="dev-dialog__header-close" data-modal-close><i class="icon-close"></i></div>
                </div>

                <div class="dev-dialog__preview">
                    <div class="dev-billing__history-table">
                        <table>
                            <thead>
                            <tr>
                                <th>Дата, время</th>
                                <th>Режим</th>
                                <th>Тип</th>
                                <th>Текст</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in log %}
                                <tr>
                                    <td>{{ row.time|date('d.m.y H:i')|raw }}</td>
                                    <td>{% if row.test_mode == 't' %}Тестовый{% else %}Обычный{% endif %}</td>
                                    <td>{{ row.type }}</td>
                                    <td>{{ row.text }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}