{% extends "dev/layout.twig" %}
    {%  block content %}
        <script type="text/javascript" src="/assets/js/highstock.js"></script>
        <div class="dev-content__white-box dev-game container">
            <div class="clearfix">
                <div class="dev-game__nav left">
                    {% include 'dev/game/menu.twig' %}
                </div>

                <div class="dev-game__box dev-charts right">

                    <div class="dev-game__head">Динамика посещаемости</div>
                    <div class="dev-charts__sub-title first">Установки и удаления
                        <div class="dev-roles__head-tooltip">
                            <i>?</i>
                            <div>Число пользователей установивших и удаливших игру. Учитываются только уникальные пользователи.</div>
                        </div>
                    </div>
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <a href="#" class="dev-charts__tabs-list-item active left" data-tab="1">Сутки</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="2">За все время</a>
                            <span class="dev-charts__tabs-list-period right active" data-tab="1"></span>
                            <span class="dev-charts__tabs-list-period right" data-tab="2"></span>
                        </div>
                        <div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="1">
                                <div class="dev-charts__item item-15"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        $.getJSON('/devstats/get/', {gid: {{ game.gid }}, type: 'installDelete'}, function(data) {
                                            // Устанавливаем интервал дат:
                                            var tab = $('.dev-charts__item.item-15').parent().attr('data-tab');
                                            $('.dev-charts__item.item-15')
                                                    .parents('.dev-charts__tabs')
                                                    .find('span[data-tab=' + tab + ']')
                                                    .html(stampToDate(data[2], '%d.%m.%y') + ' — ' + stampToDate(data[3], '%d.%m.%y'));

                                            $('.dev-charts__item.item-15').highcharts('StockChart', {
                                                tooltip: {
                                                    xDateFormat: '%d %B %Y',
                                                    shared: true
                                                },
                                                credits: {
                                                    enabled: false
                                                },
                                                chart: {
                                                    type: 'areaspline',
                                                    zoomType: 'x'
                                                },
                                                colors: [
                                                    '#21b2ad',
                                                    '#755ec6'
                                                ],
                                                rangeSelector: {
                                                    enabled: false
                                                },
                                                title: {
                                                    text: ''
                                                },
                                                xAxis: {
                                                    tickInterval: 1 * 24 * 3600 * 1000,
                                                    range: 7 * 24 * 3600 * 1000,
                                                    minRange: 7 * 24 * 3600 * 1000
                                                },
                                                yAxis: {
                                                    min: 0,
                                                    allowDecimals: false,
                                                    labels: {
                                                        align: 'left'
                                                    }
                                                },
                                                series: [
                                                    {
                                                        name: 'Установлено',
                                                        data: data[0]
                                                    },
                                                    {
                                                        name: 'Удалено',
                                                        data: data[1]
                                                    }
                                                ]
                                            });
                                        });
                                    });
                                </script>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="2">
                                <div class="dev-charts__item item-16"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        $.getJSON('/devstats/get/', {gid: {{ game.gid }}, type: 'installed'}, function(data) {
                                            // Устанавливаем интервал дат:
                                            var tab = $('.dev-charts__item.item-16').parent().attr('data-tab');
                                            $('.dev-charts__item.item-16')
                                                    .parents('.dev-charts__tabs')
                                                    .find('span[data-tab=' + tab + ']')
                                                    .html(stampToDate(data[2], '%d.%m.%y') + ' — ' + stampToDate(data[3], '%d.%m.%y'));

                                            $('.dev-charts__item.item-16').highcharts('StockChart', {
                                                tooltip: {
                                                    xDateFormat: '%d %B %Y',
                                                    shared: true
                                                },
                                                credits: {
                                                    enabled: false
                                                },
                                                chart: {
                                                    type: 'spline',
                                                    zoomType: 'x'
                                                },
                                                colors: [
                                                    '#21b2ad',
                                                    '#755ec6'
                                                ],
                                                rangeSelector: {
                                                    enabled: false
                                                },
                                                title: {
                                                    text: ''
                                                },
                                                xAxis: {
                                                    //tickInterval: 1 * 24 * 3600 * 1000,
                                                    //range: 7 * 24 * 3600 * 1000,
                                                    //minRange: 7 * 24 * 3600 * 1000
                                                },
                                                yAxis: {
                                                    min: 0,
                                                    allowDecimals: false,
                                                    labels: {
                                                        align: 'left'
                                                    }
                                                },
                                                series: [
                                                    {
                                                        name: 'Установлено',
                                                        data: data[0]
                                                    }
                                                ]
                                            });
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="dev-charts__sub-title">Источники установок
                        <div class="dev-roles__head-tooltip">
                            <i>?</i>
                            <div>Статистика по источникам установок игры.</div>
                        </div>
                    </div>
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <a href="#" class="dev-charts__tabs-list-item active left" data-tab="1">Сутки</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="2">Неделя</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="3">Месяц</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="4">За всё время</a>
                        </div>
                        <div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="1">
                                <div class="clearfix">
                                    <div class="dev-charts__legend left">
                                        <table>
                                            <thead>
                                            <tr><th>Источник</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for group, percent in stats.day %}
                                                <tr><td><span></span>{{ statsGroups[group] }}</td><td>{{ percent }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-06"></div>

                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-06').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for group, percent in stats.day %}
                                                            { name: "{{ statsGroups[group] }}", y: {{ percent }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="2">
                                <div class="clearfix">
                                    <div class="dev-charts__legend left">
                                        <table>
                                            <thead>
                                            <tr><th>Источник</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for group, percent in stats.week %}
                                                <tr><td><span></span>{{ statsGroups[group] }}</td><td>{{ percent }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-08"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-08').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for group, percent in stats.week %}
                                                            { name: "{{ statsGroups[group] }}", y: {{ percent }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="3">
                                <div class="clearfix">
                                    <div class="dev-charts__legend left">
                                        <table>
                                            <thead>
                                            <tr><th>Источник</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for group, percent in stats.month %}
                                                <tr><td><span></span>{{ statsGroups[group] }}</td><td>{{ percent }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-10"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-10').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for group, percent in stats.month %}
                                                            { name: "{{ statsGroups[group] }}", y: {{ percent }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="4">
                                <div class="clearfix">
                                    <div class="dev-charts__legend left">
                                        <table>
                                            <thead>
                                            <tr><th>Источник</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for group, percent in stats.all %}
                                                <tr><td><span></span>{{ statsGroups[group] }}</td><td>{{ percent }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-12"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-12').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for group, percent in stats.all %}
                                                            { name: "{{ statsGroups[group] }}", y: {{ percent }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}