{% extends "dev/layout.twig" %}
    {%  block content %}

        <div class="dev-content__white-box container">
            <div class="dev-spravka">
{#                <div class="dev-game__info-field clearfix">
                    <label>Исполнитель (строка 1):</label>
                    <input type="text" />
                </div>

                <div class="dev-game__info-field clearfix">
                    <label>Исполнитель (строка 2):</label>
                    <input type="text" />
                </div>

                <div class="dev-game__info-field clearfix">
                    <label>И.О. Фамилия исполнителя:</label>
                    <input type="text" />
                </div>
#}
                <iframe src="/contract/printAct/{{ contract.id }}/{{ period }}" class="dev-spravka--frame"></iframe>
                <div class="dev-game__info-btns clearfix">
                    <button type="submit" class="main" onclick="window.frames[0].print(); return false;">Распечатать</button>
                </div>

            </div>
        </div>
    {% endblock %}