{% extends "dev/layout.twig" %}
    {%  block content %}
        {% if constant('ENVIRONMENT') == 'development' %}
            {% set site='http://exe.ru.dev' %}
        {% elseif constant('ENVIRONMENT') == 'testing' %}
            {% set site='http://test.exe.ru' %}
        {% else %}
            {% set site='http://exe.ru' %}
        {% endif %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include 'dev/game/menu_contract.twig' %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Вывод средств на счёт</div>

                    <div class="dev-pact__period">
                        <a href="/contract/cashout/{{ contract.id }}/{{ prev }}" class="is-prev"><i class="icon-arrow-right"></i></a>
                        <span>Справка по выплатам за {{ currentText }}</span>
                        {% if next is defined and next != false %}
                        <a href="/contract/cashout/{{ contract.id }}/{{ next }}" class="is-next"><i class="icon-arrow-right"></i></a>
                        {% endif %}
                    </div>

                    <div class="dev-pact__table is-s2">
                        <table>
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Приложение</th>
                                <th>Баланс</th>
                                <th>К выплате согласно договору</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for game in games %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ game.title }}</td>
                                    <td>{{ game.sum|number_format(0, '.', ' ') }} ₽</td>
                                    <td>{{ game.cashout|round(2)|number_format(2, '.', ' ') }} ₽</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="dev-pact__info">
                        {% if contract.resident == 't' %}
                            {% if contract.nds > 0 %}
                                <div class="dev-pact__field">Итого:<span>{{ withdraw|round(2)|number_format(2, '.', ' ') }} ₽</span></div>
                                <div class="dev-pact__field">в т.ч. НДС:<span>{{ nds|round(2)|number_format(2, '.', ' ') }} ₽</span></div>
                            {% else %}
                                <div class="dev-pact__field">Итого:<span>{{ withdraw|round(2)|number_format(2, '.', ' ') }} ₽</span></div>
                            {% endif %}
                        {% else %}
                            <div class="dev-pact__field">Итого:<span>{{ withdraw|round(2)|number_format(2, '.', ' ') }} ₽</span></div>
                            {% if withdrawClean is defined %}
                                <div class="dev-pact__field">НДС:<span>{{ nds|round(2)|number_format(2, '.', ' ') }} ₽</span></div>
                                <div class="dev-pact__field">Итого за вычетом НДС:<span>{{ withdrawClean|round(2)|number_format(2, '.', ' ') }} ₽</span></div>
                            {% endif %}
                        {% endif %}

                        <div class="dev-pact__create">
                            <a href="/contract/showAct/{{ contract.id }}/{{ current }}" class="dev-pact__btn" target="_blank">Сформировать справку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
