<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Справка</title>
</head>
<body>

<center><h3>Справка о вознаграждении исполнителя</h3></center>

<h3>Расчет суммы вознаграждения исполнителя за {{ currentText }} г. </h3>

<table border="1">
    <thead>
    <tr>
        <th width="10%">№ п/п</th>
        <th width="25%">Наименование приложения</th>
        <th width="35%">Количество средств, полученных за отчетный период, в связи с приложением, доступ к которому осуществлен через сайт www.exe.ru</th>
        <th width="30%">Сумма к выплате, с учетом ставки вознаграждения исполнителя</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td align="right">{{ loop.index }}</td>
            <td>{{ game.title }}</td>
            <td>{{ game.sum|round(2)|number_format(2, '.', ' ') }} {{ game.sum|plural_str('рубль', 'рубля', 'рублей') }}</td>
            <td>{{ game.cashout|round(2)|number_format(2, '.', ' ') }} {{ game.cashout|plural_str('рубль', 'рубля', 'рублей') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<br/>
{% if contract.resident == 't' %}
    {% if contract.nds > 0 %}
        <p>Сумма к выплате: {{ withdraw|round(2)|number_format(2, '.', ' ') }} {{ withdraw|plural_str('рубль', 'рубля', 'рублей') }}, в т.ч. НДС {{ nds|round(2)|number_format(2, '.', ' ') }} {{ nds|plural_str('рубль', 'рубля', 'рублей') }}.</p>
    {% else %}
        <p>Сумма к выплате: {{ withdraw|round(2)|number_format(2, '.', ' ') }} {{ withdraw|plural_str('рубль', 'рубля', 'рублей') }}, НДС не облагается.</p>
    {% endif %}
{% else %}
    <p>Итого сумма к выплате: {{ withdraw|round(2)|number_format(2, '.', ' ') }} {{ withdraw|plural_str('рубль', 'рубля', 'рублей') }}.</p>
    <p>Сумма НДС, удерживаемого налоговым агентом: {{ nds|round(2)|number_format(2, '.', ' ') }} {{ nds|plural_str('рубль', 'рубля', 'рублей') }}.</p>
    <p>Сумма к выплате за вычетом НДС, удерживаемого налоговым агентом: {{ withdrawClean|round(2)|number_format(2, '.', ' ') }} {{ withdrawClean|plural_str('рубль', 'рубля', 'рублей') }}.</p>
{% endif %}

<p>Стороны согласовали сумму вознаграждения за {{ currentText }} г.</p>


<p><strong>Исполнитель:</strong></p>
<p>{{ contract.org_title }}</p>
<p>_______________________ /__________________________/

</body>
</html>