{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-games container">
            <div class="dev-games__head">Договоры<span>{{ count }}</span></div>
            <div class="dev-games__btns clearfix">
                <a href="/contract/edit/new" class="dev-games__btns-add"><i class="icon-plus"></i>Добавить</a>
            </div>
            {% if constant('ENVIRONMENT') == 'development' %}
                {% set site='http://exe.ru.dev' %}
            {% elseif constant('ENVIRONMENT') == 'testing' %}
                {% set site='http://test.exe.ru' %}
            {% else %}
                {% set site='http://exe.ru' %}
            {% endif %}
            <div class="dev-billing__history-table dev-control">
                <table>
                    <thead>
                        <tr>
                            <th>Номер договора</th>
                            <th>Дата заключения</th>
                            <th>Приложение</th>
                            <th>Владелец</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for contract in contracts %}
                        <tr>
                            <td><a href="/contract/edit/{{ contract.game.contract }}" target="_blank">{{ contract.game.contract }}: {{ contract.number }}</a></td>
                            <td>{% if contract.date is defined %}{{ contract.date }}{% else %}не заключен{% endif %}</a></td>
                            <td><a href="{{ site }}/app{{ contract.game.gid }}" target="_blank">{{ contract.game.title }}</a></td>
                            <td><a href="{{ site }}/id{{ contract.owner.uid }}" target="_blank">{{ contract.owner.name }} {{ contract.owner.last_name }}</a></td>
                        </tr>
                    {% endfor %}
                    {% for contract in no_used %}
                        <tr>
                            <td><a href="/contract/edit/{{ contract.id }}" target="_blank">{{ contract.id }}: {{ contract.number }}</a></td>
                            <td>{% if contract.date is defined %}{{ contract.date }}{% else %}не заключен{% endif %}</a></td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}