{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-games container">
            <div class="dev-games__head">Заявки<span>{{ count }}</span></div>
            {% if constant('ENVIRONMENT') == 'development' %}
                {% set site='http://exe.ru.dev' %}
            {% elseif constant('ENVIRONMENT') == 'testing' %}
                {% set site='http://test.exe.ru' %}
            {% else %}
                {% set site='http://exe.ru' %}
            {% endif %}
            <div class="dev-billing__history-table dev-control">
                <table>
                    <thead>
                        <tr>
                            <th>Настройки</th>
                            <th>Играть</th>
                            <th>Статус</th>
                            <th>Дата</th>
                            <th>Изменено</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for game in games %}
                        <tr>
                            <td><a href="/info/{{ game.gid }}" target="_blank">{{ game.title }}</a></td>
                            <td><a href="{{ site }}/app{{ game.gid }}" target="_blank">/app{{ game.gid }}</a></td>
                            <td>{% if game.active == 't' %}Одобрена{% elseif game.check_status == 't' %}Ожидает подтверждения{% else %}Заблокировано{% endif %}</td>
                            <td>{% if game.datetime %}{{ game.datetime|date('d.m.Y') }}{% else %}не указано{% endif %}</td>
                            {% if game.dev_last_changes_checked == 0 %}
                            <td style="color:red;">{% if game.dev_last_changes %}{{ game.dev_last_changes|date('d.m.Y') }}{% else %}не указано{% endif %}</td>
                            {% else %}
                            <td>{% if game.dev_last_changes %}{{ game.dev_last_changes|date('d.m.Y') }}{% else %}не указано{% endif %}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}