{% extends "dev/layout.twig" %}
    {%  block content %}
        {% if constant('ENVIRONMENT') == 'development' %}
            {% set site='http://exe.ru.dev' %}
        {% elseif constant('ENVIRONMENT') == 'testing' %}
            {% set site='http://test.exe.ru' %}
        {% else %}
            {% set site='http://exe.ru' %}
        {% endif %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include 'dev/game/menu_contract.twig' %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Приложения<div class="dev-pact__balance">Средства к выводу: <span>{{ withdrawSum|number_format(0, '.', ' ') }} ₽</span></div></div>

                    <div class="dev-pact__table is-s1">
                        <table>
                            <thead>
                            <tr>
                                <th>Приложение</th>
                                <th>Баланс</th>
                                <th>Вывод</th>
                            </tr>
                            </thead>
                            {% if games is defined and games|length > 0 %}
                                <tbody>
                                {% for game in games %}
                                    <tr>
                                        <td>{{ game.title }}</td>
                                        <td>{{ game.balance|number_format(0, '.', ' ') }} ₽</td>
                                        {%  if game.balance > 0 %}
                                            <td><a href="#" data-module="dev" data-method="cashout" data-modal="withdraw" data-sum-text="{{ game.balance|number_format(0, '.', ' ') }} ₽" data-sum="{{ game.balance }}" data-gid="{{ game.gid }}">Вывести средства на счет</a></td>
                                        {% else %}
                                            <td>Вывести средства на счет</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        </table>
                    </div>

                    <div class="dev-pact__info">
                        <p>Для перечисления средств за отчетный период, Вы должны вывести их на счет до {{ now|date('01-m-Y')|date_modify("+1 month")|date_modify("-1 day")|date('d.m.Y')}} включительно.</p>
                        <p><strong>Отчетный период</strong>: {{ now|date('01.m.Y')}} — {{ now|date('01-m-Y')|date_modify("+1 month")|date_modify("-1 day")|date('d.m.Y')}}</p>
                        {#<p><strong>Средства на счете к выводу</strong>: {{ withdrawSum|number_format(0, '.', ' ') }} ₽</p>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-wrap" id="withdraw">
            <div class="overlay"></div>
            <div class="modal dev-dialog__content dev-dialog__content--trans">
                <div class="dev-dialog__header dev-dialog__header--trans">
                    <div class="dev-dialog__header-title">Вывод средств</div>
                    <a href="#" class="dev-dialog__header-close" data-modal-close onclick="return false;"><i class="icon-close"></i></a>
                </div>

                <div class="dev-dialog__trans">
                    <form action="/contract/applications_do/{{ contract.id }}">
                        <input type="hidden" name="gid" value=""/>
                        <div class="dev-dialog__trans-field2">
                            <span class="left">Текущий баланс:</span>
                            <span class="right sum-info" data-max-sum="0">0 ₽</span>
                        </div>

                        <div class="dev-dialog__trans-field2">
                            <span class="left">Пользователь:</span>
                            <span class="right"><a href="{{ site }}/id{{ user.uid }}" target="_blank">{{ user.name }} {{ user.last_name }}</a></span>
                        </div>

                        <div class="dev-dialog__trans-field2">
                            <span class="left tl">Сумма для вывода:</span>
                            <span class="right"><input type="text" name="cashout_sum"/></span>
                        </div>

                        <div class="dev-dialog__trans-field2">
                            <span class="right"><a href="#" class="btn" onclick="return ExeRu.dev.cashoutDo(this);">Вывести на счёт</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
