{% extends "dev/layout.twig" %}
    {%  block content %}
    <div class="dev-content__white-box dev-doc container">
        <div class="clearfix">
            <div class="dev-doc__nav left">
                {% include 'dev/game/menu_contract.twig' %}
            </div>
            <div class="dev-doc__info right">
                <form action="/contract/edit_do/{{ contract.id }}" method="post">
                <div class="dev-game__head">Договор</div>

                <div class="dev-game__info-field clearfix">
                    <label>Номер:</label>
                    <input type="text" name="number" value="{{ contract.number }}"/>
                </div>

                <div class="dev-game__info-field clearfix">
                    <label>Дата заключения:</label>
                    <input type="text" name="date" value="{{ contract.date }}"/>
                </div>

                    <div class="dev-game__info-field clearfix">
                        <label>Комиссия, %:</label>
                        <input type="text" name="comission" value="{{ contract.comission }}"/>
                    </div>

                    <div class="dev-game__info-field clearfix">
                        <label class="sm">Резидент РФ:</label>

                        <div class="check-box-alt">
                            <input type="checkbox" id="resident" value="t" name="resident" {% if contract.resident == 't' %} checked="checked"{% endif %}/>

                            <label for="resident">
                                <i class="icon-check"></i>
                                <i class="icon-uncheck"></i>
                            </label>
                        </div>
                    </div>

                    <div class="dev-game__info-field clearfix">
                        <label>НДС, %:</label>
                        <input type="text" name="nds" value="{{ contract.nds }}"/>
                    </div>
                <br />

                <div class="dev-game__head">Реквизиты организации</div>

                <div class="dev-game__info-field clearfix">
                    <label>Наименование:</label>
                    <input type="text" name="org_title" value="{{ contract.org_title }}" />
                </div>

                <div class="dev-game__info-field clearfix">
                    <label>Фактический адрес:</label>
                    <input type="text" name="org_address_actual" value="{{ contract.org_address_actual }}" />
                </div>

                <div class="dev-game__info-field clearfix">
                    <label class="tl">Юридический адрес:</label>
                    <input type="text"  name="org_address_legal" value="{{ contract.org_address_legal }}"/>
                </div>

                <div class="dev-game__info-field clearfix">
                    <label>ИНН:</label>
                    <input type="text" name="inn" value="{{ contract.inn }}"/>
                </div>

                <div class="dev-game__info-field clearfix">
                    <label>КПП:</label>
                    <input type="text" name="kpp" value="{{ contract.kpp }}"/>
                </div>

                <br />

                <div class="dev-game__head">Банковские реквизиты:</div>

                <div class="dev-game__info-field clearfix">
                    <label>Банк получателя:</label>
                    <input type="text" name="bank_title" value="{{ contract.bank_title }}"/>
                </div>

                <div class="dev-game__info-field clearfix">
                    <label class="tl">БИК:</label>
                    <input type="text" name="bik" value="{{ contract.bik }}"/>
                </div>

                <div class="dev-game__info-field clearfix">
                    <label class="tl">Корреспондентский счет:</label>
                    <input type="text"  name="ks" value="{{ contract.ks }}"/>
                </div>

                <div class="dev-game__info-field clearfix">
                    <label>Рассчетный счет:</label>
                    <input type="text" name="rs" value="{{ contract.rs }}"/>
                </div>

                <div class="dev-game__info-btns clearfix">
                    <button type="submit" class="main">Сохранить</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}