{% extends "dev/layout.twig" %}
    {%  block content %}
        {% if constant('ENVIRONMENT') == 'development' %}
            {% set site='http://exe.ru.dev' %}
        {% elseif constant('ENVIRONMENT') == 'testing' %}
            {% set site='http://test.exe.ru' %}
        {% else %}
            {% set site='http://exe.ru' %}
        {% endif %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include 'dev/game/menu_contract.twig' %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Транзакции<div class="dev-pact__balance">Средства к выводу: <span>{{ withdrawSum|number_format(0, '.', ' ') }} ₽</span></div></div>

                    {% if transactions|length > 0 %}
                    <div class="dev-pact__table is-s3">
                        <table>
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Пользователь</th>
                                <th>Сумма</th>
                                <th>Дата</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.id }}</td>
                                    <td>{{ transaction.user.name }} {{ transaction.user.last_name }}</td>
                                    <td>{{ transaction.count|number_format(0, '.', ' ') }} ₽</td>
                                    <td>{{ transaction.timestamp|date('d.m.Y в H:i') }}</td>
                                    <td><a href="#" data-module="dev" data-method="showTransaction" data-modal="transaction" class=""
                                           data-transaction-id="{{ transaction.id }}"
                                           data-user-href="{{ site }}/id{{ transaction.user.uid }}"
                                           data-user-name="{{ transaction.user.name }} {{ transaction.user.last_name }}"
                                           data-contract-number="{{ contract.number }}"
                                           data-withdraw-sum="Вывод {{ transaction.count|number_format(0, '.', ' ') }} ₽"
                                           data-comment="Вывод средств на счет с баланса приложения «{{ transaction.game.title }}» на счет договора {{ contract.number }}"
                                           data-transaction-date="{{ transaction.timestamp|date('d.m.Y в H:i') }}">Показать</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="modal-wrap" id="transaction">
            <div class="overlay"></div>
            <div class="modal dev-dialog__content dev-dialog__content--trans">
                <div class="dev-dialog__header dev-dialog__header--trans">
                    <div class="dev-dialog__header-title">Информация о транзакции</div>
                    <a href="#" class="dev-dialog__header-close" data-modal-close="" onclick="return false;"><i class="icon-close"></i></a>
                </div>

                <div class="dev-dialog__trans">
                    <div class="dev-dialog__trans-field">
                        <span class="left">ID:</span>
                        <span class="right transaction-id"></span>
                    </div>

                    <div class="dev-dialog__trans-field">
                        <span class="left">Пользователь:</span>
                        <span class="right user-name"></span>
                    </div>

                    <div class="dev-dialog__trans-field">
                        <span class="left">Договор:</span>
                        <span class="right contract-number"></span>
                    </div>

                    <div class="dev-dialog__trans-field">
                        <span class="left">Операция:</span>
                        <span class="right withdraw-sum"></span>
                    </div>

                    <div class="dev-dialog__trans-field">
                        <span class="left">Комментарий:</span>
                        <span class="right transaction-comment"></span>
                    </div>

                    <div class="dev-dialog__trans-field">
                        <span class="left">Дата:</span>
                        <span class="right transaction-date"></span>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
