{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-games container">
            <div class="dev-games__head">Мои игры<span>03</span></div>

            <div class="dev-games__btns clearfix">
                <a href="/add" class="dev-games__btns-add"><i class="icon-plus"></i>Добавить игру</a>
            </div>

            <div class="dev-games__grid clearfix">
                <a href="/add" class="dev-games__item addGame">
                    <div class="dev-games__item-poster"><i class="icon-joystick"></i>Добавить игру</div>
                    <div class="dev-games__item-hr" style="background: #d7dce2"></div>
                    <div class="dev-games__item-title" style="color: #a3aeb9">Название игры</div>
                    <div class="dev-games__item-genre">жанр</div>
                </a>

                {% if games %}
                    {% for game in games %}
                        {% if game.roleGroup == constant('\\Base\\Service\\Roles::USER_TESTER') or game.roleGroup == constant('\\Base\\Service\\Roles::USER_PAYMENT_TESTER') %}
                            {% if constant('ENVIRONMENT') == 'development' %}
                                {% set site='http://exe.ru.dev' %}
                            {% elseif constant('ENVIRONMENT') == 'testing' %}
                                {% set site='http://test.exe.ru' %}
                            {% else %}
                                {% set site='http://exe.ru' %}
                            {% endif %}
                            {% set gameLink= site ~ '/app' ~ game.gid %}
                        {% else %}
                            {% set gameLink= '/info/' ~ game.gid %}
                        {% endif %}
                        <a href="{{ gameLink }}" class="dev-games__item">
                            <div class="dev-games__item-poster"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_810x500|default('/assets/img/dev-games__item-poster.png') }}" alt="" /></div>
                            <div class="dev-games__item-hr" style="background: {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}"></div>
                            <div class="dev-games__item-title" style="color: {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}">{{ game.title }}</div>
                            <div class="dev-games__item-genre">{{ constant('\\Base\\Service\\Game::actionTypes')[game.type].title }}</div>
                        </a>
                    {% endfor %}
                {% endif %}

{#
                <a href="/info" class="dev-games__item">
                    <div class="dev-games__item-poster"><img src="/assets/img/dev-games__item-poster.png" alt="" /></div>
                    <div class="dev-games__item-hr" style="background: #e84c3d"></div>
                    <div class="dev-games__item-title" style="color: #e84c3d">Правила войны</div>
                    <div class="dev-games__item-genre">боевик</div>
                </a>

                <a href="/info" class="dev-games__item">
                    <div class="dev-games__item-poster"><img src="/assets/img/dev-games__item-poster.png" alt="" /></div>
                    <div class="dev-games__item-hr" style="background: #3598dc"></div>
                    <div class="dev-games__item-title" style="color: #3598dc">Генералы джунглей</div>
                    <div class="dev-games__item-genre">стратегия</div>
                </a>
#}
            </div>
        </div>
    {% endblock %}