{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-game container">
            <div class="clearfix">
                <div class="dev-game__nav left">
                    {% include 'dev/game/menu.twig' %}
                </div>

                <div class="dev-game__box dev-game__info dev-game__images right">
                    <form method="post" action="/info_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__head">Информация</div>

                        <div class="dev-game__info-field clearfix">
                            <label>Название:</label>
                            <div>
                                <input type="text" value="{{ game.title }}" name="title"/>
                                <label for="title" class="error" id="title-error" style="display:none;"></label>
                            </div>
                        </div>

                        <div class="dev-game__info-field clearfix">
                            <label>Описание:</label>
                            <div>
                                <textarea rows="4" name="description">{{ game.description }}</textarea>
                                <label for="description" class="error" id="description-error" style="display:none;"></label>
                            </div>
                        </div>
                        {% if isModerator(user.uid) %}
                        <div class="dev-game__info-field clearfix">
                            <label>О разработчике:</label>
                            <div>
                                <textarea rows="4" name="developerInfo">{{ game.developer_info }}</textarea>
                            </div>
                        </div>
                        <div class="dev-game__info-field clearfix">
                            <label>Номер договора:</label>
                            <div class="sel">
                                <input class="sel_hidden" type="hidden" name="contract" value="" />

                                <div class="sel_in">
                                    <span class="sel_title"></span>
                                    <span class="sel_arrow"></span>
                                </div>

                                <ul class="sel_list mCustomScrollbar">
                                    <li {% if game.contract == '' %} class="is-active"{% endif %}data-value="">Не заключен</li>
                                    {% for contract in contracts %}
                                        <li {% if contract.id == game.contract %} class="is-active"{% endif %}data-value="{{ contract.id }}">{{ contract.id }}: {{ contract.number }}{% if contract.date %} от {{ contract.date }}{% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="dev-game__info-field clearfix">
                            <label>Жанр:</label>

                            <div class="sel">
                                <input class="sel_hidden" type="hidden" name="action" value="" />

                                <div class="sel_in">
                                    <span class="sel_title"></span>
                                    <span class="sel_arrow"></span>
                                </div>

                                {% include "dev/game/_actions.twig" with {'active':game.type} only %}
                            </div>
                        </div>

{#                        <div class="dev-game__info-field clearfix">
                            <label class="sm">Страница помощи:</label>

                            <div class="check-box-alt">
                                <input type="checkbox" id="help" value="need" name="help"/>

                                <label for="help">
                                    <i class="icon-check"></i>
                                    <i class="icon-uncheck"></i>
                                </label>
                            </div>
                        </div>#}

                        <div class="dev-game__info-field clearfix">
                            <label class="tl">Пользовательское<br />соглашение:</label>
                            <input type="text" placeholder="http://" name="terms" value="{{ game.terms }}"/>
                        </div>

                        <div class="dev-game__info-field clearfix">
                            <label class="tl">Политика<br />конфиденц-ти:</label>
                            <input type="text" placeholder="http://" name="privacy" value="{{ game.privacy }}"/>
                        </div>

                        <div class="dev-game__info-btns clearfix">
                            <button type="submit" class="main">Сохранить изменения</button>
                        </div>
                    </form>

                    <form method="post" action="/info_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__images-field f1 clearfix">
                            <label>Квадратная<br />обложка<br />"Мои игры":</label>

                            <div class="clearfix">
                                <div class="dev-game__images-file">
                                    <input type="file" id="f1" name="userfile" />
                                    <input type="hidden" name="fileIconType" value="256x256" />
                                </div>

                                <div class="dev-game__images-poster">
                                    <label for="f1"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_256x256|default('/assets/img/dev-game__image-poster-128px.png') }}" alt="" /></label>
                                </div>

                                <div class="dev-game__images-btns clearfix"><label for="f1">Загрузить</label></div>
                                <div class="dev-game__images-txt">Размер загружаемого изображения: 256х256px.<br />Используется в каталоге “Мои игры”.</div>
                            </div>
                        </div>
                    </form>

                    <form method="post" action="/info_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__images-field f4 clearfix">
                            <label>Иконка 75x75px:</label>

                            <div class="clearfix">
                                <div class="dev-game__images-file">
                                    <input type="file" id="f4" name="userfile" />
                                    <input type="hidden" name="fileIconType" value="150x150" />
                                </div>

                                <div class="dev-game__images-poster">
                                    <label for="f4"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_150x150|default('/assets/img/dev-game__image-poster-75px.png') }}" alt="" /></label>
                                </div>

                                <div class="dev-game__images-btns clearfix">
                                    <label for="f4">Загрузить</label>
                                    <a href="#" class="btn-main" data-module="dev" data-method="copy">Скопировать</a>
                                </div>

                                <div class="dev-game__images-txt">Размер загружаемого изображения: 150х150px.<br />Используется в оповещениях и уведомлениях.</div>
                            </div>
                        </div>
                    </form>

                    <form method="post" action="/info_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__images-field f7 clearfix">
                            <label>Иконка 40x40px:</label>

                            <div class="clearfix">
                                <div class="dev-game__images-file">
                                    <input type="file" id="f7" name="userfile" />
                                    <input type="hidden" name="fileIconType" value="80x80" />
                                </div>

                                <div class="dev-game__images-poster">
                                    <label for="f7"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_80x80|default('/assets/img/dev-game__image-poster-75px.png') }}" alt="" /></label>
                                </div>

                                <div class="dev-game__images-btns clearfix">
                                    <label for="f7">Загрузить</label>
                                    <a href="#" class="btn-main" data-module="dev" data-method="copy">Скопировать</a>
                                </div>

                                <div class="dev-game__images-txt">Размер загружаемого изображения: 80х80px.<br />Используется в приглашениях дружить в игре.</div>
                            </div>
                        </div>
                    </form>

                    <form method="post" action="/info_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__images-field f2 clearfix">
                            <label>Иконка 32x32px:</label>

                            <div class="clearfix">
                                <div class="dev-game__images-file">
                                    <input type="file" id="f2" name="userfile" />
                                    <input type="hidden" name="fileIconType" value="64x64" />
                                </div>


                                <div class="dev-game__images-poster">
                                    <label for="f2"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_64x64|default('/assets/img/dev-game__image-poster-32px.png') }}" alt="" /></label>
                                </div>

                                <div class="dev-game__images-btns clearfix">
                                    <label for="f2">Загрузить</label>
                                    <a href="#" class="btn-main" data-module="dev" data-method="copy">Скопировать</a>
                                </div>

                                <div class="dev-game__images-txt">Размер загружаемого изображения: 64х64px.</div>
                            </div>
                        </div>
                    </form>

                    <form method="post" action="/info_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__images-field f3 clearfix">
                            <label>Иконка 16x16px:</label>

                            <div class="clearfix">
                                <div class="dev-game__images-file">
                                    <input type="file" id="f3" name="userfile" />
                                    <input type="hidden" name="fileIconType" value="16x16" />
                                </div>

                                <div class="dev-game__images-poster">
                                    <label for="f3"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_16x16|default('/assets/img/dev-game__image-poster-16px.png') }}" alt="" /></label>
                                </div>

                                <div class="dev-game__images-btns clearfix">
                                    <label for="f3">Загрузить</label>
                                    <a href="#" class="btn-main" data-module="dev" data-method="copy">Скопировать</a>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="post" action="/info_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__images-field f5 clearfix">
                            <label>Баннер игры<br />для каталога<br />405x250px:</label>

                            <div class="clearfix">
                                <div class="dev-game__images-file">
                                    <input type="file" id="f5" name="userfile" />
                                    <input type="hidden" name="fileIconType" value="810x500" />
                                </div>

                                <div class="dev-game__images-poster">
                                    <label for="f5"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_810x500|default('/assets/img/dev-game__image-poster-405px.png') }}" alt="" /></label>
                                </div>

                                <div class="dev-game__images-btns clearfix"><label for="f5">Загрузить</label></div>
                                <div class="dev-game__images-txt">Размер загружаемого изображения: 810х500px.<br />Используется в каталоге игр.</div>
                            </div>
                        </div>
                    </form>

                    {% if user is defined and isModerator(user.uid) %}
                    <form method="post" action="/info_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__images-field f6 clearfix">
                            <label>Фоновое<br />изображение<br />для гостя:</label>

                            <div class="clearfix">
                                <div class="dev-game__images-file">
                                    <input type="file" id="f6" name="userfile" />
                                    <input type="hidden" name="fileIconType" value="guest" />
                                </div>

                                <div class="dev-game__images-poster">
                                    <label for="f6"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_guest|default('/assets/img/dev-game__image-poster-405px.png') }}" alt="" /></label>
                                </div>

                                <div class="dev-game__images-btns clearfix"><label for="f6">Загрузить</label></div>
                                <div class="dev-game__images-txt">Размер загружаемого изображения не менее 1920х1080px.<br />Используется при заходе на игру гостя.</div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}