<ul>
    {% if contract.id != '' and contract.id != 'new' %}
    <li{% if leftLink == 'contract/applications' %} class="active" {% endif %}><a href="/contract/applications/{{ contract.id }}">Приложения</a></li>
    <li{% if leftLink == 'contract/cashout' %} class="active" {% endif %}><a href="/contract/cashout/{{ contract.id }}">Вывод средств</a></li>
    <li{% if leftLink == 'contract/transactions' %} class="active" {% endif %}><a href="/contract/transactions/{{ contract.id }}">Транзакции</a></li>
    {% endif %}
    {% if user is defined and isModerator(user.uid) %}
    <li{% if leftLink == 'contract/edit' %} class="active" {% endif %}><a href="/contract/edit/{{ contract.id }}">Договор</a></li>
    {% endif %}
</ul>