<div class="dev-game__nav-poster">
    <div class="dev-game__nav-poster-img">
        {% if constant('ENVIRONMENT') == 'development' %}
            {% set site='http://exe.ru.dev' %}
        {% elseif constant('ENVIRONMENT') == 'testing' %}
            {% set site='http://test.exe.ru' %}
        {% else %}
            {% set site='http://exe.ru' %}
        {% endif %}
        <a href="{{ site }}/app{{ game.gid }}" target="_blank">
            <img src="{{ constant('IMAGE_HOST') }}{{ game.image_256x256|default('/assets/img/dev-game__poster-img.png') }}" alt="" />
        </a>
    </div>
    <div class="dev-game__nav-poster-hr" style="background: #8f44ad"></div>
    <div class="dev-game__nav-poster-title" style="color: #8f44ad">{{ game.title }}</div>
</div>

<ul>
    <li{% if leftLink == 'info' %} class="active" {% endif %}><a href="/info/{{ game.gid }}">Информация</a></li>
    <li{% if leftLink == 'settings' %} class="active" {% endif %}><a href="/settings/{{ game.gid }}">Настройки</a></li>
    <li{% if leftLink == 'stats' %} class="active" {% endif %}><a href="/stats/{{ game.gid }}">Статистика</a></li>
    <li{% if leftLink == 'changes' %} class="active" {% endif %}><a href="/changes/{{ game.gid }}">Динамика</a></li>
    <li{% if leftLink == 'notifications' %} class="active" {% endif %}><a href="/notifications/{{ game.gid }}">Нотификации</a></li>
    <li{% if leftLink == 'news' %} class="active" {% endif %}><a href="/news/{{ game.gid }}">Новости</a></li>
    <li{% if leftLink == 'billing' %} class="active" {% endif %}><a href="/billing/{{ game.gid }}">Платежи</a></li>
    <li{% if leftLink == 'roles' %} class="active" {% endif %}><a href="/roles/{{ game.gid }}">Руководство</a></li>
    <li{% if leftLink == 'status' %} class="active" {% endif %}><a href="/status/{{ game.gid }}">Статус</a></li>
    <li{% if leftLink == 'help' %} class="active" {% endif %}><a href="/help/{{ game.gid }}">Помощь</a></li>
</ul>
{#
- Информация
- Настройки
- Статистика
- Нотификации (Статистика нотификаций)
- Публикации (публикация новостей)
- Платежи
- Руководство (роли)
- Статус (+удаление)
- Помощь
<a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
#}
