{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-game container">
            <div class="clearfix">
                <div class="dev-game__nav left">
                    {% include 'dev/game/menu.twig' %}
                </div>
                <div class="dev-game__box dev-news right">

                    <div class="dev-game__head">Создать новость</div>

                    <div class="dev-games__btns clearfix">
                        <a href="#" class="dev-games__btns-add btn-main" data-module="dev" data-method="create"><i class="icon-plus"></i>Добавить новость</a>
                    </div>

                    {% if appointed|length > 0 %}
                        <div class="dev-game__head appointed">Ожидающие публикации</div>
                        <div class="dev-news__history-box">
                        {% for onenews in appointed %}
                            <div class="dev-news__item" data-fid="{{ onenews.fid }}" data-type="appointed">
                                <div class="dev-news__item-deleteBox">
                                    <div class="dev-news__item-deleteBox-in">
                                        <span>Вы действительно хотите удалить?</span>
                                        <a href="#" class="btn-main" data-module="dev" data-method="delete" data-type="appointed" data-fid="{{ onenews.fid }}" data-gid="{{ game.gid }}">Удалить</a><a href="#" class="dev-news__item-tools-delete-cancel">Отменить</a>
                                    </div>
                                </div>
                                <div class="dev-news__item-avatar"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_150x150|default('/assets/img/dev-game__image-poster-75px.png') }}" alt=""></div>

                                <div class="dev-news__item-tools clearfix">
                                    <a href="#" class="dev-news__item-tools-edit btn-main" data-module="dev" data-method="edit" data-fid="{{ onenews.fid }}" data-gid="{{ game.gid }}" data-type="appointed"><span>Редактировать</span><i class="icon-edit"></i></a>
                                    <a href="#" class="dev-news__item-tools-delete"><span>Удалить</span><i class="icon-remove"></i></a>
                                </div>

                                <div class="dev-news__item-game">{{ game.title }}</div>
                                {% if onenews.title %}
                                    <div class="dev-news__item-title">{{ onenews.title }}</div>
                                {% endif %}

                                {% if constant('ENVIRONMENT') == 'development' %}
                                    {% set site='http://exe.ru.dev' %}
                                {% elseif constant('ENVIRONMENT') == 'testing' %}
                                    {% set site='http://test.exe.ru' %}
                                {% else %}
                                    {% set site='http://exe.ru' %}
                                {% endif %}

                                {% if onenews.params %}
                                    {% set params %}?request_key={{ onenews.params }}{% endset %}
                                {% endif %}

                                {% set game_link %}<a href="{{ site }}/app{{ game.gid }}{{ params }}">{{ game.title }}</a>{% endset %}

                                <p>
                                    {{ onenews.content|replace({'%game_link%': game_link})|raw }}

                                    <nobr><a href="{{ site }}/app{{ game.gid }}{{ params }}" target="_blank">{{ site }}/app{{ game.gid }}</a></nobr>
                                </p>

                                {% if onenews.image_url %}
                                    <div class="dev-news__item-poster"><img src="{{ constant('IMAGE_HOST') }}{{ onenews.image_url }}" alt=""></div>
                                {% endif%}

                                <div class="dev-news__item-date">{{ onenews.time|date('d.m.y') }}</div>
                            </div>
                        {% endfor %}
                        </div>
                        <div style="margin-bottom:50px;"></div>
                    {% endif %}

                    <div class="dev-game__head">Архив новостей</div>

                    <div class="dev-billing__history">
                        <div class="dev-billing__history-search clearfix">
                            <input placeholder="Поиск новостей" type="text" name="search">
                            <button type="submit" class="dev-billing__history-search-reset"><i class="icon-close"></i></button>
                            <button type="submit" class="dev-billing__history-search-do" data-gid="{{ game.gid }}"><i class="icon-search"></i></button>
                        </div>

                        <div class="dev-billing__history-search-error clearfix">
                            <label for="search" class="error" id="search-error" style="/*display:none;*/">Не менее 5 символов</label>
                        </div>

                        <div class="dev-news__search-box">
                            <div class="not-found">По данному запросу ничего не найдено.</div>
                        </div>
                        <div class="dev-news__history-box">
                            {% for onenews in news %}
                            <div class="dev-news__item" data-fid="{{ onenews.fid }}">
                                <div class="dev-news__item-deleteBox">
                                    <div class="dev-news__item-deleteBox-in">
                                        <span>Вы действительно хотите удалить?</span>
                                        <a href="#" class="btn-main" data-module="dev" data-method="delete" data-fid="{{ onenews.fid }}" data-gid="{{ game.gid }}">Удалить</a><a href="#" class="dev-news__item-tools-delete-cancel">Отменить</a>
                                    </div>
                                </div>
                                <div class="dev-news__item-avatar"><img src="{{ constant('IMAGE_HOST') }}{{ game.image_150x150|default('/assets/img/dev-game__image-poster-75px.png') }}" alt=""></div>

                                <div class="dev-news__item-tools clearfix">
                                    <a href="#" class="dev-news__item-tools-edit btn-main" data-module="dev" data-method="edit" data-fid="{{ onenews.fid }}" data-gid="{{ game.gid }}"><span>Редактировать</span><i class="icon-edit"></i></a>
                                    <a href="#" class="dev-news__item-tools-delete"><span>Удалить</span><i class="icon-remove"></i></a>
                                </div>

                                <div class="dev-news__item-game">{{ game.title }}</div>
                                {% if onenews.title %}
                                    <div class="dev-news__item-title">{{ onenews.title }}</div>
                                {% endif %}

                                {% if constant('ENVIRONMENT') == 'development' %}
                                    {% set site='http://exe.ru.dev' %}
                                {% elseif constant('ENVIRONMENT') == 'testing' %}
                                    {% set site='http://test.exe.ru' %}
                                {% else %}
                                    {% set site='http://exe.ru' %}
                                {% endif %}

                                {% if onenews.params %}
                                    {% set params %}?request_key={{ onenews.params }}{% endset %}
                                {% endif %}

                                {% set game_link %}<a href="{{ site }}/app{{ game.gid }}{{ params }}">{{ game.title }}</a>{% endset %}

                                <p>
                                    {{ onenews.content|replace({'%game_link%': game_link})|raw }}

                                    <nobr><a href="{{ site }}/app{{ game.gid }}{{ params }}" target="_blank">{{ site }}/app{{ game.gid }}</a></nobr>
                                </p>

                                {% if onenews.image_url %}
                                    <div class="dev-news__item-poster"><img src="{{ constant('IMAGE_HOST') }}{{ onenews.image_url }}" alt=""></div>
                                {% endif%}

                                <div class="dev-news__item-date">{{ onenews.time|date('d.m.y') }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        {% if news|length == constant('\\Base\\Service\\Feeds::FEEDS_COUNT_FOR_DEV') %}
                        <div class="dev-billing__history-more">
                            <a href="#" class="btn-main" data-limit="{{ constant('\\Base\\Service\\Feeds::FEEDS_COUNT_FOR_DEV') }}" data-offset="{{ constant('\\Base\\Service\\Feeds::FEEDS_COUNT_FOR_DEV') }}" data-gid="{{ game.gid }}" data-module="dev" data-method="feedsGetNext">Показать ещё <i class="icon-arrow-right"></i></a>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        <div class="modal-wrap" id="addNews">
            <div class="overlay"></div>
            <div class="modal dev-dialog__content dev-dialog__content--preview">
                <form method="post" action="/news_do/{{ game.gid }}" enctype="multipart/form-data" autocomplete="off">
                    <input type="hidden" name="fid" value="" />
                    <input type="hidden" name="time" value="" />
                    <input type="hidden" name="file_state" value="" />
                    <input type="hidden" name="game_title" value="{{ game.title }}" />
                    <input type="hidden" name="game_gid" value="{{ game.gid }}" />
                    <input type="hidden" name="game_image_150x150" value="{{ game.image_150x150|default('/assets/img/dev-game__image-poster-75px.png') }}" />
                    <input type="hidden" name="game_applink" value="{{ applink }}" />

                    <div class="dev-dialog__header dev-dialog__header--preview">
                        <div class="dev-dialog__header-icon"><i class="icon-add_news"></i></div>
                        <div class="dev-dialog__header-title">Создание новости</div>
                        <div class="dev-dialog__header-close" data-modal-close><i class="icon-close"></i></div>
                    </div>

                    <div class="dev-dialog__addNews modal__content">
                        <div class="dev-game__info-field clearfix">
                            <label>Заголовок новости:</label>
                            <input type="text" name="title" />
                        </div>

                        <div class="dev-game__info-field clearfix">
                            <label>Текст новости:</label>
                            <div>
                                <textarea rows="4" name="content"></textarea>
                                <label for="content" class="error" id="content-error" style="display:none;">Текст новости - обязательное поле.</label>
                            </div>
                        </div>

                        <div class="dev-game__info-field clearfix">
                            <label class="tl">Дополнительные параметры url:</label>
                            <input type="text" name="params"/>
                        </div>

                        <div class="dev-game__info-field clearfix">
                            <label class="tl">Дата и время публикации:</label>
                            <input id="datetimepicker" name="datetimepicker" type="text" >
                        </div>

                        <div class="dev-news__file">
                            <div class="dev-add-file dev-add-file--alt">
                                <span><i class="icon-camera"></i>Прикрепить файл</span>
                                <input type="file" name="image_url" id="dev_news_add_file" />
                            </div>
                        </div>

                        <div class="dev-news__uploaded">
                            <div class="dev-news__uploaded-photo">
                                <img src="" alt="" id="uploaded_file"/>
                                <a href="#" class="dev-news__uploaded-delete"><i class="icon-close"></i><span>Удалить</span></a>
                            </div>
                            <div class="clear_both"></div>
                        </div>
                    </div>

                    <div class="dev-dialog__footer clearfix">
                        <a href="#" class="dev-dialog__footer-main right btn-main" data-module="dev" data-method="publish">Опубликовать</a>
                        <a href="#" class="dev-dialog__footer-additional right btn-main" data-module="dev" data-method="preview">Предварительный просмотр</a>
                    </div>
                </form>
            </div>
        </div>
        <div data-modal="addNews"></div>


        <div class="modal-wrap" id="preview">
            <div class="overlay"></div>
            <div class="modal dev-dialog__content dev-dialog__content--preview">
                <div class="dev-dialog__header dev-dialog__header--preview">
                    <div class="dev-dialog__header-icon"><i class="icon-screen"></i></div>
                    <div class="dev-dialog__header-title">Предварительный просмотр</div>
                    <div class="dev-dialog__header-close" data-modal-close><i class="icon-close"></i></div>
                </div>

                <div class="dev-dialog__preview modal__content">
                    <div class="dev-news__item">
                        <div class="dev-news__item-avatar"><img src="{{ constant('IMAGE_HOST') }}/assets/img/dev-news__item-avatar.png" alt="" /></div>

                        <div class="dev-news__item-game">Родина</div>
                        <div class="dev-news__item-title">Обновления в игре</div>

                        <p>
                            Ура! Новое событие! С 5 по 9 февраля участвуйте в событии «Дни горячих заказов»! За каждый отправленный грузовик с заказом вы получаете в ДВА раза больше монет и опыта! Не упустите свой шанс открыть много интересного! Доступно с 12 уровня. Играйте с нами!<br />
                            <a href="#">http://exe.ru/app4241302</a>
                        </p>

                        <div class="dev-news__item-poster"><img src="{{ constant('IMAGE_HOST') }}/assets/img/dev-game__image-poster-405px.png" alt="" /></div>
                        <div class="dev-news__item-date">12.03.15</div>
                    </div>
                </div>

                <div class="dev-dialog__footer clearfix">
                    <a href="#" class="dev-dialog__footer-main right btn-main" data-module="dev" data-method="publish">Опубликовать</a>
                    <a href="#" class="dev-dialog__footer-additional right" data-modal="addNews">Редактировать</a>
                </div>
            </div>
        </div>
        <div data-modal="preview" data-module="dev" data-method="prepare"></div>

    {% endblock %}