{% extends "dev/layout.twig" %}
    {%  block content %}
        <script type="text/javascript" src="/assets/js/highstock.js"></script>
        <div class="dev-content__white-box dev-game container">
            <div class="clearfix">
                <div class="dev-game__nav left">
                    {% include 'dev/game/menu.twig' %}
                </div>

                <div class="dev-game__box dev-charts right">
                    <div class="dev-game__head">Нотификации</div>
                    <div class="dev-charts__sub-title first">Общие
                        <div class="dev-roles__head-tooltip">
                            <i>?</i>
                            <div>Cообщение отправляется всем пользователям установившим игру, которые заходили в игру в течение последнего месяца.</div>
                        </div>
                    </div>

{#
                    <div class="dev-charts__txt">
                        Среднее суточное количество уникальных посетителей за последние 30 дней: <span>{{ stats.visits.days.sum_avarage|number_format(2, '.', '') }}</span><br />
                        Общее количество уникальных посетителей за последние 30 дней: <span>{{ stats.visits.days.sum_unique }}</span>
                    </div>
#}
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <a href="#" class="dev-charts__tabs-list-item active left" data-tab="1">По дням</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="2">По месяцам</a>

                            <span class="dev-charts__tabs-list-period right active" data-tab="1">{{ stats.all.days.start|date('d.m.y') }} — {{ stats.all.days.end|date('d.m.y') }}</span>
                            <span class="dev-charts__tabs-list-period right" data-tab="2">{{ stats.all.months.start|date('d.m.y') }} — {{ stats.all.months.end|date('d.m.y') }}</span>
                        </div>

                        <div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="1">
                                <div class="dev-charts__item item-01"></div>

                                <script type="text/javascript">


                                    $(function () {
                                        Highcharts.setOptions({
                                            lang: {
                                                loading: 'Загрузка...',
                                                months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                                weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                                shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                                exportButtonTitle: "Экспорт",
                                                printButtonTitle: "Печать",
                                                rangeSelectorFrom: "С",
                                                rangeSelectorTo: "По",
                                                rangeSelectorZoom: "Период",
                                                downloadPNG: 'Скачать PNG',
                                                downloadJPEG: 'Скачать JPEG',
                                                downloadPDF: 'Скачать PDF',
                                                downloadSVG: 'Скачать SVG',
                                                printChart: 'Напечатать график'
                                            }
                                        });
                                        $('.dev-charts__item.item-01').highcharts('StockChart', {
                                            tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: [ '#e77e23', '#d45c9e', '#755ec6',  '#21b2ad'],

                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: { range: 14 * 24 * 3600 * 1000 },
                                            yAxis: { min: 0 },

                                            series: [
                                                {
                                                    name: 'Всего',
                                                    data: [{{ stats.all.days.all }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.all.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Доставлено',
                                                    data: [{{ stats.all.days.filter }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.all.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Позитивные',
                                                    data: [{{ stats.all.days.success }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.all.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Негативные',
                                                    data: [{{ stats.all.days.fail }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.all.days.start * 1000 }}
                                                }
                                            ]
                                        });
                                    });
                                </script>
                            </div>

                            <div class="dev-charts__tabs-box" data-tab="2">
                                <div class="dev-charts__item item-02"></div>

                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-02').highcharts('StockChart', {
                                            tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: [ '#e77e23', '#d45c9e', '#755ec6',  '#21b2ad'],
                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: { range: 12 * 30 * 24 * 3600 * 1000 },
                                            yAxis: { min: 0 },

                                            series: [
                                                {
                                                    name: 'Всего',
                                                    data: [{{ stats.all.months.all }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.all.months.end }} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Доставлено',
                                                    data: [{{ stats.all.months.filter }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.all.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Позитивные',
                                                    data: [{{ stats.all.months.success }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.all.months.end }} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Негативные',
                                                    data: [{{ stats.all.months.fail }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.all.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                }

                                            ]
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="dev-charts__sub-title">Групповые
                        <div class="dev-roles__head-tooltip">
                            <i>?</i>
                            <div>Cообщение отправляется одному или нескольким пользователям с перечисленными идентификаторами. Уведомление одному пользователю является частным случаем группового уведомления.</div>
                        </div>
                    </div>
                    {#
                                        <div class="dev-charts__txt">
                                            Среднее суточное количество уникальных посетителей за последние 30 дней: <span>{{ stats.visits.days.sum_avarage|number_format(2, '.', '') }}</span><br />
                                            Общее количество уникальных посетителей за последние 30 дней: <span>{{ stats.visits.days.sum_unique }}</span>
                                        </div>
                    #}
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <a href="#" class="dev-charts__tabs-list-item active left" data-tab="3">По дням</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="4">По месяцам</a>

                            <span class="dev-charts__tabs-list-period right active" data-tab="3">{{ stats.groups.days.start|date('d.m.y') }} — {{ stats.groups.days.end|date('d.m.y') }}</span>
                            <span class="dev-charts__tabs-list-period right" data-tab="4">{{ stats.groups.months.start|date('d.m.y') }} — {{ stats.groups.months.end|date('d.m.y') }}</span>
                        </div>

                        <div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="3">
                                <div class="dev-charts__item item-03"></div>

                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-03').highcharts('StockChart', {
                                            tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: [ '#e77e23', '#d45c9e', '#755ec6',  '#21b2ad'],
                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: { range: 14 * 24 * 3600 * 1000 },
                                            yAxis: { min: 0 },

                                            series: [
                                                {
                                                    name: 'Всего',
                                                    data: [{{ stats.groups.days.all }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.groups.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Доставлено',
                                                    data: [{{ stats.groups.days.filter }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.groups.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Позитивные',
                                                    data: [{{ stats.groups.days.success }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.groups.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Негативные',
                                                    data: [{{ stats.groups.days.fail }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.groups.days.start * 1000 }}
                                                }                                            ]
                                        });
                                    });
                                </script>
                            </div>

                            <div class="dev-charts__tabs-box" data-tab="4">
                                <div class="dev-charts__item item-04"></div>

                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-04').highcharts('StockChart', {
                                            tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: [ '#e77e23', '#d45c9e', '#755ec6',  '#21b2ad'],
                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: { range: 12 * 30 * 24 * 3600 * 1000 },
                                            yAxis: { min: 0 },

                                            series: [
                                                {
                                                    name: 'Всего',
                                                    data: [{{ stats.groups.months.all }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.groups.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Доставлено',
                                                    data: [{{ stats.groups.months.filter }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.groups.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Позитивные',
                                                    data: [{{ stats.groups.months.success }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.groups.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Негативные',
                                                    data: [{{ stats.groups.months.fail }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.groups.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                }
                                            ]
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="dev-charts__sub-title">Эффективность
                        <div class="dev-roles__head-tooltip">
                            <i>?</i>
                            <div>Статистика нотификаций прошедших фильтрацию по типам. Типы задаются разработчиком.</div>
                        </div></div>
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <span class="dev-charts__tabs-list-period right active" data-tab="5">{{ stats.types.start|date('d.m.y') }} — {{ stats.types.end|date('d.m.y') }}</span>
                        </div>
                        <div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="5">
                                <div class="dev-charts__item item-05"></div>

                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-05').highcharts({
                                            tooltip: {
                                                shared: true,
                                                valueSuffix: '%'},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: [ '#e77e23', '#d45c9e', '#755ec6', '#21b2ad',
                                                      '#3079df', '#5762d5', '#f1c40f', '#ef717a',
                                                      '#27ae60', '#e74c3c', '#345f41', '#79302a',
                                                      '#8e725e', '#4f2b4f', '#f0deb4', '#34495e'
                                            ],
                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: {
                                                categories: [{{ stats.types.categories|raw }}],
                                                tickInterval: 3,
                                                labels: {
                                                    formatter: function() {
                                                        var values = this.value.split(' ');
                                                        return values[0] + ' ' + values[1];
                                                    }
                                                }
                                            },
                                            yAxis: { min: 0, title: { text: '' }},

                                            series: [
                                                {% for type,onetype in stats.types.success %}
                                                {
                                                {% if type > 3 %}visible: false,{% endif %}
                                                    name: 'Тип {{ type }}',
                                                    data: [{{ onetype }}],
                                                    marker: {enabled: false},
                                                },
                                                {% endfor %}
                                            ]
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                        {#<div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="5">
                                <div class="dev-charts__item item-05"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-05').highcharts({
                                            credits: { enabled: false },
                                            chart: { type: 'column' },
                                            colors: [ '#e77e23', '#d45c9e', '#755ec6',  '#21b2ad'],
                                            title: { text: '' },
                                            xAxis: { categories: [
                                                '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15'
                                            ] },
                                            yAxis: { title: { text: '' } },
                                            series: [
                                                { name: 'Отправлено', data: [{{ stats.graph.all }}] },
                                                { name: 'Доставлено', data: [{{ stats.graph.filter }}] },
                                                { name: 'Позитивные', data: [{{ stats.graph.success }}] },
                                                { name: 'Негативные', data: [{{ stats.graph.fail }}] }
                                            ],
                                            plotOptions: {
                                                column: {
                                                    borderWidth: 0,
                                                    pointPadding: 0,

                                                    tooltip: {
                                                        valueSuffix: ''
                                                    }
                                                }
                                            }
                                        });
                                    });
                                </script>

&#123;&#35;                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-05').highcharts('StockChart', {
                                            tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: [ '#e77e23', '#d45c9e', '#755ec6',  '#21b2ad'],
                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: { range: 14 * 24 * 3600 * 1000 },
                                            yAxis: { min: 0 },

                                            series: [
                                                {
                                                    name: 'Всего',
                                                    data: [{{ stats.groups.days.all }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.groups.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Доставлено',
                                                    data: [{{ stats.groups.days.filter }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.groups.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Позитивные',
                                                    data: [{{ stats.groups.days.success }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.groups.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Негативные',
                                                    data: [{{ stats.groups.days.fail }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.groups.days.start * 1000 }}
                                                }                                            ]
                                        });
                                    });
                                </script>&#35;&#125;
                            </div>

                            &#123;&#35;<div class="dev-charts__tabs-box" data-tab="6">
                                <div class="dev-charts__item item-06"></div>

                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-06').highcharts('StockChart', {
                                            tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: [ '#e77e23', '#d45c9e', '#755ec6',  '#21b2ad'],
                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: { range: 12 * 30 * 24 * 3600 * 1000 },
                                            yAxis: { min: 0 },

                                            series: [
                                                {
                                                    name: 'Всего',
                                                    data: [{{ stats.groups.months.all }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.groups.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Доставлено',
                                                    data: [{{ stats.groups.months.filter }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.groups.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Позитивные',
                                                    data: [{{ stats.groups.months.success }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.groups.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Негативные',
                                                    data: [{{ stats.groups.months.fail }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.groups.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                }
                                            ]
                                        });
                                    });
                                </script>
                            </div>&#35;&#125;
                        </div>#}
                    </div>
                    <div class="dev-charts__sub-title">Эффективность за день
                        <div class="dev-roles__head-tooltip">
                            <i>?</i>
                            <div>Статистика нотификаций прошедших фильтрацию по типам за текущий день. Типы задаются разработчиком.</div>
                        </div>
                    </div>
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <span class="dev-charts__tabs-list-period right active">{{ stats.groups.days.end|date('d.m.y') }}</span>
                        </div>
                    </div>
                    <div class="dev-billing__history">
                        <script type="text/javascript" src="/assets/js/jquery.tablesorter.min.js"></script>
                        <script type="text/javascript">
                            $(function () {
                                $("#eff").tablesorter({
                                    headers: {
                                        0: {sorter: false},
                                        1: {sorter: false},
                                        2: {sorter: false},
                                        3: {sorter: false},
                                        4: {sorter: false}
                                    }
                                });
                            });
                        </script>
                                <div class="dev-billing__history-table">
                            <table id="eff">
                                <thead class="dev-notification">
                                <tr style="border: 1px">
                                    <th>Тип</th>
                                    <th>Отправлено</th>
                                    <th colspan="2">Доставлено</th>
                                    <th colspan="2">Позитивные</th>
                                    <th colspan="2">Негативные</th>
                                </tr>
                                <tr>
                                    <th>№</th>
                                    <th>кол-во</th>
                                    <th class="count_percent">кол-во</th>
                                    <th class="count_percent">%</th>
                                    <th class="count_percent">кол-во</th>
                                    <th class="count_percent">%</th>
                                    <th class="count_percent">кол-во</th>
                                    <th class="count_percent">%</th>
                                </tr>
                                </thead>
                                <tbody class="dev-notification">
                                    {% for onetype in stats.feedback.today %}
                                    <tr>
                                        <td>{{ onetype.ntype }}</td>
                                        <td>{{ onetype.all }}</td>
                                        <td>{{ onetype.filter }}</td>
                                        <td>{{ onetype.filter_procent }}%</td>
                                        <td>{{ onetype.success }}</td>
                                        <td>{{ onetype.success_procent }}%</td>
                                        <td>{{ onetype.fail }}</td>
                                        <td>{{ onetype.fail_procent }}%</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}