{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-game container">
            <div class="clearfix">
                <div class="dev-game__nav left">
                    {% include 'dev/game/menu.twig' %}
                </div>

                <div class="dev-game__box dev-roles right">

                    <div class="dev-roles__head clearfix">
                        <div class="dev-roles__head-title left">
                            <span>Владелец</span>
                            <div class="dev-roles__head-tooltip">
                                <i>?</i>
                                <div>Пользователь, который добавил игру на сайт EXE.ru. Обладает всеми правами на редактирование настроек приложения, вплоть до изменения секретного ключа. Имеет право назначать Администраторов и Тестировщиков.</div>
                            </div>
                        </div>
                    </div>
                    {% if roles[constant('\\Base\\Service\\Roles::USER_OWNER')]|length > 0 %}
                        {% for current in roles[constant('\\Base\\Service\\Roles::USER_OWNER')] %}
                            <div class="dev-roles__list clearfix">
                                <div class="dev-roles__list-item" data-uid="{{ current.uid }}">
                                    <div class="dev-roles__list-item-box">
                                        <img src="{{ constant('IMAGE_HOST') }}{{ current.photo.70 }}" alt="" />
                                        <div class="dev-roles__list-item-name">{{ current.name }} {{ current.last_name }}</div>
                                    </div>
                                    {#<a href="#" class="dev-roles__list-item-delete"><i class="icon-close"></i></a>#}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="dev-roles__head clearfix">
                        <div class="dev-roles__head-title left">
                            <span>Администраторы</span>
                            <div class="dev-roles__head-tooltip">
                                <i>?</i>
                                <div>Назначается Владельцем. Обладает всеми правами на редактирование настроек приложения, за исключением изменения секретного ключа, состояния игры и ID приложения. Имеет право назначать Тестировщиков.</div>
                            </div>
                        </div>

                        {% if hasAccess(user.uid, game.gid, constant('\\Base\\Service\\Roles::ACCESS_APPEND_DELETE_ADMIN')) %}
                            <div class="dev-roles__head-add right"><a class="btn-main" href="#" data-module="dev" data-method="prepareAddAdmin">Добавить администратора</a></div>
                        {% endif %}
                    </div>

                    <div class="dev-roles__list clearfix">
                        {% if roles[constant('\\Base\\Service\\Roles::USER_ADMIN')]|length > 0 %}
                            {% for current in roles[constant('\\Base\\Service\\Roles::USER_ADMIN')] %}
                                <div class="dev-roles__list-item" data-uid="{{ current.uid }}">
                                    <div class="dev-roles__list-item-box">
                                        <img src="{{ constant('IMAGE_HOST') }}{{ current.photo.70 }}" alt="" />
                                        <div class="dev-roles__list-item-name">{{ current.name }} {{ current.last_name }}</div>
                                    </div>

                                    {% if hasAccess(user.uid, game.gid, constant('\\Base\\Service\\Roles::ACCESS_APPEND_DELETE_ADMIN')) %}
                                        <a href="#" class="dev-roles__list-item-delete btn-main" data-module="dev" data-method="prepareDeleteAdmin"><i class="icon-close"></i></a>
                                    {% endif %}

                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="dev-roles__head clearfix">
                        <div class="dev-roles__head-title left">
                            <span>Тестировщики</span>
                            <div class="dev-roles__head-tooltip{# dev-roles__head-tooltip--noWrap#}">
                                <i>?</i>
                                <div>Назначается Владельцем или Администратором. Имеет право тестировать приложение в отключенном состоянии (т.е. когда приложение недоступно всем пользователям). Также может получить доступ к тестированию платежей.</div>
                            </div>
                        </div>

                        {% if hasAccess(user.uid, game.gid, constant('\\Base\\Service\\Roles::ACCESS_APPEND_DELETE_TESTER')) %}
                            {% set hasPermission=true %}
                        {% else %}
                            {% set hasPermission=false %}
                        {% endif %}

                        {% if hasPermission %}
                            <div class="dev-roles__head-add right"><a class="btn-main" href="#" data-module="dev" data-method="prepareAddTester">Добавить тестировщика</a></div>
                        {% endif %}
                    </div>

                    <div class="dev-roles__list clearfix">
                        {% if roles[constant('\\Base\\Service\\Roles::USER_PAYMENT_TESTER')]|length > 0 %}
                            {% for current in roles[constant('\\Base\\Service\\Roles::USER_PAYMENT_TESTER')] %}
                                <div class="dev-roles__list-item" data-uid="{{ current.uid }}" data-gid="{{ game.gid }}">
                                    <div class="dev-roles__list-item-box">
                                        <img src="{{ constant('IMAGE_HOST') }}{{ current.photo.70 }}" alt="" />
                                        <div class="dev-roles__list-item-name">{{ current.name }} {{ current.last_name }}</div>
                                    </div>

                                    {% if hasPermission %}
                                        <a href="#" class="dev-roles__list-item-delete btn-main" data-module="dev" data-method="prepareDeleteTester"><i class="icon-close"></i></a>
                                    {% endif %}

                                    <div class="dev-roles__list-item-checkbox">
                                        <input type="checkbox" id="cb{{ current.uid }}" checked {% if not hasPermission %}disabled="disabled" {% endif %}/>
                                        <label for="cb{{ current.uid }}"><span><i class="icon-check"></i></span>Разрешить тестировать платежи</label>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if roles[constant('\\Base\\Service\\Roles::USER_TESTER')]|length > 0 %}
                            {% for current in roles[constant('\\Base\\Service\\Roles::USER_TESTER')] %}
                                <div class="dev-roles__list-item" data-uid="{{ current.uid }}" data-gid="{{ game.gid }}">
                                    <div class="dev-roles__list-item-box">
                                        <img src="{{ constant('IMAGE_HOST') }}{{ current.photo.70 }}" alt="" />
                                        <div class="dev-roles__list-item-name">{{ current.name }} {{ current.last_name }}</div>
                                    </div>

                                    {% if hasPermission %}
                                        <a href="#" class="dev-roles__list-item-delete btn-main" data-module="dev" data-method="prepareDeleteTester"><i class="icon-close"></i></a>
                                    {% endif %}

                                    <div class="dev-roles__list-item-checkbox">
                                        <input type="checkbox" id="cb{{ current.uid }}" {% if not hasPermission %}disabled="disabled" {% endif %}/>
                                        <label for="cb{{ current.uid }}"><span><i class="icon-check"></i></span>Разрешить тестировать платежи</label>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

{#        <div class="modal-wrap" id="addMoreAdmins">
            <div class="overlay"></div>
            <div class="modal dev-dialog__content dev-dialog__content--addMoreAdmins">
                <div class="dev-dialog__header dev-dialog__header--addMoreAdmins">
                    <div class="dev-dialog__header-icon"><i class="icon-plus"></i></div>
                    <div class="dev-dialog__header-title">Добавить администраторов</div>
                    <div class="dev-dialog__header-close" data-modal-close><i class="icon-close"></i></div>
                </div>

                <div class="dev-dialog__addMoreAdmins">
                    <p>Для добавления администраторов, начните вводить имя или id пользователя или выберите его из списка</p>

                    <div class="ui fluid multiple search selection dropdown">
                        <input type="hidden" name="admins">
                        <i class="dropdown icon"></i>
                        <div class="default text">Начните вводить...</div>

                        <div class="menu">
                            <div class="item" data-value="1" data-text="Степан Королёв">
                                <img src="/assets/img/dev-roles__list-item.png" alt="" />
                                <div class="dev-roles__list-item-name">Степан Королёв</div>
                            </div>

                            <div class="item" data-value="2" data-text="Степан Королёв">
                                <img src="/assets/img/dev-roles__list-item.png" alt="" />
                                <div class="dev-roles__list-item-name">Степан Королёв</div>
                            </div>

                            <div class="item" data-value="3" data-text="Степан Королёв">
                                <img src="/assets/img/dev-roles__list-item.png" alt="" />
                                <div class="dev-roles__list-item-name">Степан Королёв</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dev-dialog__footer dev-dialog__footer--alt clearfix">
                    <a href="#" class="dev-dialog__footer-main right">Добавить</a>
                    <a href="#" class="dev-dialog__footer-additional right">Отмена</a>
                </div>
            </div>
        </div>
        <div data-modal="addMoreAdmins"></div>#}

        <div class="modal-wrap" id="addAdmin">
            <div class="overlay"></div>
            <div class="modal dev-dialog__content dev-dialog__content--addAdmin">
                <div class="dev-dialog__header dev-dialog__header--addAdmin">
                    <div class="dev-dialog__header-icon"><i class="icon-plus"></i></div>
                    <div class="dev-dialog__header-title"></div>
                    <div class="dev-dialog__header-close" data-modal-close><i class="icon-close"></i></div>
                </div>

                <div class="dev-dialog__addAdmin">
                    <div class="dev-dialog__addAdmin-box">
                        <form action="" method="POST" autocomplete="off">
                            <div class="dev-billing__history-search clearfix">
                                <input type="text" placeholder="Введите ID пользователя" />
                                <button type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>

                        <div class="dev-dialog__addAdmin-result"></div>
                    </div>

                    <div class="dev-dialog__addAdmin-done" data-uid="" data-gid="{{ game.gid }}">
                        <div class="dev-dialog__addAdmin-done-item">
                            <div class="dev-dialog__addAdmin-done-item-name"></div>
                            <div class="dev-dialog__addAdmin-done-item-delete"><i class="icon-close"></i></div>
                        </div>
                    </div>

                    <div class="dev-add-game__btns clearfix">
                        <button type="submit" class="main">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <div data-modal="addAdmin"></div>

        <div class="modal-wrap" id="deleteTester" data-uid="" data-gid="{{ game.gid }}">
            <div class="overlay"></div>
            <div class="modal dev-dialog__content dev-dialog__content--deleteTester">
                <div class="dev-dialog__header dev-dialog__header--deleteTester">
                    <div class="dev-dialog__header-icon"></div>
                    <div class="dev-dialog__header-title">Удалить тестировщика</div>
                    <div class="dev-dialog__header-close" data-modal-close><i class="icon-close"></i></div>
                </div>

                <div class="dev-dialog__deleteTester">
                    <p>Этот пользователь больше не сможет видеть и редактировать настройки приложения</p>
                    <p>Вы действительно хотите удалить его?</p>
                </div>

                <div class="dev-dialog__footer clearfix">
                    <a href="#" class="dev-dialog__footer-main right">Удалить</a>
                    <a href="#" class="dev-dialog__footer-additional right">Отменить</a>
                </div>
            </div>
        </div>
        <div data-modal="deleteTester"></div>

    {% endblock %}