{% extends "dev/layout.twig" %}
    {%  block content %}
		<div class="dev-content__white-box dev-game container">
			<div class="clearfix">
				<div class="dev-game__nav left">
					{% include 'dev/game/menu.twig' %}
				</div>

				<div class="dev-game__box dev-game__images right">
					<div class="dev-game__head">Настройки приложения</div>
					<form method="post" action="/settings_do/{{ game.gid }}" class="dev-game__settings_p1" autocomplete="off">
						<input type="hidden" name="part" value="1" />
						<div class="dev-game__info-field clearfix">
							<label>APP_ID:</label>
							<input type="text" name="app_id" value="{{ game.gid }}" readonly/>
						</div>
						{% if game.roleGroup == constant('\\Base\\Service\\Roles::USER_OWNER') or hasAccess(user.uid, null, null) %}
							{% set hasPermissions=true %}
						{% endif %}

						<div class="dev-game__info-field clearfix">
							<label>Секретный ключ:</label>
							<div>
								<input type="text" name="api_key" value="{{ game.api_key }}" {% if not hasPermissions %} readonly{% endif %}/>
								<label for="api_key" class="error" id="api_key-error" style="display:none;"></label>
							</div>
						</div>

						{% if hasPermissions %}
						<div class="dev-game__info-field clearfix">
							<label>Состояние:</label>

							<div class="sel">
								<input class="sel_hidden" type="hidden" name="enabled" value="" />

								<div class="sel_in">
									<span class="sel_title">Включено и видно всем</span>
									<span class="sel_arrow"></span>
								</div>

								<ul class="sel_list">
									<li{% if game.enabled == 't' %} class="is-active"{% endif %} data-value="t">Включено и видно всем</li>
									<li{% if game.enabled == 'r' %} class="is-active"{% endif %} data-value="r">Технические работы</li>
									<li{% if game.enabled == 'f' %} class="is-active"{% endif %} data-value="f">Выключено</li>
								</ul>
							</div>
						</div>
						<div class="dev-game__info-btns clearfix">
							<button type="submit" class="main">Сохранить изменения</button>
						</div>
						{% endif %}
					</form>

					<div class="dev-game__head">Настройки контейнера iframe</div>
					<form method="post" action="/settings_do/{{ game.gid }}" class="dev-game__settings_p2" autocomplete="off">
						<input type="hidden" name="part" value="2" />
						<div class="dev-game__info-field clearfix">
							<label>Ширина iframe:</label>
							<div>
                                <span style="width:20px; height: 45px; text-align: center; line-height: 45px;">100%</span>
							</div>
						</div>
						<div class="dev-game__info-field clearfix">
							<label>Высота iframe:</label>
							<div>
								<input type="text" name="height" placeholder="высота" style="width:100px;" value="{{ game.height }}"/><span style="width:20px; height: 45px; text-align: center; line-height: 45px;"> px</span>
								<label for="height" class="error" id="height-error" style="display:none;">Укажите высоту iframe</label>
							</div>
						</div>

						<div class="dev-game__info-field clearfix">
							<label>Адрес http:</label>
							<div>
								<input type="text" name="http" placeholder="http://" value="{{ game.http }}"/>
								<label for="http" class="error" id="http-error" style="display:none;">Укажите http адрес фрейма</label>
							</div>
						</div>

						<div class="dev-game__info-field clearfix">
							<label>Адрес https:</label>
							<div>
								<input type="text" name="https" placeholder="https://" value="{{ game.https }}" />
								<label for="https" class="error" id="https-error" style="display:none;">Укажите правильный https адрес фрейма с приложением</label>
							</div>
						</div>

						<div class="dev-game__info-field clearfix">
							<label class="tl">Адрес обратного вызова:</label>
							<div>
								<input type="text" name="callback_url" placeholder="http://"  value="{{ game.callback_url }}"/>
								<label for="callback_url" class="error" id="callback_url-error" style="display:none;">Укажите http адрес обратных для обратных вызовов</label>
							</div>
						</div>

						<div class="dev-game__info-btns clearfix">
							<button type="submit" class="main">Сохранить изменения</button>
						</div>
					</form>
{#					<div class="dev-game__head">Удаление приложения</div>

					<div class="dev-game__images-field f4 clearfix" style="margin-bottom:0">
						Если Вы удалите это приложение, Вы уже не сможете его восстановить.
					</div>

					<div class="dev-game__info-btns clearfix">
						<button type="submit" class="main">Удалить приложение</button>
					</div>#}

{#					<div class="dev-game__info-field clearfix">
						<label class="sm">Страница помощи:</label>

						<div class="check-box-alt">
							<input type="checkbox" id="c1" />

							<label for="c1">
								<i class="icon-check"></i>
								<i class="icon-uncheck"></i>
							</label>
						</div>
					</div>#}

{#					<div class="dev-game__head">Изображения</div>

					<div class="dev-game__images-field f1 clearfix">
						<label>Квадратная<br />обложка<br />"Мои игры":</label>

						<div class="clearfix">
							<div class="dev-game__images-file"><input type="file" id="f1" name="f1" /></div>

							<div class="dev-game__images-poster">
								<label for="f1"><img src="/assets/img/dev-game__image-poster-128px.png" alt="" /></label>
							</div>

							<div class="dev-game__images-btns clearfix"><label for="f1">Загрузить</label></div>
							<div class="dev-game__images-txt">Размер загружаемого изображения: 256х256px.<br />Используется в каталоге “Мои игры”.</div>
						</div>
					</div>

					<div class="dev-game__images-field f2 clearfix">
						<label>Иконка 32x32px:</label>

						<div class="clearfix">
							<div class="dev-game__images-file"><input type="file" id="f2" name="f2" /></div>

							<div class="dev-game__images-poster">
								<label for="f2"><img src="/assets/img/dev-game__image-poster-32px.png" alt="" /></label>
							</div>

							<div class="dev-game__images-btns clearfix">
								<label for="f2">Загрузить</label>
								<a href="#">Скопировать</a>
							</div>

							<div class="dev-game__images-txt">Размер загружаемого изображения: 64х64px.</div>
						</div>
					</div>

					<div class="dev-game__images-field f3 clearfix">
						<label>Иконка 16x16px:</label>

						<div class="clearfix">
							<div class="dev-game__images-file"><input type="file" id="f3" name="f3" /></div>

							<div class="dev-game__images-poster">
								<label for="f3"><img src="/assets/img/dev-game__image-poster-16px.png" alt="" /></label>
							</div>

							<div class="dev-game__images-btns clearfix">
								<label for="f3">Загрузить</label>
								<a href="#">Скопировать</a>
							</div>
						</div>
					</div>

					<div class="dev-game__images-field f4 clearfix">
						<label>Иконка 75x75px:</label>

						<div class="clearfix">
							<div class="dev-game__images-file"><input type="file" id="f4" name="f4" /></div>

							<div class="dev-game__images-poster">
								<label for="f4"><img src="/assets/img/dev-game__image-poster-75px.png" alt="" /></label>
							</div>

							<div class="dev-game__images-btns clearfix">
								<label for="f4">Загрузить</label>
								<a href="#">Сохранить</a>
							</div>

							<div class="dev-game__images-txt">Размер загружаемого изображения: 150х150px.<br />Используется в оповещениях и уведомлениях.</div>
						</div>
					</div>

					<div class="dev-game__images-field f5 clearfix">
						<label>Баннер игры<br />для каталога<br />405x250px:</label>

						<div class="clearfix">
							<div class="dev-game__images-file"><input type="file" id="f5" name="f5" /></div>

							<div class="dev-game__images-poster">
								<label for="f5"><img src="/assets/img/dev-game__image-poster-405px.png" alt="" /></label>
							</div>

							<div class="dev-game__images-btns clearfix"><label for="f5">Загрузить</label></div>
							<div class="dev-game__images-txt">Размер загружаемого изображения: 810х500px.<br />Используется в каталоге игр.</div>
						</div>
					</div>#}

				</div>
			</div>
		</div>
	{% endblock %}