{% extends "dev/layout.twig" %}
    {%  block content %}
        <script type="text/javascript" src="/assets/js/highstock.js"></script>
        <div class="dev-content__white-box dev-game container">
            <div class="clearfix">
                <div class="dev-game__nav left">
                    {% include 'dev/game/menu.twig' %}
                </div>

                <div class="dev-game__box dev-charts right">
                    <div class="dev-game__head">Статистика</div>

                    <div class="dev-charts__sub-title first">Уникальные посетители и просмотры</div>
                    <div class="dev-charts__txt">
                        Среднее суточное количество уникальных посетителей за последние 30 дней: <span>{{ stats.visits.days.sum_avarage|number_format(2, '.', '') }}</span><br />
                        Общее количество уникальных посетителей за последние 30 дней: <span>{{ stats.visits.days.sum_unique }}</span>
                    </div>
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <a href="#" class="dev-charts__tabs-list-item active left" data-tab="1">По дням</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="2">По месяцам</a>
                            <span class="dev-charts__tabs-list-period right active" data-tab="1">{{ stats.visits.days.start|date('d.m.y') }} — {{ stats.visits.days.end|date('d.m.y') }}</span>
                            <span class="dev-charts__tabs-list-period right" data-tab="2">{{ stats.visits.months.start|date('d.m.y') }} — {{ stats.visits.months.end|date('d.m.y') }}</span>
                        </div>
                        <div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="1">
                                <div class="dev-charts__item item-01"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        Highcharts.setOptions({
                                            lang: {
                                                loading: 'Загрузка...',
                                                months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                                weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                                shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                                exportButtonTitle: "Экспорт",
                                                printButtonTitle: "Печать",
                                                rangeSelectorFrom: "С",
                                                rangeSelectorTo: "По",
                                                rangeSelectorZoom: "Период",
                                                downloadPNG: 'Скачать PNG',
                                                downloadJPEG: 'Скачать JPEG',
                                                downloadPDF: 'Скачать PDF',
                                                downloadSVG: 'Скачать SVG',
                                                printChart: 'Напечатать график'
                                            }
                                        });
                                        $('.dev-charts__item.item-01').highcharts('StockChart', {
                                            tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: ['#21b2ad', '#755ec6'],
                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: { range: 14 * 24 * 3600 * 1000 },
                                            yAxis: { min: 0 },

                                            series: [
                                                {
                                                    name: 'Уникальные посетители',
                                                    data: [{{ stats.visits.days.unique }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.visits.days.start * 1000 }}
                                                },
                                                {
                                                    name: 'Просмотры',
                                                    data: [{{ stats.visits.days.nounique }}],
                                                    pointInterval: 24 * 60 * 60 * 1000,
                                                    pointStart: {{ stats.visits.days.start * 1000 }}
                                                }
                                            ]
                                        });
                                    });
                                </script>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="2">
                                <div class="dev-charts__item item-02"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-02').highcharts('StockChart', {
                                            tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                            credits: { enabled: false },
                                            chart: { type: 'spline' },
                                            colors: ['#21b2ad', '#755ec6'],
                                            rangeSelector: { enabled: false },
                                            title: { text: '' },

                                            xAxis: { range: 12 * 30 * 24 * 3600 * 1000 },
                                            yAxis: { min: 0 },

                                            series: [
                                                {
                                                    name: 'Уникальные посетители',
                                                    data: [{{ stats.visits.months.unique }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.visits.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                },
                                                {
                                                    name: 'Просмотры',
                                                    data: [{{ stats.visits.months.nounique }}],
                                                    pointInterval: 30 * 24 * 60 * 60 * 1000,
                                                    pointStart: ({{ stats.visits.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                                }
                                            ]
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>


                    <div class="dev-charts__sub-title">Пол/возраст</div>
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <a href="#" class="dev-charts__tabs-list-item active left" data-tab="1">За неделю</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="2">За месяц</a>
                        </div>
                        <div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="1">
                                <div class="dev-charts__item item-03"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-03').highcharts({
                                            credits: { enabled: false },
                                            chart: { type: 'column' },
                                            colors: ['#21b2ad', '#755ec6'],
                                            title: { text: '' },
                                            xAxis: { categories: [
                                                'до 18', '18-21', '21-24', '24-27', '27-30', '30-35', '35-45', 'от 45'
                                            ] },
                                            yAxis: { title: { text: '' } },
                                            series: [
                                                { name: 'Мужчины', data: [{{ stats.age_gender.week.male }}] },
                                                { name: 'Женщины', data: [{{ stats.age_gender.week.female }}] }
                                            ],
                                            plotOptions: {
                                                column: {
                                                    borderWidth: 0,
                                                    pointPadding: 0,

                                                    tooltip: {
                                                        valueSuffix: ' %'
                                                    }
                                                }
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="2">
                                <div class="dev-charts__item item-04"></div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('.dev-charts__item.item-04').highcharts({
                                            credits: { enabled: false },
                                            chart: { type: 'column' },
                                            colors: ['#21b2ad', '#755ec6'],
                                            title: { text: '' },
                                            xAxis: { categories: [
                                                'до 18', '18-21', '21-24', '24-27', '27-30', '30-35', '35-45', 'от 45'
                                            ] },
                                            yAxis: { title: { text: '' } },
                                            series: [
                                                { name: 'Мужчины', data: [{{ stats.age_gender.month.male }}] },
                                                { name: 'Женщины', data: [{{ stats.age_gender.month.female }}] }
                                            ],
                                            plotOptions: {
                                                column: {
                                                    borderWidth: 0,
                                                    pointPadding: 0,
                                                    tooltip: { valueSuffix: ' %' }
                                                }
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="dev-charts__sub-title">География</div>
                    <div class="dev-charts__tabs">
                        <div class="dev-charts__tabs-list clearfix">
                            <a href="#" class="dev-charts__tabs-list-item active left" data-tab="1">Сутки</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="2">Неделя</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="3">Месяц</a>
                            <a href="#" class="dev-charts__tabs-list-item left" data-tab="4">За всё время</a>
                        </div>
                        <div class="dev-charts__tabs-boxes">
                            <div class="dev-charts__tabs-box shown" data-tab="1">
                                <div class="clearfix">
                                    <div class="dev-charts__legend left">
                                        <table>
                                            <thead>
                                            <tr><th>Страна</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for country in stats.geo.day.country %}
                                                <tr><td><span></span>{{ country.name }}</td><td>{{ country.value }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-06"></div>

                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-06').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for country in stats.geo.day.country %}
                                                                { name: "{{ country.name }}", y: {{ country.value }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="dev-charts__legend last left">
                                        <table>
                                            <thead>
                                            <tr><th>Город</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for city in stats.geo.day.city %}
                                                <tr><td><span></span>{{ city.name }}</td><td>{{ city.value }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-07"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-07').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for city in stats.geo.day.city %}
                                                                { name: "{{ city.name }}", y: {{ city.value }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="2">
                                <div class="clearfix">
                                    <div class="dev-charts__legend left">
                                        <table>
                                            <thead>
                                            <tr><th>Страна</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for country in stats.geo.week.country %}
                                                <tr><td><span></span>{{ country.name }}</td><td>{{ country.value }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-08"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-08').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for country in stats.geo.week.country %}
                                                            { name: "{{ country.name }}", y: {{ country.value }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="dev-charts__legend last left">
                                        <table>
                                            <thead>
                                            <tr><th>Город</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for city in stats.geo.week.city %}
                                                <tr><td><span></span>{{ city.name }}</td><td>{{ city.value }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-09"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-09').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for city in stats.geo.week.city %}
                                                            { name: "{{ city.name }}", y: {{ city.value }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="3">
                                <div class="clearfix">
                                    <div class="dev-charts__legend left">
                                        <table>
                                            <thead>
                                            <tr><th>Страна</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for country in stats.geo.month.country %}
                                                <tr><td><span></span>{{ country.name }}</td><td>{{ country.value }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-10"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-10').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for country in stats.geo.month.country %}
                                                            { name: "{{ country.name }}", y: {{ country.value }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="dev-charts__legend last left">
                                        <table>
                                            <thead>
                                            <tr><th>Город</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for city in stats.geo.month.city %}
                                                <tr><td><span></span>{{ city.name }}</td><td>{{ city.value }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-11"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-11').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for city in stats.geo.month.city %}
                                                            { name: "{{ city.name }}", y: {{ city.value }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="dev-charts__tabs-box" data-tab="4">
                                <div class="clearfix">
                                    <div class="dev-charts__legend left">
                                        <table>
                                            <thead>
                                            <tr><th>Страна</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for country in stats.geo.all.country %}
                                                <tr><td><span></span>{{ country.name }}</td><td>{{ country.value }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-12"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-12').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for country in stats.geo.all.country %}
                                                            { name: "{{ country.name }}", y: {{ country.value }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="dev-charts__legend last left">
                                        <table>
                                            <thead>
                                            <tr><th>Город</th><th>Количество</th></tr>
                                            </thead>
                                            <tbody>
                                            {% for city in stats.geo.all.city %}
                                                <tr><td><span></span>{{ city.name }}</td><td>{{ city.value }} %</td></tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="right">
                                        <div class="dev-charts__item item-13"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $('.dev-charts__item.item-13').highcharts({
                                                    credits: { enabled: false },
                                                    chart: { type: 'pie' },
                                                    colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad'],
                                                    title: { text: '' },
                                                    series: [{
                                                        name: "Количество",
                                                        data: [
                                                            {% for city in stats.geo.all.city %}
                                                            { name: "{{ city.name }}", y: {{ city.value }} },
                                                            {% endfor %}
                                                        ]
                                                    }],
                                                    plotOptions: {
                                                        pie: {
                                                            dataLabels: { enabled: false },
                                                            tooltip: { valueSuffix: ' %' }
                                                        }
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}