{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-game container">
            <div class="clearfix">
                <div class="dev-game__nav left">
                    {% include 'dev/game/menu.twig' %}
                </div>

                <div class="dev-game__box dev-game__info dev-game__images right">
                    <form method="post" action="/status_do/{{ game.gid }}" autocomplete="off">
                        <div class="dev-game__head">Статус игры</div>

                        {% if game.active == 't' %}
                        <div class="dev-game__info-field clearfix">
                            <label>Текущий статус:</label>
                            <div><span style="line-height: 45px;">опубликовано.</span></div>
                        </div>
                        <div class="dev-game__info-field clearfix">
                            Приложение одобрено Администрацией сайта и опубликовано на Сайте.
                        </div>
                        {% elseif (game.check_status == 't') %}
                        <div class="dev-game__info-field clearfix">
                            <label>Текущий статус:</label>
                            <div><span style="line-height: 45px;">на одобрении.</span></div>
                        </div>
                        <div class="dev-game__info-field clearfix">
                            Приложение находится на проверке Администрацией сайта
                        </div>
                        {% else %}
                        <div class="dev-game__info-field clearfix">
                            <label>Текущий статус:</label>
                            <div><span style="line-height: 45px;">заблокировано администрацией сайта.</span></div>
                        </div>
                            {% if game.check_comment %}
                            <div class="dev-game__info-field clearfix">
                                <label>Комментарий:</label>
                                <div><span style="line-height: 45px;">{{ game.check_comment }}</span></div>
                            </div>

                            {% else %}
                                <div class="dev-game__info-field clearfix">
                                    Для размещения на Сайте, приложение должно быть одобрено Администрацией сайта и соответствовать Условиям размещения.
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if (game.active == 'f') and (game.check_status == 'f') %}
                            <div class="dev-game__info-btns clearfix">
                                <button type="submit" class="main">Отправить на проверку</button>
                            </div>
                        {% endif %}

                    </form>
                    {% if editLog and editLog|length > 0 %}
                        <div class="dev-game__head">История редактирования</div>
                        {% for row in editLog %}
                            <div class="dev-game__info-field clearfix">
                                <label>{{ row.datetime|date('d.m.Y') }}</label>
                                <div><span style="line-height: 45px;">{{ row.fields }}</span></div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if log|length > 0 %}
                        <div class="dev-game__head">История статуса</div>
                        {% for row in log %}
                            <div class="dev-game__info-field clearfix">
                                <label>{{ row.datetime|date('d.m.Y') }}</label>
                                <div><span style="line-height: 45px;">{% if row.active =='t' %}опубликовано{% else %}заблокировано{% endif %}</span></div>
                            </div>
                            {% if row.comment|length > 0 %}
                                <div class="dev-game__info-field clearfix" style="margin-top: -15px">
                                    <label>&nbsp;</label>
                                    <div><span style="line-height: 45px;">{{ row.comment }}</span></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if isModerator(user.uid) %}
                        <form method="post" action="/control_do/{{ game.gid }}" id="statusControl" autocomplete="off">
                            <div class="dev-game__head">Управление статусом</div>
                            <div class="dev-game__info-field clearfix">
                                <label>Комментарий:</label>
                                <div>
                                    <input type="hidden" name="action" value="" />
                                    <textarea rows="4" name="comment"></textarea>
                                    <label class="error" id="reject-comment-error" style="display:none;">Не указана причина отклонения.</label>
                                </div>
                            </div>
                            <div class="dev-game__info-btns clearfix">
                                <button type="button" class="cancel" value="reject" name="submit">Отклонить</button>
                                {% if game.enabled == 't' %}
                                    <button type="button" class="main" value="accept" name="submit">Опубликовать</button>
                                {% else  %}
                                    <button type="button" class="main" disabled="disabled" value="" style="background: lightgray;" name="submit">Выключено</button>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}