@import "_mixins.less";

html {
	height: 100%;
	min-width: auto;
}

body {
	font: normal normal 16px/22px 'Roboto', arial, sans-serif;
	background: #f0f4f9;
	color: #5d6d7d;
	-webkit-text-size-adjust: 100%;
	min-height: 100%;
	box-sizing: border-box;
	position: relative;
	min-width: 1000px;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	input { font-family: 'Roboto', arial, sans-serif; }

	*, *:before, *:after { box-sizing: border-box; }
}

a {
	color: #03f;
	text-decoration: underline;

	&:hover { text-decoration: none; }

	&.ajax-link {
		text-decoration: none;
		border-bottom: 1px dashed;
	}
}

p { margin-bottom: 15px; }

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.left { float: left; }
.right { float: right; }

.container {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.dev-header {
	height: 70px;
	background: #ffffff;
	overflow: hidden;

	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

	&__logo a {
		position: relative;
		display: block;
		width: 330px; height: 70px;
		background: #755ec6 url(../img/dev-header__logo.png) 53px 22px no-repeat;
		padding: 21px 0 0 163px;
		text-decoration: none;
		color: #ffffff;
		font-size: 22px;
		line-height: 23px;
		font-weight: 300;
		letter-spacing: 1.5px;

		&:before {
			position: absolute;
			top: 11px; left: 141px;
			content: "";
			width: 1px; height: 47px;
			background: rgba(217, 217, 217, 0.4);
		}
	}

	&__user {
		.avatar {
			width: 70px; height: 70px;
			overflow: hidden;

			img {
				display: block;
				width: 70px; height: 70px;
			}
		}

		.name {
			width: 155px;
			padding: 11px 16px;
			color: #2d3e50;

		}
	}

	&__nav ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: block;
			float: left;

			a {
				display: block;
				padding: 0 22px;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 70px;
				font-weight: 500;
				color: #5d6d7d;
				letter-spacing: 1px;

				.animate ();

				&:hover { color: #21b1ac; }

				&:active {
					background: #21b1ac;
					color: #ffffff;
				}
			}

			&.active a {
				background: #21b1ac;
				color: #ffffff;
			}
		}
	}

	&__search {
		position: relative;
		margin: 15px 21px 0 0;

		input {
			display: block;
			width: 312px; height: 40px;
			border: 1px solid #c2c7cd;
			border-right: 50px solid #c2c7cd;
			color: #5d6d7d;
			font-size: 16px;
			line-height: 22px;
			padding: 8px 15px;

			.animate ();

			&:focus { border-color: #5d6d7d; }
		}

		button {
			position: absolute;
			top: 0; right: 0;
			display: block;
			z-index: 2;
			width: 50px; height: 40px;
			background: none;
			border: none;
			color: #ffffff;
			text-align: center;
			font-size: 18px;
			line-height: 38px;
			padding: 2px 0 0;

			&:active + input { border-color: #5d6d7d; }
		}
	}
}

.dev-content { padding: 32px 0 36px;
	&__white-box {
		background: #ffffff;

		-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
				box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	}
}

.dev-main {
	&__poster { position: relative;
		img {
			display: block;
			width: 100%; height: 400px;
		}

		a {
			display: block;
			position: absolute;
			right: 0;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 30px;
			line-height: 75px;
			letter-spacing: 4px;
			font-weight: 300;
			padding: 0 36px 0 50px;

			.animate ();

			&.first {
				bottom: 75px;
				background: #ffffff;
				color: #755ec6;

				&:hover {
					background: #ffffff;
					color: #755ec6;
				}

				&:active {
					background: #594894;
					color: #ffffff;
				}
			}

			&.second {
				bottom: 0;
				background: #755ec6;
				color: #ffffff;

				&:hover {
					background: #ffffff;
					color: #755ec6;
				}

				&:active {
					background: #594894;
					color: #ffffff;
				}
			}
		}
	}

	&__padbox { padding: 30px; }

	&__title {
		font-size: 30px;
		line-height: 36px;
		font-weight: 500;
		color: #34495e;
		margin: 0 0 7px;
	}

	&__txt { margin: 0 0 25px; }

	&__columns {
		&-l { width: 360px; }
		&-r { width: 380px; }

		&-title {
			display: inline-block;
			font-size: 20px;
			line-height: 21px;
			font-weight: 500;
			color: #34495e;
			margin: 0 0 8px;
			text-decoration: none;
			border-bottom: 1px dotted #34495e;

			.animate ();

			&:hover { border-color: transparent; }
		}

		&-txt {
			font-size: 14px;
			line-height: 20px;
			margin: 0 0 24px;

			&:last-of-type { margin: 0 0 38px; }
		}
	}
}

.dev-btns {
	& > * {
		display: block;
		float: left;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 18px;
		line-height: 50px;
		font-weight: 500;
		margin: 0 20px 0 0;
		border: none;
		cursor: pointer;
	}

	.main {
		padding: 0 42px 0 45px;
		background: #21b1ac;
		color: #ffffff;

		.animate ();

		&:hover {
			background: #ffffff;
			color: #21b1ac;

			-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
					box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
		}

		&:active {
			background: #0f8884;
			color: #ffffff;

			-webkit-box-shadow: none;
					box-shadow: none;
		}
	}

	.additional {
		padding: 0 27px 0 30px;
		background: #ffffff;
		color: #21b1ac;

		.animate ();

		&:hover {
			background: #e4f6f5;
			color: #21b1ac;
		}

		&:active {
			background: #ffffff;
			color: #0f8884;
		}
	}
}

.dev-doc { position: relative;
	&:before {
		position: absolute;
		top: 0; left: 240px; bottom: 0;
		content: "";
		width: 3px;
		background: #f5f7f8;
	}

	&__nav { width: 240px;
		& > ul {
			list-style: none;
			margin: 0;
			padding: 10px 0 0;

			& > li { display: block;
				& > a {
					position: relative;
					display: block;
					color: #415b76;
					text-decoration: none;
					font-size: 16px;
					line-height: 50px;
					font-weight: 500;
					padding: 0 0 0 36px;

					.animate ();

					&:hover { color: #21b1ac; }

					&:active {
						background: #21b1ac;
						color: #ffffff;
					}
				}

				&.active > a {
					background: #ffffff;
					color: #21b1ac;
					cursor: default;

					&:before {
						position: absolute;
						top: 50%; left: 20px;
						content: "";
						width: 0; height: 0;
						margin: -4px 0 0;
						border-top: 4px solid transparent;
						border-left: 6px solid #21b1ac;
						border-bottom: 4px solid transparent;
					}
				}

				ul {
					list-style: none;
					margin: 0 0 5px;
					padding: 0 0 0 36px;

					li {
						a {
							position: relative;
							display: block;
							color: #5d6d7d;
							text-decoration: none;
							font-size: 14px;
							line-height: 32px;
							font-weight: 500;
							padding: 0 0 0 15px;

							.animate ();

							&:hover { color: #21b1ac; }
						}

						&.active a {
							background: #ffffff;
							color: #21b1ac;
							cursor: default;

							&:before {
								position: absolute;
								top: 50%; left: 0;
								content: "";
								width: 0; height: 0;
								margin: -4px 0 0;
								border-top: 4px solid transparent;
								border-left: 6px solid #21b1ac;
								border-bottom: 4px solid transparent;
							}
						}
					}
				}
			}
		}
	}

	&__info {
		width: 650px;
		margin: 0 30px 0 0;
		padding: 36px 0;
	}

	&__head {
		border-bottom: 3px solid #f5f7f8;
		font-size: 24px;
		line-height: 41px;
		font-weight: 500;
		color: #34495e;
	}

	&__title a {
		display: inline-block;
		text-decoration: none;
		color: #36485e;
		border-bottom: 1px dotted #34495e;
		font-size: 18px;
		line-height: 20px;
		font-weight: 500;
		margin: 18px 0 9px;

		.animate ();

		&:hover { border-color: transparent; }
	}

	&__txt {
		font-size: 14px;
		line-height: 22px;
		margin: 0 0 8px;
		color: #5d6d7d;
	}
}

.dev-games { padding: 0 30px 10px;
	&__head {
		position: relative;
		margin: 0 0 30px;
		padding: 40px 0 0;
		border-bottom: 3px solid #f5f7f8;
		font-size: 24px;
		line-height: 40px;
		font-weight: 500;
		color: #34495e;

		span {
			position: absolute;
			bottom: 0; right: 0;
			font-weight: 700;
			color: #e8eaeb;
		}
	}

	&__btns { margin: 0 0 50px;
		&-add {
			position: relative;
			display: block;
			float: left;
			background: #21b1ac;
			color: #ffffff;
			text-transform: uppercase;
			text-decoration: none;
			padding: 0 12px;
			font-size: 12px;
			line-height: 35px;
			font-weight: 700;
			letter-spacing: 2px;

			.animate ();

			&:before {
				position: absolute;
				top: 3px; bottom: 3px; left: 35px;
				content: "";
				width: 1px;
				background: #59c5c1;

				.animate ();
			}

			i {
				display: inline-block;
				vertical-align: top;
				width: 15px; height: 15px;
				margin: 10px 24px 0 0;
				font-size: 15px;
				line-height: 15px;
			}

			&:hover {
				background: #f5f7f8;
				color: #21b1ac;

				-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
						box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

				&:before { background: #c0e5e5; }
			}

			&:active {
				background: #0f8884;
				color: #ffffff;

				-webkit-box-shadow: none;
						box-shadow: none;

				&:before { background: #4ba6a3; }
			}
		}
	}

	&__item {
		float: left;
		width: 405px;
		text-align: center;
		text-decoration: none;
		margin: 0 0 26px;

		.animate ();

		&-poster {
			width: 405px; height: 250px;
			overflow: hidden;

			img {
				display: block;
				width: 405px; height: 250px;
			}
		}

		&-hr {
			height: 4px;
			background: black;
		}

		&-title {
			font-size: 20px;
			line-height: 21px;
			font-weight: 500;
			margin: 13px 0 3px;
			color: black;
		}

		&-genre {
			font-size: 15px;
			line-height: 20px;
			color: #d7dce2;
		}

		&:nth-child(2n+2) { margin-left: 90px; }

		&:hover { opacity: 0.7; }
		&:active { opacity: 0.4; }

		&.addGame {
			.dev-games__item-poster {
				background: #a3aeb9;
				color: #ffffff;
				font-size: 20px;
				line-height: 25px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 4px;
				padding: 70px 0 0;

				i {
					display: block;
					width: 90px; height: 60px;
					margin: 0 auto 17px;
					font-size: 60px;
					line-height: 60px;
					color: #ffffff;
				}
			}
		}
	}
}

.dev-add-game { padding: 0 30px 50px;
	&__head {
		position: relative;
		margin: 0 0 30px;
		padding: 40px 0 0;
		border-bottom: 3px solid #f5f7f8;
		font-size: 24px;
		line-height: 40px;
		font-weight: 500;
		color: #34495e;

		span {
			position: absolute;
			bottom: 0; right: 0;
			font-weight: 700;
			color: #e8eaeb;
		}
	}

	&__field { margin: 0 0 16px;
		& > * {
			display: block;
			float: left;
		}

		& > label {
			font-size: 16px;
			line-height: 45px;
			color: #5d6d7d;
			width: 155px;
			margin: 0;
		}

		input[type=text] {
			width: 745px; height: 45px;
			border: 2px solid #ecf0f1;
			padding: 10px;
			font-size: 16px;
			line-height: 21px;
			color: #36485e;

			.animate ();

			&:focus { border-color: #21b1ac; }
		}

		textarea {
			width: 745px;
			border: 2px solid #ecf0f1;
			font-size: 16px;
			line-height: 24px;
			padding: 10px;
			color: #36485e;
			resize: none;

			.animate ();

			&:focus { border-color: #21b1ac; }
		}

		.check-box {
			padding: 0 0 0 155px;
			float: none;

			input { display: none; }

			label {
				display: block;
				cursor: pointer;
				line-height: 22px;
				color: #687786;

				span {
					position: relative;
					display: inline-block;
					vertical-align: top;
					width: 22px; height: 22px;
					border: 2px solid #a3aeb9;
					margin: 0 10px 0 0;
					padding: 0 0 0 1px;
					text-align: center;

					.animate ();

					i {
						display: block;
						opacity: 0;
						font-size: 8px;
						line-height: 18px;
					}
				}

				&:hover span { border-color: #21b1ac; }

				&:active span {
					border-color: #5d6d7d;
					background: #5d6d7d;
					color: #ffffff;

					i { display: block; }
				}

				.dotted {
					color: #687786;
					text-decoration: none;
					border-bottom: 1px dotted #34495e;

					-webkit-transition: all 300ms ease;
					   -moz-transition: all 300ms ease;
						-ms-transition: all 300ms ease;
						 -o-transition: all 300ms ease;
							transition: all 300ms ease;

					&:hover { border-color: transparent; }
				}
			}

			input:checked + label {
				span i { opacity: 1; }
				& span { color: #a3aeb9; }
				&:hover span { color: #21b1ac; }
				&:active span i { color: #ffffff; }
			}
		}

		.sel {
			position: relative;
			width: 745px; height: 45px;

			.sel_in {
				position: relative;
				width: 100%; height: 100%;
				color: #000000;
				cursor: pointer;
				border: 2px solid #ecf0f1;

				.animate ();
			}

			&:hover, &.is-opened {
				.sel_in { border-color: #21b1ac; }
				.sel_arrow { border-top-color: #21b1ac; }
			}

			.sel_title {
				display: block;
				font-size: 16px;
				line-height: 41px;
				color: #36485e;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 0 10px;
			}

			.sel_arrow {
				position: absolute;
				top: 18px; right: 17px;
				display: block;
				width: 0; height: 0;
				border-top: 5px solid #232323;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;

				.animate ();
			}
			
			.sel_list {
				position: absolute;
				top: 100%;
				display: none;
				margin: -2px 0 0;
				width: 100%; height: auto;
				max-height: 182px;
				overflow-y: auto;
				list-style: none;
				background: #ffffff;
				border: 2px solid #21b1ac;
				border-top: none;
				z-index: 1000;

				li {
					padding: 0 10px;
					color: #5d6d7d;
					font-size: 16px;
					line-height: 45px;
					cursor: pointer;

					.animate ();

					&:hover { color: #21b1ac; }
				}
			}
		}
	}

	&__btns { padding: 34px 0 0;
		& > * {
			display: block;
			float: left;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 14px;
			line-height: 45px;
			font-weight: 700;
			margin: 0 20px 0 0;
			border: none;
			cursor: pointer;
		}

		.main {
			padding: 0 23px 0 25px;
			background: #21b1ac;
			color: #ffffff;

			.animate ();

			&:hover {
				background: #ffffff;
				color: #21b1ac;

				-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
						box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
			}

			&:active {
				background: #0f8884;
				color: #ffffff;

				-webkit-box-shadow: none;
						box-shadow: none;
			}
		}
	}
}

.dev-game { position: relative;
	&:before {
		position: absolute;
		top: 0; left: 240px; bottom: 0;
		content: "";
		width: 3px;
		background: #f5f7f8;
	}

	&__nav { width: 240px;
		&-poster { padding: 25px 0 5px;
			&-img {
				width: 128px; height: 128px;
				overflow: hidden;
				margin: 0 auto;

				img {
					display: block;
					width: 128px; height: 128px;
				}
			}

			&-hr {
				width: 128px; height: 4px;
				background: black;
				margin: 0 auto 8px;
			}

			&-title {
				font-size: 16px;
				line-height: 32px;
				font-weight: 500;
				text-align: center;
				color: black;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				a {
					position: relative;
					display: block;
					color: #5d6d7d;
					text-decoration: none;
					font-size: 14px;
					line-height: 32px;
					font-weight: 500;
					padding: 0 0 0 35px;

					.animate ();

					&:hover { color: #21b1ac; }
				}

				&.active a {
					background: #ffffff;
					color: #21b1ac;
					cursor: default;

					&:before {
						position: absolute;
						top: 50%; left: 20px;
						content: "";
						width: 0; height: 0;
						margin: -4px 0 0;
						border-top: 4px solid transparent;
						border-left: 6px solid #21b1ac;
						border-bottom: 4px solid transparent;
					}
				}
			}
		}

		&-back {
			display: block;
			font-size: 13px;
			line-height: 32px;
			margin: 23px 0;
			padding: 0 0 0 22px;
			text-decoration: none;
			color: #a4afba;

			i {
				display: inline-block;
				vertical-align: top;
				font-size: 12px;
				line-height: 12px;
				margin: 10px 7px 0 0;
			}
		}
	}

	&__box {
		width: 650px;
		margin: 0 30px 0 0;
		padding: 36px 0;
	}

	&__head {
		position: relative;
		margin: 0 0 30px;
		border-bottom: 3px solid #f5f7f8;
		font-size: 24px;
		line-height: 40px;
		font-weight: 500;
		color: #34495e;

		span {
			position: absolute;
			bottom: 0; right: 0;
			font-weight: 700;
			color: #e8eaeb;
		}
	}

	&__info {
		&-field { margin: 0 0 16px;
			& > * {
				display: block;
				float: left;
			}

			& > label {
				font-size: 16px;
				line-height: 45px;
				color: #5d6d7d;
				width: 155px;
				margin: 0;

				&.tl {
					line-height: 20px;
					padding: 2px 0 3px;
				}

				&.sm { line-height: 30px; }
			}

			input[type=text] {
				width: 495px; height: 45px;
				border: 2px solid #ecf0f1;
				padding: 10px;
				font-size: 16px;
				line-height: 21px;
				color: #36485e;

				.animate ();

				&:focus { border-color: #21b1ac; }
			}

			textarea {
				width: 495px;
				border: 2px solid #ecf0f1;
				font-size: 16px;
				line-height: 24px;
				padding: 10px;
				color: #36485e;
				resize: none;

				.animate ();

				&:focus { border-color: #21b1ac; }
			}

			.check-box-alt {
				input { display: none; }
				label {
					position: relative;
					display: block;
					width: 62px; height: 30px;
					background: #d8dcdf;
					cursor: pointer;

					.animate ();

					&:before {
						position: absolute;
						top: 0; bottom: 0; left: 0;
						content: "";
						width: 22px;
						background: #0f8884;

						.animate ();
					}

					.icon-check {
						display: block;
						opacity: 0;
						position: absolute;
						top: 0; right: 22px; left: 0;
						text-align: center;
						font-size: 10px;
						line-height: 30px;
						color: #ffffff;

						.animate ();
					}

					.icon-uncheck {
						display: block;
						position: absolute;
						top: 0; right: 0; left: 22px;
						text-align: center;
						font-size: 10px;
						line-height: 30px;
						color: #5d6d7d;

						.animate ()
					}
				}

				input:checked + label { background: #21b1ac;
					&:before { left: 40px; }
					.icon-check { opacity: 1; }
					.icon-uncheck { opacity: 0; }
				}
			}

			.sel {
				position: relative;
				width: 495px; height: 45px;

				.sel_in {
					position: relative;
					width: 100%; height: 100%;
					color: #000000;
					cursor: pointer;
					border: 2px solid #ecf0f1;

					.animate ();
				}

				&:hover, &.is-opened {
					.sel_in { border-color: #21b1ac; }
					.sel_arrow { border-top-color: #21b1ac; }
				}

				.sel_title {
					display: block;
					font-size: 16px;
					line-height: 41px;
					color: #36485e;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					padding: 0 10px;
				}

				.sel_arrow {
					position: absolute;
					top: 18px; right: 17px;
					display: block;
					width: 0; height: 0;
					border-top: 5px solid #232323;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;

					.animate ();
				}
				
				.sel_list {
					position: absolute;
					top: 100%;
					display: none;
					margin: -2px 0 0;
					width: 100%; height: auto;
					max-height: 182px;
					overflow-y: auto;
					list-style: none;
					background: #ffffff;
					border: 2px solid #21b1ac;
					border-top: none;
					z-index: 1000;

					li {
						padding: 0 10px;
						color: #5d6d7d;
						font-size: 16px;
						line-height: 45px;
						cursor: pointer;

						.animate ();

						&:hover { color: #21b1ac; }
					}
				}
			}
		}

		&-btns { padding: 34px 0;
			& > * {
				display: block;
				float: left;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 14px;
				line-height: 45px;
				font-weight: 700;
				margin: 0 20px 0 0;
				border: none;
				cursor: pointer;
			}

			.main {
				padding: 0 24px 0 25px;
				background: #21b1ac;
				color: #ffffff;

				.animate ();

				&:hover {
					background: #ffffff;
					color: #21b1ac;

					-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
							box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
				}

				&:active {
					background: #0f8884;
					color: #ffffff;

					-webkit-box-shadow: none;
							box-shadow: none;
				}
			}

			.additional {
				padding: 0 14px 0 15px;
				background: none;
				color: #21b1ac;
				margin: 0 0 0 -10px;

				.animate ();
				.font (11px, 45px);

				&:hover { background: fade(#21b1ac, 15); }
			}
		}
	}

	&__images {
		&-field {
			margin: 0 0 20px;
			width: 560px;

			& > * {
				display: block;
				float: left;
			}

			& > label {
				font-size: 16px;
				line-height: 20px;
				color: #5d6d7d;
				width: 155px;
				margin: 0;
			}

			& > .clearfix { width: 405px; }

			&.f1 > label,
			&.f4 > label,
			&.f5 > label { padding: 5px 0 0; }

			&.f2 > label,
			&.f3 > label { line-height: 35px; }

			&.f1 img { width: 128px; height: 128px; }
			
			&.f2 img {
				width: 32px; height: 32px;
				margin: 2px 0 0;
			}
			
			&.f3 img {
				width: 16px; height: 16px;
				margin: 10px 0 0;
			}

			&.f4 img { width: 75px; height: 75px; }
			&.f5 img { width: 405px; height: 250px; }

			&.f5 .dev-game__images-btns * { margin: 10px 0 0!important; }
		}

		&-file { display: none; }
		&-poster {
			float: left;
			overflow: hidden;

			label { cursor: pointer; }
			img {
				display: block;
				margin: 0;
			}
		}

		&-btns { float: left;
			* {
				display: block;
				float: left;
				margin: 0 0 0 10px;
				padding: 0 18px;
				font-size: 11px;
				line-height: 35px;
				font-weight: 700;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 1px;
				color: #788898;
				cursor: pointer;

				.animate ();

				&:hover { background: #f4f5f6; }
				&:active {
					background: none;
					color: #5d6d7d;
				}
			}
		}

		&-txt {
			float: left;
			width: 100%;
			font-size: 12px;
			line-height: 18px;
			color: #8b99a6;
			margin: 7px 0 0;
		}
	}

	&__help-btns { padding: 0 0 0 155px;
		.main {
			padding: 0 18px 0 19px;
			background: #21b1ac;
			color: #ffffff;
			text-transform: uppercase;
			letter-spacing: 1px;
			border: none;
			cursor: pointer;

			.display (block);
			.animate ();
			.font (14px, 44px, 700);
			.size (auto, 45px);

			&:hover {
				background: #ffffff;
				color: #21b1ac;

				-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
						box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
			}

			&:active {
				background: #0f8884;
				color: #ffffff;

				-webkit-box-shadow: none;
						box-shadow: none;
			}
		}
	}
}

.dev-charts {
	.dev-game__head { margin: 0 0 22px; }
	&__tabs-list { padding: 0 0 60px;
		&-item {
			display: block;
			font-size: 14px;
			line-height: 28px;
			font-weight: 500;
			color: #5d6d7d;
			padding: 0 14px 2px;
			text-decoration: none;
			margin: 0 30px 0 0;

			.animate ();

			&:hover {
				background: #d3f0ef;
				color: #21b2ad;
			}

			&.active, &:active {
				background: #5d6d7d;
				color: #ffffff;
			}

			&.right { margin: 0; }
		}

		&-period {
			display: block;
			font-size: 14px;
			line-height: 28px;
			font-weight: 500;
			color: #5d6d7d;
		}
	}

	&__sub-title {
		font-size: 18px;
		line-height: 30px;
		font-weight: 500;
		color: #34495e;
		padding: 43px 0 24px;

		&.first { padding: 0 0 12px; }
	}

	&__txt {
		font-size: 14px;
		line-height: 20px;
		color: #5d6d7d;
		padding: 0 0 34px;

		span {
			color: #30b7b2;
			font-weight: 500;
		}
	}

	&__tabs-boxes {
		border-bottom: 3px solid #f5f7f8;
		padding: 0 0 50px;
	}

	&__tabs-box {
		display: none;

		&.shown { display: block; }
	}

	&__radio-btns {
		&-item { margin: 0 0 17px;
			input { display: none; }

			label {
				display: inline-block;
				cursor: pointer;
				font-size: 14px;
				line-height: 22px;
				font-weight: 500;
				color: #5d6d7d;

				span {
					display: inline-block;
					vertical-align: top;
					width: 22px; height: 22px;
					border-radius: 22px;
					border: 1px solid #838e90;
					margin: 0 18px 0 0;
					padding: 0 0 0 1px;
					text-align: center;

					-webkit-transition: background-color 300ms ease,
										border-color 300ms ease;
					   -moz-transition: background-color 300ms ease,
					   					border-color 300ms ease;
						-ms-transition: background-color 300ms ease,
										border-color 300ms ease;
						 -o-transition: background-color 300ms ease,
						 				border-color 300ms ease;
							transition: background-color 300ms ease,
										border-color 300ms ease;

					i {
						display: block;
						opacity: 0;
						font-size: 8px;
						line-height: 20px;
						color: #ffffff;
					}
				}

				&:hover span { border: 2px solid #745ec5;
					i { line-height: 18px; }
				}

				&:active span {
					background: #745ec5;
					border-color: #745ec5;

					i { opacity: 1; }
				}
			}

			input:checked + label { cursor: default;
				span {
					background: #745ec5;
					border-color: #745ec5;

					i { opacity: 1; }
				}
			}
		}
	}

	&__item { width: 650px;
		&.item-01,
		&.item-02 { height: 420px; }

		&.item-03,
		&.item-04,
		&.item-05 { height: 420px; }

		&.item-06,
		&.item-07,
		&.item-08,
		&.item-09,
		&.item-10,
		&.item-11,
		&.item-12,
		&.item-13 { width: 250px; height: 250px; }

		&.item-14,
		&.item-15 { height: 420px; }

		&.item-14 { margin: 0 0 50px; }
	}

	&__legend {
		width: 360px;
		margin: 0 0 100px;

		&.last { margin: 0; }

		table { width: 100%;
			th, td {
				width: 50%;
				text-align: left;
				font-size: 14px;
				line-height: 20px;
				font-weight: 500;
				color: #5d6d7d;
				padding: 12px;
			}

			th { background: #d8dcdf; }
			tr:nth-child(2n+2) td { background: #f0f4f9; }

			td span {
				display: inline-block;
				vertical-align: top;
				width: 20px; height: 20px;
				margin: 0 10px 0 0;
			}

			tr:nth-child(1) td span { background: #755ec6; }
			tr:nth-child(2) td span { background: #5762d5; }
			tr:nth-child(3) td span { background: #3079df; }
			tr:nth-child(4) td span { background: #21b2ad; }
		}
	}
}

.dev-billing {
	&__balance { margin: -7px 0 25px;
		.font (18px, 20px);
	}

	&__field { margin: 0 0 29px;
		label {
			float: left;
			margin: 0;

			.size (160px);
			.display (block);
			.font (16px, 20px);
		}

		input {
			float: left;
			color: #36485e;
			border: 2px solid #ecf0f1;
			padding: 0 10px;

			.size (490px, 45px);
			.display (block);
			.font (16px, 41px);
			.animate ();

			&:focus { border-color: #21b1ac; }
		}
	}

	&__log { margin: 0 0 20px;
		a {
			text-decoration: none;
			color: #21b1ac;

			.display (inline-block);
			.font (16px, 19px);

			&:hover { text-decoration: underline; }
		}
	}

	.dev-game__info-btns { padding: 0 0 45px; }
	&__dating { margin: -5px 0 30px;
		.font (14px, 18px, 500);
	}

	.dev-charts__item { margin: 0 0 30px; }
	&__history { margin: -10px 0 0;
		&-search { margin: 0 0 17px;
			input {
				float: left;
				border: 1px solid #c4c9cf;
				border-right: none;
				padding: 0 14px;
				color: #808b96;

				.size (600px, 40px);
				.font (14px, 38px);
			}

			button {
				float: left;
				border: none;
				padding: 2px 0 0;
				color: #ffffff;
				background: #21b2ad;

				.size (50px, 40px);
				.font (18px, 38px);
			}
		}

		&-table table { .size (100%);
			thead th {
				text-align: left;
				color: #88939d;
				border-bottom: 1px solid #f5f7f8;

				.font (14px, 32px, 400);

				&:nth-child(1) { .size (345px); }
				&:nth-child(2) { .size (180px); }
				&:nth-child(3) { .size (125px); }
			}

			tbody {
				td { color: #88939d;
					.font (15px, 32px);

					a {
						color: #21b2ad;
						text-decoration: none;

						&:hover { text-decoration: underline; }
					}
				}

				tr:first-of-type td { padding-top: 10px; }
			}
		}

		&-more {
			margin: 25px 0 0;
			text-align: center;

			.position (relative);

			&:before {
				z-index: 1;
				content: "";
				background: #f5f7f8;

				.size (auto, 3px);
				.position (absolute, 50%, 0, auto, 0);
				.transform (translate(0, -50%));
			}

			a {
				text-transform: uppercase;
				border: 2px solid #ebebeb;
				z-index: 2;
				background: #ffffff;
				text-decoration: none;
				padding: 0 30px 0 14px;
				letter-spacing: 1px;
				color: #3a6f81;

				.display (inline-block);
				.position (relative);
				.font (14px, 26px, 500);
				.animate ();

				i {
					.position (absolute, 7px, 11px);
					.display (block);
					.transform (rotate(-90deg));
					.font (9px);
				}

				&:hover { background: #f9f9f9; }
				&:active { background: #ebebeb; }
			}
		}
	}
}

.dev-roles {
	&__head {
		border-bottom: 3px solid #f5f7f8;
		margin: 0 0 25px;

		&-title { padding: 7px 0 0;
			.font (0);
			
			& > span {
				color: #34495e;
				padding: 5px 0 14px;

				.display (inline-block);
				.font (24px, 9px, 500);
			}
		}

		&-tooltip { margin: 0 0 0 16px;
			.display (inline-block);
			.position (relative);

			& > i {
				font-style: normal;
				color: #ffffff;
				background: #c2c7cd;
				text-align: center;
				cursor: default;

				.display (block);
				.size (20px, 20px);
				.border-radius (20px);
				.font (13px, 20px, 700);
				.animate ();
			}

			& > div {
				background: #515151;
				color: #ffffff;
				padding: 8px 13px 10px;

				.size (500px);
				.position (absolute, auto, auto, 30px, -37px);
				.font (13px, 16px);
				.display (none);

				&:after {
					content: "";
					border-top: 5px solid #515151;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;

					.display (block);
					.size (0);
					.position (absolute, auto, auto, -5px, 42px);
				}
			}

			&--noWrap > div { white-space: nowrap;
				.size (auto);
			}

			&:hover {
				& > i { background: #5d6d7d; }
				& > div { .display (block); }
			}
		}

		&-add a {
			text-decoration: none;
			padding: 0 9px 0 10px;
			color: #21b1ac;
			text-transform: uppercase;
			letter-spacing: 1px;

			.display (block);
			.size (auto, 35px);
			.font (11px, 35px, 700);
			.animate ();

			&:hover { background: #e4f6f5; }
		}
	}

	&__list { margin: 0 -40px 20px -10px;
		&-item {
			padding: 10px;
			margin: 0 30px 20px 0;
			float: left;

			.size (320px);
			.position (relative);
			.animate ();

			&:hover { background: #f9fafb; }
			img {
				.display (block);
				.size (70px, 70px);
			}

			&-box { .position (relative); }
			&-name { color: #2d3e50;
				.position (absolute, 50%, 25px, auto, 85px);
				.transform (translate(0, -50%));
				.font (16px, 20px);
			}

			&-delete {
				text-decoration: none;
				color: #c8cacb;

				.display (none);
				.position (absolute, 10px, 10px);
				.font (15px);
				.animate ();

				&:hover { color: #5d6d7d; }
			}

			&:hover .dev-roles__list-item-delete { .display (block); }
			&-checkbox { margin: 10px 0 0;
				& > label {
					padding: 1px 0 1px 30px;
					cursor: pointer;
					color: #687786;

					.position (relative);
					.font (13px, 20px);

					span {
						border: 2px solid #aeb6be;
						background: #ffffff;

						.position-tl (absolute, 0, 0);
						.size (22px, 22px);

						i {
							text-align: center;
							color: #aeb6be;
							padding: 1px 0 0 1px;
							opacity: 0;

							.display (block);
							.size (18px, 17px);
							.font (8px, 18px);
							.animate ();
						}
					}
				}

				& > input { .display (none);
					&:checked + label span i { opacity: 1; }
				}
			}
		}
	}
}

.dev-add-file {
	text-decoration: none;
	border: none;
	cursor: pointer;
	
	.position (relative);
	.size (230px, 45px);

	span {
		background: #c2c7cd;
		text-align: center;
		color: #ffffff;
		overflow: hidden;
		z-index: 1;
		text-transform: uppercase;
		padding: 0 1px 0 51px;
		letter-spacing: 1px;

		.display (block);
		.size (230px, 45px);
		.position (relative);
		.animate ();
		.font (14px, 44px, 700);

		&:before {
			content: "";
			background: #aeb3b8;

			.display (block);
			.size (1px);
			.position (absolute, 3px, auto, 3px, 50px);
		}

		i {
			.font (20px);
			.position-tl (absolute, 12px, 14px);
		}
	}

	input {
		cursor: pointer;
		opacity: 0;
		z-index: 2;

		.display (block);
		.size (100%, 100%);
		.position (absolute, 0, 0, 0, 0);
	}

	&--alt {
		span {
			background: #21b1ac;
			color: #ffffff;

			.animate ();

			&:before { background: fade(#ffffff, 20);
				.animate ();
			}
		}

		&:hover span {
			background: #ffffff;
			color: #21b1ac;

			-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
					box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

			&:before { background: fade(#21b1ac, 20); }
		}

		&:active span {
			background: #0f8884;
			color: #ffffff;

			-webkit-box-shadow: none;
					box-shadow: none;
		}
	}
}

.dev-dialog {
	&__content {
		&--help, &--addAdmin, &--deleteTester {
			width: 540px!important;
			margin-left: -270px!important;
		}

		.ui {
			&.selection.dropdown { border: 2px solid #ecf0f1!important;
				.box-shadow (none);
				.border-radius (0);

				.menu {
					border: 2px solid #ecf0f1!important;
					border-top: none!important;
					margin: 0;
					width: auto;
					right: -2px; left: -2px;
					margin-top: 2px!important;
					background: #ffffff;

					.box-shadow (none);
					.border-radius (0);
					.min-size (initial, initial);

					& > .item {
						padding: 10px!important;
						background: #ffffff;
						border: none;

						&:hover { background: #e8f7f7; }
						.dev-roles__list-item-name { left: 90px; }
						& > img {
							.display (block);
							.size (70px, 70px);
							.max-size (initial, initial);
						}
					}
				}
			}

			&.multiple.dropdown { padding: 5px;
				& > .label {
					border: none;
					color: #ffffff;
					background: #5d6d7d;
					text-decoration: none;
					margin: 0 5px 0 0;
					padding: 0 40px 0 10px;

					.font (16px, 31px);

					.icon-close {
						cursor: pointer;
						text-align: center;

						.display (block);
						.position (absolute, 0, 0);
						.size (35px, 31px);
						.font (13px, 31px);
					}
				}
			}

			&.multiple.search.dropdown {
				& > .text {
					margin: 0;
					padding: 0 15px;

					.font (16px, 41px);
				}

				& > input.search {
					margin: 0;
					padding: 0 20px 0 10px;
					height: 29px;

					.font (16px, 31px);
					.min-size (40px, initial);
				}
			}
		}
	}

	&__header {
		&--help {
			background: #755ec6;
			color: #ffffff;

			.position (relative);

			&:after {
				content: "";
				background: #5e4b9e;

				.display (block);
				.position (absolute, 15px, 79px, 15px);
				.size (1px);
			}

			.dev-dialog__header {
				&-title {
					text-align: center;
					padding: 0 0 7px;

					.font (30px, 73px, 500);
				}

				&-close {
					text-decoration: none;
					color: #ffffff;
					text-align: center;

					.display (block);
					.position (absolute, 0, 0);
					.font (25px, 80px);
					.size (80px, 80px);
				}
			}
		}

		&--deleteTester {
			background: #21b1ac;
			color: #ffffff;

			.position (relative);

			&:before, &:after {
				content: "";
				background: #15726e;

				.display (block);
				.size (1px);
			}

			&:before { .position (absolute, 15px, auto, 15px, 79px); }
			&:after { .position (absolute, 15px, 79px, 15px); }
			.dev-dialog__header {
				&-title {
					text-align: center;
					padding: 0 0 7px;

					.font (30px, 73px, 500);
				}

				&-icon { border: 2px solid #ffffff;
					.size (36px, 36px);
					.border-radius (36px);
					.position-tl (absolute, 22px, 22px);

					&:before {
						content: "";
						background: #ffffff;

						.display (block);
						.size (20px, 2px);
						.position-tl (absolute, 50%, 50%);
						.transform (translate(-50%, -50%));
					}
				}

				&-close {
					text-decoration: none;
					color: #ffffff;
					text-align: center;

					.display (block);
					.position (absolute, 0, 0);
					.font (25px, 80px);
					.size (80px, 80px);
				}
			}
		}

		&--addMoreAdmins {
			background: #21b1ac;
			color: #ffffff;

			.position (relative);

			&:before, &:after {
				content: "";
				background: #15726e;

				.display (block);
				.size (1px);
			}

			&:before { .position (absolute, 15px, auto, 15px, 79px); }
			&:after { .position (absolute, 15px, 79px, 15px); }
			.dev-dialog__header {
				&-title {
					text-align: center;
					padding: 0 0 7px;

					.font (30px, 73px, 500);
				}

				&-icon { text-align: center;
					.size (36px, 36px);
					.position-tl (absolute, 22px, 22px);

					i { .font (20px, 36px); }
				}

				&-close {
					text-decoration: none;
					color: #ffffff;
					text-align: center;

					.display (block);
					.position (absolute, 0, 0);
					.font (25px, 80px);
					.size (80px, 80px);
				}
			}
		}

		&--addAdmin {
			background: #21b1ac;
			color: #ffffff;

			.position (relative);

			&:before, &:after {
				content: "";
				background: #15726e;

				.display (block);
				.size (1px);
			}

			&:before { .position (absolute, 15px, auto, 15px, 79px); }
			&:after { .position (absolute, 15px, 79px, 15px); }
			.dev-dialog__header {
				&-title {
					text-align: center;
					padding: 0 0 5px;

					.font (24px, 75px, 500);
				}

				&-icon { text-align: center;
					.size (36px, 36px);
					.position-tl (absolute, 22px, 22px);

					i { .font (20px, 36px); }
				}

				&-close {
					text-decoration: none;
					color: #ffffff;
					text-align: center;

					.display (block);
					.position (absolute, 0, 0);
					.font (25px, 80px);
					.size (80px, 80px);
				}
			}
		}

		&--preview {
			background: #21b1ac;
			color: #ffffff;

			.position (relative);

			&:before, &:after {
				content: "";
				background: #15726e;

				.display (block);
				.size (1px);
			}

			&:before { .position (absolute, 15px, auto, 15px, 79px); }
			&:after { .position (absolute, 15px, 79px, 15px); }
			.dev-dialog__header {
				&-title {
					text-align: center;
					padding: 0 0 7px;

					.font (30px, 73px, 500);
				}

				&-icon { text-align: center;
					.size (36px, 36px);
					.position-tl (absolute, 22px, 22px);

					i { .font (35px, 36px); }
				}

				&-close {
					text-decoration: none;
					color: #ffffff;
					text-align: center;

					.display (block);
					.position (absolute, 0, 0);
					.font (25px, 80px);
					.size (80px, 80px);
				}
			}
		}
	}

	&__help { padding: 30px;
		input[type=text] {
			border: 2px solid #ecf0f1;
			padding: 10px;
			color: #36485e;
			margin: 0 0 15px;

			.animate ();
			.font (16px, 21px);
			.size (100%, 45px);
			.display (block);

			&:focus { border-color: #21b1ac; }
		}

		textarea {
			border: 2px solid #ecf0f1;
			padding: 10px;
			color: #36485e;
			resize: none;
			margin: 0 0 15px;

			.animate ();
			.font (16px, 24px);
			.size (100%);
			.display (block);

			&:focus { border-color: #21b1ac; }
		}

		.sel {
			margin: 0 0 15px;
			z-index: 2;

			.position (relative);
			.size (100%, 45px);
			.display (block);

			.sel_in {
				position: relative;
				width: 100%; height: 100%;
				color: #000000;
				cursor: pointer;
				border: 2px solid #ecf0f1;

				.animate ();
			}

			&:hover, &.is-opened {
				.sel_in { border-color: #21b1ac; }
				.sel_arrow { border-top-color: #21b1ac; }
			}

			.sel_title {
				display: block;
				font-size: 16px;
				line-height: 41px;
				color: #36485e;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 0 10px;
			}

			.sel_arrow {
				position: absolute;
				top: 18px; right: 17px;
				display: block;
				width: 0; height: 0;
				border-top: 5px solid #232323;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;

				.animate ();
			}
				
			.sel_list {
				position: absolute;
				top: 100%;
				display: none;
				margin: -2px 0 0;
				width: 100%; height: auto;
				max-height: 182px;
				overflow-y: auto;
				list-style: none;
				background: #ffffff;
				border: 2px solid #21b1ac;
				border-top: none;
				z-index: 1000;

				li {
					padding: 0 10px;
					color: #5d6d7d;
					font-size: 16px;
					line-height: 45px;
					cursor: pointer;

					.animate ();

					&:hover { color: #21b1ac; }
				}
			}
		}

		&-btns {
			.main {
				padding: 0 18px 0 19px;
				background: #755ec6;
				color: #ffffff;
				text-transform: uppercase;
				letter-spacing: 1px;
				border: none;
				cursor: pointer;

				.display (block);
				.animate ();
				.font (14px, 44px, 700);
				.size (auto, 45px);

				&:hover {
					background: #ffffff;
					color: #755ec6;

					-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
							box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
				}

				&:active {
					background: #5e4b9e;
					color: #ffffff;

					-webkit-box-shadow: none;
							box-shadow: none;
				}
			}
		}
	}

	&__deleteTester { padding: 28px 32px 10px;
		p {
			margin: 0 0 20px;
			color: #000000;

			.font (16px, 20px);
		}
	}

	&__addMoreAdmins {
		padding: 28px 32px 30px;
		z-index: 2;

		.position (relative);
		
		p {
			margin: 0 0 20px;
			color: #000000;

			.font (16px, 20px);
		}
	}

	&__addAdmin { padding: 30px 32px;
		.dev-add-game__btns { padding: 15px 0 0;
			.main {
				margin: 0;
				float: right;
			}
		}

		.dev-billing__history-search { margin: 0;
			input {
				border: 2px solid #ecf0f1;
				border-right: none;

				.size (426px);
				.font (16px, 41px);
			}

			button {
				padding-top: 5px;

				.size (50px, 45px);
			}
		}

		&-box {
			z-index: 2;

			.position (relative);
		}

		&-result {
			border: 2px solid #ecf0f1;
			border-top: none;
			padding: 10px 14px;
			cursor: pointer;
			background: #ffffff;

			.animate ();
			.position (absolute, 100%, 0, auto, 0);
			.display (none);

			.dev-roles__list-item-name { left: 98px; }
			&:hover { background: #e8f7f7; }
			img {
				.display (block);
				.size (70px, 70px);
			}
		}

		&-done {
			border: 2px solid #ecf0f1;
			padding: 5px;

			.font (0);
			.display (none);

			&-item {
				color: #ffffff;

				.position (relative);
				.display (inline-block);

				&-name {
					padding: 0 40px 0 10px;
					background: #5d6d7d;

					.font (16px, 28px);
					.size (auto, 31px);
				}

				&-delete {
					cursor: pointer;
					text-align: center;
					padding: 2px 0 0;

					.position (absolute, 0, 0);
					.font (13px, 29px);
					.size (31px, 31px);
				}
			}
		}
	}

	&__preview { padding: 30px 30px 20px;
		.dev-new__item { padding-right: 0; }
	}

	&__addNews { padding: 30px 30px 14px 35px;
		.dev-game__info-field {
			input[type=text] { .size (670px, 45px); }
			textarea { .size (670px); }
		}
	}

	&__footer {
		border-top: 3px solid #f5f7f8;
		padding: 10px 30px;

		&--alt {
			border: none;
			background: #f5f7f8;
		}

		& > a {
			margin: 0 0 0 10px;
			padding: 0 14px 0 15px;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1px;

			.font (14px, 45px, 500);
			.animate ();
		}

		&-main { color: #21b1ac;
			&:hover { background: fade(#21b1ac, 15); }
		}
		
		&-additional { color: #808b96;
			&:hover { background: fade(#808b96, 15); }
		}
	}
}

.dev-news {
	&__file {
		margin: 0 0 15px;
		padding: 0 0 0 155px;
	}

	&__uploaded { padding: 0 0 16px 155px;
		&-photo {
			.size (300px);
			.position (relative);

			img {
				.display (block);
				.size (100%);
			}
		}

		&-delete {
			text-decoration: none;
			color: #ffffff;
			text-align: center;
			background: fade(#000000, 50);

			.position (absolute, 0, 0);
			.size (24px, 24px);
			.font (12px, 24px);

			span {
				background: #515151;
				color: #ffffff;
				padding: 8px 13px 10px;
				white-space: nowrap;

				.display (none);
				.position (absolute, auto, auto, 32px, 50%);
				.transform (translate(-50%, 0));
				.font (13px, 16px);

				&:after {
					content: "";
					border-top: 5px solid #515151;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					
					.display (block);
					.size (0);
					.position (absolute, auto, auto, -5px, 50%);
					.transform (translate(-50%, 0));
				}
			}

			&:hover span { .display (block); }
		}
	}

	.dev-game__info-btns { padding: 0 0 40px 155px; }
	&__history-box .dev-news__item {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ecf0f1;

		&:last-of-type {
			border: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	&__item { padding: 0 75px 0 95px;
		.position (relative);

		&-avatar { .position-tl (absolute, 0, 0);
			img {
				.display (block);
				.size (80px, 80px);
			}
		}

		&-tools { .position (absolute, 0, 0);
			& > a {
				text-decoration: none;
				color: #86919b;
				float: left;
				margin: 0 0 0 20px;

				.display (block);
				.animate ();
				.size (20px, 20px);
				.position (relative);

				span {
					background: #515151;
					color: #ffffff;
					padding: 8px 13px 10px;
					white-space: nowrap;

					.display (none);
					.position (absolute, auto, auto, 32px, 50%);
					.transform (translate(-50%, 0));
					.font (13px, 16px);

					&:after {
						content: "";
						border-top: 5px solid #515151;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;

						.display (block);
						.size (0);
						.position (absolute, auto, auto, -5px, 50%);
						.transform (translate(-50%, 0));
					}
				}

				.icon {
					&-edit { .font (20px); }
					&-remove { .font (19px, 20px); }
				}

				&:hover { color: #21b1ac;
					span { .display (block); }
				}
			}
		}

		&-game {
			color: #2d3e50;
			padding: 0 0 6px;

			.font (18px, 16px);
		}

		&-title {
			letter-spacing: 1px;
			text-transform: uppercase;

			.font (15px, 20px, 500);
		}

		p { margin: 0;
			.font (15px, 20px);
			
			a {
				text-decoration: none;
				color: #27ae61;

				&:hover { text-decoration: underline; }
			}
		}

		&-poster { margin: 10px 0 0;
			img {
				.display (block);
				.size (auto);
				.max-size (100%, initial);
			}
		}

		&-date {
			color: #7c7a74;
			margin: 10px 0 0;

			.font (13px, 15px);
		}

		&-deleteBox {
			z-index: 20;
			background: fade(#000000, 10);

			.position (absolute, -5px, -5px, -5px, -5px);
			.display (none);

			&-in {
				background: #415161;
				color: #ffffff;
				text-align: center;
				padding: 15px 25px;

				.position-tl (absolute, 50%, 50%);
				.transform (translate(-50%, -50%));
				.font (0);

				span { margin: 0 0 5px;
					.display (block);
					.font (14px, 20px);
				}

				a {
					border-bottom: 1px dotted #52bab1;
					text-decoration: none;
					color: #52bab1;
					margin: 0 5px;

					.display (inline-block);
					.font (14px, 20px);

					&:hover { border-color: transparent; }
				}
			}
		}
	}
}

.dev-footer {
	height: 70px;
	background: #d8dcdf;
	color: #5d6d7d;
	padding: 20px 0;

	.container { padding: 0 30px; }

	&__copyrights {
		font-size: 14px;
		line-height: 30px;
	}

	&__nav ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: block;
			float: left;
			font-size: 14px;
			line-height: 30px;

			a {
				display: block;
				text-decoration: none;
				color: #5d6d7d;

				&:hover { text-decoration: underline; }
			}

			&.sep { padding: 0 12px; }
		}
	}
}

@import "_transition.less";
@import "_dropdown.less";
@import "_dialog.less";