{% if not userData.isEmailChecked %}
    <div id="emailNotChecked" style="width: 100%; background-color: #34495e; text-align: center; font: 17px 'Roboto-Medium', sans-serif; vertical-align: baseline; line-height: 50px;">
        <a data-modal="settings-modal" data-module="users" data-method="setTabAccessSettings" href="#" style=" color: #fff; display:inline;">Ваш емейл не подтвержден! На адрес {{ userData.email }} было отправлено письмо - перейдите по указанной в нем ссылке.</a>&nbsp;
        <a href="#" onclick="ExeRu.users.sendEmailCheck(this); return false;" style="display:inline;color:#fff;border-bottom:dotted 1px;">Отправить заново.</a>
    </div>
{% endif %}