<div id="push_new_messages" style="width: 100%; background-color: #ffa800; text-align: center; font: 17px 'Roboto-Medium', sans-serif; vertical-align: baseline; line-height: 50px; display:none;">
    <span style="color: #fff; display: inline;">Хотите получать уведомления от EXE.ru о новых сообщениях? <a href="#" style="display:inline;color:#fff;border-bottom: 1px dotted #fff;padding: 2px;" onclick="pushControl('subscribe', 'new_messages'); return false;">Да</a> / <a href="#" style="display: inline;color: #fff;border-bottom: 1px dotted #fff;padding: 2px;" onclick="pushControl('unsubscribe', 'new_messages'); return false;">Нет</a></span>
</div>