.may-banner {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6000;
}
.may-banner--overlay {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.may-banner--in {
    background: #ffffff center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 650px;
    z-index: 2;
}
.may-banner--close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 73px;
    height: 73px;
    z-index: 2;
    background: url(/assets/img/promo/1/may-banner--close_2.png) center center no-repeat;
}
.may-banner--close:hover {
    opacity: 0.6;
}
.may-banner--link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
