<div class="modal-wrap" id="add-feed-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <div class="modal__icon modal__icon--games"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Добавить новость</h2>
        </div>
        <div class="modal__content modal__content--grey modal__content--add__feed">
            <div class="add-feed" >Игра предлагает разместить у Вас в новостях следующую запись.</div>
            <div class="friends-search-wrap friends-search-wrap-scroll">
                <ul class="news-list">
                    <li class="news-list__item">
                        <div class="news-list__item--left">
                            <a href="#" data-modal="user-modal" data-uid="{{ userData.uid }}" data-module="users" data-method="getUser"><img src="{{ constant('IMAGE_HOST') }}{{ userData.photo.70 }}"></a>
                            <div class="news-list__item__author">
                                <a href="#" data-modal="user-modal" data-uid="{{ userData.uid }}" data-module="users" data-method="getUser">{{ userData.name|length > 15 ? userData.name[:12] ~ '...' : userData.name }} {{ userData.last_name|length > 15 ? userData.last_name[:12] ~ '...' : userData.last_name }}</a>
                                <p>Представляешь, я достиг 3-го уровня! Не веришь? Зайди в игру и порадуйся вместе со мной.</p>
                                <a href="/app{{ gameData.gid }}" class="news-list__item__banner"><img src=""></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <a class="friends-search__btn btn-main" href="#">Разместить</a>
        </div>
    </div>
</div>
<div data-modal="add-feed-modal"></div>