<div style="display:none">
    <a href="#" data-modal="assign-modal"></a>
</div>
<div class="modal-wrap" id="assign-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--config"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Адрес используется</h2>
        </div>
        <div class="modal__content modal__content--center">
            <p>Пользователь с указанным электронным адресом уже есть на сайте.</p>
            <div class="modal__content__btn-group modal__content__btn-group--dialog">
                <button type="button" class="modal__content__btn" onclick="assignAccounts();">Связать аккаунты</button>
                <button type="button" class="modal__content__btn modal__content__btn--grey" data-modal="settings-modal">Отмена</button>
            </div>
        </div>
    </div>
</div>