<div class="modal-wrap" id="buy-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--config"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Покупка</h2>
        </div>
        <div class="modal__content">
            <div>
                <div class="buy-image"><img src=""></div>
                <div class="buy-content">
                    <p class="buy-what">Вы покупаете: <span></span></p>
                    <p class="buy-cost">Стоимость: <span></span></p>
                    <p class="buy-balance">Ваш баланс: <span></span></p>
                </div>
                <div>
                    <p class="buy-no-money">На вашем счете недостаточно средств.</p>
                    {% if userData.isTemporaryUser %}
                    <p class="buy-licence-agree">Совершая покупку, Вы принимаете <a href="/rules" target="_blank">условия использования</a>.</p>
                    {% endif %}
                    {% if hasAccess(userData.uid, gameData.gid, constant('\\Base\\Service\\Roles::ACCESS_PAYMENTS')) %}
                    <p class="buy-test-payment sign-input">
                        <input type="checkbox" id="test_payment" class="sign-input__checkbox" name="test_payment" checked="checked"/>
                        <label for="test_payment">Тестовый платеж</label>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <button type="button" class="modal__content__btn modal__content__btn--grey form-submit form-submit-cancel" data-module="payments" data-method="buyButtonCancel">Отмена</button>
            <button type="button" class="modal__content__btn form-submit form-submit-buy">Купить</button>
        </div>
    </div>
</div>
<div data-modal="buy-modal"></div>