<div class="modal-wrap" id="buy-success-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--config"></div>
            {#<div class="modal__close" data-modal-close></div>#}
            <h2>Покупка совершена</h2>
        </div>
        <div class="modal__content">
            <div>
                <div class="buy-image"><img src=""></div>
                <div class="buy-content">
                    <p class="buy-what">Успешно куплено: <span></span></p>
                    <p class="buy-cost">Списано со счета: <span></span></p>
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <button type="button" class="modal__content__btn form-submit form-submit-buy" data-modal-close>Закрыть</button>
        </div>
    </div>
</div>
<div data-modal="buy-success-modal"></div>