<div class="modal-wrap" id="developer">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--news"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Разработчик</h2>
        </div>
        <div class="modal__content addinfo">
            <h4>Описание приложения</h4>
            <p>{{ gameData.developer.description}}</p>
            <h4>О разработчике</h4>
            <p>{{ gameData.developer.developer_info | raw}}</p>
        </div>
    </div>
</div>