<div class="modal-wrap" id="dialogs-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--comments"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Общение</h2>
        </div>
        <div class="modal__tabs">
            <ul class="modal-tabs__list">
                <li><a href="#" data-tab-target="tab_1" data-module="dialogs" data-method="showDialogsList">Все диалоги</a></li>
                <li id="tabCurrentDialog"><a href="#" data-tab-target="tab_3" data-module="dialogs" data-method="showDialog"></a></li>
                <li><a href="#" data-tab-target="tab_2" data-module="dialogs" data-method="getUsers">Написать сообщение</a></li>
            </ul>
        </div>
        <div class="tabControl">
            <div class="modal__search modal__search--purple tab_1">
                <form autocomplete="off">
                <input class="modal__search--text modal__search--text--full" type="text" placeholder="Введите имя человека">
                <div class="modal__search--submit-wrap" data-module="dialogs" data-method="dialogsListFilter" data-textSelector=".dialog-list__item__who a" data-parentId="dialogsList">
                    <input class="modal__search--submit" type="submit" value="">
                </div>
                </form>
            </div>
            <div class="modal__content modal__content--dialog tab_1" id="dialogsList"></div>
            <div class="modal__content tab_2">
                <div class="form-wrap">
                    <form class="form" action="" autocomplete="off">
                        <div class="form-input-wrap form-input-wrap--userlist">
                            <label class="form-label">Получатель</label>
                            <input name="recipientId" type="hidden">
                            <input name="captcha" type="hidden">
                            <input name="recipient" class="form-input" type="text" placeholder="Введите имя человека">
                            <div class="form-arrow"{# data-toggle="dropdown"#} style="top:50px;"></div>
                            <ul class="form-input-wrap-dropdown users-dropdown-list">
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                                <li data-uid="123">123</li>
                            </ul>
                        </div>
                        <div class="form-input-wrap">
                            <label class="form-label">Текст сообщения</label>
                            <div class="form-textarea" placeholder="Введите текст сообщения" contenteditable="true"></div>
                            <div class="form-smile" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                <div class="form-dropdown-smile">
                                    <ul class="smiles-list">
                                        {% for i in 0 .. 31 %}
                                            <li><img src="/assets/img/blank.gif" data-smile="{{ i }}" style="background-position:0 -{{ i*17 }}px;"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="recaptcha_message" style="margin-top:20px;margin-bottom:20px;float:right;display:block;"></div>
                            <input class="form-submit" type="button" value="Отправить" data-module="dialogs" data-method="sendMessage"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal__search modal__search--purple tab_3">
                <form autocomplete="off">
                <input class="modal__search--text" type="text" placeholder="Текст для поиска по диалогу">
                <div class="modal__search--submit-wrap" data-module="dialogs" data-method="dialogsListFilter" data-textSelector="p[data-mid]" data-parentId="oneDialogMessages">
                    <input class="modal__search--submit" type="submit" value="">
                </div>
                </form>
                <div class="modal__filter dropdown">
                    <div class="modal__filter-icon" data-toggle="dropdown"></div>
                    <ul class="modal__filter__list dropdown-menu">
                        <li data-module="dialogs" data-method="toBlackList">
                            <a href="#" class="modal__filter__item--disable-user">Заблокировать пользователя</a>
                        </li>
                        <li data-module="dialogs" data-method="confirmDeleteCurrentDialog">
                            <a href="#" class="modal__filter__item--delele-msg">Удалить переписку</a>
                        </li>
{#
                        <li>
                            <a href="#" class="modal__filter__item--turn-notif">Выключить уведомления в браузере</a>
                        </li>
                        <li>
                            <a href="#" class="modal__filter__item--turn-sound">Выключить звук</a>
                        </li>
#}
                    </ul>
                </div>
            </div>
            <div class="modal__content tab_3" id="oneDialogMessages">
                {#<div class="messages-wrap"></div>#}
            </div>
            <div class="write-message tab_3">
                <a href="#" data-modal="user-modal" data-module="users" data-method="getUser" data-uid="{{ userData.uid }}"><img src="{{ constant('IMAGE_HOST') }}{{ userData.photo.70 }}" /></a>
                <div class="form-wrap form-wrap--message">
                    <div class="write-message--typing"><img src="/assets/img/typing.gif"/> набирает сообщение...</div>
                    <form class="form" action="" autocomplete="off">
                        <input name="recipientId" type="hidden">
                        <input name="captcha" type="hidden">
                        <div class="form-input-wrap form-input-wrap--smile">
                            <div class="form-textarea form-textarea--message" placeholder="Введите текст сообщения" contenteditable="true"></div>
                            <div class="form-smile" unselectable="on" onselectstart="return false;" onmousedown="return false;">
                                <div class="form-dropdown-smile">
                                    <ul class="smiles-list">
                                        {% for i in 0 .. 31 %}
                                            <li><img src="/assets/img/blank.gif" data-smile="{{ i }}" style="background-position:0 -{{ i*17 }}px;"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="recaptcha_dialog" style="margin-top:20px;margin-bottom:20px;float:right;display:block;"></div>
                            <input class="form-submit" type="button" value="Отправить"  data-module="dialogs" data-method="sendMessage"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>