<div class="modal-wrap" id="friends-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--friends"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Друзья</h2>
        </div>
        <div class="modal__tabs">
            <ul class="modal-tabs__list">
                <li><a href="#" data-tab-target="tab_1" data-module="friends" data-method="renderList">Друзья</a></li>
            </ul>
        </div>
        <div class="tabControl">
            <div class="modal__search modal__search--purple tab_1">
                <form autocomplete="off">
                {# При включении фильтра удалить класс modal__search--text--full #}
                <input class="modal__search--text modal__search--text--full" type="text" placeholder="Введите имя человека">
                <div class="modal__search--submit-wrap">
                    <input class="modal__search--submit" type="submit" value="">
                </div>
                </form>
                {# Фильтр по играм пока отключен #}
{#                <div class="modal__filter">
                    <div class="modal__filter-icon modal__filter-icon--modal" data-toggle="modal" data-target="#filterModal"></div>
                    <ul class="modal__filter__list" id="filterModal">
                    <li>
                        <div class="filter-checkbox-wrap">
                            <img src="/assets/img/request-game-img1.png">
                            <input type="checkbox" id="filter-checkbox1">
                            <div class="filter-checkbox-content">
                                <span class="filter-checkbox-name">Родина</span>
                                <span class="filter-checkbox-count">4 друга</span>
                            </div>
                            <label for="filter-checkbox1"></label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-checkbox-wrap">
                            <img src="/assets/img/request-game-img1.png">
                            <input type="checkbox" id="filter-checkbox2">
                            <div class="filter-checkbox-content">
                                <span class="filter-checkbox-name">Родина</span>
                                <span class="filter-checkbox-count">4 друга</span>
                            </div>
                            <label for="filter-checkbox2"></label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-checkbox-wrap">
                            <img src="/assets/img/request-game-img1.png">
                            <input type="checkbox" id="filter-checkbox3">
                            <div class="filter-checkbox-content">
                                <span class="filter-checkbox-name">Родина</span>
                                <span class="filter-checkbox-count">4 друга</span>
                            </div>
                            <label for="filter-checkbox3"></label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-checkbox-wrap">
                            <img src="/assets/img/request-game-img1.png">
                            <input type="checkbox" id="filter-checkbox4">
                            <div class="filter-checkbox-content">
                                <span class="filter-checkbox-name">Родина</span>
                                <span class="filter-checkbox-count">4 друга</span>
                            </div>
                            <label for="filter-checkbox4"></label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-checkbox-wrap">
                            <img src="/assets/img/request-game-img1.png">
                            <input type="checkbox" id="filter-checkbox5">
                            <div class="filter-checkbox-content">
                                <span class="filter-checkbox-name">Родина</span>
                                <span class="filter-checkbox-count">4 друга</span>
                            </div>
                            <label for="filter-checkbox5"></label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-checkbox-wrap">
                            <img src="/assets/img/request-game-img1.png">
                            <input type="checkbox" id="filter-checkbox6">
                            <div class="filter-checkbox-content">
                                <span class="filter-checkbox-name">Родина</span>
                                <span class="filter-checkbox-count">4 друга</span>
                            </div>
                            <label for="filter-checkbox6"></label>
                        </div>
                    </li>
                    <li>
                        <div class="filter-checkbox-wrap">
                            <img src="/assets/img/request-game-img1.png">
                            <input type="checkbox" id="filter-checkbox7">
                            <div class="filter-checkbox-content">
                                <span class="filter-checkbox-name">Родина</span>
                                <span class="filter-checkbox-count">4 друга</span>
                            </div>
                            <label for="filter-checkbox7"></label>
                        </div>
                    </li>
                </ul>
                </div>#}
            </div>
            <div class="modal__content tab_1">
            <div class="friends-search-wrap" id="friends--both">
                {#<!-- Отрисовывается при загрузке и клике на табу //-->#}
            </div>
        </div>
            <div class="modal__content tab_2" id="friends--me">
                {#<!-- Отрисовывается при загрузке и клике на табу друзей //-->#}
            </div>
            <div class="modal__content tab_3" id="friends--i">
                {#<!-- Отрисовывается при загрузке и клике на табу друзей //-->#}
            </div>
        </div>
    </div>
</div>