<div class="modal-wrap" id="invite-friends-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <div class="modal__icon modal__icon--games"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Пригласить друзей</h2>
        </div>
        <div class="modal__search">
            <form autocomplete="off">
            <input class="modal__search--text modal__search--text--full" type="text" placeholder="Введите имя человека">
            <div class="modal__search--submit-wrap">
                <input class="modal__search--submit" type="submit" value="">
            </div>
            </form>
        </div>
        <div class="modal__content--grey">
            <div class="friends-active">
                <p>Выбрано</p>
                <div class="friends-active__count">0</div>
            </div>
        </div>
        <div class="modal__content">
            <div class="friends-search-wrap friends-search-wrap-scroll">
                <ul class="friends-search"></ul>
            </div>
        </div>
        <div class="modal__content--grey">
            <a class="friends-search__btn btn-main" href="#" data-module="friends" data-method="sendInviteFriends">Пригласить</a>
        </div>
    </div>
</div>