<div class="modal-wrap" id="news-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--news"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Новости</h2>
        </div>
        <div class="modal__search modal__search--purple modal__checkbox-group">
            <ul class="checkbox-list">
                <li>
                    <input type="radio" name="filter" id="checkbox-modal1" value="type-all" checked="checked" data-module="news" data-method="getNews">
                    <label for="checkbox-modal1">Все</label>
                </li>
                <li>
                    <input type="radio" name="filter" id="checkbox-modal2" value="type-game">
                    <label for="checkbox-modal2">Игры</label>
                </li>
                <li>
                    <input type="radio" name="filter" id="checkbox-modal3" value="type-user">
                    <label for="checkbox-modal3">Друзья</label>
                </li>
            </ul>
        </div>
        <div class="modal__content">
            <div class="news-empty--header type-all type-game type-user">Новостей пока нет.</div>
            <div class="news-empty--text type-all type-game type-user"></div>
        </div>
    </div>
</div>