<div class="modal-wrap" id="payment-phone-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <a href="#" class="modal__icon modal__icon--prev" data-modal="payment-modal"></a>
            <div class="modal__close" data-modal-close></div>
            <h2>Пополнение баланса</h2>
        </div>
        <div class="modal__content">
            <div class="modal__content__header">
                <p><span>Оплата с баланса мобильного телефона</span></p>
            </div>
            <div class="payment-systems">
                <p>Укажите номер телефона для оплаты через SMS</p>
{#                <div class="input-group">
                    <label>Страна:</label>
                    <input type="text" placeholder="">
                    <div class="form-arrow"></div>
                </div>#}
                <div class="input-group">
                    <label>Номер телефона:</label>
                    <input type="text" placeholder="" name="phone">
                </div>
            </div>

        </div>
        <div class="modal__footer">
            <button type="button" class="modal__footer__btn" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="MC" data-rate="{{ payments.MC.rate }}">Сохранить</button>
        </div>
    </div>
</div>