<div class="modal-wrap" id="payment-system-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <a href="#" class="modal__icon modal__icon--prev" data-modal="payment-modal"></a>
            <div class="modal__close" data-modal-close></div>
            <h2>Пополнение баланса</h2>
        </div>
        <div class="modal__content">
            <div class="modal__content__header">
                <p><span>Оплата через платежную систему</span></p>
            </div>
            <div class="payment-systems">
                <p>Приобретайте рубли с помощью электронных платежных систем</p>
                <ul class="payment-systems-list">
                    {#<li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="QW" data-rate="{{ payments.QW.rate }}"><img src="/assets/img/payment-system1.png"></a></li>#}
                    <li><a href="#" data-modal="payment-phone-qiwi-modal"><img src="/assets/img/payment-system1.png"></a></li>
                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="PC" data-rate="{{ payments.PC.rate }}"><img src="/assets/img/payment-system2.png"></a></li>
                    {#<li><a href="/update-balance_6.html"><img src="/assets/img/payment-system3.png"></a></li>#}
                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="WM" data-rate="{{ payments.WM.rate }}"><img src="/assets/img/payment-system4.png"></a></li>
                    {% if userData.uid is defined and isModerator(userData.uid) %}
                    <li><a class="payment-system-paypal" href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="PP" data-rate="{{ payments.PP.rate }}"><img src="/assets/img/payment-system-paypal.png"></a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
</div>