<div class="modal-wrap" id="payment-banking-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <a href="#" class="modal__icon modal__icon--prev" data-modal="payment-modal"></a>
            <div class="modal__close" data-modal-close></div>
            <h2>Пополнение баланса</h2>
        </div>
        <div class="modal__content">
            <div class="modal__content__header">
                <p><span>Оплата через интернет-банкинг</span></p>
            </div>
            <div class="payment-systems">
                <p>Приобретайте рубли с помощью интернет-банкинга</p>
                <ul class="payment-systems-list">
                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="SBERBANK" data-rate="{{ payments.SBERBANK.rate }}"><img src="/assets/img/sber.png"></a></li>
                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="ALFABANK" data-rate="{{ payments.ALFABANK.rate }}"><img src="/assets/img/alfa.png"></a></li>
{#
                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="VTB24" data-rate="{{ payments.VTB24.rate }}"><img src="/assets/img/vtb.png"></a></li>
                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="BRS" data-rate="{{ payments.BRS.rate }}"><img src="/assets/img/brs.png"></a></li>
#}
                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="PSB" data-rate="{{ payments.PSB.rate }}"><img src="/assets/img/psb.png"></a></li>
                    {#<li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="QW" data-rate="{{ payments.QW.rate }}"><img src="/assets/img/payment-system1.png"></a></li>#}
                    {#<li><a href="#" data-modal="payment-phone-qiwi-modal"><img src="/assets/img/payment-system1.png"></a></li>#}
{#                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="PC" data-rate="{{ payments.PC.rate }}"><img src="/assets/img/payment-system2.png"></a></li>#}
                    {#<li><a href="/update-balance_6.html"><img src="/assets/img/payment-system3.png"></a></li>#}
{#                    <li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="WM" data-rate="{{ payments.WM.rate }}"><img src="/assets/img/payment-system4.png"></a></li>#}
                </ul>
            </div>

        </div>
    </div>
</div>