<div class="modal-wrap" id="payment-terminal-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <a href="#" class="modal__icon modal__icon--prev" data-modal="payment-modal"></a>
            <div class="modal__close" data-modal-close></div>
            <h2>Пополнение баланса</h2>
        </div>
        <div class="modal__content">
            <div class="modal__content__header">
                <p><span>Оплата через терминалы</span></p>
            </div>
            <div class="payment-systems">
                <p>Для того, чтобы приобрести рубли через терминалы оплаты, найдите в меню терминала логотип <span>EXE.ru</span>. Обычно
                    он распологается в разделах «Социальные сети» или «Другое» и введите ваш уникальный номер <span>EXE34590</span>
                </p>
                <ul class="payment-systems-list payment-systems-list--inline">
                    <li><img src="/assets/img/webpayment-img1.png"></li>
                    <li><img src="/assets/img/comepay-icon.png"></li>
                    <li><img src="/assets/img/kassira-net-icon.png"></li>
                    <li class="payment-systems-list__item"><img src="/assets/img/eleksnet-icon.png"></li>
                </ul>
            </div>
        </div>
        <div class="modal__footer">
            <button type="button" class="modal__footer__btn" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="GP" data-rate="{{ payments.GP.rate }}">Приобрести рубли</button>
        </div>
    </div>
</div>