<div class="modal-wrap" id="payment-phone-tele2-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <a href="#" class="modal__icon modal__icon--prev" data-modal="payment-phone-select-modal"></a>
            <div class="modal__close" data-modal-close></div>
            <h2>Пополнение баланса</h2>
        </div>
        <div class="modal__content">
            <div>
                <div class="modal__content__header">
                    <p><span>Оплата со счета мобильного телефона</span></p>
                </div>
                <img style="top:90px;right:25px;" class="webpayment-img" src="/assets/img/payment-phone-tele2.jpg">
            </div>
            <div class="payment-systems">
                <p>Укажите номер телефона</p>
                <div class="input-group">
                    <label>Номер телефона:</label>
                    <input type="text" placeholder="+7" name="phone">
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <button type="button" class="modal__footer__btn" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="TELE2" data-rate="{{ payments.TELE2.rate }}">Продолжить</button>
        </div>
    </div>
</div>