<div class="modal-wrap" id="photo-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <a href="#" class="modal__icon modal__icon--prev" data-modal="settings-modal"></a>
            <div class="modal__close" data-modal-close></div>
            <h2>Настройки</h2>
        </div>
        <div class="modal__content modal__content--profile">

            <p>Вы можете загрузить фото в форматах: JPG, GIF и PNG</p>
            <p>Если у Вас возникла проблема с загрузкой, выберите фото меньшего размера</p>

            <div class="profile-photo-wrap profile-photo-wrap--inline">
                <div class="profile-photo-group">
                    <img class="profile-photo profile-photo--orig" src="">
                </div>
{#                <div class="upload-photo-wrap">
                    <form action="/upload" id="uploadPhotoForm" enctype="multipart/form-data" target="fileUpload" method="POST" autocomplete="off">
                        <input type="hidden" name="{{ csrf.name }}" value="{{ csrf.value }}" />
                        <input class="upload-photo-input" type="file" name="photo">
                        <div class="upload-photo">Изменить фото</div>
                    </form>
                    <form id="change_photo" autocomplete="off">
                        <input type="hidden" name="{{ csrf.name }}" value="{{ csrf.value }}" />
                        <input type="hidden" name="newPhotoPath" value="" />
                    </form>
                </div>#}
            </div>

        </div>
{#        <iframe class="iframe-file-upload" name="fileUpload"></iframe>#}
        <div class="modal__footer">
            <button type="button" class="modal__footer__btn modal__footer__btn--green" data-target="change_photo">Сохранить</button>
        </div>
    </div>
</div>
<div data-modal="photo-modal"></div>