<div class="modal-wrap" id="settings-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--config"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Настройки</h2>
        </div>
        <div class="modal__tabs">
            <ul class="modal-tabs__list modal-tabs__list--lg">
                <li><a href="#" data-tab-target="tab_1">Мой профиль</a></li>
                <li><a href="#" data-tab-target="tab_7">Фото</a></li>
                <li><a href="#" data-tab-target="tab_6">Настройки доступа</a></li>
                <li><a href="#" data-tab-target="tab_3">Баланс</a></li>
                <li><a href="#" data-tab-target="tab_4" data-module="users" data-method="renderBlacklist">Черный список</a></li>
                <li><a href="#" data-tab-target="tab_5">Выход</a></li>
            </ul>
        </div>
        <div class="tabControl">
            <div class="modal__content tab_1">
                <div class="profile-form-wrap">
                    <form action="" class="profile-form" id="profile_main" autocomplete="off">
                        <input type="hidden" name="{{ csrf.name }}" value="{{ csrf.value }}" />
                        <input type="hidden" name="currentPage" value="{{ currentPage }}" />
                        <div class="profile-input-group">
                                <label>Имя:</label>
                            <div>
                                <input type="text" value="{{ userData.name }}" name="name">
                                <label id="name-error" class="error" for="name" style="display:none;"></label>
                            </div>
                        </div>
                        <div class="profile-input-group">
                            <label>Фамилия:</label>
                            <div>
                                <input type="text" value="{{ userData.last_name }}" name="last_name">
                                <label id="last_name-error" class="error" for="last_name" style="display:none;"></label>
                            </div>
                        </div>
                        <div class="profile-input-group">
                            <label>Дата рождения:</label>
                            <div class="profile-select-group">
                                <div class="profile-select profile-select--xs">
                                    <p>{% if userData.bday > 0 %}{{ userData.bday }}{% else %}---{% endif %}</p>
                                    <div class="form-arrow"></div>
                                    <input type="hidden" name="bday" value="{{ userData.bday }}">
                                    <ul class="profile-select-dropdown mCustomScrollbar">
                                        <li data-rel="0">---</li>
                                        {% for i in 1..31 %}
                                            <li data-rel="{{ i }}">{% if i < 10 %}0{% endif %}{{ i }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="profile-select profile-select--lg">
                                    <p>{% if userData.bmonth > 0 %}{{ months[userData.bmonth] }}{% else %}---{% endif %}</p>
                                    <div class="form-arrow"></div>
                                    <input type="hidden" name="bmonth" value="{{ userData.bmonth }}">
                                    <ul class="profile-select-dropdown mCustomScrollbar">
                                        <li data-rel="0">---</li>
                                        {% for id, i in months %}
                                            <li data-rel="{{ id }}">{{ i }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="profile-select profile-select--sm">
                                    <p>{% if userData.byear > 0  %}{{ userData.byear }}{% else %}---{% endif %}</p>
                                    <div class="form-arrow"></div>
                                    <input type="hidden" name="byear" value="{{ userData.byear }}">
                                    <ul class="profile-select-dropdown mCustomScrollbar">
                                        <li data-rel="0">---</li>
                                        {% for i in 2010..1930 %}
                                            <li data-rel="{{ i }}">{{ i }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <label id="bdate-error" class="error" for="bdate" style="display:none;"></label>
                            </div>
                        </div>
                        <div class="profile-input-group">
                            <label>Пол:</label>
                            <div class="profile-radiobtn-group">
                                <div class="profile-radiobtn-wrap">
                                    <input type="radio" name="sex" value="1" id="sex1"{% if userData.sex is not null and userData.sex == 1 %} checked="checked"{% endif %}>
                                    <label for="sex1">Мужской</label>
                                </div>
                                <div class="profile-radiobtn-wrap">
                                    <input type="radio" name="sex" value="0" id="sex2"{% if userData.sex is not null and userData.sex == 0 %} checked="checked"{% endif %}>
                                    <label for="sex2">Женский</label>
                                </div>
                            </div>
                        </div>
                        <div class="profile-input-group">
                            <label>Страна:</label>
                            <div class="profile-select profile-select--single">
                                <p>{{ userData.country|default('Выберите из списка...') }}</p>
                                <div class="form-arrow"></div>
                                <input type="hidden" name="country_id" value="{{ userData.country_id }}">
                                <ul class="profile-select-dropdown mCustomScrollbar">
                                    <li data-rel="0">Не указано</li>
                                    {% for countryId, countryName in countries %}
                                        <li data-rel="{{ countryId }}">{{ countryName }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="profile-input-group">
                            <label>Город:</label>
                            <div class="profile-select profile-select--single">
                                <p>{{ userData.city|default('Выберите из списка...') }}</p>
                                <div class="form-arrow"></div>
                                <input type="hidden" name="city_id" value="{{ userData.city_id }}">
                                <ul class="profile-select-dropdown mCustomScrollbar">
                                    <li data-rel="0">Не указано</li>
                                    {% for cityId, cityName in cities %}
                                        <li data-rel="{{ cityId }}">{{ cityName }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="profile-input-group">
                            <label>Новости портала:</label>
                            <div class="profile-radiobtn-group">
                                <div class="profile-radiobtn-wrap">
                                    <input type="radio" name="subscribe" value="t" id="subscribe1"{% if userData.subscribe is null or userData.subscribe == 't' %} checked="checked"{% endif %}>
                                    <label for="subscribe1">Присылать</label>
                                </div>
                                <div class="profile-radiobtn-wrap">
                                    <input type="radio" name="subscribe" value="f" id="subscribe2"{% if userData.subscribe is not null and userData.subscribe == 'f' %} checked="checked"{% endif %}>
                                    <label for="subscribe2">Не присылать</label>
                                </div>
                            </div>
                        </div>
                        <div style="visibility: hidden">
                            <input name="bdate" />
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal__footer tab_1">
                <button type="button" class="modal__footer__btn modal__footer__btn--green" data-target="profile_main">Сохранить</button>
            </div>
            <div class="modal__content tab_7">
                <div class="profile-form-wrap">
                    <div class="profile-input-group profile-change-photo">
                        <label>Фото профиля:</label>
                        <div class="profile-photo-wrap">
                            <div class="profile-photo-group">
                                <img class="profile-photo profile-photo--lg" src="{{ constant('IMAGE_HOST') }}{{ userData.photo.270 }}">
                                <img class="profile-photo profile-photo--sm" src="{{ constant('IMAGE_HOST') }}{{ userData.photo.120 }}">
                                <img class="profile-photo profile-photo--xs" src="{{ constant('IMAGE_HOST') }}{{ userData.photo.70 }}">
                            </div>
                            <div class="upload-photo-wrap">
                                <form action="/upload" id="uploadPhotoForm" enctype="multipart/form-data" target="fileUpload" method="POST" autocomplete="off">
                                    <input class="upload-photo-input" type="file" name="photo">
                                    <div class="upload-photo" >Изменить фото</div>
                                </form>
                                <form id="change_photo" autocomplete="off">
                                    <input type="hidden" name="newPhotoPath" value="" />
                                    <input type="hidden" name="x1" value="" />
                                    <input type="hidden" name="y1" value="" />
                                    <input type="hidden" name="x2" value="" />
                                    <input type="hidden" name="y2" value="" />
                                </form>
                                <iframe class="iframe-file-upload" name="fileUpload"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
{#            <!--div class="modal__content modal__content--profile tab_2">
                <div class="profile-form-wrap">
                    <form action="" class="profile-form" autocomplete="off">
                        <div class="profile-input-group">
                            <label>Текущий e-mail:</label>
                            <input type="text">
                            <a href="/settings_2.html" data-tab-target="tab_6">Изменить e-mail</a>
                        </div>
                        <div class="profile-input-group">
                            <label>Текущий пароль:</label>
                            <input type="password">
                            <a href="/settings_2.html" data-tab-target="tab_6">Изменить пароль</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal__footer tab_2">
                <button type="button" class="modal__footer__btn modal__footer__btn--green">Сохранить</button>
            </div-->#}
            <div class="modal__content modal__content--profile tab_3">
                <div class="modal__content__left">
                    <p>Рубли — универсальная валюта игрового
                        портала <span>exe.ru</span></p>
                    <p>С помощью неё Вы можете оплачивать
                        дополнительные возможности в играх
                        и приложениях</p>
                    <a href="/" class="more-link-open more-link-open-payments-history">История платежей</a>
                    <div class="modal__content__left__list-wrap row__more-panel">
                        <ul class="modal__content__left__list">
                            {% if payments_history %}
                                {% for row in payments_history %}
                                    <li class="modal__content__left__list__item{% if loop.index is even %} modal__content__left__list__item--gray{% endif %}">
                                        <div class="modal__content__left__list__item__img">
                                            <img src="{{ row.sourceImage }}">
                                        </div>
                                        <p class="modal__content__left__list__item__type">{{ row.sourceText }}</p>
                                        <p class="modal__content__left__list__item__count">{{ row.countText }}</p>
                                        <p class="modal__content__left__list__item__date">{{ row.date }}</p>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="row__more row__more--user more-link-close"></div>

                </div>
                <div class="modal__content__right">
                    <h4>Мой баланс</h4>
                    <p class="balance"><span>{{ userData.balance }}</span> <span>{{ userData.balance|plural_str('рубль', 'рубля', 'рублей') }}</span></p>
                    <a href="#" data-modal="payment-modal" data-module="payments" data-method="preSetCount" data-preset-count="0">Пополнить</a>
                </div>
            </div>
            <div class="modal__search modal__search--purple tab_4">
                <form id="blacklist--search_user" autocomplete="off">
                    <input class="modal__search--text modal__search--blacklist" name="search_string" type="text" placeholder="Введите имя человека">
                    <div class="modal__search--submit-wrap">
                        <input class="modal__search--submit" type="submit" value="">
                    </div>
                </form>
            </div>
            <div class="modal__content modal__content--profile tab_4" id="blacklist-wrap">
{#                {% if blacklist|length > 0 %}
                    <ul class="request-list">
                        {% for user in blacklist %}
                            <li>
                                <div class="request-list__who">
                                    <a href="#" class="request-list__who__img" data-modal="user-modal" data-uid="{{ user.uid }}" data-module="users" data-method="getUser"><img  src="{{ user.photo.120 }}"></a>
                                    <a class="request-list__who__name" href="#" data-modal="user-modal" data-uid="{{ user.uid }}" data-module="users" data-method="getUser">{{ user.name }}<br>{{ user.last_name }}</a>
                                </div>
                                <div class="request-list__reason">
                                    <p>В чёрном списке</p>
                                </div>
                                <div class="btn-group--request">
                                    <a class="btn-main btn-main--green" href="#" data-module="users" data-method="fromBlackList" data-uid="{{ user.uid }}" data-csrf-name="{{ csrf.name }}" data-csrf-value="{{ csrf.value }}">Удалить из списка</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="blacklist-empty--header">
                        Ваш чёрный список пуст.
                    </div>
                    <div class="blacklist-empty--text">
                        Люди из чёрного списка не могут просматривать Вашу страницу, приглашать в игры и отправлять Вам личные сообщения.
                    </div>
                {% endif %} #}
            </div>

            <div class="modal__content modal__content--profile tab_5">
                <div class="modal__content__exit">
                    <p>Вы действительно хотите выйти из своего аккаунта?</p>
                    <div class="modal__content__btn-group">
                        <button type="button" class="modal__content__btn" onclick="$(this).parents('.modal').find('.modal__close').click();">Нет, хочу остаться</button>
                        <button type="button" class="modal__content__btn modal__content__btn--grey" onclick="location.href='/logout';">Да, я хочу выйти</button>
                    </div>
                </div>
            </div>

            <div class="modal__content modal__content--profile tab_6">
                <div class="profile-form-wrap">
                    <form action="" class="profile-form" id="profile_access" autocomplete="off">
                        <input type="hidden" name="{{ csrf.name }}" value="{{ csrf.value }}" />
                        <input type="hidden" name="currentPage" value="{{ currentPage }}" />
                        <div class="profile-input-group">
                            <label>Текущий e-mail:</label>
                            <div>
                                <input type="text" name="current_email" value="{{ userData.email }}" disabled="disabled">
                                {% if not userData.isTemporaryUser and not userData.isEmailChecked %}
                                <label class="error_notChecked">Адрес не подтвержден</label>
                                {% endif %}
                            </div>
                            {#<!--a href="/settings-3.html" data-tab-target="tab_2">Отменить изменение</a-->#}
                        </div>
                        <div class="profile-input-group">
                            <label>Новый e-mail:</label>
                            <div>
                                <input type="text" name="new_email" value="">
                            </div>
                        </div>
{#
                        <!--div class="profile-input-group">
                            <label>Повторите e-mail:</label>
                            <input type="text">
                        </div-->
#}
                        {% if not userData.isSocialEmail %}
                            <div class="profile-input-group">
                                <label>Текущий пароль:</label>
                                <div>
                                    <input type="password" name="current_password" value="">
                                </div>
{#                                <!--a href="/settings-3.html" data-tab-target="tab_2">Отменить изменение</a-->#}
                            </div>
                            <div class="profile-input-group">
                                <label>Новый пароль:</label>
                                <input type="password" name="new_password" value="">
                            </div>
                            <div class="profile-input-group">
                                <label>Повторите пароль:</label>
                                <input type="password" name="new_password_repeat" value="">
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="modal__footer tab_6">
                <button type="button" class="modal__footer__btn modal__footer__btn--green" data-target="profile_access">Сохранить</button>
            </div>
        </div>
    </div>
</div>
