<div class="modal-wrap" id="terms">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--news"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Пользовательское соглашение</h2>
        </div>
        <div class="modal__content addinfo">
            <h4>ПОРЯДОК РАССМОТРЕНИЯ ПРЕДЛОЖЕНИЙ, ПРЕТЕНЗИЙ И СПОРОВ, ВОЗНИКАЮЩИХ В СВЯЗИ С ИГРОВЫМ ПРИЛОЖЕНИЕМ</h4>

            <p>Поскольку ООО «Интернет-Парк» (далее – «Администрация сайта») заключило с физическим лицом, получившим доступ к Игровому приложению и права использования Игрового приложения и/или дополнительного функционала Игрового приложения (далее – «Пользователь»), лицензионное соглашение, расположенное в сети Интернет по адресу http://www.exe.ru/rules (далее – «Пользовательское соглашение»); Поскольку Администрация сайта заключила с Разработчиком приложения соглашение в соответствии с Правилами, расположенными в сети Интернет по адресу http://dev.exe.ru/doc/terms/ (далее – «Условия размещения игрового приложения»); Администрация сайта, Разработчик приложения и Пользователь настоящим соглашаются со следующим порядком рассмотрения предложений, претензий и споров, возникающих в связи с Игровым приложением.</p>

            <ul>
                <li>1. Игровое приложение надлежащим образом лицензировано Администрацией сайта у Разработчика.</li>

                <li>2. Игровое приложение лицензировано Администрацией сайта у Разработчика и Пользователем у Администрации сайта, и право его использования предоставляется Пользователю на условиях «как есть», т.е.:
                    <ul>
                        <li>2.1. Без каких-либо гарантий пригодности Игрового приложения для определенных целей,</li>
                        <li>2.2. Отсутствия каких-либо ошибок, неточностей, перерывов в функционировании Игрового приложения.</li>
                    </ul>
                </li>

                <li>3. Техническая поддержка Игрового приложения (в т.ч. управление игровым процессом, начисление и списание внутриигровой валюты) и поддержка обратной связи с Пользователем осуществляются Разработчиком. Разработчик отвечает перед Пользователем за качество и сроки осуществления такой поддержки. Разработчик обязуется отвечать на предложения, претензии и иные запросы Пользователя в разумные сроки.</li>

                <li>4. Все предложения, претензии и иные запросы, связанные с Игровым приложением и его функционированием, Пользователь должен направлять напрямую Разработчику согласно контактным данным, размещенным на странице Игрового приложения на сайте EXE.ru.</li>

                <li>5. Разработчик несет ответственность за соответствие Игрового приложения требованиям применимого законодательства. Администрация сайта не имеет возможности осуществлять и не осуществляет внесение каких-либо изменений в Игровое приложение.</li>

                <li>6. Все термины, использованные в настоящем документе и написанные с заглавной буквы имеют значение, определенное в Пользовательском соглашении и/или в Условиях размешения игрового приложения.</li>

                <li>7. Все споры, возникающие в связи с Игровым приложением, подлежат рассмотрению по месту нахождения ответчика.</li>

                <li>8. Настоящий документ является неотъемлемой частью Пользовательского соглашения и Условия размещения игрового приложения.</li>
            </ul>
        </div>
    </div>
</div>