<div class="modal-wrap" id="uninstall-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--config"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Удаление игры</h2>
        </div>
        <div class="modal__content modal__content--center">
            <div class="addinfo">
                <p class="uninstall__first">Вы действительно хотите удалить игру?</p>
            </div>
            <div class="modal__content__btn-group modal__content__btn-group--dialog">
                <button type="button" class="modal__content__btn modal__content__btn--grey" id="unInstall">Удалить</button>
                <button type="button" class="modal__content__btn" data-modal-close>Не удалять</button>
            </div>
        </div>
    </div>
</div>