<div class="modal-wrap" id="user-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--friends"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>&nbsp;</h2>
        </div>
        <div class="modal__tabs">
            <ul class="modal-tabs__list">
                <li><a href="#" data-tab-target="tab_1">Профиль</a></li>
                <li><a href="#" data-tab-target="tab_2">Друзья</a></li>
            </ul>
        </div>
        <div class="tabControl"></div>
    </div>
</div>