<div class="modal-wrap" id="about">
    <div class="overlay"></div>
    <div class="modal dev-dialog__content dev-dialog__content--help">
        <div class="dev-dialog__header dev-dialog__header--help">
            <div class="dev-dialog__header-title">О проекте</div>
            <div class="dev-dialog__header-close" data-modal-close><i class="icon-close"></i></div>
        </div>

        <div class="dev-dialog__help addinfo modal__content">
		
		
<p>Рады приветствовать Вас на игровом портале EXE.ru. Это новый максимально простой и понятный современный игровой портал. Здесь Вы найдете самые актуальные браузерные игры Сети.</p>

<p>Игры и ничего более!</p>

<p>EXE.ru – это сообщество любителей игр. Главная задача нашего портала – дать пользователям возможность играть в любимые игры без лишних сложностей!</p>


<p><b>Основные преимущества игрового портала EXE.ru</b></p>

<ul>
<li>Мы собрали для Вас лучшие браузерные игры сети</li>
<li>Играйте без регистрации. Или регистрируйтесь в два счета, чтобы сохранить прогресс.</li>
<li>Ничего не отвлекает Вас от увлекательного игрового процесса</li>
<li>Простая социальная составляющая поможет Вам находить единомышленников - играйте вместе!</li>
</ul>

<p><b>Описание функционала</b></p>

<p><b>Лучшие игры</b></p>

<p>Наш каталог включает в себя только лучшие и проверенные игры Сети. Аркады, фермы или шутеры – каждый пользователь найдет себе игру по душе!</p>

<ul>
<li>Игры разбиты по жанрам. Каждому жанру соответствует определенный цвет. 
<li>Блоки «Запросы от Друзей» и «Уведомления» на главной странице помогут Вам получать необходимую информацию от игр, которые Вы установили и от друзей, играющих с Вами. Также Вы не пропустите  приглашения от друзей присоединиться к новым играм! 
<li>Блок «Мои игры» - это игры, которые Вы установили. Просто кликните и начинайте играть!
<li>На странице игры Вы можете пригласить друзей в игру, найти новых друзей по игре и узнать, кто #прямосейчас играет вместе с Вами!</li>
</ul>

<p><b>Простая регистрация</b></p>

<p>Регистрация на игровом портале EXE.ru сделана максимально просто.</p> 

<p>Вариант №1</p>
<p>Вам нужно ввести имя, емейл и пароль. На указанный емейл Вам придет письмо со ссылкой для подтверждения регистрации.</p> 

<p>Вариант №2</p>
<p>Вы можете зарегистрироваться или авторизоваться через свой аккаунт в популярных социальных сетях: vk.com, facebook, ok.ru и G+, а также через аккаунт на сайте LostFilm.TV.</p>

<p>Вариант №3</p> 
<p>Для самых нетерпеливых игроков мы предусмотрели возможность играть в любимые игры без регистрации! Однако, пользователям, решившим играть без регистрации, стоит помнить, что им необходимо будет зарегистрироваться, чтобы сохранить прогресс и достижения в игре.</p>

    <p><b>Общение</b></p>

<ul>
<li>Обменивайтесь личными сообщениями с друзьями и другими пользователями игрового портала</li> 
<li>Вам доступен поиск по собеседникам и истории сообщений</li> 
<li>Не забывайте добавлять эмоций в переписку при помощи смайлов!</li>
</ul>
   
   <p><b>Дружба</b></p>

<p>Мы приветствуем использование настоящих имен и фамилий для удобства поиска пользователями на портале новых друзей и старых знакомых!</p>

<ul>
<li>«Поиск» – находите друзей и играйте вместе!</li>
<li>«Все Друзья» – здесь Вы будете видеть своих друзей</li>
<li>«Заявки в друзья» – Люди, которые хотят подружиться с Вами.</li>
<li>«Мои заявки» - люди, с которыми хотите подружиться Вы.</li>
<li>«Пригласить друга» - приглашайте друзей в любимые игры.</li>
<li>«Поиск друзей по игре» - находите новых друзей через установленные игры.</li>
</ul>


   <p><b>Новости</b></p>

<p>Будьте в курсе, чем живут Ваши друзья в игровом мире EXE.ru!</p>

<ul>
<li>Публикуйте ваши достижения</li> 
<li>Получайте информационные сообщения от игр</li>
<li>Cледите за активностью друзей и их достижениями</li> 
</ul>

   <p><b>Настройки профиля</b></p>

<p>На игровом портале Вы можете редактировать свой профиль:</p>

<ul>
<li>Добавьте фото профиля, чтобы Вас было легко узнать!</li>
<li>Установите имя и фамилию, чтобы друзья могли найти Вас</li>
<li>Укажите дату рождения и место проживания</li> 
<li>Пополняйте баланс любым удобным для Вас способом</li>
</ul>

<p>Мы постоянно работаем над расширением функционала! Следите за развитием проекта!</p>
		
            <p><b>Адрес и реквизиты Администрации Сайта (ООО «ЕХЕ»):</b></p>
            <p>Адрес:199155, Санкт-Петербург, Ул.Уральская,  д.13, БЦ «Алмаз»</p>
							<p>Тел./факс: (812) 607-64-40;</p> 
							<p>е-mail office@exe.ru;</p> 
							<p>ОГРН 1177847034122;</p>
							
							<p>ИНН/КПП 7801326840/780101001</p>


            <p>Банковские реквизиты:</p>					
							<p>Филиал  «Санкт-Петербургский» АО «Альфа-Банк» </p>
							<p>БИК: 044030786 </p>
							<p>Кор/счет: 30101810600000000786</p>
							<p>р/счет 40702810032230002179</p>
        </div>
    </div>
</div>