<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Условия использования EXE</title>
        <link rel="icon" type="image/png" href="/16_01.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/32_01.png" sizes="32x32">

        <link rel="stylesheet" href="/assets/css/main.css?{{ constant('CSS_VERSION') }}">
        <link rel="stylesheet" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}">
<style>
    p {
        text-align: left;
    }
</style>
    </head>
    <body class="body__rules">
        <div class="site-header">
            <a href="/" class="site-logo site-logo--header">
                <img src="/assets/img/logo.png">
            </a>
        </div>
        <div class="main">
            <div class="main__content">
                <div class="container">
                    <h3>ОФЕРТА</h3>
                    <p>на оказание услуг по привлечению пользователей к Сайту</p>

                    <p>Настоящий документ, далее по тексту «Оферта», устанавливает правоотношения между Обществом с
                        ограниченной ответственностью «ЕХЕ», далее по тексту «Заказчик», юридическим лицом, созданным
                        и действующим в соответствии с законодательством Российской Федерации зарегистрированным по адресу:
                        Российская Федерация, Санкт-Петербург, 195599, ул. Уральская, дом 13, литера К, БЦ «Алмаз» и
                        лицом, далее по тексту «Исполнитель», надлежащим образом принявшим условия настоящей Оферты.
                    </p>

                    <p>Неотъемлемой частью настоящей Оферты являются Правила оказания услуг по привлечению
                        пользователей к Сайту, далее по тексту Правила, которые размещены в сети Интернет
                        по адресу <a href="https://exe.ru/devdoc">https://exe.ru/devdoc</a>
                    </p>

                    <p>Принимая условия настоящей Оферты и Правил, Исполнитель заключает договор на оказание услуг
                        по привлечению пользователей к Сайту, далее по тексту Договор (оферта).
                    </p>

                    <br/>

                    <p>1. Условием присоединения к настоящей Оферте является выполнение разработчиком следующих
                        действий:
                    </p>
                    <p>1.1. Осуществление Исполнителем регистрации на Cайте.</p>
                    <p>1.2. Заполнение формы с реквизитами юридического лица или индивидуального предпринимателя,
                        подтверждение правильности и достоверности внесенных реквизитов и согласие с условиями
                        настоящей Оферты.
                    </p>

                    <br/>
                    <p>2. Каждое последующее обращение Исполнителя к Сайту (переход к разделу «Разработчики»),
                        осуществляется через авторизацию Исполнителя на Сайте, путем ввода уникального имени и пароля,
                        полученные при прохождении процедуры регистрации на Сайте.
                    </p>

                    <br/>
                    <p>3. Исполнитель получает возможность оказывать Услугу при выполнении перечисленных ниже условий:</p>
                    <p>3.1 Исполнитель гарантирует, что Игра/Приложение, к которой/ому он создает доступ, не
                        противоречат применимому законодательству, в частности действующему законодательству Российской
                        Федерации, в том числе в части охраны авторских и смежных прав, интеллектуальной собственности,
                        неприкосновенности частной жизни, чести, деловой репутации, соответствуют нормам морали и этики,
                        а также Условиям размещения Игры.
                    </p>
                    <p>3.2 Заказчик вправе в одностороннем порядке по любому основанию отказать в размещении
                        игры/приложения Исполнителя, в том числе в случае нарушением Исполнителя условий 3.1.
                    </p>

                    <br/>
                    <p>4. В рамках настоящей Оферты, а равно исполнения договора, Исполнитель обязуется оказать
                        Заказчику Услуги по Привлечению Пользователей к Сайту, путем предоставления Пользователям
                        сети Интернет доступа к Игре/Приложению Исполнителя через интерфейс Сайта, далее по тексту
                        Услуги, а Заказчик оплатить Исполнителю вознаграждение за оказанные услуги в размере и в
                        порядке, которые установлены настоящей Офертой.
                    </p>


                    <br/>
                    <p>5. Стоимость Услуги Исполнителя определяется в следующем порядке:</p>
                    <p>5.1 Стоимость Услуг Исполнителя по привлечению Пользователей к сайту www.exe.ru определяется в
                        зависимости от расходуемых Пользователем в Игре/Приложении «Кредитов». Стороны признают, что
                        стоимость «Кредита» может быть изменена по решению Заказчика в одностороннем порядке, о чем
                        Заказчик информирует Исполнителя за 30 (тридцать) календарных дней до окончания срока действия
                        Договора. По факту оказанных услуг Стороны, при отсутствии разногласий, подписывают Акт об
                        оказанных услугах согласно данным Биллинга Заказчика.
                    </p>

                    <br/>
                    <p>6. Стороны один раз в месяц производят расчет вознаграждения Исполнителя на основе Данных
                        статистики Заказчика, в срок не более 5 (пяти) календарных дней с момента окончания Отчетного
                        периода, при этом непосредственно выплата вознаграждения совершается в срок, не превышающий 60
                        (шестьдесят) календарных дней с момента окончания соответствующего Отчетного периода.
                    </p>

                    <br/>
                    <p>7. Оплата стоимости услуг Исполнителя осуществляется в рублях РФ. Исполнитель обязуется выставить
                        Заказчику счет, в сроки, установленные действующим законодательством РФ.
                    </p>

                    <br/>
                    <p>8. Действующая редакция Оферты размещается Заказчиком в сети Интернет по адресу:
                        <a href="https://exe.ru/agreement">https://exe.ru/agreement</a>.
                    </p>

                    <br/>
                    <p>9. Заказчик вправе в одностороннем порядке изменять условия Договора (оферты), путем публикования
                        на Сайте новой редакции или внесенных изменений. Изменения вступают в силу с момента размещения
                        изменённого текста на Сайте по адресу: https://exe.ru/agreement.. Исполнитель обязуется
                        самостоятельно отслеживать изменения в новых редакциях и следовать правилам новых редакций.
                    </p>

                    <br/>
                    <p>10. Исполнитель вправе не согласиться с новыми условиями заключения Договора (оферты) направив
                        в течение 3 (трёх) дней, с даты опубликования изменений на Сайте, в адрес Заказчика письменное
                        уведомление (отказ). Неполучение от Исполнителя письменного уведомления (отказа), а равно любое
                        исполнение Договора (оферты) после вступления изменений в силу, считается согласием Исполнителя
                        с новыми условиями и заключением Договора (оферты) на новых условиях.
                    </p>

                    <br/>
                    <p>11. В случае получения Заказчиком уведомления (отказа) заключенный Договор (оферта) считается
                        расторгнутым по инициативе Исполнителя по истечении 10 (десять) календарных дней с момента
                        получения уведомления (отказа).
                    </p>

                    <br/>
                    <p>12. Договор (оферта) считается заключенным на неопределенный срок.</p>


                    <br/>
                    <p>13. Договор (оферта) может быть расторгнут по письменному соглашению Сторон или иным образом в
                        соответствии с законодательством Российской Федерации и условиями настоящего Договора.
                    </p>

                    <br/>
                    <p>14. Исполнитель имеет право расторгнуть настоящий Договор (оферту) в одностороннем порядке при
                        условии письменного уведомления Заказчика за 30 (тридцать) рабочих дней до предполагаемой даты
                        расторжения.
                    </p>

                    <br/>
                    <p>15. Заказчик имеет право расторгнуть настоящий Договор (оферту) в одностороннем порядке, при
                        условии направления письменного уведомления о расторжении на адрес, указанный Исполнителем в
                        процессе осуществления процедуры регистрации. Подтверждением намерений Заказчика расторгнуть
                        Договор, является, в том числе, блокирование доступа третьих лиц к Игре/Приложению Исполнителя
                        на сайте Заказчика.
                    </p>

                    <br/>
                    <p>16. Недействительность какого-либо из положений Договора (оферты) не влечет за собой
                        недействительность Договора (оферты) в целом.
                    </p>

                    <br/>
                    <p>17. Настоящий Договор (оферта) остается в силе в случае изменения реквизитов Сторон, изменения
                        их учредительных документов, организационно-правовой формы, смены собственника одной или
                        обеих Сторон.
                    </p>

                    <br/>
                    <p>18. В случае изменения реквизитов одной из Сторон, указанных в настоящем Договоре, такая Сторона
                        обязуется уведомить об этом другую сторону в течение 3 (трех) рабочих дней.
                    </p>

                    <br/>
                    <p>19. Иные условия оказания услуг содержатся в Правилах.</p>

                    <br/>
                    <p>20. Реквизиты Заказчика:</p>
                    <p>ООО «ЕХЕ»</p>
                    <p>р/с:40702810032230002179</p>
                    <p>к/с:30101810600000000786</p>
                    <p>БИК:044030786</p>
                    <p>ИНН/КПП:7801326840/780101001</p>
                    <p>ОГРН:1177847034122</p>
					<p>ОКПО:06433800</p>
                    <p>Юридический адрес: 199155, Санкт-Петербург,</p> 
                    <p>Ул. Уральская, д.13, БЦ «Алмаз», офис 313</p>
                   
                </div>
            </div>
        </div>

    {% include "ya_metrika.twig" %}
    {% include "fb_pixel.twig" %}
    {% include "retention.twig" %}

    </body>
</html>
