<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex,nofollow" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    {#
        <script>
            window.devicePixelRatio = 3;
        </script>
    #}
    <script type="text/javascript" src="/assets/js/dpr.js?{{ constant('JS_VERSION') }}"></script>

    <link rel="icon" type="image/png" href="/16_01.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/32_01.png" sizes="32x32">

    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css?{{ constant('CSS_VERSION') }}" />
    <link rel="stylesheet" href="/assets/css/main.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/css/popup.css?{{ constant('CSS_VERSION') }}">
    <link rel="stylesheet" href="/assets/css/modal.css?{{ constant('CSS_VERSION') }}">

    <script type="text/javascript" src="/assets/js/jquery.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.validate.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/guest.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/blocked.js?{{ constant('JS_VERSION') }}"></script>
    <script>
        var pageUrl = '/blocked';
    </script>
</head>
<body style="background: #f9fafc;" class="body__blocked">
<div class="site-header">
    <a href="/" class="site-logo site-logo--header">
        <img src="/assets/img/logo.png">
    </a>
</div>
<div class="main">
    <div class="main__header">
        <div class="container">
            <h3>Пользователь заблокирован</h3>
            <div class="blocked"></div>
            <p>Мы заблокировали Вашу страницу, поскольку на ней была<br/>обнаружена подозрительная активность.</p>
            <p>Для решения вопроса, <a href="#" data-modal="help">обратитесь в службу поддержки</a></p>
        </div>
    </div>
    <div class="main__content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% include "help.twig" %}

{% include "ya_metrika.twig" %}
{% include "fb_pixel.twig" %}
{% include "retention.twig" %}

</body>
</html>
