{% if gameData.image_810x500 %}
    {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/app/{{ gameData.gid }}/810x500/{{ constant('DPRIMAGEPREFIX') }}{{ gameData.image_810x500 }}{% endset %}
{% else %}
    {% set src %}{{ constant('IMAGE_HOST') }}/assets/img/dev-games__item-poster.png{% endset %}
{% endif %}
{% set href %}{% spaceless %}
    /app{{ gameData.gid }}{% if source is defined %}?source={{ source }}{% endif %}
{% endspaceless %}{% endset %}
<div class="modal-wrap" id="connect_1-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header">
            <div class="modal__icon modal__icon--news" style="visibility: hidden"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Присоединяйтесь</h2>
        </div>
        <div class="modal__content">
            <div class="connect-popup">
                <div class="clearfix">
                    <div class="connect-popup--left left">
                        <div class="connect-popup--poster" style="border-bottom-color: {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}"><img src="{{ src }}" class="connect-popup--image"></div>
                        <div class="connect-popup--name" style="color: {{ constant('\\Base\\Service\\Game::actionTypes')[game.type].color }}">{{ gameData.title }}</div>
                        <div class="connect-popup--category">{{ constant('\\Base\\Service\\Game::actionTypes')[gameData.type].title }}</div>
                    </div>
                    <div class="connect-popup--right right">
                        {% spaceless %}
                            <div class="connect-popup--label connect-popup--label-v1">
                                <p>Дорогой друг!</p>
                                <p>У Вас все еще не зарегистрирован аккаунт!</p>
                                <p>Скорее зарегистрируйтесь и Вы сможете</p>
                                <p>сохранить прогресс в играх и общаться с</p>
                                <p>другими игроками.</p>
                            </div>
                            <div class="connect-popup--hr connect-popup--hr-v1" style=""></div>
{#                        {% if from is not defined %}#}
                            <div class="connect-popup--label connect-popup--label-v1">Войти через:</div>
{#                        {% else %}
                            <div class="connect-popup--big-box">
                                {% if from == 'vk' %}
                                    <a href="/auth_vk" class="connect-popup--big vk"  data-href="{{ href }}" data-dest="14">Войти через Вконтакте</a>
                                {% elseif from == 'fb' %}
                                    <a href="/auth_fb" class="connect-popup--big fb" data-href="{{ href }}" data-dest="14">Войти через Facebook</a>
                                {% elseif from == 'gp' %}
                                    <a href="/auth_gp" class="connect-popup--big gp" data-href="{{ href }}" data-dest="14">Войти через Google+</a>
                                {% elseif from == 'ok' %}
                                    <a href="/auth_ok" class="connect-popup--big ok" data-href="{{ href }}" data-dest="14">Войти через Одноклассники</a>
                                {% elseif from == 'mm' %}
                                    <a href="/auth_mm" class="connect-popup--big mm" data-href="{{ href }}" data-dest="14">Войти через Мой Мир</a>
                                {% else %}
                                    #}{#<a href="/auth_lf" class="connect-popup--big lf" data-href="{{ href }}">Войти через LostFilm.TV</a>#}{#
                                {% endif %}
                            </div>
                        {% endif %}#}
                        <div class="connect-popup--socials">
                            {% if from is not defined or from != 'vk' %}
                                <a href="/auth_vk" class="connect-popup--social vk" data-href="{{ href }}" data-dest="14"></a>
                            {% endif %}
                            {% if from is not defined or from != 'fb' %}
                                <a href="/auth_fb" class="connect-popup--social fb" data-href="{{ href }}" data-dest="14"></a>
                            {% endif %}
                            {% if from is not defined or from != 'gp' %}
                                <a href="/auth_gp" class="connect-popup--social gp" data-href="{{ href }}" data-dest="14"></a>
                            {% endif %}
                            {% if from is not defined or from != 'ok' %}
                                <a href="/auth_ok" class="connect-popup--social ok" data-href="{{ href }}" data-dest="14"></a>
                            {% endif %}
                            {% if from is not defined or from != 'mm' %}
                                <a href="/auth_mm" class="connect-popup--social mm" data-href="{{ href }}" data-dest="14"></a>
                            {% endif %}
                            {% if from is not defined or from != 'lf' %}
                                <a href="/auth_lf" class="connect-popup--social lf" data-href="{{ href }}" data-dest="14"></a>
                            {% endif %}
                        </div>
                        <div class="connect-popup--label alt">или</div>
                        {#<a href="#" class="connect-popup--btn tab-login" data-href="{{ href }}" data-dest="{{ dest }}">Войти</a>#}
                        <a href="#" class="connect-popup--btn tab-register" data-href="{{ href }}" data-dest="{{ dest }}" data-modal="login-modal" data-module="users" data-method="setDestination">Зарегистрироваться</a>
                        {#<a href="#" class="connect-popup--btn alt" data-href="{{ href }}">Играть без регистрации</a>#}
                        {#<div id="recaptcha" style="padding:30px 30px 0 30px; display: none;"></div>#}
                        {% endspaceless %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-modal="connect_1-modal"></div>