<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Условия использования EXE</title>
        <link rel="icon" type="image/png" href="/16_01.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/32_01.png" sizes="32x32">

        <link rel="stylesheet" href="/assets/css/main.css?{{ constant('CSS_VERSION') }}">
        <link rel="stylesheet" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}">
<style>
    p {
        text-align: left;
    }
</style>
    </head>
    <body class="body__rules">
        <div class="site-header">
            <a href="/" class="site-logo site-logo--header">
                <img src="/assets/img/logo.png">
            </a>
        </div>
        <div class="main">
            <div class="main__content">
                <div class="container">
                    <h2>ПРАВИЛА ОКАЗАНИЯ УСЛУГ</h2>
                     
                    <h3>1. ОПРЕДЕЛЕНИЯ И ТЕРМИНЫ</h3>
                    <p><b>«Сайт»</b> – сайт exe.ru в сети Интернет, права на администрирование которого и/или права на
                        размещение информации на котором, и/или права на заключение соответствующих договоров в
                        отношении которых принадлежат Заказчику.
                    </p>
                    <p><b>«Браузерная игра»</b> - интерактивная онлайн-игра, для использования которой Пользователю
                        необходимо (1) иметь доступ к сети Интернет и (2) открыть соответствующую страницу Сайта в
                        поддерживаемом браузере.
                    </p>
                    <p><b>«Пользователь»</b> – физическое лицо, осуществляющее доступ к Сайту и использующее Программное
                        обеспечение в рамках Сайта.
                    </p>
                    <p><b>«Игра/Приложение»</b> - браузерная игра Исполнителя, размещенная на Сайте.
                    </p>
                    <p><b>«API» («Application Program Interface», «Интерфейс прикладной программы» или «Интерфейс»)</b>
                         - набор правил и соглашений относительно форматов вызова и процедур, определяющих порядок
                        взаимодействия программных продуктов.
                    </p>
                    <p><b>«Использование Игры/Приложения»</b> - совокупность действий и взаимоотношений между
                        Пользователями и/или Исполнителем при использовании Игры в соответствии с ее назначением
                        и условиями.
                    </p>
                    <p><b>«Правила размещения Игры/Приложения»</b> - набор требований, которым должна соответствовать
                        Игра, чтобы быть размещенной на Сайте. Для размещения на Сайте, Игра должна соответствовать
                        Условиям размещения игр на сайте exe.ru, размещенным по адресу:
                        <a href="https://dev.exe.ru/terms">https://dev.exe.ru/terms</a>. Условия размещения Игр являются
                        неотъемлемой частью Правил оказания услуг.
                    </p>
                    <p><b>«Протокол»</b> - документ, формируемый посредством программного обеспечения Заказчика,
                        подтверждающий факт принятия Исполнителем условий настоящих Правил и содержащий информацию
                        об Исполнителе, а также сведения о времени и дате надлежащего присоединения Исполнителя к
                        Правилам. В качестве Протокола может выступать письменный документ, подписываемый Исполнителем
                        и содержащий перечень Игр/Приложений Исполнителя, с использованием которых Исполнитель
                        оказывает Заказчику услуги по Договору.
                    </p>
                    <p><b>«Поддержка Пользователей»</b> – комплекс мер, в рамках которых посредством сети Интернет
                        осуществляется урегулирование претензий Пользователей, а также оперативное устранение ошибок
                        в работе Сайта и/или Игр/Приложений Исполнителя по запросам Пользователей.
                    </p>
                    <p><b>«Привлечение Пользователей к Сайту»</b> – обеспечение Исполнителем через Сайт доступа
                        Пользователей к Игре/Приложению, привлекательному для Пользователей, способствующему в
                        результате Использования Игры/Приложения увеличению посещений Сайта со стороны Пользователей,
                        увеличению продолжительности нахождения Пользователей на Сайте, формированию у Пользователей
                        позитивного отношения к Сайту.
                    </p>
                    <p><b>«Отчетный период»</b> - 1 (один) календарный месяц, если не предусмотрено иное.
                    </p>
                    <p><b>«Биллинг»</b> – совокупность программного обеспечения Заказчика, используемого для учета
                        объема предоставленных Пользователю прав.
                    </p>
                    <p><b>«Кредит»</b> – единицы учёта объема услуг Исполнителя по привлечению Пользователей к Сайту.
                    </p>
                    <p><b>«Техническая поддержка»</b> – комплекс работ по обслуживанию Программного обеспечения Сайта,
                        обновлений, их тестированию, модификации Программного обеспечения и/или обновлений, а также
                        услуги по текущему мониторингу стабильности функционирования Программного обеспечения,
                        внедрение (установка) технических средств защиты, применяемых Исполнителем, и консультационная
                        поддержка персонала Заказчика, связанная с интеграцией Игр/Приложений обеспечения и последующим
                        исполнением Договора.
                    </p>
                    <p><b>«Аккаунт»</b> – учетная запись, созданная Исполнителем на Сайте и содержащая сведения об
                        Исполнителе. Доступ к Аккаунту осуществляется через форму регистрации.
                    </p>
                    <p><b>«Раздел для Разработчиков»</b> –  dev.exe.ru, область Сайта, позволяющая перемещаться в
                        рамках выделенного Исполнителю информационного пространства, в целях редактирования настроек
                        Игры/Приложения и ознакомления с Данными статистики. Для входа в раздел Разработчиков,
                        Пользователь использует аккаунт сайта <a href="https://exe.ru/">exe.ru</a>
                    </p>
                    <p><b>«Данные статистики»</b> – формируемые Заказчиком по результатам автоматической обработки,
                        данные об использовании Игры/Приложения Пользователями Сайта в Отчетном периоде, с которыми
                        Исполнитель может ознакомиться в разделе для Разработчиков
                    </p>
                    <p><b>«Договор»</b> - договор оказания Исполнителем услуг по Привлечению Пользователей к Сайту,
                        заключаемый посредством акцепта Исполнителем оферты
                        <a href="https://exe.ru/agreement">https://exe.ru/agreement</a>.
                    </p>

                    <h3>2. ПОРЯДОК ДОСТУПА К УПРАВЛЕНИЮ ИГРАМИ/ПРИЛОЖЕНИЯМИ ИСПОЛНИТЕЛЯ</h3>
                    <p>2.1. Осуществление Исполнителем регистрации на Сайте.
                    </p>
                    <p>2.2. Размещение Игры/Приложения Исполнителя на Сайте.
                    </p>
                    <p>2.3. После регистрации на Сайте Исполнитель получает права для доступа к Разделу для
                        Разработчиков.
                    </p>

                    <h3>3. ПРАВА И ОБЯЗАННОСТИ</h3>
                    <h4>3.1. Права и обязанности Заказчика:</h4>
                    <p>3.1.1. Заказчик обязуется передать Исполнителю всю необходимую, полную и достоверную информацию,
                        необходимую для обслуживания и интеграции Игры/Приложения с Сайтом.
                    </p>
                    <p>3.1.2. Заказчик обязуется в соответствии с действующим законодательством РФ, договором и
                        настоящими Правилами к нему, принимать оказанные Исполнителем услуги.
                    </p>
                    <p>3.1.3. Заказчик обязуется обеспечивать оплату услуг Исполнителя в размере и в порядке,
                        установленном в Договоре, заключенном Сторонами.
                    </p>
                    <p>3.1.4. Заказчик обязуется оказывать Исполнителю техническое, организационное и иное содействие
                        для реализации услуг Исполнителя.
                    </p>
                    <p>3.1.5. Заказчик ведет учет оказываемых Исполнителем услуг, используя Биллинг.
                    </p>
                    <p>3.1.6. Заказчик вправе в любое время приостановить функционирование Игры/Приложения на Сайте
                        и/или прекратить доступ третьих лиц к Игре/Приложению, а также исключить данное Игру/Приложение
                        из списка Программного обеспечения, доступных Пользователям на Сайте. В случае приостановления
                        работы Игры/Приложения на Сайте в связи с ненадлежащим исполнением Договора со стороны
                        Исполнителя урегулирование всех вопросов с Пользователями осуществляется за счет Исполнителя.
                        Заказчик вправе приостановить доступ Пользователей к Игре/Приложению при получении официального
                        мотивированного заявления о нарушении авторских прав, либо решения суда о факте нарушения
                        авторских прав Исполнителем.
                    </p>
                    <p>3.1.7. Заказчик соглашается уведомлять Исполнителя о претензиях третьих лиц в связи с нарушением
                        авторских или иных прав Игрой/Приложением и вправе сообщать таким лицам, что размещение
                        Игры/Приложения или обеспечение доступа к нему осуществляется Исполнителем (с указанием его
                        наименования и контактной информации).
                    </p>
                    <p>3.1.8. Заказчик предоставляет Исполнителю право разместить Игру/Приложение исключительно в целях
                        выполнения Исполнителем своих обязательств из Договора и в соответствии с настоящими Правилами.
                    </p>
                    <h4>3.2. Права и обязанности Исполнителя:</h4>
                    <p>3.2.1. Исполнитель вправе привлекать третьих лиц для реализации прав и обязанностей по Договору,
                        оставаясь ответственным перед Заказчиком за их действия как за свои собственные, если иное не
                        будет сообщено Заказчиком.
                    </p>
                    <p>3.2.2. Исполнитель обязуется, в соответствии с применимым законодательством, разработать и
                        предоставить для размещения в открытом доступе посредством Сайта все документы, необходимые для
                        предоставления Пользователям полной информации об Игре/Приложении, Поддержке Пользователей,
                        Исполнителе и/или иных лицах, осуществляющих Поддержку Пользователей.
                    </p>
                    <p>3.2.3. Исполнитель обязуется самостоятельно осуществлять полное техническое обеспечение
                        функционирования Игры/Приложения. Перерывы в работе Игры/Приложения, в течение которых
                        Исполнитель не мог оказывать Услуги, включая перерывы, вызванные техническими сбоями, хакерскими
                        атаками реализацию которых Исполнитель имел возможность предотвратить, обновлением
                        Игры/Приложения, установкой текущих и существенных обновлений в сумме не могут превышать
                        48 часов в месяц. Исполнитель несет ответственность перед Заказчиком и Пользователями за любые
                        сбои, ошибки в функционировании Игры/Приложения, а равно за перерывы в работе Игры/Приложения
                        сверх допустимых сроков нефункционирования Игры/Приложения.
                    </p>
                    <p>3.2.4. Исполнитель обязуется организовать Поддержку Пользователей, соответствующую требованиям
                        действующего законодательства РФ.
                    </p>
                    <p>3.2.5. Исполнитель обязуется самостоятельно за счет собственных средств осуществлять возмещение
                        материального ущерба или морального вреда причиненного Пользователям, в случае если такой ущерб
                        или вред был причинен в связи с использованием Игры/Приложения или ее/его содержанием.
                        Ответственность за такой ущерб в любом случае не может быть возложена на Заказчика.
                    </p>
                    <p>3.2.6. В случае если для нормального функционирования Игры/Приложения Исполнителя необходимо
                        размещение на серверах Сайта программного обеспечения в виде файлов или иным образом,
                        Исполнитель обязуется обеспечить, чтобы такое размещение не нарушало прав и интересов третьих
                        лиц, в том числе интеллектуальных прав, и применимого законодательства. В случае поступления в
                        адрес Заказчика претензий третьих лиц, связанных с размещением на серверах Сайта указанного
                        программного обеспечения или файлов Исполнителя, Исполнитель разрешает указанные претензии
                        своими силами и за свой счет, без привлечения Заказчика.
                    </p>
                    <p>3.2.7. В случае поступления претензий третьих лиц, связанных с размещением программного
                        обеспечения или файлов Исполнителя или в связи с размещением Игры/Приложения Исполнителя на
                        Сайте или бесперебойного доступа к нему, Исполнитель разрешает указанные претензии своими
                        силами и за свой счет, без привлечения Заказчика.
                    </p>
                    <p>3.2.8 Исполнитель обязуется разместить в Игре/Приложении  информацию, обязательную для
                        предоставления пользователям в соответствии с требованиями действующего законодательства РФ,
                        включая сведения о лице, разместившем Игру/Приложение его местонахождении и контактных данных,
                        порядке отправки и получения претензий и порядке использования Игры/Приложения. Данные сведения
                        должны предоставлять Пользователю возможность точно установить вид оказываемых услуг, способ их
                        предоставления, а также порядок расчетов по ним и иные существенные условия предоставления
                        услуг.
                    </p>
                    <p>3.2.9 Исполнитель подтверждает, что в течение всего срока функционирования Игры/Приложения на
                        Сайте он обладает всеми необходимыми правами на использование Игры/Приложения я и
                        предоставление Заказчику прав использования Игры/Приложения в соответствии с настоящими
                        Правилами.
                    </p>
                    <p>3.2.10 Исполнитель обязуется немедленно информировать Заказчика об официальных письменных
                        претензиях третьих лиц в связи с функционированием Игры/Приложения и достигнутых способах
                        урегулирования таких претензий.
                    </p>
                    <p>3.2.11 Исполнитель обязуется указать необходимые контактные данные, используя которые третьи
                        лица могут оперативно связаться с Исполнителем для урегулирования своих претензий.
                    </p>
                    <p>3.2.12 При проведении Исполнителем профилактических или технических работ, в том числе по
                        обновлению содержания Игры/Приложения, приводящих к приостановке работы Игры/Приложения,
                        Исполнитель обязуется уведомить об этом Пользователей, разместив соответствующую информацию в
                        Игре Приложении или иным способом, предусмотренным Сайтом.
                    </p>
                    <p>3.2.13 Исполнитель, по требованию Заказчика или в связи с официальным запросом третьих лиц,
                        должен предоставить документы, подтверждающие его права на использование Игры/Приложения и
                        предоставление прав на его использование Заказчику, включая возможные авторские договоры,
                        лицензии и разрешения от правообладателей. Исполнитель вправе не раскрывать финансовые условия
                        по таким предоставляемым документам.
                    </p>
                    <p>Исполнитель настоящим гарантирует, что в силу закона и/или договора у него имеется достаточный
                        объем прав для предоставления прав использования Игры/Приложения Заказчику в соответствии
                        с пунктами 5.1. и 5.2. настоящих Правил, и Исполнитель владеет документами, подтверждающими
                        наличие у него таких прав. Исполнитель по требованию Заказчика незамедлительно предоставит
                        последнему надлежащим образом заверенные документы, подтверждающие наличие у Исполнителя
                        указанных выше прав.
                    </p>
                    <p>3.2.14 Размещение рекламы в Играх/Приложениях Исполнителем запрещено.
                    </p>

                    <h3>4. ОТЧЕТНОСТЬ</h3>
                    <p>4.1. Расчет и выплата вознаграждения Исполнителю осуществляются по итогам каждого Отчетного
                        периода на основании Данных статистики Заказчика. Стоимость услуг Исполнителя определяется
                        в соответствии с Договором.
                    </p>
                    <p>4.2. Исполнитель не позднее 5 (пяти) календарных дней с момента истечения Отчетного периода,
                        направляет Заказчику Справку, Акт, Счет-фактуру (кроме действующих по УСНО, а также
                        нерезидентов РФ) в соответствии с действующими нормами законодательства РФ и Счет.
                    </p>
                    <p>4.3. Исполнитель подготавливает Справку по форме, указанной в Приложении №1, в которой
                        указывается информация за конкретный Отчетный период. В подтверждение факта надлежащего
                        оказания услуг, на основе утвержденных Справок Исполнитель составляет Акт об оказанных услугах
                        в течение Отчетного периода. Дата составления акта не может быть ранее даты согласования
                        Справки сторонами договора.
                    </p>
                    <p>Справка, Акт, Счет-фактура и Счет составленные на основании Данных статистики, предоставляется
                        Заказчику в электронной сканированной форме с подписью и печатью уполномоченного представителя
                        Исполнителя (с последующей отправкой Заказчику оригиналов данных документов) и является
                        основанием для проведения расчетов. Электронная форма документов направляется Исполнителем
                        посредством программного обеспечения Заказчика.
                    </p>
                    <p>4.4. При разночтениях Данных статистики и Биллинговых данных в течение 3 рабочих дней после
                        получения Справки, Акта, Счета-фактуры, Счета Заказчик в электронной форме уведомляет
                        Исполнителя о мотивированном и обоснованном отклонении Справки. При этом Исполнитель вправе в
                        тот же срок мотивированно, с приложением письменных оснований, отклонить полученный ответ.
                        В таком случае Стороны обязуются урегулировать спорные вопросы, внести необходимые исправления
                        в документы и утвердить их не позднее 3 рабочих дней с момента получения Исполнителем
                        мотивированного отказа. При отсутствии мотивированного отказа Справка, Акт, Счёт-фактура и Счет
                        считаются принятыми, услуги за соответствующий Отчетный период оказанными надлежащим образом.
                        Исполнитель обязуется прислать оригинал Акта и Счета-фактуры (кроме действующих по УСНО,
                        а так же нерезидентов РФ), Счета до окончания месяца следующего за отчётным месяцем.
                    </p>
                    <p>4.5. Заказчик считается выполнившим свою обязанность по оплате с момента списания денежных
                        средств с его расчетного счета.
                    </p>
                    <p>4.6. В случае, если в адрес Заказчика поступит уведомление от технических партнеров Заказчика о
                        факте мошенничества Пользователей при осуществлении платежей (фрод), Заказчик производит
                        корректировку платежей и учитывает ее в периоде предоставления таких уведомлений.
                    </p>
                    <p>4.7. Во избежание сомнений, по итогам каждого календарного года и по окончании срока действия
                        Договора (его досрочном прекращении) в течение тридцати (30) дней с такой даты Сторонами может
                        быть составлен, на усмотрение Заказчика, Акт сверки взаимных расчетов для осуществления
                        окончательного перерасчета финансовых обязательств Сторон.
                    </p>
                    <p>4.8. Если иное прямо не предусмотрено, каждая из Сторон самостоятельно несет все расходы и
                        издержки, возникающие в связи с исполнением возложенных на нее обязательств.
                    </p>
                    <p>4.9. В отношении отчетов Стороны признают, что согласованный Акт сверки взаимных расчетов
                        является исчерпывающим перечнем отчетных данных, которые Исполнитель будет истребовать с
                        Заказчика в связи с оказанием услуг.
                    </p>

                    <h3>5. ЛИЦЕНЗИЯ</h3>
                    <p>5.1. Размещая Игру на Сайте, Разработчик предоставляет Администрации сайта право на
                        использование Игры на условиях простой неисключительной лицензии в виде размещения её в
                        свободном доступе для всех Пользователей на Сайте без ограничения по территории. Плата за
                        использование Игры с Администрации сайта не взымается.
                    </p>
                    <p>5.2. Администрация сайта вправе передавать без ограничения по территории права использования
                        Игры Пользователям посредством их сублицензирования на условиях стандартного Лицензионного
                        соглашения, заключаемого между Администрацией сайта и Пользователями посредством размещения
                        Условий использования сайта EXE.ru. Разработчик подтверждает, что ознакомлен с текстом
                        указанного Лицензионного соглашения и не имеет возражений против предоставления Администрацией
                        сайта прав на использование Игры, размещенной на Сайте, Пользователям на условиях указанного
                        Лицензионного соглашения.
                    </p>
                    <p>5.3. Разработчик предоставляет Администрации сайта права на использование Игры, размещенной
                        на Сайте без ограничения по территории следующими способами:
                    </p>
                    <p>5.3.1. Предоставление Игры на всеобщее обозрение в сети Интернет таким образом, что любое
                        лицо может получить доступ к Игре из любого места и в любое время;
                    </p>
                    <p>5.3.2 Рекламирование и продвижение Игры любым способом без ограничений, в т.ч. посредством
                        размещения рекламных материалов, созданных с использованием части(-ей) Игры.
                    </p>
                    <p>5.4. Права на использование Игры согласно пп. 5.1 и 5.2 выше предоставляются сроком на 5 лет с
                        последующей автоматической пролонгацией данного срока на каждый последующий календарный год, в
                        случае если ни одна из сторон договора не выразит волеизъявление о его досрочном расторжении не
                        позднее, чем за 30 календарных дней до момента такого расторжения.
                    </p>
                    <p>5.5. Администрация сайта не предоставляет никаких дополнительных отчетов об использовании Игры,
                        размещенной на Сайте, за исключением согласованного в договоре.
                    </p>
                    <p>5.6. Разработчик настоящим гарантирует, что:</p>
                    <p>1) является правообладателем Игры, размещенной на Сайте (либо правообладателем приложения
                        является лицо, дополнительно указанное Вами),
                    </p>
                    <p>2) предоставление Администрации сайта прав на использование Игры, размещенной на Сайте, не
                        нарушает и не будет нарушать условия каких-либо сделок Разработчиков с третьими лицами и/или
                        права третьих лиц, 
                    </p>
                    <p>3) использование Адмнистрацией сайта и/или Разработчиком Игры, размещенной на Сайте, в
                        соответствии с договором не нарушает прав третьих лиц, включая, но не ограничиваясь только этим,
                        авторские права, смежные права, права на товарные знаки и иные средства индивидуализации, а
                        равно личные неимущественные права физических лиц.
                    </p>

                    <h3>6. ДЕЙСТВИЕ ПРАВИЛ</h3>
                    <p>6.1. Настоящие Правила являются неотъемлемой частью Договора об оказании услуг, заключаемого
                        между Заказчиком и Исполнителем и вступают в силу с момента заключения такого Договора и
                        действуют в течение срока его действия.
                    </p>
                    <p>6.2. Недействительность какого-либо из положений Договора не влечет за собой недействительности
                        других положений Договора или настоящих Правил в целом.
                    </p>
                    <p>6.3. Заказчик вправе отказаться от исполнения Договора полностью или частично без
                        предварительного уведомления в случае нарушения Исполнителем любой гарантии, предоставленной
                        им согласно Правил, а также вправе приостановить оказание услуг до урегулирования спора, если
                        какие-либо требования были предъявлены к нему по поводу Игры/Приложения при условии полных
                        финансовых расчетов с Исполнителем.
                    </p>

                    <h3>7. ОТВЕТСТВЕННОСТЬ</h3>
                    <p>7.1. За невыполнение или ненадлежащее выполнение обязательств Исполнитель и Заказчик несут
                        ответственность в соответствии с законодательством Российской Федерации.
                    </p>
                    <p>7.2. Исполнитель несет ответственность за содержание и достоверность сведений, содержащихся в
                        Игре/Приложении, за нарушение авторских/смежных прав, несанкционированное использование
                        торговых марок, товарных знаков, наименований фирм и их логотипов, а также по обязательствам,
                        принятым на себя перед третьими лицами по поводу услуг.
                    </p>
                    <p>7.3. В случае поступления претензий от третьих лиц, связанных с Игрой/Приложением, Исполнитель
                        самостоятельно и за свой счет урегулирует указанные претензии.
                    </p>
                    <p>7.4. В случае вовлечения Заказчика в судебный процесс по вине Исполнителя, а также наложения на
                        Заказчика штрафов контролирующими органами, в связи с выполнением Заказчиком своих обязательств,
                        Исполнитель возмещает Заказчику понесенные в связи с этим убытки в полном объеме, включая
                        судебные и иные расходы.
                    </p>

                    <h3>8. ОБСТОЯТЕЛЬСТВА НЕПРЕОДОЛИМОЙ СИЛЫ</h3>
                    <p>8.1. Сторона освобождается от ответственности за неисполнение или ненадлежащее исполнение своих
                        обязательств в случае действия обстоятельств непреодолимой силы.
                    </p>
                    <p>8.2. Под обстоятельствами непреодолимой силы понимаются обстоятельства, имеющие чрезвычайный,
                        неотвратимый и непредвиденный характер, исключающие или объективно препятствующие исполнению
                        Договора, наступление которых Стороны не могли предвидеть и предотвратить разумными мерами.
                    </p>
                    <p>8.3. Сторона, ссылающаяся на действие обстоятельств непреодолимой силы, должна письменно
                        уведомить другую Сторону о наступлении таких обстоятельств в течение 5 (пяти) календарных дней
                        с момента наступления таких обстоятельств.
                    </p>
                    <p>8.4. Если Сторона, ссылающаяся на действие обстоятельств непреодолимой силы, надлежащим образом
                        не уведомила другую Сторону о наступлении таких обстоятельств, то такая Сторона утрачивает
                        право ссылаться на действие вышеуказанных обстоятельств в случае неисполнения или ненадлежащего
                        исполнения своих обязанностей по настоящему Договору.
                    </p>

                    <h3>9. КОНФИДЕНЦИАЛЬНОСТЬ</h3>
                    <p>9.1. Содержание Договора является строго конфиденциальным.</p>
                    <p>Ни одна из Сторон не вправе, если иное прямо не предусмотрено Договором, разглашать или любым
                        иным образом прямо или косвенно раскрывать обстоятельства заключения Договора, его содержание и
                        условия, информацию о Сторонах и/или любых документах и информации (в том числе правового,
                        коммерческого, технического или организационного характера), имеющихся у нее, полученных от
                        любых лиц или ставших доступными любым образом в связи с Договором или в ходе его исполнения.
                    </p>
                    <p>9.2. Ни одна из Сторон не имеет права использовать информацию и документы, носящие
                        конфиденциальный характер по Договору, самостоятельно в личных целях или в целях извлечения
                        прибыли вне рамок исполнения Договора. Под конфиденциальной информацией для целей Договора
                        понимается любая научно-техническая, технологическая, коммерческая, организационная или иная
                        информация, имеющая действительную или потенциальную коммерческую ценность для Сторон по
                        Договору в силу ее неизвестности третьим лицам, которые могли бы получить выгоду от ее
                        разглашения или использования, к которой нет свободного доступа на законном основании, и по
                        отношению к которой принимаются адекватные ее ценности меры охраны.
                    </p>
                    <p>9.3. Каждая из Сторон обеспечивает соблюдение конфиденциальности со стороны своих работников,
                        аудиторов, консультантов, технических специалистов и иных лиц, привлеченных ей в связи с
                        заключением и исполнением Договора, и несет ответственность за соблюдение ими
                        конфиденциальности в отношении полученной информации.
                    </p>
                    <p>9.4. Исполнитель вправе сделать заявление, в том числе публичное, о том факте, что между
                        Сторонами заключен Договор, только после получения письменного согласия Заказчика, и без
                        разглашения конкретных его условий. При этом форма и содержание такого заявления должны быть
                        согласованы с Заказчиком в письменном виде.
                    </p>

                    <h3>10. ИНЫЕ ПОЛОЖЕНИЯ</h3>
                    <p>10.1. Споры между Сторонами, а также между Сторонами и третьими лицами в связи с заключением,
                        исполнением и прекращением Договора подлежат рассмотрению в Арбитражном суде г.Санкт-Петербурга.
                        Соблюдение досудебного претензионного порядка при этом является обязательным. Претензии
                        направляются за подписью уполномоченных представителей Сторон и должны быть рассмотрены
                        Стороной, получившей претензию, в течение 10 (десяти) календарных дней со дня ее получения.
                    </p>
                    <p>10.2. Письменные документы (в том числе уведомления, письма, требования и т.д.) по Договору
                        могут направляться одной Стороной другой Стороне курьером или заказным письмом. Копии указанных
                        документов могут также направляться по факсу или по электронной почте с обязательным последующим
                        предоставлением оригинала отправленного документа.
                    </p>
                    <p>10.3. Заказчик вправе потребовать у Исполнителя предоставления заверенные печатью копий
                        документов: Выписку из ЕГРЮЛ, Свидетельство ОГРН, Свидетельство о постановке на налоговый учет,
                        Приказ о назначении Исполнительного органа или доверенность о праве лица, подписывающего
                        Договор совершать такие действия, а также копии любых разрешений, лицензий на право
                        использования объектов интеллектуальной собственности в рамках исполнения обязательств по
                        Договору. Документы, указанные в настоящем пункте предоставляются в течение 10 (Десяти)
                        календарных дней с момента поступления требования.
                    </p>
                    <p>10.4. Неотъемлемой частью настоящих Правил является Порядок рассмотрения претензий и споров,
                        возникающих в связи с Игрой/Приложением, размещенный под каждой соответствующей
                        Игрой/Приложением на странице Игры/Приложения на Сайте. Исполнитель обязуется осуществлять
                        техническую поддержку Игры/Приложения и поддержку обратной связи с Пользователем в
                        соответствии с вышеуказанным Порядком.
                    </p>
                    <p>Редакция от «20» января 2017 года</p>

                </div>
            </div>
        </div>

    {% include "ya_metrika.twig" %}
    {% include "fb_pixel.twig" %}
    {% include "retention.twig" %}
    </body>
</html>
