<div class="modal-wrap" id="help">
    <div class="overlay"></div>
    <div class="modal dev-dialog__content dev-dialog__content--help">
        <div class="dev-dialog__header dev-dialog__header--help">
            <div class="dev-dialog__header-title">Задать вопрос</div>
            <div class="dev-dialog__header-close" data-modal-close><i class="icon-close"></i></div>
        </div>

        <div class="dev-dialog__help modal__content">
            <form method="post" action="/help/send/" autocomplete="off">
                <div class="sel" data-depends="#dev-dialog__help-subject">
                    <input class="sel_hidden" type="hidden" name="" value="" />

                    <div class="sel_in">
                        <span class="sel_title">Выберите тему обращения</span>
                        <span class="sel_arrow"></span>
                    </div>

                    <ul class="sel_list mCustomScrollbar">
                        <li data-value="Ошибка в работе сайта">Ошибка в работе сайта</li>
                        <li data-value="Регистрация/авторизация">Регистрация/авторизация</li>
                        <li data-value="Предложения/пожелания">Предложения/пожелания</li>
                        <li data-value="Предложение сотрудничества">Предложение сотрудничества</li>
                        <li data-value="Другие вопросы и комментарии">Другие вопросы и комментарии</li>
                    </ul>
                </div>
                <label for="dev-dialog__help-subject" class="error" id="dev-dialog__help-subject-error" style="display:none;"></label>

                <input type="text" placeholder="Контактный e-mail" name="email" />
                <label for="email" class="error" id="email-error" style="display:none;"></label>
                <input type="text" placeholder="Ваше имя" name="name" />
                <label for="name" class="error" id="name-error" style="display:none;"></label>
                <textarea rows="4" placeholder="Ваш запрос"  name="question"></textarea>
                <label for="question" class="error" id="question-error" style="display:none;"></label>

                <div class="dev-dialog__help-btns clearfix">
                    <button type="submit" class="main right">Отправить</button>
                    {% if user is not defined %}
                        <div id="recaptcha_help" style="padding:0;margin-bottom:10px;position:relative;clear:both;width:100%;margin-left:90px;display:none;"></div>
                    {% endif %}
                </div>
                <div style="visibility: hidden; height: 0; overflow: hidden;">
                    <input name="subject" value="" type="text" id="dev-dialog__help-subject">
                </div>
            </form>
        </div>
    </div>
</div>