<div class="modal-wrap" id="modalExit">
    <div class="overlay"></div>
    <div class="modal m2-content">
        <a href="#" class="m2-close" data-modal-close onclick="return false;"><i class="icon-close"></i></a>

        <div class="m2-intro">
            <div class="m2-intro--wrap no-photo"></div>
        </div>

        <div class="m2-body">
            <div class="m2-title">Вы играли <span>4 минуты</span></div>
            <div class="m2-text">Уверены, что хотите уйти?</div>
            <div class="m2-btns">
                <a href="#" class="m2-btn is-main" onclick="return cancelLeave(this);" style="margin-bottom:0">Пожалуй останусь</a>
                {#<a href="#" class="m2-btn is-second">Да, я хочу уйти</a>#}
            </div>
        </div>
    </div>
</div>
<div data-modal="modalExit"></div>

{#<div class="modal-wrap" id="modalBookmark">
    <div class="overlay"></div>
    <div class="modal m2-content">
        <a href="#" class="m2-close" data-modal-close><i class="icon-close"></i></a>

        <div class="m2-intro">
            <div class="m2-intro--wrap"><img src="/assets/img/m2-avatar.png" alt="" /></div>
        </div>

        <div class="m2-body">
            <div class="m2-icon"><i class="icon-star"></i></div>
            <div class="m2-title">Добавьте EXE в закладки,</div>
            <div class="m2-text">чтобы не забыть вернуться</div>
            <div class="m2-btns">
                <a href="#" class="m2-btn is-main is-block">Добавить в закладки</a>
                <a href="#" class="m2-btn is-second is-block">Сделаю это позже</a>
            </div>
        </div>
    </div>
</div>
<div data-modal="modalBookmark"></div>

<div class="modal-wrap" id="modalSignup">
    <div class="overlay"></div>
    <div class="modal m2-content">
        <a href="#" class="m2-close" data-modal-close><i class="icon-close"></i></a>

        <div class="m2-intro">
            <div class="m2-intro--wrap"><img src="/assets/img/m2-avatar.png" alt="" /></div>
        </div>

        <div class="m2-body">
            <div class="m2-icon"><i class="icon-key"></i></div>
            <div class="m2-title">Зарегистрируйтесь,</div>
            <div class="m2-text">чтобы не потерять прогресс и получить 10 рублей на баланс</div>
            <div class="m2-btns">
                <a href="#" class="m2-btn is-main is-block">Зарегистрироваться</a>
                <a href="#" class="m2-btn is-second is-block">Сделаю это позже</a>
            </div>
        </div>
    </div>
</div>
<div data-modal="modalSignup"></div>#}

<div class="modal-wrap" id="modalBookmarkN">
    <div class="overlay"></div>
    <div class="modal m2-content">
        <a href="#" class="m2-close" data-modal-close onclick="return false;"><i class="icon-close"></i></a>

        <div class="m2-intro">
            <div class="m2-intro--wrap no-photo"></div>
        </div>

        <div class="m2-body">
            <div class="m2-icon"><i class="icon-star"></i></div>
            <div class="m2-title">Добавьте EXE в закладки,</div>
            <div class="m2-text">чтобы не забыть вернуться</div>
            <div class="m2-btns">
                <a href="https://exe.ru/app{{ gameData.gid }}" class="m2-btn is-main is-block" rel="sidebar" style="margin-bottom:0" onclick="add_favorite(this); return false;">Добавить в закладки</a>
                {#<a href="#" class="m2-btn is-second is-block">Сделаю это позже</a>#}
            </div>
        </div>
    </div>
</div>
<div data-modal="modalBookmarkN"></div>

<div class="modal-wrap" id="modalSignupN">
    <div class="overlay"></div>
    <div class="modal m2-content">
        <a href="#" class="m2-close" data-modal-close onclick="return false;"><i class="icon-close"></i></a>

        <div class="m2-intro">
            <div class="m2-intro--wrap no-photo"></div>
        </div>

        <div class="m2-body">
            <div class="m2-icon"><i class="icon-key"></i></div>
            <div class="m2-title">Зарегистрируйтесь,</div>
            <div class="m2-text">чтобы не потерять прогресс и получить 10 рублей на баланс</div>
            <div class="m2-btns">
                <a href="#" class="m2-btn is-main is-block tab-register" data-modal="login-modal" data-module="users" data-method="setDestination" style="margin-bottom:0">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>
<div data-modal="modalSignupN"></div>