<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Условия использования EXE</title>
        <link rel="icon" type="image/png" href="/16_01.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/32_01.png" sizes="32x32">

        <link rel="stylesheet" href="/assets/css/main.css?{{ constant('CSS_VERSION') }}">
        <link rel="stylesheet" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}">
<style>
    p {
        text-align: left;
    }
</style>
    </head>
    <body class="body__rules">
        <div class="site-header">
            <a href="/" class="site-logo site-logo--header">
                <img src="/assets/img/logo.png">
            </a>
        </div>
        <div class="main">
            <div class="main__content">
                <div class="container">
                    <h2>Условия использования EXE.ru</h2>

                    <h3>Пользовательское соглашение</h3>

                    <p>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта EXE.ru (далее&nbsp;— «Сайт»).</p>

                    <h3>Что такое игровой портал EXE.ru</h3>
                    <p>EXE.ru – современный игровой портал, максимально простой и понятный для игроков и разработчиков.
                        Браузерные игры – отличный способ занять свое время. У нас вы найдете только лучшие игры Сети.
                    </p>
                    <p>Мы знаем, какие инструменты нужны  для удобного размещения приложения. Мы знаем, что нужно игрокам, и мы хотим,
                        чтобы они были максимально вовлечены в игровой процесс.
                    </p>

                    <h3>Основные задачи и функции игрового портала EXE.ru</h3>
                    <ul>
                        <li>Лучшие браузерные игры сети, собранные на одной площадке</li>
                        <li>Простота регистрации</li>
                        <li>Увлекательный игровой процесс</li>
                        <li>Социальная составляющая – общайтесь с друзьями, находите новых знакомых, играйте вместе!</li>
                    </ul>

                    <h3>Хранение данных</h3>
                    <p>На сайте EXE.ru хранится только логин/емейл зарегистрированного пользователя. Все
                        пароли от учетных записей зашифрованы и не хранятся в открытом виде.
                    </p>

                    <h3>Использование Сайта</h3>
                    <p>Используя наш Сайт, вы соглашаетесь с настоящими Условиями.</p>
                    <p>Вы должны соблюдать все правила, с которыми вам будет предложено ознакомиться при использовании Сайта.</p>

                    <h3>Условия использования Сайта EXE.ru</h3>
                    <p>Настоящий документ «Условия использования EXE.ru» (далее «Правила») представляет собой
                        предложение заключить договор между ООО «Интернет-Парк» (далее - «Администрация сайта»)
                        и физическим лицом (далее «Пользователь»), на изложенных ниже условиях Соглашения.
                    </p>

                    <h3>1. Термины</h3>
                    <p>1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон
                        применяются следующие термины и определения:
                    </p>
                    <p><b>Пользователь</b> - дееспособное физическое лицо, присоединившееся к настоящему Соглашению,
                        либо выступающее от имени и в интересах представляемого им юридического лица.
                    </p>
                    <p><b>Аккаунт Пользователя (далее «Аккаунт»)</b> - полная и точная информация о Пользователе,
                        необходимая для использования сервисов «Сайта».</p>
                    <p><b>Временный аккаунт Пользователя, далее «Временный аккаунт»</b> - минимальная информация о
                        пользователе, необходимая для использования части функционала «Сайта»
                    </p>
                    <p><b>Администрация сайта</b> - Под Администрацией сайта EXE.ru (ранее и далее - Администрация сайта,
                        Администрация) в настоящих Правилах и иных специальных документах, размещенных на Сайте,
                        понимается Общество с ограниченной ответственностью «Интернет-Парк» юридическое лицо,
                        созданное по законодательству Российской Федерации и зарегистрированное по адресу: Российская
                        Федерация, Санкт-Петербург, 195599, ул. Уральская, дом 13, литера К, БЦ «Алмаз».
                    </p>
                    <p><b>Сайт Администрации (далее Сайт</b>) - сайт EXE.ru - сервис с набором услуг, являющийся
                        собственностью ООО «Интернет-парк», далее «Администрация сайта», именуемые далее вместе и по
                        отдельности «Сайт»
                    </p>
                    <p><b>Контент</b> - все объекты, размещенные на Сайте, текст, графические изображения, иллюстрации,
                        скрипты, программы, звуки и другие объекты, и их подборки.
                    </p>
                    <p><b>Приложение</b> – игровое приложение, размещенное на Сайте с согласия «Разработчика».
                    </p>
                    <p><b>Разработчик</b> – физическое или юридическое лицо, являющееся создателем «Приложения»,
                        размещаемого на Сайте.
                    </p>
                    <p><b>Нотификации</b> - информационные электронные сообщения о событиях, происходящих в рамках Сайта.
                    </p>
                    <p><b>Дополнительный функционал</b> - дополнительный Контент, доступ к которому, Пользователь может
                        добровольно приобрести за определенную  плату, установленную Администрацией Сайта.
                    </p>
                    <p><b>Соглашение</b> - настоящее соглашение между Администрацией сайта и Пользователем со всеми
                        дополнениями и изменениями.
                    </p>

                    <h3>2. Общие условия</h3> 

<p>2.1. Условия использования (далее – Правила) относятся к сайту EXE.RU, расположенному по адресу www.exe.ru, и ко всем поддоменам exe.ru</p>

<p>2.2.	Сайт exe.ru является собственностью ООО "ЕХЕ"</p>

<p>2.3.	Настоящие Правила регулирует отношения между Администрацией сайта EXE.RU (Далее "Администрация сайта") и Пользователями EXE.RU.</p>

<p>2.4. Администрация сайта оставляет за собой право в любое время изменять Правила по собственному усмотрению.</p>					

                    <h3>3.Обязательства Пользователя</h3>
                        <p>3.1. Использования EXE.RU Пользователем означает принятие Правил и изменений, внесенных в настоящие Правила.</p>
						<p>3.2. Пользователь несет персональную ответственность за проверку настоящих Правил на наличие изменений в них.</p>              

                    <h3>4. Условия использования дополнительного функционала</h3>
                    <p>4.1. Использование Приложений является бесплатным</p>
                    <p>4.2. Если Пользователь не достиг совершеннолетия, он может использовать дополнительный функционал
                        Сайта только с разрешения родителя или опекуна. Пользовательдолжен убедиться, что он и его
                        родители или опекуны ознакомились с условиями, и понимают свои права и обязанности. Пользователь
                        должен внимательно ознакомиться с Условиями приобретения дополнительного функционала, чтобы
                        понимать свои права и обязанности, равно как и права и обязанности Администрации сайта.
                    </p>
                    <p>4.3. Пользователь, совершая покупку дополнительного функционала, соглашается предоставить
                        действительный источник финансирования для пополнения своего электронного баланса. После
                        осуществления этой операции Администрация сайта переводит сумму разработчику, а Пользователю
                        предоставляются дополнительный  функционал, который он приобрел. Обратите внимание на детали
                        сделки, потому что общая стоимость покупки может включать налоги и сборы, за оплату которых
                        несет ответственность Пользователь.
                    </p>

                    <h3>5. Условия использования персональных данных</h3>
                    <p>5.1. Присоединяясь к условиям настоящего Соглашения, Пользователь дает настоящее письменное
                        согласие на автоматизированную обработку предоставляемых персональных данных в целях заключения
                        договора на условиях настоящего Соглашения, а также его последующего исполнения.
                    </p>
                    <p>5.2. В случаях, допускаемых функциональными возможностями Сайта, Пользователь самостоятельно
                        определяет степень доступности своих персональных данных другим пользователям сети Интернет.
                    </p>
                    <p>5.3. Пользователь признает и соглашается, что в случае размещения им своих персональных данных с
                        использованием Сайта, способом, предоставляющим возможность их получения пользователями Интернет,
                        персональные данные Пользователя считаются общедоступными. Пользователь также осознает, что его
                        персональные данные считаются общедоступными в случаях, когда на них в соответствии с федеральными
                        законами не распространяется требование соблюдения конфиденциальности.
                    </p>
                    <p>5.4. Присоединяясь к условиям настоящего Соглашения, Пользователь дает письменное согласие на
                        использование его персональных данных.
                    </p>

                    <h3>6. Нотификации</h3>
                    <p>6.1. Подтверждая настоящее Соглашение, Пользователь дает письменное согласие получать от
                        Администрации сайта информационные электронные сообщения (далее - «нотификации»). Нотификации
                        отправляются Администрацией сайта на указанный Пользователем в Аккаунте электронный адрес.
                    </p>
                    <p>6.2. Администрация сайта вправе использовать нотификации для информирования Пользователя о
                        возможностях Сайта.
                    </p>

                    <h3>7. Удаление профиля Пользователя.</h3>
                    <p>7.1 Удаление профиля Пользователя с Сайта осуществляется Администрацией сайта по запросу Пользователя.
                        Запрос на удаление должен быть представлен в письменном виде на электронную почту support@EXE.ru.
                    </p>

                    <h3>8. Использование Сайта без регистрации</h3>
                    <p>8.1. Пользователь «Сайта» может воспользоваться функцией «Играть без регистрации».</p>
                    <p>8.2. «Играть без регистрации» - способ познакомиться с заинтересовавшим Пользователя Приложением,
                        без создания полноценного Аккаунта на Сайте.
                    </p>
                    <p>8.3. Выбирая пункт «Играть без регистрации», Пользователь соглашается с созданием Временного
                        аккаунта на Сайте.
                    </p>
                    <p>8.4. Для Пользователя с Временным аккаунтом, функционал сайта ограничен.</p>
                    <p>8.5. Пользователь может сохранить достигнутый прогресс и приобретенный Дополнительный функционал
                        в Приложении, зарегистрировав Аккаунт на Сайте.
                    </p>
                    <p>8.6. При регистрации Аккаунта на Сайте, данные Временного аккаунта заменяются данными Аккаунта
                        Пользователя с сохранением прогресса и приобретенного Дополнительного функционала.
                    </p>
                    <p>8.7. <b>Внимание!!!</b> Прогресс и покупки не сохраняются при переходе Пользователем в уже
                        созданный Аккаунт на Сайте из Временного аккаунта.
                    </p>

                    <h3>9. Прочие условия</h3>
                    <p>9.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат
                        разрешению в соответствии с действующим законодательством Российской Федерации.
                    </p>
                    <p>9.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации
                        Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности,
                        отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
                    </p>
                    <p>9.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим
                        принудительному исполнению не влечет недействительности иных положений Соглашения.
                    </p>
                    <p>9.4. Бездействие со стороны Администрации сайта в случае нарушения кем-либо из Пользователей
                        положений Соглашения не лишает Администрацию сайта права предпринять позднее соответствующие
                        действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с
                        законодательством материалы Сайта.
                    </p>
                    <p>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно
                        принимает их.
                    </p>
                    <p>9.5. Никакие положения настоящего Соглашения не предоставляют Пользователю право на использование
                        Контента Сайта. Право на использование контента может быть предоставлено исключительно по
                        письменному соглашению с Администрацией сайта.
                    </p>
                    <p>9.6. Пользователь имеет право удалить свой профиль с Сайта написав Администрации сайта письмо в
                        Службу поддержки, в котором четко и ясно сообщит о своем желании. Администрация сайта, в течение
                        30 дней после согласования удаления профиля Пользователя с самим Пользователем, обязуется удалить
                        профиль Пользователя с Сайта.</p>

                    <h3>10. Разрешение споров</h3>
                    <p>10.1. Условия использования Сайта регулируются в соответствии с законодательством РФ по месту
                        нахождения Администрации сайта. В случае возникновения спорных ситуаций, для урегулирования споров
                        применяются Условия использования сайта EXE.ru, расположенные по адресу: <a href="http://exe.ru/rules">http://exe.ru/rules</a>.
                        Пользователь и Администрация сайта обязуются приложить совместные усилия для разрешения спорных
                        ситуаций, связанных с несоблюдением пунктов данных Условий, мирным путем. В случае если спорные
                        ситуации не будут улажены мирным путем, споры подлежат рассмотрению в суде по месту нахождения
                        Администрации сайта.
                    </p>
                    <p>10.2. Если по каким-то причинам один или несколько пунктов данных Условий будут признаны
                        недействительными и не имеющими юридической силы, это не влияет на легитимность и применимость
                        остальных пунктов Условий.
                    </p>

                    <h3>11. Изменение и/или дополнение Условий</h3>
                    <p>Администрация сайта оставляет за собой право изменять или дополнять Условия использования сайта
                        EXE.ru. Пользователь обязуется соблюдать и своевременно проверять возможные обновления в
                        действующей редакции Соглашения.
                    </p>
                    <p>Дата последней редакции 14 сентября 2016 года</p>
                </div>
            </div>
        </div>

    {% include "ya_metrika.twig" %}
    {% include "fb_pixel.twig" %}
    {% include "retention.twig" %}
    </body>
</html>
