<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/api.js"></script>
    <script>
        var options = {
            'users.get': 'handlerDebug',
            'users.isAppUser': 'handlerDebug',
            'friends.get': 'handlerDebug',
            'friends.getAppUsers': 'handlerDebug',
            'showRequestBox': 'handlerDebug',
            'showInviteFriends': 'handlerDebug',
            'showOrderBox': 'handlerDebug',
            'showPublishBox': 'handlerDebug',
            'setHeight': 'handlerDebug'
        };

        var api = new ExeRuApi(options);

        function handlerDebug(functionName, r) {
            console.debug('handlerDebug start:');
            console.debug(functionName);
            console.debug(r);
            console.debug('handlerDebug end.')
        }
        (function($){
/*            api.showRequestBox(
                    {
                        "uid": "1303195",
                        "text": "Ай нид хелп, май френд!",
                        "request_key": "test_ok2"
                    }
            );*/
            api.showInviteFriends(
                    {
/*
                        "uid": "1303195",
                        "text": "Ай нид хелп, май френд!",
*/
                        "request_key": "test_ok2"
                    }
            );
        })(jQuery);

    </script>
</head>
<body>
    <p>Сессия пользователя: <b>{{ user_sid }}</b></p>
    <p>Сессия игры: <b>{{ game_sid }}</b></p>
    <hr/>
    <div id="results"></div>
</body>
</html>