{% extends "dev/layout.twig" %}
	{%  block content %}


        <div class="dev-content__white-box dev-main container">

            <div class="dev-main__poster">
                <img src="{{ constant('IMAGE_HOST') }}/assets/img/dev-main__poster.png" alt="" />
                <a href="/games" class="first btn-lg btn-lg--sign-in" data-href="/games">Мои игры</a>
                <a href="/add" class="second btn-lg btn-lg--sign-in" data-href="/add">Разместить игру</a>
            </div>

            <div class="dev-main__padbox">
                <div class="dev-main__title">Размещение браузерных игр</div>
                <div class="dev-main__txt">EXE.ru – современный игровой портал с постоянно растущей аудиторией. Мы предоставляем разработчикам максимально выгодные условия для размещения приложений. Понятные и простые инструменты позволят Вам быстро и легко разместить свое приложение в нашем каталоге, привлечь аудиторию и стать успешным разработчиком! Начните прямо сейчас!</div>

                <div class="dev-main__columns clearfix">
                    <div class="dev-main__columns-l left">
                        <a href="/doc" class="dev-main__columns-title">Документация</a>
                        <div class="dev-main__columns-txt">Подробное описание процесса и условий размещения игр на платформе EXE.ru.</div>

                        <a href="/doc/methods" class="dev-main__columns-title">Список методов игрового API</a>
                        <div class="dev-main__columns-txt">Все методы для работы с данными платформы EXE.ru: серверные, клиентские, платежные.</div>

                    </div>

                    <div class="dev-main__columns-r right">
                        {#
                                            <a href="#" class="dev-main__columns-title">Авторизация</a>
                                            <div class="dev-main__columns-txt">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова</div>

                                            <a href="#" class="dev-main__columns-title">Взаимодействие с API</a>
                                            <div class="dev-main__columns-txt">Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,</div>

                                            <a href="#" class="dev-main__columns-title">Javascript SDK</a>
                                            <div class="dev-main__columns-txt">Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца</div>
                        #}
                        <a href="/doc/terms" class="dev-main__columns-title">Условия размещения</a>
                        <div class="dev-main__columns-txt">Требования, предъявляемые к играм и разработчикам администрацией сайта.</div>


                        <a href="/doc/feedback" class="dev-main__columns-title">Обратная связь</a>
                        <div class="dev-main__columns-txt">Вопросы, связанные с размещением игр, запросам к API, неполадкам на сайте.</div>
                    </div>
                </div>

                <div class="dev-btns clearfix">
                    <a href="/add" class="main btn-lg btn-lg--sign-in" data-href="/add">Разместить игру</a>
                    <a href="/games" class="additional btn-lg btn-lg--sign-in" data-href="/games">Мои игры</a>
                </div>
            </div>

        </div>
    {% endblock %}
