{% if constant('ENVIRONMENT') == 'development' %}
    {% set site='http://exe.ru.dev' %}
{% elseif constant('ENVIRONMENT') == 'testing' %}
    {% set site='http://test.exe.ru' %}
{% else %}
    {% set site='http://exe.ru' %}
{% endif %}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    {% if constant('ENVIRONMENT') != 'production' %}
    <meta name="robots" content="noindex,nofollow" />
    {% endif %}
    <meta charset="utf-8" />
    <title>EXE | Developers</title>


    {#<!-- Данное значение часто используют поисковые системы, заполняем ответственно -->#}
    <meta name="description" content="" />

    <script type="text/javascript" src="/assets/js/dpr.js?{{ constant('JS_VERSION') }}"></script>

    {#<!-- Традиционная иконка сайта, размер 16x16, прозрачность поддерживается. Рекомендуемый формат: .ico -->#}
    {#<link rel="shortcut icon" href="favicon.ico" />#}
    <link rel="icon" type="image/png" href="/16_01.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/32_01.png" sizes="32x32">

    {#<!-- Иконка сайта для устройств от Apple, рекомендуемый размер 114x114, прозрачность не поддерживается -->#}
    {#<link rel="apple-touch-icon" href="apple-touch-icon.png" />#}

    {#<!-- Подключаем файлы стилей -->#}
    {#
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    #}
    <link rel="stylesheet" type="text/css" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}" />
    {#
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    #}

    <link rel="stylesheet" type="text/css" href="/assets/css/dev.css?{{ constant('CSS_VERSION') }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/modal.css?{{ constant('CSS_VERSION') }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css?{{ constant('CSS_VERSION') }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.datetimepicker.css?{{ constant('CSS_VERSION') }}"/>
    {#<!-- Скрипты -->#}
    <script type="text/javascript" src="/assets/js/jquery.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.validate.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/dropdown.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/transition.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js?{{ constant('JS_VERSION') }}"></script>

    {% if user is not defined %}
        <script type="text/javascript" src="/assets/js/guest.js?{{ constant('JS_VERSION') }}"></script>
        <script src='https://www.google.com/recaptcha/api.js?onload=grecaptchaCallback&render=explicit' async defer></script>
    {% else %}
        <script type="text/javascript" src="/assets/js/modernizr.js?{{ constant('JS_VERSION') }}"></script>
        <script type="text/javascript" src="/assets/js/classie.js?{{ constant('JS_VERSION') }}"></script>
        <script type="text/javascript" src="/assets/js/dialogfx.js?{{ constant('JS_VERSION') }}"></script>
        <script src="/assets/js/jquery.datetimepicker.full.min.js?{{ constant('JS_VERSION') }}"></script>
        {% if constant('ENVIRONMENT') == 'production' %}
            <script type="text/javascript" src="/assets/js/dev.js?{{ constant('JS_VERSION') }}"></script>
        {% else %}
            <script type="text/javascript" src="/assets/js/full/dev.js?{{ constant('JS_VERSION') }}"></script>
        {% endif %}
    {% endif %}
    <script>
        var
            imageHost = '{{ constant('IMAGE_HOST') }}',
            pageUrl = window.location.pathname == '/help' ? '/doc' : window.location.pathname;
    </script>
</head>
<body>

<div class="dev-header clearfix">
    <div class="dev-header__logo left"><a href="/">developers</a></div>

    <div class="dev-header__user left clearfix">
        {% if user is defined %}
            <a href="{{ site }}" target="_blank">
            <div class="avatar left">
                <img src="{{ constant('IMAGE_HOST') }}{{ user.photo.70 }}" alt="" />
                {#<p>{{ user.name|length > 15 ? user.name[:12] ~ '...' : user.name }} {{ user.last_name|length > 15 ? user.last_name[:12] ~ '...' : user.last_name }}</p>#}
                <p>{{ user.name }} {{ user.last_name }}</p>
            </div>
            </a>
        {% else %}
            <div class="avatar left"></div>
            <div class="name left"></div>
        {% endif %}

    </div>

    <div class="dev-header__nav left">
        <ul class="clearfix">
            <li{% if topLink == 'doc' %} class="active" {% endif %}><a href="/doc">Документация</a></li>
            <li{% if topLink == 'games' %} class="active" {% endif %}><a href="/games" class="btn-lg btn-lg--sign-in" data-href="/games">Мои игры</a></li>
            <li><a href="#" data-modal="help" data-module="dev" data-method="helpReset">Поддержка</a></li>
            {% if user is defined %}
                {% if isModerator(user.uid) %}
                    <li{% if topLink == 'control' %} class="active" {% endif %}><a href="/control">Заявки</a></li>
                    <li{% if topLink == 'contracts' %} class="active" {% endif %}><a href="/contracts">Договоры</a></li>
                {% elseif game.contract is defined and game.contract != '' and hasAccess(user.uid, game.gid, constant('\\Base\\Service\\Roles::ACCESS_CONTRACT'))%}
                    <li{% if topLink == 'contracts' %} class="active" {% endif %}><a href="/contract/applications/{{ game.contract }}">Договор</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

    <div class="dev-header__search right">
        <form method="POST" action="" autocomplete="off">
            <button type="submit"><i class="icon-search"></i></button>
            <input type="text" placeholder="Поиск" />
        </form>
    </div>
</div>

<div class="dev-content minHeight">
    {% block content %}{% endblock %}
</div>

<div class="dev-footer">
    <div class="container clearfix">
        <div class="dev-footer__copyrights left">&copy; {{ "now"|date('Y') }}&nbsp;&nbsp;EXE.RU&nbsp;&nbsp;Все права защищены</div>

        <div class="dev-footer__nav right">
            <ul class="clearfix">
                <li><a href="#" data-modal="about">О проекте</a></li>
                <li class="sep">|</li>
                <li><a href="#" data-modal="help" data-module="dev" data-method="helpReset">Помощь</a></li>
                <li class="sep">|</li>
                <li><a href="/">Разработчикам</a></li>
{#
                <li class="sep">|</li>
                <li><a href="#">Реклама</a></li>
                <li class="sep">|</li>
                <li><a href="#">Вакансии</a></li>
#}
            </ul>
        </div>
    </div>
</div>

{% if user is not defined %}
    {% include "dev/modal/login.twig" %}
{% endif %}

{% include "dev/modal/help.twig" %}
{% include "about_project.twig" %}
    <div id="inProgressShadow"><img src="{{ constant('IMAGE_HOST') }}/assets/img/loading2.gif"></div>

{% include "ya_metrika.twig" %}
{% include "fb_pixel.twig" %}
{% include "retention.twig" %}
</body>
</html>