{% extends "admin/layout.twig" %}
{%  block content %}
<div class="fluid-container admin_page">
    <div class="dev-uadmin__title">Управление пользователями</div>
    <form action="/" method="post" autocomplete="off">
    <div class="dev-uadmin__filters">
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Выбрать период:</div>
            <div class="dev-uadmin__filters-picker left">
                <div class="date-range">{{ form.start }} - {{ form.end }}</div>
                <input type="hidden" id="start" name="start" value="{{ form.start }}" />
                <input type="hidden" id="end" name="end" value="{{ form.end }}" />
            </div>

            <div class="dev-uadmin__filters-label alt left">Только UID:</div>
            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="..." name="byid" value="{{ form.byid }}"/>
            </div>

        </div>

        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Номера сессий:</div>
            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="5-16" name="session_number" value="{{ form.session_number }}"/>
            </div>

            <div class="dev-uadmin__filters-label alt left">Только GID:</div>
            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="..." name="bygid" value="{{ form.bygid }}"/>
            </div>
        </div>

        {% for key,value in form.filters %}
        <div class="dev-uadmin__filters-row clearfix" style="border-bottom: 1px solid #d8dcdf">
            <div class="dev-uadmin__filters-label left">
                {% if key == "auth" %}Авторизация:
                {% elseif key == "game" %}Игра:
                {% elseif key == "payments" %}Платежи:
                {% elseif key == "profile" %}Профиль:
                {% elseif key == "users" %}Пользователи:
                {% endif %}
            </div>
            <div class="dev-uadmin__filters-checkers left clearfix">
                {% for actionId,actionInfo in value %}
                    <div class="check-box">
                        <input type="checkbox" id="{{ key }}_ca{{ loop.index }}" name="filter[]" value="{{ actionId }}" {% if actionInfo.checked %}checked="checked"{% endif %}>
                        <label for="{{ key }}_ca{{ loop.index }}"><span><i class="icon-check"></i></span>{{ actionInfo.text }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Боты:</div>
            <div class="dev-uadmin__filters-checkers left clearfix">
                <div class="check-box">
                    <input type="checkbox" id="bots" name="bots" value="show" {% if form.bots.checked %}checked="checked"{% endif %}>
                    <label for="bots"><span><i class="icon-check"></i></span>Показывать</label>
                </div>
            </div>
        </div>

        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Временные:</div>
            <div class="dev-uadmin__filters-checkers left clearfix">
                <div class="check-box">
                    <input type="checkbox" id="temporary" name="temporary" value="show" {% if form.temporary.checked %}checked="checked"{% endif %}>
                    <label for="temporary"><span><i class="icon-check"></i></span>Показывать</label>
                </div>
            </div>
        </div>
    </div>

    <div class="dev-uadmin__submit">
        <div class="dev-btns clearfix">
            <button type="submit" name="page" value="1" class="main">Применить</button>
            {% if pages >= 1 %}
                {% if pages <= 20 %}
                    {% for i in 1..pages %}
                        {% if i != form.page %}
                            <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                        {% else %}
                            <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if form.page <= 5 %}
                        {% for i in 1..7 %}
                            {% if i != form.page %}
                                <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                            {% else %}
                                <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                            {% endif %}
                        {% endfor %}
                        <span style="cursor:default; margin-left:20px;">...</span>
                        <button type="submit" name="page" value="{{ pages }}" class="additional">{{ pages }}</button>
                    {% elseif form.page >= (pages - 4) %}
                        <button type="submit" name="page" value="1" class="additional">1</button>
                        <span style="cursor:default; margin-left:20px;">...</span>
                        {% for i in (pages - 6)..pages %}
                            {% if i != form.page %}
                                <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                            {% else %}
                                <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <button type="submit" name="page" value="{{ 1 }}" class="additional">{{ 1 }}</button>
                        <span style="cursor:default; margin-left:20px;">...</span>
                        {% for i in (form.page - 2)..(form.page + 2) %}
                            {% if i != form.page %}
                                <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                            {% else %}
                                <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                            {% endif %}
                        {% endfor %}
                        <span style="cursor:default; margin-left:20px;">...</span>
                        <button type="submit" name="page" value="{{ pages }}" class="additional">{{ pages }}</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    </form>
    <div class="dev-uadmin__table">
        <table>
            <thead>
            <tr>
                <th>Пользователь</th>
                <th>Действие</th>
                <th>Дата и время</th>
                <th>Email</th>
                <th>Одобрен</th>
                <th>Забанен</th>
            </tr>
            </thead>

            <tbody>
            {% for row in data %}
                <tr data-uid="{{ row.user.uid }}">
                    <td>
                        <div class="dev-uadmin__user{% if row.user.is_bot == 't' %} bot{% endif %}">
                            <a href="{{ site }}/id{{ row.user.uid }}" target="_blank"><img src="{{ constant('IMAGE_HOST') }}{{ row.user.photo.70 }}" alt="" /></a>
                            <a class="admin-filter-link admin-filter-user" href="{{ site }}/id{{ row.user.uid }}" data-uid="{{ row.user.uid }}">{{ row.user.name }} {{ row.user.last_name }}</a><br />{{ row.user.email }}
                        </div>
                    <td>{{ row.info.action | raw}}</td>
                    <td>{{ row.info.time | date('d.m.Y в H:i') }}{% if row.info.session_number %} (<a href="/marker/{{ row.info.marker }}" target="_blank"> {{ row.info.session_number }} </a>){% endif %}</td>
                    <td data-type="email_checked"><i class="dev-uadmin__icon {% if row.user.email_checked == 't' %}icon-check{% else %}icon-close{% endif %}"></i></td>
                    <td data-type="approved"><i class="dev-uadmin__icon {% if row.user.approved == 't' %}icon-check{% else %}icon-close{% endif %}"></i></td>
                    <td data-type="status"><i class="dev-uadmin__icon invert {% if row.user.status == 0 %}icon-check{% else %}icon-close{% endif %}"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}