{% extends "admin/layout.twig" %}
{%  block content %}
<div class="fluid-container admin_page">
    <div class="dev-uadmin__title">Карусель</div>
    <div class="dev-uadmin__table">
        <table>
            <thead>
            <tr>
                <th>GID</th>
                <th>Название</th>
                <th>Текст</th>
                <th>Жанр</th>
                <th>Включен</th>
            </tr>
            </thead>

            <tbody>
            {% for row in carusel %}
                <tr>
                    <td><div style="text-align: right;"><a href="/assets/img/carusel/{{ row.gid }}.jpg" target="_blank">{{ row.gid }}</a></div></td>
                    <td style="padding: 20px;">{{ row.title }}</td>
                    <td style="padding: 20px;">{{ row.text }}</td>
                    <td><div style="color:{{ row.color }}">{{ row.action }}</div></td>
                    <td data-gid="{{ row.gid }}"><i class="dev-uadmin__icon {% if row.enabled == 't' %}icon-check{% else %}icon-close{% endif %} banners"></i></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}