{% extends "admin/layout.twig" %}
{%  block content %}
<div class="fluid-container">
    <div class="dev-uadmin__title">Рассылка</div>
    <form action="/admin/emails_do/" method="post" autocomplete="off" class="emails">
    <div class="dev-uadmin__filters">
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width:200px;">Заходил последний раз:</div>

            <div class="dev-uadmin__filters-picker left">
                <div class="date-range">{{ form.start }} - {{ form.end }}</div>
                <input type="hidden" id="start" name="start" value="{{ form.start }}" />
                <input type="hidden" id="end" name="end" value="{{ form.end }}" />
            </div>

            <div class="dev-uadmin__filters-label left" style="width:80px; padding-left:30px;">GID:</div>

            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="..."  name="gid" value="{{ form.gid }}"/>
            </div>

            <div class="dev-uadmin__filters-label left" style="width:170px; padding-left:30px;">Тестовый email:</div>

            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="..."  name="testemail" value="{{ form.testemail }}"/>
            </div>
        </div>

        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width:200px;">Тема письма:</div>
            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="..." name="subject" value="" style="width: 1000px;"/>
            </div>
        </div>

        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width:200px">Шаблон для рассылки:</div>
            <div class="dev-uadmin__filters-input left">
                <textarea name="template" style="border: 2px solid #a3aeb9;padding: 11px 20px 13px;display: block;width: 1000px;height: 431px;font-size: 16px;line-height: 20px;">{% include "letters/template.twig" %}</textarea>
            </div>
        </div>
    </div>

    <div class="dev-uadmin__submit">
        <div class="dev-btns clearfix" style="padding-left:697px;">
            <button type="submit" name="submit" value="test" class="main right sendtest">Подготовить</button>
            <button type="submit" name="submit" value="send" style="background:lightgray; cursor:auto;" class="main right sendreal" disabled="disabled">Разослать</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}