{% if constant('ENVIRONMENT') == 'development' %}
    {% set site='//exe.ru.dev' %}
{% elseif constant('ENVIRONMENT') == 'testing' %}
    {% set site='//test.exe.ru' %}
{% else %}
    {% set site='//exe.ru' %}
{% endif %}
<a class="admin-filter-link admin-filter-game" href="{{ site }}/app{{ game.gid }}" target="_blank" data-gid="{{ game.gid }}">{{ game.title }}</a>