{% extends "admin/layout.twig" %}
{%  block content %}
    <script type="text/javascript" src="/assets/js/highstock.js"></script>
<div class="fluid-container">
    <div class="dev-game__box dev-charts" style="width:100%">
        <div class="dev-game__head">Статистика</div>

        <div class="dev-charts__sub-title first">1. Реклама / пользователи</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="0">День</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="1" data-loaded="false">Месяц</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="2" data-loaded="false">За все время (по месяцам)</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="3" data-loaded="false">За все время (по дням)</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="0">{{ graph.advert.day.start|date('d.m.y') }} — {{ graph.advert.day.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="1"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="2"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="3"></span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="0">
                    <div class="dev-charts__item item-0" data-loaded="true" style="width:1560px; height:400px;"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-0').highcharts('StockChart', {
                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'left',
                                    verticalAlign: 'bottom',
                                    itemStyle: {padding: '10px'}

                                },
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {% for groupName, groupValues in graph.advert.day.values %}
                                    {
                                        name: '{{ groupName }}',
                                        data: [{{ groupValues }}],
                                        pointInterval: 60 * 60 * 1000,
                                        pointStart: {{ (graph.advert.day.start + 3 * 3600) * 1000 }}
                                    },
                                    {% endfor %}
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="1">
                    <div class="dev-charts__item item-1" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="2">
                    <div class="dev-charts__item item-2" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="3">
                    <div class="dev-charts__item item-3" style="width:1560px; height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="dev-charts__sub-title">2. Новые пользователи / игры</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="4">День</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="5" data-loaded="false">Месяц</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="6" data-loaded="false">За все время (по месяцам)</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="7" data-loaded="false">За все время (по дням)</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="4">{{ graph.advert.day.start|date('d.m.y') }} — {{ graph.advert.day.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="5"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="6"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="7"></span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="4">
                    <div class="dev-charts__item item-4" data-loaded="true" style="width:1560px; height:400px;"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-4').highcharts('StockChart', {
                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'left',
                                    verticalAlign: 'bottom',
                                    itemStyle: {padding: '10px'}

                                },
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {% for group in graph.newGamers.day.series %}
                                    {
                                        name: '{{ group.name }}',
                                        data: [{{ group.values }}],
                                        pointInterval: 60 * 60 * 1000,
                                        pointStart: {{ (graph.newGamers.day.start + 3 * 3600) * 1000 }}
                                    },
                                    {% endfor %}
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="5">
                    <div class="dev-charts__item item-5" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="6">
                    <div class="dev-charts__item item-6" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="7">
                    <div class="dev-charts__item item-7" style="width:1560px; height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="dev-charts__sub-title">3. Старые пользователи / продолжительность</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="8">День</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="9" data-loaded="false">Месяц</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="10" data-loaded="false">За все время (по месяцам)</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="11" data-loaded="false">За все время (по дням)</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="8">{{ graph.oldUsersDuration.day.start|date('d.m.y') }} — {{ graph.oldUsersDuration.day.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="9"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="10"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="11"></span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="8">
                    <div class="dev-charts__item item-8" data-loaded="true" style="width:1560px; height:400px;"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-8').highcharts('StockChart', {
                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'left',
                                    verticalAlign: 'bottom',
                                    itemStyle: {padding: '10px'}

                                },
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {% for group in graph.oldUsersDuration.day.series %}
                                    {
                                        name: '{{ group.name }}',
                                        data: [{{ group.values }}],
                                        pointInterval: 60 * 60 * 1000,
                                        pointStart: {{ (graph.oldUsersDuration.day.start + 3 * 3600) * 1000 }}
                                    },
                                    {% endfor %}
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="9">
                    <div class="dev-charts__item item-9" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="10">
                    <div class="dev-charts__item item-10" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="11">
                    <div class="dev-charts__item item-11" style="width:1560px; height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="dev-charts__sub-title">4. Новые пользователи / продолжительность</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="28">День</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="29" data-loaded="false">Месяц</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="30" data-loaded="false">За все время (по месяцам)</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="31" data-loaded="false">За все время (по дням)</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="28">{{ graph.newUsersDuration.day.start|date('d.m.y') }} — {{ graph.newUsersDuration.day.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="29"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="30"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="31"></span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="28">
                    <div class="dev-charts__item item-28" data-loaded="true" style="width:1560px; height:400px;"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-28').highcharts('StockChart', {
                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'left',
                                    verticalAlign: 'bottom',
                                    itemStyle: {padding: '10px'}

                                },
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {% for group in graph.newUsersDuration.day.series %}
                                    {
                                        name: '{{ group.name }}',
                                        data: [{{ group.values }}],
                                        pointInterval: 60 * 60 * 1000,
                                        pointStart: {{ (graph.newUsersDuration.day.start + 3 * 3600) * 1000 }}
                                    },
                                    {% endfor %}
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="29">
                    <div class="dev-charts__item item-29" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="30">
                    <div class="dev-charts__item item-30" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="31">
                    <div class="dev-charts__item item-31" style="width:1560px; height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="dev-charts__sub-title">5. Платежи в играх</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="12">День</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="13" data-loaded="false">Месяц</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="14" data-loaded="false">За все время (по месяцам)</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="15" data-loaded="false">За все время (по дням)</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="12">{{ graph.purchases.day.start|date('d.m.y') }} — {{ graph.purchases.day.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="13"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="14"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="15"></span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="12">
                    <div class="dev-charts__item item-12" data-loaded="true" style="width:1560px; height:400px;"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-12').highcharts('StockChart', {
                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'left',
                                    verticalAlign: 'bottom',
                                    itemStyle: {padding: '10px'}

                                },
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {% for group in graph.purchases.day.series %}
                                    {
                                        name: '{{ group.name }}',
                                        data: [{{ group.values }}],
                                        pointInterval: 60 * 60 * 1000,
                                        pointStart: {{ (graph.purchases.day.start + 3 * 3600) * 1000 }}
                                    },
                                    {% endfor %}
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="13">
                    <div class="dev-charts__item item-13" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="14">
                    <div class="dev-charts__item item-14" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="15">
                    <div class="dev-charts__item item-15" style="width:1560px; height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="dev-charts__sub-title">6. Пополнения баланса</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="16">День</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="17" data-loaded="false">Месяц</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="18" data-loaded="false">За все время (по месяцам)</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="19" data-loaded="false">За все время (по дням)</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="16">{{ graph.balance.day.start|date('d.m.y') }} — {{ graph.balance.day.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="17"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="18"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="19"></span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="16">
                    <div class="dev-charts__item item-16" data-loaded="true" style="width:1560px; height:400px;"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-16').highcharts('StockChart', {
                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'left',
                                    verticalAlign: 'bottom',
                                    itemStyle: {padding: '10px'}

                                },
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {% for group in graph.balance.day.series %}
                                    {
                                        name: '{{ group.name }}',
                                        data: [{{ group.values }}],
                                        pointInterval: 60 * 60 * 1000,
                                        pointStart: {{ (graph.balance.day.start + 3 * 3600) * 1000 }}
                                    },
                                    {% endfor %}
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="17">
                    <div class="dev-charts__item item-17" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="18">
                    <div class="dev-charts__item item-18" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="19">
                    <div class="dev-charts__item item-19" style="width:1560px; height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="dev-charts__sub-title">7. Платежные системы</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="20">День</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="21" data-loaded="false">Месяц</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="22" data-loaded="false">За все время (по месяцам)</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="23" data-loaded="false">За все время (по дням)</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="20">{{ graph.paySystems.day.start|date('d.m.y') }} — {{ graph.paySystems.day.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="21"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="22"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="23"></span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="20">
                    <div class="dev-charts__item item-20" data-loaded="true" style="width:1560px; height:400px;"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-20').highcharts('StockChart', {
                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'left',
                                    verticalAlign: 'bottom',
                                    itemStyle: {padding: '10px'}

                                },
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {% for group in graph.paySystems.day.series %}
                                    {
                                        name: '{{ group.name }}',
                                        data: [{{ group.values }}],
                                        pointInterval: 60 * 60 * 1000,
                                        pointStart: {{ (graph.paySystems.day.start + 3 * 3600) * 1000 }}
                                    },
                                    {% endfor %}
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="21">
                    <div class="dev-charts__item item-21" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="22">
                    <div class="dev-charts__item item-22" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="23">
                    <div class="dev-charts__item item-23" style="width:1560px; height:400px;"></div>
                </div>
            </div>
        </div>

        <div class="dev-charts__sub-title">8. Регистрации</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="24">День</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="25" data-loaded="false">Месяц</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="26" data-loaded="false">За все время (по месяцам)</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="27" data-loaded="false">За все время (по дням)</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="24">{{ graph.registations.day.start|date('d.m.y') }} — {{ graph.registations.day.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="25"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="26"></span>
                <span class="dev-charts__tabs-list-period right" data-tab="27"></span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="24">
                    <div class="dev-charts__item item-24" data-loaded="true" style="width:1560px; height:400px;"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-24').highcharts('StockChart', {
                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'left',
                                    verticalAlign: 'bottom',
                                    itemStyle: {padding: '10px'}

                                },
                                tooltip: {xDateFormat: '%d %B %Y', shared: false},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#755ec6', '#5762d5', '#3079df', '#21b2ad', '#e77e23', '#d45c9e', '#f1c40f', '#ef717a', '#27ae60'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {% for group in graph.registations.day.series %}
                                    {
                                        name: '{{ group.name }}',
                                        data: [{{ group.values }}],
                                        pointInterval: 60 * 60 * 1000,
                                        pointStart: {{ (graph.registations.day.start + 3 * 3600) * 1000 }}
                                    },
                                    {% endfor %}
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="25">
                    <div class="dev-charts__item item-25" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="26">
                    <div class="dev-charts__item item-26" style="width:1560px; height:400px;"></div>
                </div>
                <div class="dev-charts__tabs-box" data-tab="27">
                    <div class="dev-charts__item item-27" style="width:1560px; height:400px;"></div>
                </div>
            </div>
        </div>
        {#

        <div class="dev-charts__sub-title first">8. Регистрации</div>
        <div class="dev-charts__tabs">
            <div class="dev-charts__tabs-list clearfix">
                <a href="#" class="dev-charts__tabs-list-item active left" data-tab="1">По дням</a>
                <a href="#" class="dev-charts__tabs-list-item left" data-tab="2">По месяцам</a>
                <span class="dev-charts__tabs-list-period right active" data-tab="1">{{ stats.visits.days.start|date('d.m.y') }} — {{ stats.visits.days.end|date('d.m.y') }}</span>
                <span class="dev-charts__tabs-list-period right" data-tab="2">{{ stats.visits.months.start|date('d.m.y') }} — {{ stats.visits.months.end|date('d.m.y') }}</span>
            </div>
            <div class="dev-charts__tabs-boxes">
                <div class="dev-charts__tabs-box shown" data-tab="1">
                    <div class="dev-charts__item item-01"></div>
                    <script type="text/javascript">
                        $(function () {
                            Highcharts.setOptions({
                                lang: {
                                    loading: 'Загрузка...',
                                    months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
                                    weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                                    shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
                                    exportButtonTitle: "Экспорт",
                                    printButtonTitle: "Печать",
                                    rangeSelectorFrom: "С",
                                    rangeSelectorTo: "По",
                                    rangeSelectorZoom: "Период",
                                    downloadPNG: 'Скачать PNG',
                                    downloadJPEG: 'Скачать JPEG',
                                    downloadPDF: 'Скачать PDF',
                                    downloadSVG: 'Скачать SVG',
                                    printChart: 'Напечатать график'
                                }
                            });
                            $('.dev-charts__item.item-01').highcharts('StockChart', {
                                tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#21b2ad', '#755ec6'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 14 * 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {
                                        name: 'Уникальные посетители',
                                        data: [{{ stats.visits.days.unique }}],
                                        pointInterval: 24 * 60 * 60 * 1000,
                                        pointStart: {{ stats.visits.days.start * 1000 }}
                                    },
                                    {
                                        name: 'Просмотры',
                                        data: [{{ stats.visits.days.nounique }}],
                                        pointInterval: 24 * 60 * 60 * 1000,
                                        pointStart: {{ stats.visits.days.start * 1000 }}
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
                <div class="dev-charts__tabs-box" data-tab="2">
                    <div class="dev-charts__item item-02"></div>
                    <script type="text/javascript">
                        $(function () {
                            $('.dev-charts__item.item-02').highcharts('StockChart', {
                                tooltip: {xDateFormat: '%d %B %Y', shared: true},
                                credits: { enabled: false },
                                chart: { type: 'spline' },
                                colors: ['#21b2ad', '#755ec6'],
                                rangeSelector: { enabled: false },
                                title: { text: '' },

                                xAxis: { range: 12 * 30 * 24 * 3600 * 1000 },
                                yAxis: { min: 0 },

                                series: [
                                    {
                                        name: 'Уникальные посетители',
                                        data: [{{ stats.visits.months.unique }}],
                                        pointInterval: 30 * 24 * 60 * 60 * 1000,
                                        pointStart: ({{ stats.visits.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                    },
                                    {
                                        name: 'Просмотры',
                                        data: [{{ stats.visits.months.nounique }}],
                                        pointInterval: 30 * 24 * 60 * 60 * 1000,
                                        pointStart: ({{ stats.visits.months.end}} - 11 * 30 * 24 * 60 * 60) * 1000
                                    }
                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>#}
    </div>
</div>
{% endblock %}