{% extends "admin/layout.twig" %}
{%  block content %}
    <div class="container">
        <div class="header">
            <h3>Управление пользователями</h3>
        </div>
        <div class="filter">
            <form action="/admin" method="post" autocomplete="off">
            <div class="top">
                <div>Выбрать период: c <input type="text" name="start" placeholder="01.01.2016" value="{{ form.start }}"/> по: <input type="text" name="end"  placeholder="01.01.2017" value="{{ form.end }}"/></div>
                <div>Найти пользователя по id: <input type="text" name="byid" value="{{ form.byid }}"></div>
            </div>
            <div>
                {% for key,value in form.filters %}
                <div>
                    <input type="checkbox" name="filter[]" value="{{ key }}" {% if value.checked %}checked="checked"{% endif %}/>{{ value.text }}
                </div>
                {% endfor %}
            </div>
            <div>
                <button type="submit" name="page" value="1">Применить</button>
                {% for i in 1..pages %}
                    {% if i != form.page %}
                        <button type="submit" name="page" value="{{ i }}">{{ i }}</button>
                    {% else %}
                        <button type="submit" disabled="disabled">{{ i }}</button>
                    {% endif %}

                {% endfor %}
            </div>
            </form>
        </div>
        <div class="main">
            <table class="content">
                <thead>
                    <th>Пользователь</th>
                    <th>Действие</th>
                    <th>Дата и время</th>
                    <th>Е-маил подтвержден</th>
                    <th>Одобрен</th>
                    <th>Забанен</th>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr>
                        <td><a href="/id{{ row.user.uid }}" target="_blank"><img src="{{ row.user.photo.70 }}"/> {{ row.user.name }} {{ row.user.last_name }}</a></td>
                        <td>{{ row.info.action | raw}}</td>
                        <td>{{ row.info.time | date('d.m.Y в H:i') }}</td>
                        <td>{% if row.user.email_checked == 't' %}да{% else %}нет{% endif %}({{ row.user.email }})</td>
                        <td>{% if row.user.rating == 0 %}нет{% else %}да{% endif %}</td>
                        <td>{% if row.user.status == 1 %}нет{% else %}да{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}