{% if constant('ENVIRONMENT') == 'development' %}
    {% set site='//exe.ru.lan' %}
{% elseif constant('ENVIRONMENT') == 'testing' %}
    {% set site='//test.exe.ru' %}
{% else %}
    {% set site='//exe.ru' %}
{% endif %}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <meta charset="utf-8" />

    <title>EXE | Управление пользователями</title>

    <!-- Данное значение часто используют поисковые системы, заполняем ответственно -->
    <meta name="description" content="" />

    <script type="text/javascript" src="/assets/js/dpr.js?{{ constant('JS_VERSION') }}"></script>

    <!-- Подключаем файлы стилей -->
    <link rel="stylesheet" type="text/css" href="/assets/css/dev.css?{{ constant('CSS_VERSION') }}" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/icomoon/style.css?{{ constant('CSS_VERSION') }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.mCustomScrollbar.css?{{ constant('CSS_VERSION') }}" />

    <link rel="stylesheet" type="text/css" href="/assets/css/admin.css" />

    <!-- Скрипты -->
    <script type="text/javascript" src="/assets/js/jquery.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/modernizr.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/classie.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/dialogfx.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/transition.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/dropdown.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.mCustomScrollbar.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/moment.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/jquery.daterangepicker.min.js?{{ constant('JS_VERSION') }}"></script>
    <script type="text/javascript" src="/assets/js/admin.js"></script>
</head>
<body class="uadmin">
    <div class="dev-header clearfix">
        <div class="dev-header__logo short left"><a href="{{ site }}/" target="_blank"></a></div>

        <div class="dev-header__user left clearfix">
            <div class="avatar left"><a href="{{ site }}/id{{ user.uid }}" target="_blank"><img src="{{ constant('IMAGE_HOST') }}{{ user.photo[70] }}" alt="" /></a></div>
            <div class="name left"><a href="{{ site }}/id{{ user.uid }}" target="_blank">{{ user.name }} {{ user.last_name }}</a></div>
        </div>
        <div class="dev-header__nav left">
            <ul class="clearfix">
                <li{% if currentUrl == 'admin' %} class="active"{% endif %}><a href="/">Действия</a></li>
                {#<li{% if currentUrl == 'users' %} class="active"{% endif %}><a href="/users">Пользователи</a></li>#}
                <li{% if currentUrl == 'payments' %} class="active"{% endif %}><a href="/payments">Платежи</a></li>
                <li{% if currentUrl == 'graph' %} class="active"{% endif %}><a href="/admin/graph">Графики</a></li>
                <li{% if currentUrl == 'userstat' %} class="active"{% endif %}><a href="/userstat">Статистика</a></li>
                <li{% if currentUrl == 'carusel' %} class="active"{% endif %}><a href="/admin/carusel">Карусель</a></li>
                <li{% if currentUrl == 'emails' %} class="active"{% endif %}><a href="/admin/emails">Рассылка</a></li>
                <li{% if currentUrl == 'other' %} class="active"{% endif %}><a href="/admin/other">Разное</a></li>
                <li><a href="http://185.45.144.51/some_ref_graph2_exe.php" target="_blank">Retention</a></li>
            </ul>
        </div>
    </div>
    <div class="dev-uadmin minHeight">
        {% block content %}{% endblock %}
    </div>

    <div class="dev-footer">
        <div class="container clearfix">
            <div class="dev-footer__copyrights left">&copy; {{ 'now'|date('Y') }}&nbsp;&nbsp;EXE.RU&nbsp;&nbsp;Все права защищены</div>
        </div>
    </div>
</body>
</html>