{% extends "admin/layout.twig" %}
{%  block content %}
<div class="fluid-container">
    <div class="dev-uadmin__title">Информация сессии {{ marker }}</div>
    <div class="dev-uadmin__filters">
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width: 300px;">Номер сессии: <b>{{ refer.session_number }}</b></div>
            <div class="dev-uadmin__filters-label left" style="width: 300px;">Начата: <b>{{ refer.start|date('d/m/Y H:i:s') }}</b></div>
            <div class="dev-uadmin__filters-label left" style="width: 300px;">Закончена: <b>{% if refer.end > 0 %}{{ refer.end|date('d/m/Y H:i:s') }}{%  else %}не закончена{% endif %}</b></div>
            <div class="dev-uadmin__filters-label left" style="width: 300px;">Продолжительность: <b>{{ (refer.duration - 10800)|date('H:i:s') }}</b></div>
            {% if refer.lf_uid %}
                <div class="dev-uadmin__filters-label left" style="width: 300px;">LostFilm Id: <b>{{ refer.lf_uid }}</b></div>
            {% endif %}
        </div>
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width: 100%; padding: 0;">Точка входа: <b>{{ refer.point }}</b></div>
        </div>
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width: 100%; padding: 0;">Источник перехода: <b>{{ refer.referer }}</b></div>
        </div>
        {% if refer.search_string %}
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width: 100%; padding: 0;">Поисковый запрос: <b>{{ refer.search_string }}</b></div>
        </div>
        {% endif %}
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width: 300px;">Площадка: <b>{{ refer.adv_service }}</b></div>
            <div class="dev-uadmin__filters-label left" style="width: 300px;">Кампания: <b>{{ refer.adv_campaign }}</b></div>
            <div class="dev-uadmin__filters-label left" style="width: 300px;">Объявление: <b>{{ refer.adv_marker }}</b></div>
            <div class="dev-uadmin__filters-label left" style="width: 300px;">Место: <b>{{ refer.adv_place }}</b></div>
        </div>
    </div>
    <div class="dev-uadmin__title">Действия сессии {{ marker }}</div>
{#    <form action="/admin" method="post" autocomplete="off">
    <div class="dev-uadmin__filters">
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Выбрать период:</div>

            <div class="dev-uadmin__filters-picker left">
                <div class="date-range">{{ form.start }} - {{ form.end }}</div>
                <input type="hidden" id="start" name="start" value="{{ form.start }}" />
                <input type="hidden" id="end" name="end" value="{{ form.end }}" />
            </div>

            <div class="dev-uadmin__filters-label alt left">Найти пользователя по ID:</div>

            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="..."  name="byid" value="{{ form.byid }}"/>
            </div>

            <div class="dev-uadmin__filters-label alt left">Только GID:</div>

            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="..."  name="bygid" value="{{ form.bygid }}"/>
            </div>
        </div>

        {% for key,value in form.filters %}
        <div class="dev-uadmin__filters-row clearfix" style="border-bottom: 1px solid #d8dcdf">
            <div class="dev-uadmin__filters-label left">
                {% if key == "auth" %}Авторизация:
                {% elseif key == "game" %}Игра:
                {% elseif key == "payments" %}Платежи:
                {% elseif key == "profile" %}Профиль:
                {% elseif key == "users" %}Пользователи:
                {% endif %}
            </div>
            <div class="dev-uadmin__filters-checkers left clearfix">
                {% for actionId,actionInfo in value %}
                    <div class="check-box">
                        <input type="checkbox" id="{{ key }}_ca{{ loop.index }}" name="filter[]" value="{{ actionId }}" {% if actionInfo.checked %}checked="checked"{% endif %}>
                        <label for="{{ key }}_ca{{ loop.index }}"><span><i class="icon-check"></i></span>{{ actionInfo.text }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Боты:</div>
            <div class="dev-uadmin__filters-checkers left clearfix">
                <div class="check-box">
                    <input type="checkbox" id="bots" name="bots" value="show" {% if form.bots.checked %}checked="checked"{% endif %}>
                    <label for="bots"><span><i class="icon-check"></i></span>Показывать</label>
                </div>
            </div>
        </div>

        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Временные:</div>
            <div class="dev-uadmin__filters-checkers left clearfix">
                <div class="check-box">
                    <input type="checkbox" id="temporary" name="temporary" value="show" {% if form.temporary.checked %}checked="checked"{% endif %}>
                    <label for="temporary"><span><i class="icon-check"></i></span>Показывать</label>
                </div>
            </div>
        </div>
    </div>

    <div class="dev-uadmin__submit">
        <div class="dev-btns clearfix">
            <button type="submit" name="page" value="1" class="main">Применить</button>
            {% if pages >= 1 %}
                {% for i in 1..pages %}
                    {% if i != form.page %}
                        <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                    {% else %}
                        <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    </form>#}
    <div class="dev-uadmin__table">
        <table>
            <thead>
            <tr>
                <th>Пользователь</th>
                <th>Действие</th>
                <th>Дата и время</th>
{#
                <th>Email</th>
                <th>Одобрен</th>
                <th>Забанен</th>
#}
            </tr>
            </thead>

            <tbody>
            {% for row in data %}
                <tr data-uid="{{ row.user.uid }}">
                    <td>
                        <div class="dev-uadmin__user{% if row.user.is_bot == 't' %} bot{% endif %}">
                            <a href="{{ site }}/id{{ row.user.uid }}" target="_blank"><img src="{{ constant('IMAGE_HOST') }}{{ row.user.photo.70 }}" alt="" /></a>
                            {{ row.user.name }} {{ row.user.last_name }}<br />{{ row.user.email }}
                        </div>
                    <td>{{ row.info.action | raw}}</td>
                    <td>{{ row.info.time | date('d.m.Y в H:i') }}</td>
{#
                    <td data-type="email_checked"><i class="dev-uadmin__icon {% if row.user.email_checked == 't' %}icon-check{% else %}icon-close{% endif %}"></i></td>
                    <td data-type="rating"><i class="dev-uadmin__icon {% if row.user.rating == 1 %}icon-check{% else %}icon-close{% endif %}"></i></td>
                    <td data-type="status"><i class="dev-uadmin__icon invert {% if row.user.status == 0 %}icon-check{% else %}icon-close{% endif %}"></i></td>
#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}