{% extends "admin/layout.twig" %}
{%  block content %}
    <div class="fluid-container admin_page">
        <div class="dev-uadmin__title">Бонус 10 рублей за регистрацию</div>
        <form action="/admin/other/" method="post" target="_blank" autocomplete="off" class="emails">
            <div class="dev-uadmin__filters">
                <div class="dev-uadmin__filters-row clearfix">
                    <div class="dev-uadmin__filters-label left">Выбрать период:</div>

                    <div class="dev-uadmin__filters-picker left clearfix">
                        <div class="date-range">{{ form.start }} - {{ form.end }}</div>
                        <input type="hidden" id="start" name="start" value="{{ form.start }}" />
                        <input type="hidden" id="end" name="end" value="{{ form.end }}" />
                    </div>

                    <div class="dev-uadmin__submit">
                        <div class="dev-btns clearfix">
                            <button type="submit" name="do" value="save_bonus_10" class="main" style="margin-left:20px; height: 44px;">Выгрузить файл</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}