{% extends "admin/layout.twig" %}
{%  block content %}
<script type="text/javascript" src="/assets/js/highstock.js"></script>
<div class="fluid-container">
    <div class="dev-uadmin__title">Управление платежами</div>
    <form action="/payments" method="post" autocomplete="off">
    <div class="dev-uadmin__filters">
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Выбрать период:</div>

            <div class="dev-uadmin__filters-picker left">
                <div class="date-range">{{ form.start }} - {{ form.end }}</div>
                <input type="hidden" id="start" name="start" value="{{ form.start }}" />
                <input type="hidden" id="end" name="end" value="{{ form.end }}" />
            </div>

            <div class="dev-uadmin__filters-label alt left">Найти пользователя по ID:</div>

            <div class="dev-uadmin__filters-input left">
                <input type="text" placeholder="..."  name="byid" value="{{ form.byid }}"/>
            </div>
        </div>

        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Выбрать фильтр:</div>
            <div class="dev-uadmin__filters-checkers left clearfix">
                {% for key,value in form.filters %}
                    <div class="check-box">
                        <input type="checkbox" id="ca{{ loop.index }}" name="filter[]" value="{{ key }}" {% if value.checked %}checked="checked"{% endif %}>
                        <label for="ca{{ loop.index }}"><span><i class="icon-check"></i></span>{{ value.text }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="dev-uadmin__submit">
        <div class="dev-btns clearfix">
            <button type="submit" name="page" value="1" class="main">Применить</button>
            {% if pages >= 1 %}
                {% if pages <= 20 %}
                    {% for i in 1..pages %}
                        {% if i != form.page %}
                            <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                        {% else %}
                            <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if form.page <= 5 %}
                        {% for i in 1..7 %}
                            {% if i != form.page %}
                                <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                            {% else %}
                                <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                            {% endif %}
                        {% endfor %}
                        <span style="cursor:default; margin-left:20px;">...</span>
                        <button type="submit" name="page" value="{{ pages }}" class="additional">{{ pages }}</button>
                    {% elseif form.page >= (pages - 4) %}
                        <button type="submit" name="page" value="1" class="additional">1</button>
                        <span style="cursor:default; margin-left:20px;">...</span>
                        {% for i in (pages - 6)..pages %}
                            {% if i != form.page %}
                                <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                            {% else %}
                                <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <button type="submit" name="page" value="{{ 1 }}" class="additional">{{ 1 }}</button>
                        <span style="cursor:default; margin-left:20px;">...</span>
                        {% for i in (form.page - 2)..(form.page + 2) %}
                            {% if i != form.page %}
                                <button type="submit" name="page" value="{{ i }}" class="additional">{{ i }}</button>
                            {% else %}
                                <button type="submit" disabled="disabled" class="additional disabled">{{ i }}</button>
                            {% endif %}
                        {% endfor %}
                        <span style="cursor:default; margin-left:20px;">...</span>
                        <button type="submit" name="page" value="{{ pages }}" class="additional">{{ pages }}</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    </form>
    <div class="dev-uadmin__table dev-uadmin__payments">
        <table>
            <thead>
            <tr>
                <th>Пользователь</th>
                <th>Номер</th>
                <th>Дата и время</th>
                <th>Сумма</th>
                <th>Статус</th>
{#
                <th>Одобрен</th>
                <th>Забанен</th>
#}
            </tr>
            </thead>

            <tbody>
            {% for row in data %}
                <tr data-uid="{{ row.user.uid }}">
                    <td>
                        <div class="dev-uadmin__user{% if row.user.is_bot == 't' %} bot{% endif %}">
                            <a href="{{ site }}/id{{ row.user.uid }}" target="_blank"><img src="{{ constant('IMAGE_HOST') }}{{ row.user.photo.70 }}" alt="" /></a>
                            {{ row.user.name }} {{ row.user.last_name }}<br />{{ row.user.email }}
                        </div>
                    <td>{{ row.info.orderNumber }} [ {{ row.info.paymentSystemName }} ]</td>
                    <td>{{ row.info.datetime | date('d.m.Y в H:i') }}</td>
                    <td>{{ row.info.payment.sum|number_format(0)}}</td>
                    {% if row.info.payment.status == 0 %}
                        {% set color='grey' %}
                    {% elseif row.info.payment.status == 1 %}
                        {% set color='red' %}
                    {% elseif row.info.payment.status == 3 %}
                        {% set color='#755ec6' %}
                    {% else %}
                        {% set color='green' %}
                    {% endif %}
                    {% if row.info.type == 'check' and row.info.payment.status == 1 %}
                        <td data-order-id="{{ row.info.orderNumber }}" style="color: {{ color }};">{{ row.info.action | raw}} <i class="dev-uadmin__icon payments"></i></td>
                        {% else  %}
                            <td data-order-id="{{ row.info.orderNumber }}" style="color: {{ color }};">{{ row.info.action | raw}}</td>
                        {% endif %}
                    {#<td data-type="email_checked"><i class="dev-uadmin__icon {% if row.user.email_checked == 't' %}icon-check{% else %}icon-close{% endif %}"></i></td>#}
{#
                    <td data-type="rating"><i class="dev-uadmin__icon {% if row.user.rating == 1 %}icon-check{% else %}icon-close{% endif %}"></i></td>
                    <td data-type="status"><i class="dev-uadmin__icon invert {% if row.user.status == 0 %}icon-check{% else %}icon-close{% endif %}"></i></td>
#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="dev-charts__item graph" style="width:100%"></div>
    <script>
        $(function () {
            $('.dev-charts__item.graph').highcharts('StockChart', {
                tooltip: {
                    xDateFormat: '%d %B %Y',
                    shared: true
                },
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'areaspline',
                    zoomType: 'x'
                },
                colors: [
                    '#21b2ad',
                    '#755ec6'
                ],
                rangeSelector: {
                    enabled: false
                },
                title: {
                    text: ''
                },
                xAxis: {
                    tickInterval: 1 * 24 * 3600 * 1000,
                    range: 4 * 7 * 24 * 3600 * 1000,
                    minRange: 4 * 7 * 24 * 3600 * 1000
                },
                yAxis: {
                    min: 0,
                    allowDecimals: false,
                    labels: {
                        align: 'left'
                    }
                },
                series: [
                    {
                        name: 'Сумма',
                        data: {{ graph }}
                    }
                ]
            });
        });
    </script>
</div>
{% endblock %}