{% extends "admin/layout.twig" %}
{%  block content %}
<div class="fluid-container">
    <div class="dev-uadmin__title" style="margin:0;">Статистика</div>
    <div class="dev-uadmin__filters">
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width:230px;">Всего - <b>{{ counts.all }}</b></div>
            <div class="dev-uadmin__filters-label left">VK - <b>{{ counts.vk }}</b></div>
            <div class="dev-uadmin__filters-label left">OK - <b>{{ counts.ok }}</b></div>
            <div class="dev-uadmin__filters-label left">FB - <b>{{ counts.fb }}</b></div>
            <div class="dev-uadmin__filters-label left">GP - <b>{{ counts.gp }}</b></div>
            <div class="dev-uadmin__filters-label left">MM - <b>{{ counts.mm }}</b></div>
            <div class="dev-uadmin__filters-label left">LF - <b>{{ counts.lf }}</b></div>
            <div class="dev-uadmin__filters-label left">Форма - <b>{{ counts.form }}</b></div>
        </div>
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left" style="width:230px;">Webpush: известно - <b>{{ webpushes.denied + webpushes.granted + webpushes.default|default('0') }}</b></div>
            <div class="dev-uadmin__filters-label left" style="width:230px;">Отказ/нет реакции - <b>{{ webpushes.default|default('0') }}</b></div>
            <div class="dev-uadmin__filters-label left" style="width:230px;">Подписано - <b>{{ webpushes.granted|default('0') }}</b></div>
            <div class="dev-uadmin__filters-label left" style="width:230px;">Заблокировано - <b>{{ webpushes.denied|default('0') }}</b></div>
        </div>
    </div>
    <div class="dev-uadmin__title" style="margin-top:20px;">Точки авторизации/регистрации</div>
    <form action="/userstat" method="post" autocomplete="off">
    <div class="dev-uadmin__filters left">
        <div class="dev-uadmin__filters-row clearfix">
            <div class="dev-uadmin__filters-label left">Выбрать период:</div>

            <div class="dev-uadmin__filters-picker left">
                <div class="date-range">{{ form.start }} - {{ form.end }}</div>
                <input type="hidden" id="start" name="start" value="{{ form.start }}" />
                <input type="hidden" id="end" name="end" value="{{ form.end }}" />
            </div>
        </div>
    </div>

    <div class="dev-uadmin__submit">
        <div class="dev-btns clearfix">
            <button type="submit" name="page" value="1" class="main" style="line-height: 44px; margin-left: 20px;">Применить</button>
        </div>
    </div>
    </form>
    <div class="dev-uadmin__table dev-uadmin__stats">
        <table>
            <thead>
            <tr>
                <th>Место</th>
                <th>Регистраций</th>
                <th>Авторизаций</th>
            </tr>
            </thead>
            <tbody>
                {% for dest in data %}
                    <tr>
                        <td>{{ dest.title|raw }}</td>
                        <td>{{ dest.reg }}</td>
                        <td>{{ dest.auth }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}