{% if constant('ENVIRONMENT') == 'development' %}
    {% set site='//exe.ru.dev' %}
{% elseif constant('ENVIRONMENT') == 'testing' %}
    {% set site='//test.exe.ru' %}
{% else %}
    {% set site='//exe.ru' %}
{% endif %}
<a class="admin-filter-link admin-filter-user" data-uid="{{ user.uid }}" href="{{ site }}/id{{ user.uid }}" target="_blank">{{ user.name }} {{ user.last_name }}</a>