<div class="may-banner">
    <div class="may-banner--overlay"></div>
    <div class="may-banner--in" style="background-image: url(/assets/img/promo/1/banner_may_3.jpg)">
        <a href="#" class="may-banner--link"></a>
        <a href="#" class="may-banner--close"></a>
    </div>
</div>