<div class="modal-wrap" id="payment-uniform-modal"{# data-preset-count="1"#}>
    <div class="overlay"></div>
    <div class="modal">
        <form autocomplete="off">
            <input type="hidden" name="paymentType" value="" />
            <input type="hidden" name="rate" value="" />
            <input type="hidden" name="phone" value="" />
            <input type="hidden" name="purchaseId" value="" />

            <div class="modal__header modal__header--green">
                <a href="#" class="modal__icon modal__icon--prev" data-modal="payment-modal"></a>
                <div class="modal__close" data-modal-close></div>
                <h2>Пополнение баланса</h2>
            </div>
            <div class="modal__content">
                <div class="modal__content__header modal__content__header--card">
                    <p><span>Оплата банковской картой</span></p>
                    <ul class="card-type-list">
                        <li><img src="/assets/img/mastercard-icon.png"></li>
                        <li><img src="/assets/img/visa-icon.png"></li>
                    </ul>
                </div>
                <div class="payment-count">
                    <div class="radio-btn-group">
                        {#<!--<div class="radio-btn"></div>-->#}
                        <input type="radio" name="radiogroup" id="radio1" value="20">
                        <label for="radio1"></label>
                        <div class="radio-btn-content">
                            <p>20 рублей</p>
                            <span>20 рублей + 6 рублей бонус</span>
                        </div>
                    </div>
                    <div class="radio-btn-group">
                        {#<!--<div class="radio-btn"></div>-->#}
                        <input type="radio" name="radiogroup" id="radio2" value="50">
                        <label for="radio2"></label>
                        <div class="radio-btn-content">
                            <p>50 рублей</p>
                            <span>50 рублей + 15 рублей бонус</span>
                        </div>
                    </div>
                    <div class="radio-btn-group">
                        {#<!--<div class="radio-btn"></div>-->#}
                        <input type="radio" name="radiogroup" id="radio3" value="100">
                        <label for="radio3"></label>
                        <div class="radio-btn-content">
                            <p>100 рублей</p>
                            <span>100 рублей + 30 рублей бонус</span>
                        </div>
                    </div>
                    <div class="radio-btn-group">
                        {#<!--<div class="radio-btn"></div>-->#}
                        <input type="radio" name="radiogroup" id="radio4" value="200">
                        <label for="radio4"></label>
                        <div class="radio-btn-content">
                            <p>200 рублей</p>
                            <span>200 рублей + 60 рублей бонус</span>
                        </div>
                    </div>
                    <div class="radio-btn-group">
                        {#<!--<div class="radio-btn checked"></div>-->#}
                        <input type="radio" name="radiogroup" id="radio5" value="manual">
                        <label for="radio5"></label>
                        <div class="radio-btn-content">
                            <p>Другое количество</p>
                            <span>0 рублей</span>
                            <input class="radio-btn-input" type="text" placeholder="Введите количество рублей" name="count">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__footer">
                <button type="button" class="modal__footer__btn form-submit" data-module="payments" data-method="prepare">Пополнить</button>
            </div>
        </form>
    </div>
</div>