.dev-dialog,
.dev-dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dev-dialog {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.dev-dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	transition: opacity 0.3s;
}

.dev-dialog--open .dev-dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}

.dev-dialog__content {
	background: #fff;
	position: relative;
	z-index: 5;
	opacity: 0;
}

.dev-dialog--open .dev-dialog__content {
	pointer-events: auto;
}

.dev-dialog.dev-dialog--open .dev-dialog__content,
.dev-dialog.dev-dialog--close .dev-dialog__content {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.dev-dialog.dev-dialog--open .dev-dialog__content {
	animation-name: anim-open;
}

.dev-dialog.dev-dialog--close .dev-dialog__content {
	animation-name: anim-close;
}

@keyframes anim-open {
	0% { opacity: 0; transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; transform: scale3d(1, 1, 1); }
}

@keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; transform: scale3d(0.9, 0.9, 1); }
}