@media (max-width: 1150px) {
	.dev-header { height: 50px;
		&__logo a {
			width: 270px;
			background-position: 23px 12px;
			padding: 11px 0 0 133px;

			&:before {
				left: 111px;
				height: 27px;
			}
		}

		&__user {
			.avatar { width: 50px; height: 50px;
				img { width: 50px; height: 50px; }
			}

			.name {
				width: 100px;
				font-size: 14px;
				line-height: 20px;
				padding: 5px 0 5px 10px;
			}
		}

		&__nav ul li a {
			padding: 0 12px;
			font-size: 13px;
			line-height: 50px;
			letter-spacing: 1px;
		}

		&__search { margin: 8px 10px 0 0;
			input {
				width: 200px;
				font-size: 14px;
				line-height: 32px;
				height: 34px;
				padding: 0 10px;
				border-right: 40px solid #c2c7cd;
			}

			button {
				width: 40px; height: 34px;
				line-height: 32px;
			}
		}
	}

	.dev-content { padding: 20px 0; }
}

@media (min-width: 1151px) and (max-width: 1350px) {
	.dev-header {
		&__logo a {
			width: 270px;
			background-position: 23px 22px;
			padding-left: 133px;

			&:before { left: 111px; }
		}

		&__user .name { width: 135px; }
		&__nav ul li a { padding: 0 12px; }
		&__search input { width: 250px; }
	}
}