<div class="may-banner">
    <div class="may-banner--overlay"></div>
    <div class="may-banner--in" style="background-image: url(/assets/img/promo/2/banner_NY.jpg)">
        <a href="#" class="may-banner--link" data-modal="payment-modal" data-module="payments" data-method="preSetCount" data-preset-count="0"></a>
        <a href="#" class="may-banner--close"></a>
    </div>
</div>