<div style="width: 100%; background: url(/assets/img/promo/2/bg.jpg); text-align: center; font: 17px 'Roboto-Medium', sans-serif; vertical-align: baseline; line-height: 40px; cursor:pointer;" data-modal="payment-modal" data-module="payments" data-method="preSetCount" data-preset-count="0">
    <span style=" color: #fff; display:inline;">Новогодняя АКЦИЯ! Бонусный процент: +30% при пополнении счета (действует до 29.12.2017 23:59 MSK)</span>
</div>