{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Методы приложения</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/clients/friends.get">friends.get</a></div>
                        <div class="dev-doc__txt">
                            <p>Запрос формируется от имени приложения, возвращает массив с идентификаторами друзей пользователя. При использовании с параметром fields возвращает массив с объектами пользователей с требуемыми полями.</p>
                            <p>Параметры:</p>
                            <pre>
							{
							&nbsp;&nbsp;&nbsp;// Идентификатор пользователя, для которого необходимо получить
							&nbsp;&nbsp;&nbsp;// идентификаторы друзей. Если не указан, используется идентификатор
							&nbsp;&nbsp;&nbsp;// текущего пользователя
							&nbsp;&nbsp;&nbsp;<b>"user_id":"id1",</b>
							&nbsp;&nbsp;&nbsp;// Порядок сортировки возвращаемого списка
							&nbsp;&nbsp;&nbsp;// name - сортировать по имени
							&nbsp;&nbsp;&nbsp;// hints - по рейтингу пользователей
							&nbsp;&nbsp;&nbsp;// Если не указан - сортировка выполняется по идентификаторам
							&nbsp;&nbsp;&nbsp;<b>"order":"hints",</b>
							&nbsp;&nbsp;&nbsp;// Количество идентификаторов, которое необходимо вернуть.
							&nbsp;&nbsp;&nbsp;// По умолчанию - все, но не более 200.
							&nbsp;&nbsp;&nbsp;<b>"count":200,</b>
							&nbsp;&nbsp;&nbsp;// Смещение в списке. Необходимо для получения всех друзей,
							&nbsp;&nbsp;&nbsp;// если их количество больше 200.
							&nbsp;&nbsp;&nbsp;<b>"offset": 0,</b>
							&nbsp;&nbsp;&nbsp;// Дополнительные поля. Поле uid возвращается всегда.
							&nbsp;&nbsp;&nbsp;<b>"fields":"name,middle_name,last_name,sex,bdate,city,country,photo_50,
							&nbsp;&nbsp;&nbsp;photo_100,photo_200_orig"</b>
							}
							</pre>
							<p></p>

							<p>Пример запроса (без дополнительных полей):</p>
							<pre><b>api.friends.get({
									&nbsp;&nbsp;&nbsp;"user_id": "1"
									});
								</b></pre>
							<p></p>

                            <p>Пример ответа (дополнительные поля не запрашивались):</p>
							<pre><b>{
									&nbsp;&nbsp;&nbsp;"response":[2,4,5,6,55]
									}
							</b></pre>
							<p></p>

							<p>Пример запроса (с дополнительными полями):</p>
							<pre><b>api.friends.get({
									&nbsp;&nbsp;&nbsp;"user_id": "1",
									&nbsp;&nbsp;&nbsp;"fields": "name,last_name,sex"
									});
								</b></pre>
							<p></p>

                            <p>Пример ответа:</p>
							<pre><b>{
						&nbsp;&nbsp;&nbsp;"response":[
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uid":2,
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name":"Roger",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"last_name":"Smith",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"sex":2
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uid":4,
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name":"Peter",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"last_name":"Pan",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"sex":2
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uid":5,
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name":"Emma",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"last_name":"Stone",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"sex":1
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uid":6,
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name":"Dr",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"last_name":"Evil",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"sex":2
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uid":55,
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name":"Joe",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"last_name":"Tribbiani",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"sex":2
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
						&nbsp;&nbsp;&nbsp;]
						}
							</b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}