{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Методы приложения</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/clients/users.get">users.get</a></div>
                        <div class="dev-doc__txt">
                            <div class="dev-doc__txt">
                                <p>Запрос формируется от имени приложения, возвращает расширенную информацию о себе или других пользователях.</p>
                                <p>Параметры:</p>
                                <pre>{
									&nbsp;&nbsp;&nbsp;// Идентификаторы пользователей через запятую, не более 1000.
									&nbsp;&nbsp;&nbsp;// Если параметр отсутствует, используется идентификатор
									&nbsp;&nbsp;&nbsp;// текущего пользователя.
								    &nbsp;&nbsp;&nbsp;<b>"user_ids":"id1,id2,....",</b>
									&nbsp;&nbsp;&nbsp;// Дополнительные поля. Поля uid, name, middle_name, last_name
									&nbsp;&nbsp;&nbsp;// возвращаются всегда.
                                    &nbsp;&nbsp;&nbsp;<b>"fields":"sex,bdate,city,country,photo_50,photo_100,photo_200_orig"</b>
                                    }
								</pre>
								<p></p>

								<p>Пример запроса:</p>
								<pre><b>api.users.get({
									&nbsp;&nbsp;&nbsp;"user_ids": "1,2",
									&nbsp;&nbsp;&nbsp;"fields": "sex,bdate,photo_50"
									});
								</b></pre>
								<p></p>

                                <p>Пример ответа:</p>
								<pre><b>{
								&nbsp;&nbsp;&nbsp;"response":[
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uid":1,
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name":"Stewie",
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"middle_name":"",
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"last_name":"Griffin",
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"sex":2,
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"bdate":"1.1.2000",
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"photo_50":"//static.exe.ru/photos/0/0/1/1_50.jpg"
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uid":2,
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name":"Roger",
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"middle_name":"",
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"last_name":"Smith",
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"sex":2,
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"bdate":"1.1.1917",
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"photo_50":"//static.exe.ru/photos/0/0/2/2_50.jpg"
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
								&nbsp;&nbsp;&nbsp;]
								}</b></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}