{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Методы приложения</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/clients/users.isAppUser">users.isAppUser</a></div>
                        <div class="dev-doc__txt">
                            <p>Запрос формируется от имени приложения, возвращает информацию, установлена ли у пользователя игра.</p>
                            <p>Параметры:</p>
                            <pre>
							    {
							    &nbsp;&nbsp;&nbsp;// Идентификатор пользователя
							    &nbsp;&nbsp;&nbsp;<b>"user_id":"id1"</b>
							    }
						    </pre>
                            <p></p>

                            <p>Пример запроса:</p>
                            <pre><b>api.users.isappUser({
									&nbsp;&nbsp;&nbsp;"user_id": "1"
									});
								</b></pre>
                            <p></p>

                            <p>Пример ответа:</p>
                            <pre><b>{
                                &nbsp;&nbsp;&nbsp;"response":1
                                }
                            </b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}