{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Краткое описание</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/about">Параметры iframe приложения</a></div>
                        <div class="dev-doc__txt">
                            <p>Iframe приложение загружается с передачей следующих GET-параметров:</p>
                            <pre>
                                <b>exe_user</b> - идентификатор пользователя на сайте EXE.ru

                                <b>game_sid</b> - идентификатор текущей игровой сессии пользователя в игре

                                <b>app_id</b>&nbsp;&nbsp;&nbsp;- идентификатор приложения на сайте EXE.ru

                                <b>auth_key</b> - подпись значимых параметров. Формируется как
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>md5($app_id . '_' . $exe_user . '_' . $secretKey)</b>, где
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>$secretKey</b> - секретный ключ, указанный в настройках приложения
                            </pre>
                            <p></p>
                            <p>Также в запросе может присутствовать параметр <b>request_key</b>, если пользователь перешел на игру по ссылке в новостях других пользователей или из запросов от друзей.</p>
                        </div>
                        <div class="dev-doc__title"><a href="/doc/methods/about">Использование JS API</a></div>
                        <div class="dev-doc__txt">
                            <p>Для использования методов JS API, iframe каждого приложения должен подключать //exe.ru/assets/js/api.js.</p>
							<p>Пример подключения:</p>
                            <pre><b>&lt;script src="//exe.ru/assets/js/api.js" type="text/javascript"&gt;&lt;/script&gt;</b></pre>
                            <p></p>
                            <p>После подключения, необходимо создать объект класса ExeRuApi, передав ему объект обратных вызовов для каждого вызываемого метода.</p>
                            <p>Например:</p>
                            <pre><b>var options = {
                                &nbsp;&nbsp;&nbsp;'friends.getAppUsers': 'handlerDebug',
                                &nbsp;&nbsp;&nbsp;'showRequestBox': 'handlerDebug'
                                };

                                var api = new ExeRuApi(options);</b></pre>
                            <p></p>
                            <p>Пример использования:</p>
                            <pre><b>&lt;script src="//exe.ru/assets/js/api.js" type="text/javascript"&gt;&lt;/script&gt;
                                    &lt;script&gt;
                                        &nbsp;&nbsp;&nbsp;var api = new ExeRuApi({'showInviteFriends': 'handlerDebug'});

                                        &nbsp;&nbsp;&nbsp;function handlerDebug(functionName, result) {
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.debug(functionName);
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.debug(result);
                                        &nbsp;&nbsp;&nbsp;}

                                        &nbsp;&nbsp;&nbsp;api.showInviteFriends();
                                        &nbsp;&nbsp;&nbsp;// В интерфейсе отображается окно со списком
                                        &nbsp;&nbsp;&nbsp;// друзей пользователя. Пользователь выбирает друзей,
                                        &nbsp;&nbsp;&nbsp;// нажимает пригласить.

                                        &nbsp;&nbsp;&nbsp;// Api вызывает callback-функцию handlerDebug, передавая ей
                                        &nbsp;&nbsp;&nbsp;// в качестве первого параметра имя вызванного метода,
                                        &nbsp;&nbsp;&nbsp;// в качестве второго - результат вызова.

                                        &nbsp;&nbsp;&nbsp;// handlerDebug('showInviteFriends', [1302901, 1302902]);
							        &lt;/script&gt;</b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}