{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Методы приложения</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/clients">Методы приложения</a></div>
                        <div class="dev-doc__txt">
                            <p><b><a href="/doc/methods/clients/users.get">users.get</a></b> - возвращает информацию о пользователе или других пользователях.</p>
                            <p><b><a href="/doc/methods/clients/users.isAppUser">users.isAppUser</a></b> - возвращает информацию, установлена ли у пользователя игра.</p>
                            <p><b><a href="/doc/methods/clients/friends.get">friends.get</a></b> - возвращает массив с данными друзей пользователя.</p>
                            <p><b><a href="/doc/methods/clients/friends.getAppUsers">friends.getAppUsers</a></b> - возвращает массив идентификаторов друзей пользователя, у которых установлена игра.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}