{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Возвращаемые ошибки</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/errors">Возвращаемые ошибки</a></div>
                        <div class="dev-doc__txt">
                            <p>В случае, если в процессе обработки запроса произошли ошибки, посылается специальный ответ:</p>
					<pre>{
					 "error": {
					   "error_code": 5,
					"error_msg": "Too many requests"
					  }
					} </pre>
                            <p>Где error_code содержит один из перечисленных ниже кодов ошибок, а error_msg текстовое описание ошибки на английском языке.</p>
                            
                            <p><b>Возможные коды ошибок:</b></p>
                            <p><b>1 Произошла неизвестная ошибка.</b></p>
                            <p>Попробуйте повторить запрос позже.</p>
                            <p><b>2 Приложение выключено.</b></p>
                            <p>Необходимо включить приложение в настройках или использовать тестовый режим (test_mode=1)</p>
                            <p><b>3 Передан неизвестный метод</b></p>
                            <p>Проверьте, правильно ли указано название вызываемого метода: <a href="http://dev.exe.ru/doc/methods">http://dev.exe.ru/doc/methods</a></p>
                            <p><b>4 Неверная подпись.</b></p>
                            <p>Проверьте правильность формирования подписи запроса.</p>
                            <p><b>5 Слишком много запросов в секунду. (выполнение запросов к API)</b></p>
                            <p>Задайте больший интервал между вызовами.</p>
                            <p><b>6 Слишком много однотипных действий.</b></p>
                            <p>Нужно сократить число однотипных обращений.</p>
                            <p><b>7 Произошла внутренняя ошибка сервера.</b></p>
                            <p>Попробуйте повторить запрос позже.</p>
                            <p><b>100 Один из необходимых параметров был не передан или неверен</b></p>
                            <p>Проверьте список требуемых параметров и их формат на странице с описанием метода.</p>
                            <p><b>101 Неверный API ID приложения.</b></p>
                            <p>Найдите приложение в списке администрируемых на странице http://exe.ru/apps?act=settings и укажите в запросе верный API_ID (идентификатор приложения).</p>
                            <p><b>102 Неверный идентификатор пользователя.</b></p>
                            <p>Убедитесь, что Вы используете верный идентификатор.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}