{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Интерфейсные методы API</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/interface">Интерфейсные методы</a></div>
                        <div class="dev-doc__txt">
                            <p><b><a href="/doc/methods/interface/showInviteFriends">showInviteFriends</a></b> – показать окно приглашения друзей в игру.</p>
							 <p><b><a href="/doc/methods/interface/showPublishBox">showPublishBox</a></b> – показать окно публикации новости.</p>
							  <p><b><a href="/doc/methods/interface/showRequestBox">showRequestBox</a></b> – показать окно отправки сообщения другому пользователю.</p>
							   <p><b><a href="/doc/methods/interface/showOrderBox">showOrderBox</a></b> – показать окно покупки в игре.</p>
                                <p><b><a href="/doc/methods/interface/setHeight">setHeight</a></b> – установить высоту iframe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}