{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>
                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Серверные методы API</div>
                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/servers">Серверные методы</a></div>
                        <div class="dev-doc__txt">
							<p>Все серверные запросы должны отправляться по адресу /apiv1/ методом GET.</p>
                            <p><b><a href="/doc/methods/servers/sendNotification">sendNotification</a></b> - отправляет уведомления пользователям от имени приложения.</p>
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}