{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}                   
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Список методов API</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/servers_app">Требования к серверу приложения</a></div>
                        <div class="dev-doc__txt">
                            <p>Использование интерфейсного метода showOrderBox требует обмена данными с сервером приложения.</p>
                            <p>Все запросы выполняются методом POST в кодировке UTF-8 по адресу обратного вызова.</p>
                            <p>Адрес обратного вызова задается владельцем приложения в настройках приложения.</p>
                            <p>Все ответы должны являться объектом в формате JSON, содержание ответа должно находится в свойстве response.</p>
							
							<p><b>Последовательность выполнения запроса:</b></p>
							<ol>
							    <li>Приложение инициирует покупку в игре, передавая идентификатор покупки item в метод showOrderBox.</li>
							    <li>JS-API выполняет запрос информации о покупке(get_item) и отображает информацию о ней пользователю.</li>
							    <li>Пользователь подтверждает покупку.</li>
							    <li>JS-API выполняет запрос на оформление покупки(buy_item) и отправляет приложению информацию о результате.</li>
							</ol>

                            <p><b>Общие параметры:</b></p>
							<pre>
							&nbsp;&nbsp;&nbsp;<b>action</b> - Тип запроса, может принимать значения "<b>get_item</b>" или "<b>buy_item</b>"
							&nbsp;&nbsp;&nbsp;<b>app_id</b> - Идентификатор приложения на сервере EXE.RU
							&nbsp;&nbsp;&nbsp;<b>item</b> - Текстовый идентификатор покупки, который был передан при запросе метода showOrderBox
							&nbsp;&nbsp;&nbsp;<b>user_id</b> - Идентификатор пользователя, который осуществляет покупку
							&nbsp;&nbsp;&nbsp;<b>sig</b> - Подпись параметров запроса.
							</pre>
                            <p></p>

                            <p><b>get_item - запрос информации о покупке:</b></p>

							<p>Параметры запроса:</p>
							<p>Дополнительные параметры запроса отсутствуют. Используются только общие параметры.</p>
                            <p>Параметры ответа, все параметры обязательны:</p>
							   <pre>
							   {
							   &nbsp;&nbsp;&nbsp;<b>title</b>:'', // Название покупки
							   &nbsp;&nbsp;&nbsp;<b>photo_url</b>:'', // Абсолютная ссылка на изображение на сервере приложения
							   &nbsp;&nbsp;&nbsp;<b>price</b>:'', // Цена во внутренних единицах EXE.RU, только целое число
							   &nbsp;&nbsp;&nbsp;<b>item_id</b>:'' // Идентификатор покупки на сервере приложения.
								}
							   </pre>
                            <p></p>

                            <p>Пример запроса, для формирования подписи использовался секретный ключ "W7kVvxVxZ4":</p>
                            <p><b>http://application.org/callback?action=get_item&app_id=15&item=1&user_id=1&sig=9d137106ad2cff9d7ad4babaf5ce13fa</b></p>
                            <p>Где:</p>
							<pre>
							    &nbsp;&nbsp;&nbsp;<b>action</b> = get_item // Тип запроса
                                &nbsp;&nbsp;&nbsp;<b>app_id</b> = 15 // Идентификатор приложения на сервере EXE.RU
                                &nbsp;&nbsp;&nbsp;<b>user_id</b> = 1 // Идентификатор покупателя на сервере EXE.RU
                                &nbsp;&nbsp;&nbsp;<b>item</b> = 1 // Идентификатор покупки на сервере приложения, был
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// передан приложением при обращении к методу showOrderBox
                                &nbsp;&nbsp;&nbsp;<b>sig</b> = 9d137106ad2cff9d7ad4babaf5ce13fa // Подпись запроса
							</pre>
							<p></p>

							<p>Пример ответа, покупка есть в продаже:</p>
							<pre><b>{
                                &nbsp;&nbsp;&nbsp;"response":{
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title":"200 \u0444\u0438\u0448\u0435\u043a",
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"photo_url":"\/\/static.application.org\/icons\/black_chips.png",
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"price":"2",
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"item_id":"1"
                                &nbsp;&nbsp;&nbsp;}
                            }
							</b></pre>
                            <p></p>

                            <p>Пример ответа, такой покупки нет в продаже:</p>
                            <pre><b>{
                                &nbsp;&nbsp;&nbsp;"response":{
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"error":{
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"code": "", // Код ошибки
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"text": "" // Текст сообщения об ошибке
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
                                &nbsp;&nbsp;&nbsp;}
                            }
							</b></pre>
                            <p></p>

							<b><p>buy_item - оформление покупки в игре</b></p>
							<p>Параметры запроса:</p>
                            <p>При запросе данного метода, кроме общих параметров, используются также следующие дополнительные:</p>
                            <pre>
                                &nbsp;&nbsp;&nbsp;<b>date</b> - UNIX-timestamp
                                &nbsp;&nbsp;&nbsp;<b>order_id</b> - идентификатор покупки на сервере EXE.RU
                                &nbsp;&nbsp;&nbsp;<b>status</b> - всегда принимает значение "complete".
                            </pre>
                            <p></p>

                            <p>Параметры ответа:</p>
                            <pre>
                            {
                                &nbsp;&nbsp;&nbsp;<b>order_id</b>:'', // Обязательный параметр, идентификатор покупки на
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// сервере EXE.RU. Был передан в запросе от сервера.
                                &nbsp;&nbsp;&nbsp;<b>app_order_id</b>:'' // Необязательный параметр, идентификатор покупки
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// на сервере приложения.
                            }
                            </pre>
                            <p></p>

                            <p>Пример запроса, для формирования подписи использовался секретный ключ "W7kVvxVxZ4":</p>

                            <p><b>http://application.org/callback?action=buy_item&app_id=15&date=1455708422&item=1&order_id=1
                                    &status=complete&user_id=1&sig=184c2c3395e474b2911ff5a2587cc4f0</b></p>

                            <p>Где:</p>
                            <pre>
                            &nbsp;&nbsp;&nbsp;<b>action</b> = buy_item // Тип запроса
                            &nbsp;&nbsp;&nbsp;<b>app_id</b> = 15 // Идентификатор приложения на сервере EXE.RU
                            &nbsp;&nbsp;&nbsp;<b>user_id</b> = 1 // Идентификатор покупателя на сервере EXE.RU
                            &nbsp;&nbsp;&nbsp;<b>item</b> = 1 // Идентификатор покупки на сервере приложения, был передан
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// приложением при обращении к методу showOrderBox
                            &nbsp;&nbsp;&nbsp;<b>date</b> = 1455708422 // Unix-timestamp
                            &nbsp;&nbsp;&nbsp;<b>order_id</b> = 1 // идентификатор покупки на сервере EXE.RU
                            &nbsp;&nbsp;&nbsp;<b>status</b> = complete
                            &nbsp;&nbsp;&nbsp;<b>sig</b> = 184c2c3395e474b2911ff5a2587cc4f0 // Подпись запроса
                            </pre>
                            <p></p>

                            <p><b>Обратите внимание, для формирования подписи запроса используются все поля.</b></p>
                            <p>Пример ответа, успешно куплено:</p>
                            <pre><b>{
                            &nbsp;&nbsp;&nbsp;"response":{
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"order_id":"1",
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"app_order_id":"258"
                            &nbsp;&nbsp;&nbsp;}
                            }</b></pre>
                            <p></p>

                            <p>Пример ответа, не удалось выполнить покупку:</p>
                            <pre><b>{
                                &nbsp;&nbsp;&nbsp;"response":{
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"error":{
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"code": "", // Код ошибки
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"text": "" // Текст сообщения об ошибке
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}
                                &nbsp;&nbsp;&nbsp;}
                            }
							</b></pre>
                            <p></p>

                            <p><b>Формирование подписи запроса</b></p>
                            <p>Параметр sig равен md5 от конкатенации всех пар параметр=значение, расположенных в порядке
                                возрастания имени параметра (по алфавиту) и секретной подписи api_secret, указанной в
                                настройках Вашего приложения.
                            </p>
                            <p>Пример формирования подписи с секретным ключом W7kVvxVxZ4:</p>
                            <pre><b>$appKey = 'W7kVvxVxZ4';
  
                            $params = [
                            &nbsp;&nbsp;&nbsp;'name_2' => 'value_2',
                            &nbsp;&nbsp;&nbsp;'name_1' => 'value_1'
                            ];
  
                            ksort($params);

                            $queryString = http_build_query($params, null, '');

                            $paramsString = urldecode($queryString) . $appKey;
                            // name_1=value_1name_2=value_2W7kVvxVxZ4
 
                            $sig = md5($paramsString);
                            </b></pre>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}