<li>
    <div class="request-list__who<% if (online) { %>--online<% } %>">
        <a class="request-list__who__img" href="#" data-modal="user-modal" data-uid="<%= uid %>" data-module="users" data-method="getUser"><img src="<%= imageHost %><%= photo[120] %>"></a>
        <a class="request-list__who__name" href="#" data-modal="user-modal" data-uid="<%= uid %>" data-module="users" data-method="getUser"><%= name %><br><%= last_name %></a>
    </div>
</li>
