<% if (result.length > 0) { %>
<ul class="request-list" data-source="<%= source %>">
    <% for(var i=0; i<result.length; i++) { %>
    <li>
        <div class="request-list__who">
            <a href="#" class="request-list__who__img" data-modal="user-modal" data-uid="<%= result[i].uid %>" data-module="users" data-method="getUser"><img src="<%= imageHost %><%= result[i].photo %>"></a>
            <a class="request-list__who__name" href="#" data-modal="user-modal" data-uid="<%= result[i].uid %>" data-module="users" data-method="getUser"><%= strip_by_length(result[i].name, 15) %><br><%= strip_by_length(result[i].last_name, 15) %></a>
        </div>
        <div class="request-list__reason">
            <% if (result[i].type == 'blacklist') { %>
            <p>В чёрном списке</p>
            <% } else if (result[i].type == 'both') { %>
            <p>В списке друзей</p>
            <% } else if (result[i].type == 'i') { %>
            <p>В запросах друзей</p>
            <% } else if (result[i].type == 'me') { %>
            <p>В ваших заявках</p>
            <% } else if (result[i].type == 'self') { %>
            <p>Это вы</p>
            <% } %>
        </div>
        <div class="btn-group--request">
            <% if (result[i].type == 'blacklist') { %>
            <a class="btn-main btn-main--green" href="#" data-module="users" data-method="fromBlackList" data-uid="<%= result[i].uid %>">Удалить из списка</a>
            <% } %>
            <% if (result[i].type == 'blocked') { %>
            <a class="btn-main btn-main--green tooltip-data" href="#" data-module="users" data-method="toBlackList" data-uid="<%= result[i].uid %>">Добавить в список</a>
            <% } %>
            <% if (result[i].type == 'both') { %>
            <a class="btn-main btn-main--green tooltip-data" href="#" data-module="users" data-method="toBlackList" data-uid="<%= result[i].uid %>">Добавить в список</a>
            <% } %>
            <% if (result[i].type == 'i') { %>
            <a class="btn-main btn-main--green" href="#" data-module="users" data-method="toBlackList" data-uid="<%= result[i].uid %>">Добавить в список</a>
            <% } %>
            <% if (result[i].type == 'me') { %>
            <a class="btn-main btn-main--green" href="#" data-module="users" data-method="toBlackList" data-uid="<%= result[i].uid %>">Добавить в список</a>
            <% } %>
            <% if (result[i].type == '') { %>
            <a class="btn-main btn-main--green" href="#" data-module="users" data-method="toBlackList" data-uid="<%= result[i].uid %>">Добавить в список</a>
            <% } %>
        </div>
    </li>
    <% } %>
</ul>
<% } else { %>
<div class="blacklist-empty--header">Ваш чёрный список пуст.</div>
<div class="blacklist-empty--text">Люди из чёрного списка не могут просматривать Вашу страницу, приглашать в игры и отправлять Вам личные сообщения.</div>
<% } %>