<div class="report-block animated bounceInRight">
    <div class="report-close"></div>
    <img class="img_balance" src="/assets/img/money-type3-hover.png">
    <div class="report-content">
        <p>Начислен бонус</p>
        <span>Новый баланс <%= balance %></span>
    </div>
</div>