<% if (dialogs.length > 0) { %>
    <ul class="dialog-list">
    <% for(i=0; i<dialogs.length; ++i) { %>
        <li class="dialog-list__item
         <% if (dialogs[i].unread > 0) { %> dialog-list__item--unread<% } %>
         <% if (dialogs[i].user.online) { %> dialog-list__item__img--online<% } %>" data-uid="<%= dialogs[i].user.uid %>" data-module="dialogs" data-method="selectDialog">
            <div class="deleted_shadow"></div>
            <a class="dialog-list__item__img" href="/id<%= dialogs[i].user.uid %>" data-modal="user-modal" data-module="users" data-method="getUser" data-uid="<%= dialogs[i].user.uid %>"><img src="<%= imageHost %><%= dialogs[i].user.photo %>"></a>
            <div class="dialog-list__item__delete delete-data" data-toggle="tooltip" data-placement="top" title="Удалить диалог" data-module="dialogs" data-method="deleteDialog" data-uid="<%= dialogs[i].user.uid %>"></div>
            <div class="dialog-list__item__who">
                <a href="/id<%= dialogs[i].user.uid %>" data-module="users" data-modal="user-modal" data-method="getUser" data-uid="<%= dialogs[i].user.uid %>"><%= strip_by_length(dialogs[i].user.name, 15) %> <%= strip_by_length(dialogs[i].user.last_name, 15) %></a>
                <% if (dialogs[i].user.online) { %><span>онлайн</span><% } %>
                <% if (dialogs[i].user.type && dialogs[i].user.type == 'blacklist') { %><span style="color:red;">В черном списке</span><% } %>
                <p><%= readableDate(dialogs[i].message.time) %></p>
            </div>
            <!--<div class="dialog-list__item__text<% if (user.uid == dialogs[i].message.uid) { %> dialog-list__item__text&#45;&#45;img<% } %>" data-module="dialogs" data-method="selectDialog" data-uid="<%= user.uid == dialogs[i].message.uid ? dialogs[i].message.fid : dialogs[i].message.uid %>">-->
            <div class="dialog-list__item__text<% if (user.uid == dialogs[i].message.uid) { %> dialog-list__item__text--img<% } %>">
                <% if (user.uid == dialogs[i].message.uid) { %><img src="<%= imageHost %><%= user.photo %>"><% } %>
                <p><%= codeToImage(strip_by_length(dialogs[i].message.text, 200)) %></p>
            </div>
            <!--<div class="dialog-list__item__text dialog-list__item__text&#45;&#45;typing" data-module="dialogs" data-method="selectDialog" data-uid="<%= user.uid == dialogs[i].message.uid ? dialogs[i].message.fid : dialogs[i].message.uid %>">-->
            <div class="dialog-list__item__text dialog-list__item__text--typing">
                <img src="/assets/img/typing.gif"/>
                <p>набирает сообщение...</p>
            </div>
            <% if (dialogs[i].unread > 0) { %>
                <div class="dialog-list__item__message-count">+<%= dialogs[i].unread %></div>
            <% } %>
        </li>
    <% } %>
    </ul>
<% } else { %>
    <div class="dialogs_list-empty--header">Диалогов пока нет</div>
<% } %>