<li class="online<%= unread?' unread':''%>" data-uid="<%= message.uid %>" data-timestamp="<%= (new Date).getTime() %>">
    <div class="deleted_shadow"></div>
    <a href="/id<%= message.uid %>" data-modal="user-modal" data-module="users" data-method="getUser" data-uid="<%= message.uid %>"><img src="<%= imageHost %><%= user.photo[70] %>"></a>

    <div class="messages-list__item__text messages-list__item__text">
        <a href="/id<%= message.uid %>" data-modal="user-modal" data-module="users" data-method="getUser" data-uid="<%= message.uid %>"><%= strip_by_length(user.name, 15) %> <%= strip_by_length(user.last_name, 15) %></a>
        <span><%= readableDate(message.time) %></span>
        <p data-mid="<%= message.did %>" data-time="<%= message.time %>"><%= codeToImage(message.text) %></p>
        <div class="message-delete" data-toggle="tooltip" data-placement="top" title="Удалить" data-module="dialogs" data-method="deleteDialogBlock"></div>
    </div>
</li>