<ul class="messages-list">
    <% for(i = 0; i < messages.length; ++i) { %>
        <%
            var unread = false;
            if (uid == messages[i].uid) { // Отправитель текущий пользователь. Проверяем, прочитал ли сообщение получатель
                var j = i;
                for(;;) { // Смотрим, есть ли в блоке хоть одно непрочитанное сообщение
                    if (j != messages.length && messages[i].uid == messages[j].uid) {
                        if (messages[j].was_read_fid == 'f') {
                            unread = true;
                        }
                        ++j;
                    } else {
                        break;
                    }
                }
            } else { // Сообщение текущему пользователю
                var j = i;
                for(;;) { // Смотрим, есть ли в блоке хоть одно непрочитанное сообщение
                    if (j != messages.length && messages[i].uid == messages[j].uid) {
                        if (messages[j].was_read_fid == 'f') {
                            unread = true;
                        }
                        ++j;
                    } else {
                        break;
                    }
                }
            }
        %>
        <li class="<%= users[messages[i].uid].online ? 'online' : '' %><%= unread ? ' unread' : '' %>" data-uid="<%= messages[i].uid %>" data-timestamp="<%= (new Date).getTime() %>">
            <a href="/id<%= messages[i].uid %>" data-modal="user-modal" data-module="users" data-method="getUser" data-uid="<%= messages[i].uid %>"><img src="<%= imageHost %><%= users[messages[i].uid].photo[70] %>"></a>
            <div class="messages-list__item__text messages-list__item__text">
                <div class="deleted_shadow"></div>
                <a href="/id<%= messages[i].uid %>" data-modal="user-modal" data-module="users" data-method="getUser" data-uid="<%= messages[i].uid %>"><%= users[messages[i].uid].name %> <%= users[messages[i].uid].last_name %></a>
                <span><%= readableDate(messages[i].time) %></span>

                <p data-mid="<%= messages[i].did %>" data-time="<%= messages[i].time %>"><%= codeToImage(messages[i].text) %></p>
                <% for(;;) { %>
                    <% if (i != messages.length - 1 && messages[i].uid == messages[i + 1].uid && (messages[i + 1].time - messages[i].time) <= 300 ) { %>
                        <p data-mid="<%= messages[++i].did %>" data-time="<%= messages[i].time %>"><%= codeToImage(messages[i].text) %></p>
                    <% } else {
                        break;
                    } %>
                <% } %>
                <div class="message-delete" data-toggle="tooltip" data-placement="top" title="Удалить" data-module="dialogs" data-method="deleteDialogBlock"></div>
            </div>
        </li>
    <% } %>
</ul>
