<ul class="modal-tabs__list">
    <li><a href="#" data-tab-target="tab_1" data-module="friends" data-method="renderList">Друзья <span><%= both %></span></a></li>
    <% if (me > 0) { %>
    <li><a href="#" data-tab-target="tab_2" data-module="friends" data-method="renderList">Заявки в друзья <span>+<%= me %></span></a></li>
    <% } %>
    <% if (i > 0) { %>
    <li><a href="#" data-tab-target="tab_3" data-module="friends" data-method="renderList">Мои заявки <span>+<%= i %></span></a></li>
    <% } %>
</ul>