<% if (result.length > 0) { %>
<ul class="request-list" data-source="friends">
    <% for(var i=0; i<result.length; i++) { %>
    <li data-type="<%= result[i].type %>">
        <div class="request-list__who">
            <a href="#" class="request-list__who__img" data-modal="user-modal" data-uid="<%= result[i].uid %>" data-module="users" data-method="getUser"><img src="<%= imageHost %><%= result[i].photo %>"></a>
            <a class="request-list__who__name" href="#" data-modal="user-modal" data-uid="<%= result[i].uid %>" data-module="users" data-method="getUser"><%= strip_by_length(result[i].name, 15) %><br><%= strip_by_length(result[i].last_name, 15) %></a>
        </div>
        <div class="request-list__reason">
            <% if (result[i].type == 'both') { %>
            <p>В списке друзей</p>
            <% } else if (result[i].type == 'i') { %>
            <p>В моих заявках</p>
            <% } else if (result[i].type == 'me') { %>
            <p>В заявках</p>
            <% } else if (result[i].type == 'self') { %>
            <p>Это вы</p>
            <% } else if (result[i].type == 'rejected') { %>
            <p>Подписан на вас</p>
            <% } else if (result[i].type == 'blacklist') {%>
            <p>В черном списке</p>
            <% } else if (result[i].type == 'blocked') {%>
            <p style="width:350px;">Пользователь ограничил доступ</p>
            <% } %>
        </div>
        <div class="btn-group--request">
            <% if (result[i].type == 'both') { %>
            <a class="btn-main btn-main--transparent" href="#" data-module="friends" data-method="searchDeleteFromFriends" data-fid="<%= result[i].uid %>">Удалить из друзей</a>
            <% } else if (result[i].type == 'i') { %>
            <a class="btn-main btn-main--transparent" href="#" data-module="friends" data-method="searchCancelRequest" data-fid="<%= result[i].uid %>">Отменить заявку</a>
            <% } else if (result[i].type == 'me') { %>
            <a class="btn-main btn-main--green" href="#" data-module="friends" data-method="searchAcceptRequest" data-fid="<%= result[i].uid %>">Принять заявку</a>
            <% } else if (result[i].type == 'blacklist') { %>
            <a class="btn-main btn-main--green" href="#" data-module="users" data-method="fromBlackList" data-uid="<%= result[i].uid %>">Удалить из списка</a>
            <% } else if (result[i].type == 'blocked') { %>
            <% } else if (result[i].type != 'self') { %>
            <a class="btn-main btn-main--green" href="#" data-module="friends" data-method="searchRequestToFriends" data-fid="<%= result[i].uid %>">Добавить в друзья</a>
            <% } %>
        </div>
    </li>
    <% } %>
</ul>
<% } else { %>
<div class="blacklist-empty--header">Ничего не найдено</div>
<div class="blacklist-empty--text">Ваш запрос не дал результатов. Попробуйте изменить поисковую фразу.</div>
<% } %>