<div class="dev-billing__history-more">
    <a href="#" data-template="<%= template %>" data-count="<%= count %>" data-start="<%= count %>" data-type="<%= type %>">Показать ещё <i class="icon-arrow-right"></i></a>
</div>