<% if (list.length > 0) { %>
<ul class="friends-search friends-search--all">
    <% for(var i=0; i<list.length; i++) { %>
    <li>
        <div class="<%= (list[i].online ? 'request-list__who--online' : 'request-list__who') %>">
            <a class="request-list__who__img" href="/id<%= list[i].uid %>" data-modal="user-modal" data-uid="<%= list[i].uid %>" data-module="users" data-method="getUser"><img src="<%= imageHost %><%= list[i].photo[120] %>"></a>
            <a class="request-list__who__name" href="/id<%= list[i].uid %>" data-modal="user-modal" data-uid="<%= list[i].uid %>" data-module="users" data-method="getUser"><%= list[i].name %><br><%= list[i].last_name %></a>
        </div>
    </li>
    <% } %>
</ul>
<% } else { %>
<div class="dialogs_list-empty--header">Пока нет друзей.</div>
<% } %>