<ul class="request-list">
    <% for(var i=0; i<list.length; i++) { %>
    <li>
        <div class="request-list__who<%=list[i].online ? ' request-list__who--online': ''%>">
            <a href="/id<%= list[i].uid %>" class="request-list__who__img" data-modal="user-modal" data-uid="<%= list[i].uid %>" data-module="users" data-method="getUser"><img  src="<%= imageHost %><%= list[i].photo[120] %>"></a>
            <a class="request-list__who__name" href="/id<%= list[i].uid %>" data-modal="user-modal" data-uid="<%= list[i].uid %>" data-module="users" data-method="getUser"><%= strip_by_length(list[i].name, 15) %><br><%= strip_by_length(list[i].last_name, 15) %></a>
        </div>
        <div class="request-list__reason">
            <% if (typeof(list[i].game) == 'object') { %>
                <a href="/app<%= list[i].game.gid %>?source=game_request"><img src="<%= imageHost %><%= list[i].game.image %>"></a>
                <p><%= (type == 'i') ? 'Вы приглашаете' : 'Приглашает вас' %> дружить в игре <a href="/app<%= list[i].game.gid %>?source=game_request"><%= list[i].game.title %></a></p>
            <% } %>
        </div>
        <div class="btn-group--request">
            <% if (type == 'i') { %>
            <a class="btn-main btn-main--transparent" href="#" data-module="friends" data-method="myRequestsCancelRequest" data-fid="<%= list[i].uid %>">Отменить заявку</a>
            <% } else if (type == 'me') { %>
            <a class="btn-main btn-main--green" href="#" data-module="friends" data-method="meAcceptRequest" data-fid="<%= list[i].uid %>">Принять</a>
            <a class="btn-main btn-main--transparent" href="#" data-module="friends" data-method="meRejectRequest" data-fid="<%= list[i].uid %>">Отклонить</a>
            <% } %>
        </div>
    </li>
    <% } %>
</ul>