<% var c = 0;%>
<% for(var i in friends) { %>
<% ++c; %>
<li<%= c<=3 ? ' class="topline"': '' %>>
    <div class="request-list__who
    <%= friends[i].online ? ' request-list__who--online' : '' %>
    <%= friends[i].invited|| friends[i].play=='1' ? ' request-list__who--played' : '' %>
    ">
        <a href="#" class="request-list__who__img"><img src="<%= imageHost %><%= friends[i].photo %>"></a>
        <a href="#" class="request-list__who__name"><%= friends[i].name %><br><%= friends[i].last_name %></a>
        <input type="checkbox" id="search-checkbox<%= friends[i].uid %>" value="<%= friends[i].uid %>" name="friends[]" <%= friends[i].play=='1' || friends[i].invited ? ' checked="checked" disabled="disabled"' : '' %>>
        <label for="search-checkbox<%= friends[i].uid %>"></label>
        <%= friends[i].online ? '<span>онлайн</span>' : '' %>
    </div>
</li>
<% } %>