<div class="report-block animated bounceInRight">
    <div class="report-close"></div>
    <img src="<%= imageHost %><%= user.image %>" data-modal="user-modal" data-uid="<%= user.uid %>" data-module="users" data-method="getUser">
    <div class="report-content">
        <p data-modal="user-modal" data-uid="<%= user.uid %>" data-module="users" data-method="getUser"><%= strip_by_length(user.name, 15) %><br> <%= strip_by_length(user.last_name, 15) %></p>
        <div class="invite-to-game" data-module="game" data-method="positiveFriendsGrade" data-fid="<%= user.uid %>" data-gid="<%= game.id %>">
            приглашает дружить<br/>в игре <a href="#"><%= strip_by_length(game.title, 19) %></a>
        </div>
    </div>
</div>