<li class="news-list__item type-all type-user">
    <div class="news-list__item__delete delete-data" data-toggle="tooltip" data-placement="top" title="Удалить" data-fid="<%= feed.fid %>"></div>
    <div class="news-list__item--left">
        <a href="/id<%= feed.user.uid %>" data-modal="user-modal" data-uid="<%= feed.user.uid %>" data-module="users" data-method="getUser"><img src="<%= imageHost %><%= feed.user.photo[70] %>"></a>
        <div class="news-list__item__author">
            <a href="/id<%= feed.user.uid %>" data-modal="user-modal" data-uid="<%= feed.user.uid %>" data-module="users" data-method="getUser"><%= feed.user.name %> <%= feed.user.last_name %></a>
            <p><%= feed.text %> <a href="/id<%= feed.friend.uid %>" data-modal="user-modal" data-uid="<%= feed.friend.uid %>" data-module="users" data-method="getUser"><%= feed.friend.name %> <%= feed.friend.last_name %></a></p>
            <span><%= feed.date %></span>
        </div>
    </div>
    <div class="news-list__item--right">
        <a href="/id<%= feed.friend.uid %>" data-modal="user-modal" data-uid="<%= feed.friend.uid %>" data-module="users" data-method="getUser"><img src="<%= imageHost %><%= feed.friend.photo[70] %>"></a>
    </div>
</li>