<% // Новость игры
var site = /https?:\/\/.+\//.exec(window.location.href)[0],
    params = feed.params == null ? '' : '?request_key=' + feed.params,
    image = feed.game.image_150x150 == null ?
        imageHost + '/assets/img/dev-game__image-poster-75px.png' :
        imageHost + '/assets/img/app/' + feed.game.gid + '/150x150/' + (window.devicePixelRatio == 1 ? '_' : '') + feed.game.image_150x150,
    game_link = '<a href="/app' + feed.game.gid + params + '">' + feed.game.title + '</a>';
%>
<li class="news-list__item type-all type-game">
    <div class="news-list__item__delete delete-data" data-toggle="tooltip" data-placement="top" title="Удалить" data-fid="<%= feed.fid %>"></div>
    <div class="news-list__item--left">
        <a href="/app<%= feed.game.gid %><%= params %>"><img src="<%= image %>"></a>
        <div class="news-list__item__author news-list__item__author--top">
            <a href="/app<%= feed.game.gid %><%= params %>"><%= feed.game.title %></a>
            <div class="news-list__item__author--title"><%= feed.title %></div>
            <p>
                <%= feed.text.replace('%game_link%', game_link)%>
                <nobr><a href="/app<%= feed.game.gid %><%= params %>"><%= site %>app<%= feed.game.gid %></a></nobr>
            </p>
<%  if (feed.image_url != null) { %>
            <a href="/app<%= feed.game.gid %><%= params %>" class="news-list__item__banner">
                <img src="<%= feed.image_url %>">
            </a>
<%  } %>
            <span><%= feed.date %></span>
        </div>
    </div>
</li>
