<%
var image = feed.game.image_150x150 == null ?
            imageHost + '/assets/img/dev-game__image-poster-75px.png' :
            imageHost + '/assets/img/app/' + feed.game.gid + '/150x150/' + (window.devicePixelRatio == 1 ? '_' : '') + feed.game.image_150x150,
    app_link = '/app' + feed.game.gid + '?source=news' + (feed.params == null ? '' : '&request_key=' + feed.params),
    game_link = '<a href="' + app_link + '">' + feed.game.title + '</a>';
%>
<li class="news-list__item type-all type-user">
    <div class="news-list__item__delete delete-data" data-toggle="tooltip" data-placement="top" title="Удалить" data-fid="<%= feed.fid %>"></div>
    <div class="news-list__item--left">
        <a href="/id<%= feed.user.uid %>" data-modal="user-modal" data-uid="<%= feed.user.uid %>" data-module="users" data-method="getUser"><img src="<%= imageHost %><%= feed.user.photo[70] %>"></a>
        <div class="news-list__item__author">
            <a href="/id<%= feed.user.uid %>" data-modal="user-modal" data-uid="<%= feed.user.uid %>" data-module="users" data-method="getUser"><%= feed.user.name %> <%= feed.user.last_name %></a>
            <p><%= feed.text %> <%= game_link %></p>
            <span><%= feed.date %></span>
        </div>
    </div>
    <div class="news-list__item--right">
        <a href="<%= app_link %>"><img src="<%= image %>"></a>
    </div>
</li>