<div class="report-block animated bounceInRight">
    <div class="report-close"></div>
    <img src="<%= imageHost %><%= user.photo[70] %>" data-modal="user-modal" data-uid="<%= user.uid %>" data-module="users" data-method="getUser">
    <div class="report-content" data-modal="dialogs-modal" data-uid="<%= user.uid %>" data-module="dialogs" data-method="selectDialog">
        <p><%= strip_by_length(user.name, 15) %><br> <%= strip_by_length(user.last_name, 15) %></p>
        <span>новое сообщение</span>
    </div>
</div>