<div class="report-block animated bounceInRight">
    <div class="report-close"></div>
    <img src="<%= imageHost %><%= image %>" data-modal="user-modal" data-uid="<%= uid %>" data-module="users" data-method="getUser">
    <div class="report-content" data-modal="user-modal" data-uid="<%= uid %>" data-module="users" data-method="getUser">
        <p><%= strip_by_length(name, 15) %><br> <%= strip_by_length(last_name, 15) %></p>
        <span>онлайн</span>
    </div>
</div>