<form action="<%= form.action %>" method="<%= form.method %>" id="testForm" target="paymentProccess" autocomplete="off" accept-charset="utf-8">
    <% for (var i in elements) { %>
    <input type="hidden" name="<%= i %>" value="<%= elements[i] %>" />
    <% } %>
</form>