<% var c = 0;%>
<% for(var i in friends) { %>
<% ++c; %>
<li<%= c<=3 ? ' class="topline"': '' %>>
    <div class="request-list__who
    <%= friends[i].online ? ' request-list__who--online' : '' %>
    ">
        <a href="#" class="request-list__who__img"><img src="<%= imageHost %><%= friends[i].image %>"></a>
        <a href="#" class="request-list__who__name"><%= strip_by_length(friends[i].name, 15) %><br><%= strip_by_length(friends[i].last_name, 15) %></a>
        <input type="checkbox" id="search-checkbox<%= friends[i].uid %>" value="<%= friends[i].uid %>" name="friends[]">
        <label for="search-checkbox<%= friends[i].uid %>"></label>
        <%= friends[i].online ? '<span>онлайн</span>' : '' %>
    </div>
</li>
<% } %>