<div class="modal__content tab_1">
    <div class="profile-info">
        <% if (friendType == 'self') { %>
        <img style="cursor:pointer;" src="<%= imageHost %><%= photo[270] %>"data-modal="settings-modal" data-module="users" data-method="setTabPhotoSettings">
        <% } else { %>
        <img src="<%= imageHost %><%= photo[270] %>">
        <% } %>
        <div class="profile-info__content">
            <div class="profile-info__content__item">
                <!--<h3><%= strip_by_length(name, 15) %> <%= strip_by_length(last_name, 20) %></h3>-->
                <h3><%= name %> <%= last_name %></h3>
                    <% if (friendType == 'self') { %><span>Это вы</span><% }
                    else if (friendType == 'blacklist') { %><span style="color:red;">В черном списке</span><% }
                    else if (online) { %><span>Онлайн</span><% }
                    else { %><span>&nbsp;</span><% } %>
                </span>
            </div>
            <div class="profile-info__content__item">
                <div class="profile-info__count">
                    <p class="profile-info__count__games"><%= games.length %> <%= plural_str(games.length, ' игра', ' игры', ' игр') %></p>
                </div>
                <div class="profile-info__count">
                    <p class="profile-info__count__friends"><%= friends.length %> <%= plural_str(friends.length, ' друг', ' друга', ' друзей') %></p>
                </div>
            </div>
            <% if (age != '' || birthday != '')  { %>
            <div class="profile-info__content__item">
                <% if (age != '') { %>
                <p class="profile-info__age"><%= age %>&nbsp;</p>
                <% } %>
                <% if (birthday != '') { %>
                <p class="profile-info__birthday second"><%= birthday %>&nbsp;</p>
                <% } %>
            </div>
            <% } %>
            <div class="profile-info__content__item">
                <p class="profile-info__country"><%= country %>&nbsp;</p>
                <p class="profile-info__city"><%= city %>&nbsp;</p>
            </div>
            <div class="profile-info__content__item">
                <div class="profile-btn-group">
                    <div class="friend-type friends-button-left friend-type-<% if (friendType == "") { %>empty<% } else { %><%= friendType %><% } %>" data-uid="<%= uid %>">
                    <% if (friendType == 'i') { %>
                        <a class="profile-btn profile-btn--added" href="#" data-toggle="popover" data-trigger="manual" data-title="<%= name %> должен подтвердить, что вы его друг." data-placement="top">В моих заявках</a>
                    <% } else if (friendType == 'both') { %>
                        <a class="profile-btn profile-btn--added" href="#" data-toggle="popover" data-trigger="manual" data-title="<%= name %> у вас в друзьях." data-placement="top"><%= strip_by_length(name, 15) %> Ваш друг</a>
                    <% } else if (friendType == 'me') { %>
                        <a class="profile-btn profile-btn--added" href="#" data-toggle="popover" data-trigger="manual" data-title="Вы должны подтвердить, что <%= name %> ваш друг." data-placement="top">Ожидает подтверждения</a>
                    <% } else if (friendType == 'rejected') { %>
                        <a class="profile-btn profile-btn--added" href="#" data-toggle="popover" data-trigger="manual" data-title="<%= name %> у вас в подписчиках. Вы можете добавить его в друзья." data-placement="top">В подписчиках</a>
                    <% } else if (friendType == 'blacklist') { %>
                        <a class="profile-btn profile-btn--added" href="#" data-toggle="popover" data-trigger="manual" data-title="<%= name %> в черном списке" data-placement="top">В черном списке</a>
                    <% } else if (friendType == 'self') { %>
                    <% } else { %>
                        <a class="profile-btn profile-btn" href="#" data-module="friends" data-method="userProfileRequestToFriends">Добавить в друзья</a>
                    <% }%>
                    </div>
                    <% if (friendType != 'self' && friendType != 'blacklist') { %>
                        <a class="profile-btn" href="#" data-modal="dialogs-modal" data-module="dialogs" data-method="writeMessageTo" data-uid="<%= uid %>">Написать сообщение</a>
                    <% } else if (friendType == 'blacklist') {%>
                    <div class="friend-type friends-button-right friend-type-<% if (friendType == "") { %>empty<% } else { %><%= friendType %><% } %>" data-uid="<%= uid %>">
                        <a class="profile-btn profile-btn--added" href="#" data-toggle="popover" data-trigger="manual" data-title="Пользователь в черном списке. Чтобы продолжить, необходимо удалить его из черного списка." data-placement="top">Написать сообщение</a>
                    </div>
                    <%} %>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-main">
        <% if (games.length > 0) { %>
        <div class="col__header">
            <h3 class="col__header__text">Игры</h3>
            <span class="col__header__count"><% if (games.length < 10) { %>0<% }%><%= games.length %></span>
        </div>
        <div class="col__content col__content--profile col__content--profile--more">
            <% if (games.length > 5) { %>
            <ul class="my-games">
                <% for(var i=0; i<5; ++i) { %>
                <li class="my-games__item">
                    <a href="/app<%= games[i].gid %>?source=profile"><img src="<%= imageHost %><%= games[i].image %>" style="border-bottom: 4px solid <%= games[i].type_color %>;"></a>
                    <a href="/app<%= games[i].gid %>?source=profile" class="my-games__item__game-text" style="color: <%= games[i].type_color %>;"><%= games[i].title %></a>
                </li>
                <% } %>
            </ul>
            <div class="row__more-panel-wrap">
                <div class="row__more-panel">
                    <ul class="my-games">
                        <% for(var i=5; i<games.length; ++i) { %>
                        <li class="my-games__item">
                            <a href="/app<%= games[i].gid %>?source=profile"><img src="<%= imageHost %><%= games[i].image %>" style="border-bottom: 4px solid <%= games[i].type_color %>;"></a>
                            <a href="/app<%= games[i].gid %>?source=profile" class="my-games__item__game-text" style="color: <%= games[i].type_color %>;"><%= games[i].title %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <div class="row__more row__more--open row__more--user"></div>
                <div class="row__more row__more--close row__more--user"></div>
            </div>
            <% } else if (games.length > 0) { %>
            <ul class="my-games">
                <% for(var i=0; i<games.length; ++i) { %>
                <li class="my-games__item">
                    <a href="/app<%= games[i].gid %>?source=profile"><img src="<%= imageHost %><%= games[i].image %>" style="border-bottom: 4px solid <%= games[i].type_color %>;"></a>
                    <a href="/app<%= games[i].gid %>?source=profile" class="my-games__item__game-text" style="color: <%= games[i].type_color %>;"><%= games[i].title %></a>
                </li>
                <% } %>
            </ul>
            <% } else { %>
            <ul class="my-games"></ul>
            <% } %>
        </div>
        <% } %>
        <div class="profile-news">
            <div class="col__header">
                <h3 class="col__header__text">Новости</h3>
            </div>
            <div class="col__content">
                <ul class="profile-news-list">
                    <% if (news.length > 0) { %>
                        <% for(var i=0; i<news.length; i++) { %>
                            <li>
                            <% if (typeof(news[i].friend) === 'undefined') { %>
                                <a href="#" class="profile-news-list__item__img" data-uid="<%= uid %>" data-module="users" data-method="getUser"><img  src="<%= imageHost %><%= photo[70] %>"></a>
                                <div class="profile-news-list__item__content">
                                    <a href="#" data-uid="<%= uid %>" data-module="users" data-method="getUser"><%= name %> <%= last_name %></a>
                                    <% params = (typeof(news[i].params) === 'undefined') ? '?source=friends_news' : '?source=friends_news&request_key=' + news[i].params; %>
                                    <% if (news[i].type == 3) { %>
                                        <p><%= news[i].text %> <nobr></nobr><a href="/app<%= news[i].game.gid %><%= params %>"><%= host %>/app<%= news[i].game.gid %></a></nobr></p>
                                        <% if (typeof(news[i].image_url) !== 'undefined') { %>
                                            <a href="/app<%= news[i].game.gid %><%= params %>" class="news-list__item__banner"><img src="<%= news[i].image_url %>"></a>
                                        <% } %>
                                    <% } else { %>
                                        <p><%= news[i].text=='' ? 'Установил игру' : news[i].text %> <a href="/app<%= news[i].game.gid %><%= params %>"><%= news[i].game.title %></a></p>
                                    <% } %>
                                    <span><%= news[i].date %></span>
                                </div>
                                <a href="/app<%= news[i].game.gid %><%= params %>"><img src="<%= imageHost %><%= news[i].game.image %>"></a>
                            <% } else { %>
                                 <a href="#" class="profile-news-list__item__img" data-uid="<%= uid %>" data-module="users" data-method="getUser"><img  src="<%= imageHost %><%= photo[70] %>"></a>
                                 <div class="profile-news-list__item__content">
                                    <a href="#" data-uid="<%= uid %>" data-module="users" data-method="getUser"><%= name %> <%= last_name %></a>
                                    <p><%= news[i].text=='' ? 'Новый друг' : news[i].text %> <a href="#" data-uid="<%= news[i].friend.uid %>" data-module="users" data-method="getUser"><%= news[i].friend.name %> <%= news[i].friend.last_name %></a></p>
                                     <span><%= news[i].date %></span>
                                 </div>
                                <a href="#" data-uid="<%= news[i].friend.uid %>" data-module="users" data-method="getUser"><img src="<%= imageHost %><%= news[i].friend.photo[70] %>"></a>
                            <% } %>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal__search modal__search--purple tab_2">
    <ul class="modal__search__list">
        <li><a href="#" class="active" data-module="friends" data-method="showFriends" data-filter="" data-uid="<%= uid %>">Все друзья</a></li>
        <% if (friendType!='self') { %>
        <li><a href="#" data-module="friends" data-method="showFriends" data-filter="both" data-uid="<%= uid %>">Общие друзья</a></li>
        <% } %>
    </ul>
    <form autocomplete="off">
    <input class="modal__search--text modal__search--text--<%= friendType=='self' ? 'xl' : 'sm' %>" type="text" placeholder="Поиск">
    <div class="modal__search--submit-wrap" data-module="friends" data-method="showFriends" data-filter="search" data-uid="<%= uid %>">
        <input class="modal__search--submit" type="submit" value="">
    </div>
    </form>
</div>
<div class="modal__content tab_2">
    <div class="friends-search-wrap">
        <% if (friends.length > 0) { %>
        <ul class="friends-search friends-search--all">
                <% for(var i=0; i<friends.length; i++) { %>
                    <li>
                        <div class="request-list__who<% if (friends[i].online) { %>--online<% } %>">
                            <a class="request-list__who__img" href="/id<%= friends[i].uid %>" data-module="users" data-method="getUser" data-uid="<%= friends[i].uid %>"><img src="<%= friends[i].photo[120] %>"></a>
                            <a class="request-list__who__name" href="/id<%= friends[i].uid %>" data-module="users" data-method="getUser" data-uid="<%= friends[i].uid %>"><%= strip_by_length(friends[i].name, 15) %><br/><%= strip_by_length(friends[i].last_name, 13) %></a>
                        </div>
                    </li>
                <% } %>
        </ul>
        <% } else { %>
        <div class="user_profile__empty-header">На данный момент у <% if (friendType == 'self') { %>Вас<% } else { %>пользователя<% } %> нет друзей</div>
        <div class="user_profile__empty-text"></div>
        <% } %>
    </div>
</div>