<div class="modal__content tab_1">
    <div class="profile-info">
        <img src="<%= imageHost %><%= photo[270] %>">
        <div class="profile-info__content">
            <div class="profile-info__content__item">
                <!--<h3><%= strip_by_length(name, 15) %> <%= strip_by_length(last_name, 20) %></h3>-->
                <h3><%= name %> <%= last_name %></h3>
                    <span>&nbsp;</span>
                </span>
            </div>
            <div class="profile-info__content__item">
                <p class="blocked">Пользователь ограничил доступ к странице.</p>
            </div>
        </div>
    </div>
</div>
