<% if (friends.length > 0) { %>
<ul class="friends-search friends-search--all">
    <% for(var i=0; i<friends.length; i++) { %>
        <li>
            <div class="request-list__who<% if (friends[i].online) { %>--online<% } %>">
                <a class="request-list__who__img" href="/id<%= friends[i].uid %>" data-module="users" data-method="getUser" data-uid="<%= friends[i].uid %>"><img src="<%= friends[i].photo[120] %>"></a>
                <a class="request-list__who__name" href="/id<%= friends[i].uid %>" data-module="users" data-method="getUser" data-uid="<%= friends[i].uid %>"><%= strip_by_length(friends[i].name, 15) %><br/><%= strip_by_length(friends[i].last_name, 13) %></a>
            </div>
        </li>
    <% } %>
</ul>
<% } else if (listType == '') { %>
<div class="user_profile__empty-header">На данный момент у пользователя нет друзей</div>
<div class="user_profile__empty-text"></div>
<% } else if (listType == 'both') { %>
<div class="user_profile__empty-header">На данный момент у вас нет общих друзей</div>
<div class="user_profile__empty-text"></div>
<% } else if (listType == 'search') { %>
<div class="user_profile__empty-header">Ничего не найдено</div>
<div class="user_profile__empty-text">Ваш запрос не дал результатов. Попробуйте изменить поисковую фразу.</div>
<% } %>