.m2-content {
  width: 890px!important;
  margin-left: -445px !important;
  font: normal normal 16px/22px 'Roboto-Medium', arial, sans-serif;
  color: #5d6d7d;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  position: relative;
  min-width: 1000px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
.m2-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  color: white;
  display: block;
  padding: 27px 28px;
  -webkit-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
}
.m2-close:hover {
  opacity: 0.6;
}
.m2-close i {
  display: block;
  font-size: 25px;
  line-height: 25px;
}
.m2-intro {
  height: 157px;
  margin: 0 0 90px;
  position: relative;
  background: url(/assets/img/m2-intro.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1;
}
.m2-intro--wrap {
  position: absolute;
  bottom: -90px;
  left: 50%;
  margin: 0 0 0 -90px;
  width: 180px;
  height: 180px;
}
.m2-intro--wrap.no-photo {
  -webkit-border-radius: 90px;
  border-radius: 90px;
  background: #755ec6 url(/assets/img/m2-logo.png) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 0 0 6px white;
  box-shadow: 0 0 0 6px white;
}
.m2-intro--wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.m2-body {
  position: relative;
  z-index: 1;
  padding: 34px 0 30px;
}
.m2-icon {
  padding: 19px 0 25px;
  text-align: center;
}
.m2-icon i {
  display: block;
  color: #00b3ad;
}
.m2-icon i.icon-star {
  font-size: 60px;
  line-height: 60px;
}
.m2-icon i.icon-key {
  font-size: 62px;
  line-height: 60px;
}
.m2-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin: 0 0 9px;
}
.m2-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin: 0 0 39px;
}
.m2-btns {
  text-align: center;
}
.m2-btn {
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
  width: 196px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 300ms all ease;
  -o-transition: 300ms all ease;
  transition: 300ms all ease;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 12px 0 13px;
}
.m2-btn.is-main {
  background: #21b1ac;
  color: #ffffff;
}
.m2-btn.is-main:hover {
  background: #ffffff;
  color: #21b1ac;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.m2-btn.is-main:active {
  background: #0f8884;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.m2-btn.is-second {
  background: #ffffff;
  color: #21b1ac;
}
.m2-btn.is-second:hover {
  background: #e4f6f5;
  color: #21b1ac;
}
.m2-btn.is-second:active {
  background: #ffffff;
  color: #0f8884;
}
.m2-btn.is-block {
  display: block;
  margin: 0 auto 13px;
  width: 272px;
}
.m2-btn.is-block:last-child {
  margin: 0 auto -14px;
}
