/*********************************** MEDIA QUERIES **********************************/
$baseHeight: 256px;
@for $i from 0 through 14 {
  @media (min-height: ($i*50+480px)) and (max-height: ($i*50+530px)){
    .modal__content {
      max-height: ($i * 50 + $baseHeight);
    }

    #friends-modal {
      .modal__content {
        &.tab_1 {
          max-height: ($i * 50 + $baseHeight - 70);
        }
        &.tab_2, &.tab_3 {
          max-height: ($i * 50 + $baseHeight - 11);
        }
      }
    }

    #dialogs-modal {
      .modal__content {
        &.tab_1 {
          max-height: ($i*50 + $baseHeight - 70);
        }
        &.tab_2 {
          max-height: ($i*50 + $baseHeight - 11);
        }
        &.tab_3 {
          max-height: ($i*50 + $baseHeight - 297);
        }
      }
      .dialog-list {
        max-height: inherit;
      }
    }

    #settings-modal {
      .modal__content {
        &.tab_1, &.tab_6 {
          max-height: ($i*50 + $baseHeight - 85);
        }
        &.tab_3, &.tab_7 {
          max-height: ($i*50 + $baseHeight - 11);
        }
        &.tab_4 {
          max-height: ($i*50 + $baseHeight - 70);
        }
      }
    }

    #invite-friends-modal {
      .modal__content {
        max-height: ($i * 50 + $baseHeight - 161);
      }
    }

    #search-friends-modal {
      .modal__content {
        max-height: ($i * 50 + $baseHeight - 161);
      }
    }

    #user-modal {
      .modal__content {
        max-height: ($i * 50 + $baseHeight - 11);
        &.tab_2 {
          max-height: ($i * 50 + $baseHeight - 70);
        }
      }
    }

    #photo-modal {
      .modal__content {
        max-height: ($i * 50 + $baseHeight + 49 - 74);
      }
    }

    #payment-uniform-modal {
      .modal__content {
        max-height: ($i * 50 + $baseHeight + 49 - 74);
      }
    }

    #payment-modal {
      .modal__content {
        max-height: ($i * 50 + $baseHeight + 49);
      }
    }

    #payment-system-modal {
      .modal__content {
        max-height: ($i * 50 + $baseHeight + 49);
      }
    }

    #payment-terminal-modal {
      .modal__content {
        max-height: ($i * 50 + $baseHeight + 49 - 74);
      }
    }
  }
}