/*********************************** MEDIA QUERIES **********************************/
@media (min-height: 480px) and (max-height: 530px) {
  .modal__content {
    max-height: 256px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 186px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 245px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 186px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 245px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: -41px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 171px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 245px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 186px; }
  #invite-friends-modal .modal__content {
    max-height: 95px; }
  #search-friends-modal .modal__content {
    max-height: 95px; }
  #user-modal .modal__content {
    max-height: 245px; }
    #user-modal .modal__content.tab_2 {
      max-height: 186px; }
  #photo-modal .modal__content {
    max-height: 231px; }
  #payment-uniform-modal .modal__content {
    max-height: 231px; }
  #payment-modal .modal__content {
    max-height: 305px; }
  #payment-system-modal .modal__content {
    max-height: 305px; }
  #payment-terminal-modal .modal__content {
    max-height: 231px; } }

@media (min-height: 530px) and (max-height: 580px) {
  .modal__content {
    max-height: 306px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 236px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 295px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 236px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 295px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 9px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 221px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 295px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 236px; }
  #invite-friends-modal .modal__content {
    max-height: 145px; }
  #search-friends-modal .modal__content {
    max-height: 145px; }
  #user-modal .modal__content {
    max-height: 295px; }
    #user-modal .modal__content.tab_2 {
      max-height: 236px; }
  #photo-modal .modal__content {
    max-height: 281px; }
  #payment-uniform-modal .modal__content {
    max-height: 281px; }
  #payment-modal .modal__content {
    max-height: 355px; }
  #payment-system-modal .modal__content {
    max-height: 355px; }
  #payment-terminal-modal .modal__content {
    max-height: 281px; } }

@media (min-height: 580px) and (max-height: 630px) {
  .modal__content {
    max-height: 356px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 286px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 345px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 286px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 345px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 59px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 271px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 345px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 286px; }
  #invite-friends-modal .modal__content {
    max-height: 195px; }
  #search-friends-modal .modal__content {
    max-height: 195px; }
  #user-modal .modal__content {
    max-height: 345px; }
    #user-modal .modal__content.tab_2 {
      max-height: 286px; }
  #photo-modal .modal__content {
    max-height: 331px; }
  #payment-uniform-modal .modal__content {
    max-height: 331px; }
  #payment-modal .modal__content {
    max-height: 405px; }
  #payment-system-modal .modal__content {
    max-height: 405px; }
  #payment-terminal-modal .modal__content {
    max-height: 331px; } }

@media (min-height: 630px) and (max-height: 680px) {
  .modal__content {
    max-height: 406px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 336px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 395px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 336px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 395px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 109px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 321px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 395px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 336px; }
  #invite-friends-modal .modal__content {
    max-height: 245px; }
  #search-friends-modal .modal__content {
    max-height: 245px; }
  #user-modal .modal__content {
    max-height: 395px; }
    #user-modal .modal__content.tab_2 {
      max-height: 336px; }
  #photo-modal .modal__content {
    max-height: 381px; }
  #payment-uniform-modal .modal__content {
    max-height: 381px; }
  #payment-modal .modal__content {
    max-height: 455px; }
  #payment-system-modal .modal__content {
    max-height: 455px; }
  #payment-terminal-modal .modal__content {
    max-height: 381px; } }

@media (min-height: 680px) and (max-height: 730px) {
  .modal__content {
    max-height: 456px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 386px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 445px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 386px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 445px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 159px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 371px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 445px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 386px; }
  #invite-friends-modal .modal__content {
    max-height: 295px; }
  #search-friends-modal .modal__content {
    max-height: 295px; }
  #user-modal .modal__content {
    max-height: 445px; }
    #user-modal .modal__content.tab_2 {
      max-height: 386px; }
  #photo-modal .modal__content {
    max-height: 431px; }
  #payment-uniform-modal .modal__content {
    max-height: 431px; }
  #payment-modal .modal__content {
    max-height: 505px; }
  #payment-system-modal .modal__content {
    max-height: 505px; }
  #payment-terminal-modal .modal__content {
    max-height: 431px; } }

@media (min-height: 730px) and (max-height: 780px) {
  .modal__content {
    max-height: 506px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 436px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 495px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 436px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 495px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 209px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 421px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 495px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 436px; }
  #invite-friends-modal .modal__content {
    max-height: 345px; }
  #search-friends-modal .modal__content {
    max-height: 345px; }
  #user-modal .modal__content {
    max-height: 495px; }
    #user-modal .modal__content.tab_2 {
      max-height: 436px; }
  #photo-modal .modal__content {
    max-height: 481px; }
  #payment-uniform-modal .modal__content {
    max-height: 481px; }
  #payment-modal .modal__content {
    max-height: 555px; }
  #payment-system-modal .modal__content {
    max-height: 555px; }
  #payment-terminal-modal .modal__content {
    max-height: 481px; } }

@media (min-height: 780px) and (max-height: 830px) {
  .modal__content {
    max-height: 556px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 486px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 545px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 486px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 545px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 259px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 471px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 545px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 486px; }
  #invite-friends-modal .modal__content {
    max-height: 395px; }
  #search-friends-modal .modal__content {
    max-height: 395px; }
  #user-modal .modal__content {
    max-height: 545px; }
    #user-modal .modal__content.tab_2 {
      max-height: 486px; }
  #photo-modal .modal__content {
    max-height: 531px; }
  #payment-uniform-modal .modal__content {
    max-height: 531px; }
  #payment-modal .modal__content {
    max-height: 605px; }
  #payment-system-modal .modal__content {
    max-height: 605px; }
  #payment-terminal-modal .modal__content {
    max-height: 531px; } }

@media (min-height: 830px) and (max-height: 880px) {
  .modal__content {
    max-height: 606px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 536px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 595px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 536px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 595px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 309px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 521px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 595px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 536px; }
  #invite-friends-modal .modal__content {
    max-height: 445px; }
  #search-friends-modal .modal__content {
    max-height: 445px; }
  #user-modal .modal__content {
    max-height: 595px; }
    #user-modal .modal__content.tab_2 {
      max-height: 536px; }
  #photo-modal .modal__content {
    max-height: 581px; }
  #payment-uniform-modal .modal__content {
    max-height: 581px; }
  #payment-modal .modal__content {
    max-height: 655px; }
  #payment-system-modal .modal__content {
    max-height: 655px; }
  #payment-terminal-modal .modal__content {
    max-height: 581px; } }

@media (min-height: 880px) and (max-height: 930px) {
  .modal__content {
    max-height: 656px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 586px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 645px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 586px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 645px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 359px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 571px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 645px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 586px; }
  #invite-friends-modal .modal__content {
    max-height: 495px; }
  #search-friends-modal .modal__content {
    max-height: 495px; }
  #user-modal .modal__content {
    max-height: 645px; }
    #user-modal .modal__content.tab_2 {
      max-height: 586px; }
  #photo-modal .modal__content {
    max-height: 631px; }
  #payment-uniform-modal .modal__content {
    max-height: 631px; }
  #payment-modal .modal__content {
    max-height: 705px; }
  #payment-system-modal .modal__content {
    max-height: 705px; }
  #payment-terminal-modal .modal__content {
    max-height: 631px; } }

@media (min-height: 930px) and (max-height: 980px) {
  .modal__content {
    max-height: 706px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 636px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 695px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 636px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 695px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 409px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 621px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 695px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 636px; }
  #invite-friends-modal .modal__content {
    max-height: 545px; }
  #search-friends-modal .modal__content {
    max-height: 545px; }
  #user-modal .modal__content {
    max-height: 695px; }
    #user-modal .modal__content.tab_2 {
      max-height: 636px; }
  #photo-modal .modal__content {
    max-height: 681px; }
  #payment-uniform-modal .modal__content {
    max-height: 681px; }
  #payment-modal .modal__content {
    max-height: 755px; }
  #payment-system-modal .modal__content {
    max-height: 755px; }
  #payment-terminal-modal .modal__content {
    max-height: 681px; } }

@media (min-height: 980px) and (max-height: 1030px) {
  .modal__content {
    max-height: 756px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 686px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 745px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 686px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 745px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 459px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 671px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 745px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 686px; }
  #invite-friends-modal .modal__content {
    max-height: 595px; }
  #search-friends-modal .modal__content {
    max-height: 595px; }
  #user-modal .modal__content {
    max-height: 745px; }
    #user-modal .modal__content.tab_2 {
      max-height: 686px; }
  #photo-modal .modal__content {
    max-height: 731px; }
  #payment-uniform-modal .modal__content {
    max-height: 731px; }
  #payment-modal .modal__content {
    max-height: 805px; }
  #payment-system-modal .modal__content {
    max-height: 805px; }
  #payment-terminal-modal .modal__content {
    max-height: 731px; } }

@media (min-height: 1030px) and (max-height: 1080px) {
  .modal__content {
    max-height: 806px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 736px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 795px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 736px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 795px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 509px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 721px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 795px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 736px; }
  #invite-friends-modal .modal__content {
    max-height: 645px; }
  #search-friends-modal .modal__content {
    max-height: 645px; }
  #user-modal .modal__content {
    max-height: 795px; }
    #user-modal .modal__content.tab_2 {
      max-height: 736px; }
  #photo-modal .modal__content {
    max-height: 781px; }
  #payment-uniform-modal .modal__content {
    max-height: 781px; }
  #payment-modal .modal__content {
    max-height: 855px; }
  #payment-system-modal .modal__content {
    max-height: 855px; }
  #payment-terminal-modal .modal__content {
    max-height: 781px; } }

@media (min-height: 1080px) and (max-height: 1130px) {
  .modal__content {
    max-height: 856px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 786px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 845px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 786px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 845px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 559px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 771px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 845px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 786px; }
  #invite-friends-modal .modal__content {
    max-height: 695px; }
  #search-friends-modal .modal__content {
    max-height: 695px; }
  #user-modal .modal__content {
    max-height: 845px; }
    #user-modal .modal__content.tab_2 {
      max-height: 786px; }
  #photo-modal .modal__content {
    max-height: 831px; }
  #payment-uniform-modal .modal__content {
    max-height: 831px; }
  #payment-modal .modal__content {
    max-height: 905px; }
  #payment-system-modal .modal__content {
    max-height: 905px; }
  #payment-terminal-modal .modal__content {
    max-height: 831px; } }

@media (min-height: 1130px) and (max-height: 1180px) {
  .modal__content {
    max-height: 906px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 836px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 895px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 836px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 895px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 609px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 821px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 895px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 836px; }
  #invite-friends-modal .modal__content {
    max-height: 745px; }
  #search-friends-modal .modal__content {
    max-height: 745px; }
  #user-modal .modal__content {
    max-height: 895px; }
    #user-modal .modal__content.tab_2 {
      max-height: 836px; }
  #photo-modal .modal__content {
    max-height: 881px; }
  #payment-uniform-modal .modal__content {
    max-height: 881px; }
  #payment-modal .modal__content {
    max-height: 955px; }
  #payment-system-modal .modal__content {
    max-height: 955px; }
  #payment-terminal-modal .modal__content {
    max-height: 881px; } }

@media (min-height: 1180px) and (max-height: 1230px) {
  .modal__content {
    max-height: 956px; }
  #friends-modal .modal__content.tab_1 {
    max-height: 886px; }
  #friends-modal .modal__content.tab_2, #friends-modal .modal__content.tab_3 {
    max-height: 945px; }
  #dialogs-modal .modal__content.tab_1 {
    max-height: 886px; }
  #dialogs-modal .modal__content.tab_2 {
    max-height: 945px; }
  #dialogs-modal .modal__content.tab_3 {
    max-height: 659px; }
  #dialogs-modal .dialog-list {
    max-height: inherit; }
  #settings-modal .modal__content.tab_1, #settings-modal .modal__content.tab_6 {
    max-height: 871px; }
  #settings-modal .modal__content.tab_3, #settings-modal .modal__content.tab_7 {
    max-height: 945px; }
  #settings-modal .modal__content.tab_4 {
    max-height: 886px; }
  #invite-friends-modal .modal__content {
    max-height: 795px; }
  #search-friends-modal .modal__content {
    max-height: 795px; }
  #user-modal .modal__content {
    max-height: 945px; }
    #user-modal .modal__content.tab_2 {
      max-height: 886px; }
  #photo-modal .modal__content {
    max-height: 931px; }
  #payment-uniform-modal .modal__content {
    max-height: 931px; }
  #payment-modal .modal__content {
    max-height: 1005px; }
  #payment-system-modal .modal__content {
    max-height: 1005px; }
  #payment-terminal-modal .modal__content {
    max-height: 931px; } }
