@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?cu64k9');
    src:    url('fonts/icomoon.eot?cu64k9#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?cu64k9') format('truetype'),
        url('fonts/icomoon.woff?cu64k9') format('woff'),
        url('fonts/icomoon.svg?cu64k9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e905";
}
.icon-uncheck:before {
    content: "\e605";
}
.icon-arrow-right:before {
    content: "\e604";
}
.icon-check:before {
    content: "\e603";
}
.icon-plus:before {
    content: "\e602";
}
.icon-joystick:before {
    content: "\e601";
}
.icon-search:before {
    content: "\e600";
}
.icon-camera:before {
    content: "\e900";
}
.icon-clip:before {
    content: "\e901";
}
.icon-edit:before {
    content: "\e902";
}
.icon-remove:before {
    content: "\e903";
}
.icon-screen:before {
    content: "\e904";
}
.icon-add_news:before {
    content: "\e906";
}

