<div class="modal-wrap" id="payment-phone-qiwi-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <a href="#" class="modal__icon modal__icon--prev" data-modal="payment-modal"></a>
            <div class="modal__close" data-modal-close></div>
            <h2>Пополнение баланса</h2>
        </div>
        <div class="modal__content">
            <div>
                <div class="modal__content__header">
                    <p><span>Оплата через платежную систему</span></p>
                </div>
                <img style="top:131px;" class="webpayment-img" src="/assets/img/payment-system1.png">
            </div>
            <div style="margin-top:10px;background-color: #ef822c;padding:10px;font:18px 'Roboto-Medium',sans-serif;text-align: center;color:#fff;">Суперакция! Бонусный процент: +30% (действует до 12.07.2018 23:59 MSK)</div>
            <div class="payment-systems">
                <p>Укажите номер телефона</p>
                <div class="input-group">
                    <label>Номер телефона:</label>
                    <input type="text" placeholder="+7" name="phone">
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <button type="button" class="modal__footer__btn" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="QW" data-rate="{{ payments.QW.rate }}">Продолжить</button>
        </div>
    </div>
</div>