<div class="modal-wrap" id="payment-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <div class="modal__icon modal__icon--money"></div>
            <div class="modal__close" data-modal-close></div>
            <h2>Пополнение баланса</h2>
        </div>
        <div class="modal__content">
            <div class="modal__content__header">
                <p class="balance">Мой баланс: <span>{{ userData.balance }}</span> <span>{{ userData.balance|plural_str('рубль', 'рубля', 'рублей') }}</span></p>
            </div>
            <div style="margin-top:10px; margin-bottom:-20px;background-color: #ef822c;padding:10px;font:18px 'Roboto-Medium',sans-serif;text-align: center;color:#fff;">Суперакция! Бонусный процент: +30% (действует до 12.07.2018 23:59 MSK)</div>
            <div class="money-type-list-wrap">
                <ul class="money-type-list">
                    <li data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="AC" data-rate="{{ payments.AC.rate }}">
                        <div class="money-type-list__img money-type-list__img--type1"></div>
                        <div class="money-type-list__text">
                            <p>Банковская карта</p>
                            <span>Visa / MasterCard</span>
                        </div>
                        <div class="money-type-arrow"></div>
                    </li>
                    <li data-modal="payment-phone-select-modal">
                        <div class="money-type-list__img money-type-list__img--type2"></div>
                        <div class="money-type-list__text">
                            <p>Мобильный телефон</p>
                            {#<span>Оплата с баланса вашего мобильного телефона, только для абонентов МТС, Теле2, Билайн</span>#}
                            <span>Оплата с баланса вашего мобильного телефона, только для абонентов МТС, Теле2, Билайн, Мегафон</span>
                        </div>
                        <div class="money-type-arrow"></div>
                    </li>
                    <li data-modal="payment-system-modal">
                        <div class="money-type-list__img money-type-list__img--type3"></div>
                        <div class="money-type-list__text">
                            <p>Платежные системы</p>
                            <span>Яндекс.Деньги, Qiwi Visa Wallet, WebMoney{#. Деньги@mail.ru#}</span>
                        </div>
                        <div class="money-type-arrow"></div>
                    </li>

                    <li data-modal="payment-banking-modal">
                        <div class="money-type-list__img money-type-list__img--type4"></div>
                        <div class="money-type-list__text">
                            <p>Интернет-банкинг</p>
                            <span>Сбербанк Онлайн, Альфа-клик{#, ВТБ24, Банк Русский Стандарт#}, ПромСвязьБанк</span>
                        </div>
                        <div class="money-type-arrow"></div>
                    </li>


{#                    <li data-modal="payment-terminal-modal">
                        <div class="money-type-list__img money-type-list__img--type4"></div>
                        <div class="money-type-list__text">
                            <p>Терминалы оплаты</p>
                            <span>Платежные терминалы на территории РФ</span>
                        </div>
                        <div class="money-type-arrow"></div>
                    </li>#}
                    {#
                                    <li>
                                        <div class="money-type-list__img money-type-list__img--type5">
                                            <!--<img src="img/money-type5.png">-->
                                        </div>
                                        <div class="money-type-list__text">
                                            <p>Специальные возможности</p>
                                            <span>Бесплатное получение голосов</span>
                                        </div>
                                        <div class="money-type-arrow"></div>
                                    </li>
                    #}
                </ul>
            </div>
        </div>
    </div>
</div>

    {% include "promo/3/payment_system.twig" %}
    {% include "promo/3/payment_phone_qiwi.twig" %}

    {% include "promo/3/payment_phone.twig" %}
    {% include "promo/3/payment_phone_select.twig" %}
    {% include "promo/3/payment_phone_mts.twig" %}
    {% include "promo/3/payment_phone_tele2.twig" %}
    {% include "promo/3/payment_phone_beeline.twig" %}
    {% include "promo/3/payment_phone_megafon.twig" %}

    {#{% include "user/modal/payment_terminal.twig" %}#}
    {% include "promo/3/payment_banking.twig" %}

    {% include "promo/3/payment_uniform.twig" %}