<div class="modal-wrap" id="payment-phone-select-modal">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal__header modal__header--green">
            <a href="#" class="modal__icon modal__icon--prev" data-modal="payment-modal"></a>
            <div class="modal__close" data-modal-close></div>
            <h2>Пополнение баланса</h2>
        </div>
        <div class="modal__content">
            <div class="modal__content__header">
                <p><span>Оплата со счета мобильного телефона</span></p>
            </div>
            <div style="margin-top:10px;background-color: #ef822c;padding:10px;font:18px 'Roboto-Medium',sans-serif;text-align: center;color:#fff;">Суперакция! Бонусный процент: +30% (действует до 12.07.2018 23:59 MSK)</div>
            <div class="payment-systems">
                <p>Выберите оператора сотовой связи</p>
                <ul class="payment-systems-list">
                    {#<li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="QW" data-rate="{{ payments.QW.rate }}"><img src="/assets/img/payment-system1.png"></a></li>#}
                    <li><a href="#" data-modal="payment-phone-mts-modal"><img src="/assets/img/payment-phone-mts.jpg"></a></li>
                    <li><a href="#" data-modal="payment-phone-tele2-modal"><img src="/assets/img/payment-phone-tele2.jpg"></a></li>
                    <li><a href="#" data-modal="payment-phone-beeline-modal"><img src="/assets/img/payment-phone-beeline.jpg"></a></li>
                    {#<li><img src="/assets/img/payment-phone-megafon.jpg" alt="Временно не работает"></li>#}
                    <li><a href="#" data-modal="payment-phone-megafon-modal"><img src="/assets/img/payment-phone-megafon.jpg"></a></li>
                    {#<li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="PC" data-rate="{{ payments.PC.rate }}"><img src="/assets/img/payment-system2.png"></a></li>#}
                    {#<li><a href="/update-balance_6.html"><img src="/assets/img/payment-system3.png"></a></li>#}
                    {#<li><a href="#" data-modal="payment-uniform-modal" data-module="payments" data-method="prepareForm" data-payment-type="WM" data-rate="{{ payments.WM.rate }}"><img src="/assets/img/payment-system4.png"></a></li>#}
                </ul>
            </div>

        </div>
    </div>
</div>