{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Интерфейсные методы API</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/interface/setHeight">setHeight</a></div>
                        <div class="dev-doc__txt">
                            <p>Устанавливает заданную высоту для iframe приложения.</p>
                            <p>Параметры:</p>
                            <pre><b>height</b> - целое число</pre>
                            <p></p>

                            <p>Пример запроса:</p>
                            <pre><b>api.setHeight(500);</b></pre>
                            <p></p>

                            <p>Пример ответа:</p>
                            <pre><b>{
                                &nbsp;&nbsp;&nbsp;"height": 500
                            }</b></pre>
                            <p></p>

							<p>Пример ответа, такая высота установлена быть не может:</p>
                            <pre><b>{
                            &nbsp;&nbsp;&nbsp;"response": false
                            }</b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}