{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Интерфейсные методы API</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/interface/showRequestBox">showRequestBox</a></div>
                        <div class="dev-doc__txt">
                            <p>Запрос формируется от имени приложения, показывает окно отправки запроса другому пользователю.</p>
                            <p>Параметры:</p>
                            <pre>{
                                &nbsp;&nbsp;&nbsp;// Идентификатор пользователя, пользователь должен быть другом
                                &nbsp;&nbsp;&nbsp;// текущего пользователя
								&nbsp;&nbsp;&nbsp;<b>"uid": "id1",</b>
                                &nbsp;&nbsp;&nbsp;// Текст запроса
								&nbsp;&nbsp;&nbsp;<b>"text": "Текст запроса",</b>
                                &nbsp;&nbsp;&nbsp;// url-кодированная строка, которая будет передана в iframe при переходе
								&nbsp;&nbsp;&nbsp;<b>"request_key": ""</b>
							}</pre>
                            <p></p>
                            <p>Пример запроса:</p>
                            <pre><b>api.showRequestBox({
                                &nbsp;&nbsp;&nbsp;"uid":"1",
                                &nbsp;&nbsp;&nbsp;"text":"Помоги пройти дальше!",
                                &nbsp;&nbsp;&nbsp;"request_key": "_adv%3Dexe_request"
                            });</b></pre>
                            <p></p>
                            <p>Пример ответа, пользователь отправил запрос другому пользователю:</p>
                            <pre><b>{
                            &nbsp;&nbsp;&nbsp;"response": true
                            }</b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}