{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Интерфейсные методы API</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/interface/showPublishBox">showPublishBox</a></div>
                        <div class="dev-doc__txt">
                            <p>Запрос формируется от имени приложения, показывает окно публикации новости</p>
                            <p>Параметры:</p>
                            <pre>{
                                &nbsp;&nbsp;&nbsp;// Текст новости
							    &nbsp;&nbsp;&nbsp;<b>"text": "Текст новости",</b>
                                &nbsp;&nbsp;&nbsp;// Url изображения
							    &nbsp;&nbsp;&nbsp;<b>"image": "http://example.com/image1.png",</b>
                                &nbsp;&nbsp;&nbsp;// url-кодированная строка, которая будет передана в iframe
                                &nbsp;&nbsp;&nbsp;// при переходе
							    &nbsp;&nbsp;&nbsp;<b>"request_key": ""</b>
							}</pre>
                            <p></p>

                            <p>Пример запроса:</p>
                            <pre><b>api.showPublshBox({
                                &nbsp;&nbsp;&nbsp;"text":"Я достиг 220 уровня! Присоединяйся!",
                                &nbsp;&nbsp;&nbsp;"image": "http://example.com/image1.png",
                                &nbsp;&nbsp;&nbsp;"request_key": "_adv%3Dexe_posting"
                            });</b></pre>
                            <p></p>

                            <p>Пример ответа, пользователь опубликовал новость:</p>
                            <pre><b>{
                            &nbsp;&nbsp;&nbsp;response:true
                            }</b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}