{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Интерфейсные методы API</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/interface/showOrderBox">showOrderBox</a></div>
                        <div class="dev-doc__txt">
                            <p>Запрос формируется от имени приложения, показывает окно покупки в игре.</p>
							<p>Для начала работы с покупками в игре, необходимо <a href="/doc/methods/server_app" style="display: inline">настроить</a> обработку запросов на стороне сервера приложения</p>
                            <p>Параметры:</p>
                            <pre>{
                                &nbsp;&nbsp;&nbsp;// Тип покупки. На данный момент должен принимать значение item.
								&nbsp;&nbsp;&nbsp;<b>"type": "item",</b>
                                &nbsp;&nbsp;&nbsp;// Текстовый или числовой идентификатор покупки в приложении
								&nbsp;&nbsp;&nbsp;<b>"item": "stars_300"</b>
							}</pre>
                            <p></p>

                            <p>Пример запроса:</p>
                            <pre><b>api.showOrderBox({
                                &nbsp;&nbsp;&nbsp;"type":"item",
                                &nbsp;&nbsp;&nbsp;"item":"stars_300",
                            });</b></pre>
                            <p></p>

                            <p>Пример ответа, покупка завершена успешна:</p>
                            <pre><b>{
                                &nbsp;&nbsp;&nbsp;"result": "success"
                            }</b></pre>
                            <p></p>

							<p>Пример ответа, пользователь отказался от покупки:</p>
							<pre><b>{
                                &nbsp;&nbsp;&nbsp;"result": "cancel"
                            }</b></pre>
                            <p></p>

							<p>Пример ответа, в процессе покупки произошла ошибка</p>
							<pre><b>{
                                &nbsp;&nbsp;&nbsp;"result": "fail"
                            }</b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}