{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Интерфейсные методы API</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/interface/showInviteFriends">showInviteFriends</a></div>
                        <div class="dev-doc__txt">
                            <p>Запрос формируется от имени приложения, показывает окно приглашения друзей в игру.
                                Возвращает массив с идентификаторами пользователей, которым было отправлено приглашение.</p>
                            <p>Параметры:</p>
                            <pre>{
                                &nbsp;&nbsp;&nbsp;// url-кодированная строка, которая будет передана в iframe при переходе
								&nbsp;&nbsp;&nbsp;<b>"request_key": ""</b>
							}</pre>
                            <p></p>

                            <p>Пример запроса:</p>
                            <pre><b>api.showInviteFriends({
                            &nbsp;&nbsp;&nbsp;"request_key": "_adv%3Dexe_invite_3"
                            });</b></pre>
                            <p></p>

                            <p>Пример ответа, пользователь выбрал 3-х друзей и нажал пригласить:</p>
                            <pre><b>{
                            &nbsp;&nbsp;&nbsp;"response":[2,6,55]
                            }</b></pre>
                            <p></p>

							<p>Пример ответа, пользователь не выбрал друзей, или закрыл окно без приглашения:</p>
                            <pre><b>{
                            &nbsp;&nbsp;&nbsp;"response":[]
                            }</b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}