<div style="width: 100%; background-color: #ef822c; text-align: center; font: 17px 'Roboto-Medium', sans-serif; vertical-align: baseline; line-height: 40px; cursor:pointer;" data-modal="payment-modal" data-module="payments" data-method="preSetCount" data-preset-count="0">
    <span style=" color: #fff; display:inline;">Суперакция! Бонусный процент: +30% при пополнении счета (действует до 06.09.2018 23:59 MSK)</span>
</div>