{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Серверные методы API</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/methods/servers/sendNotification">sendNotification</a></div>
                        <div class="dev-doc__txt">
							<p>Серверный метод. Отправляет уведомления пользователям от имени приложения</p>
                            <p>Параметры:</p>
							<pre>
								&nbsp;&nbsp;&nbsp;<b>api_id</b>&nbsp;&nbsp;&nbsp;- версия используемого api, в данный момент 1
								&nbsp;&nbsp;&nbsp;<b>method</b>&nbsp;&nbsp;&nbsp;- имя вызываемого метода, параметр должен принимать значение
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sendNotification
								&nbsp;&nbsp;&nbsp;<b>format</b>&nbsp;&nbsp;&nbsp;- формат ответа, в данный момент только json
								&nbsp;&nbsp;&nbsp;<b>rnd</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- любое случайно сгенерированное значение. Используется
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;для предотвращения кеширования запросов
								&nbsp;&nbsp;&nbsp;<b>app_id</b>&nbsp;&nbsp;&nbsp;- идентификатор приложения на сервере EXE.RU
								&nbsp;&nbsp;&nbsp;<b>user_ids</b> - кому предназначено сообщение. Может быть нескольких видов:

								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>user_ids = all</b> - Cообщение отправляется всем пользователях с
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;установленной игрой, которые заходили в игру за
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;последний месяц. В дальнейшем такой тип запросов
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;называется общим уведомлением.
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>user_ids = id1[,id2,id3...]</b> - Cообщение отправляется одному или
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;нескольким пользователям с перечисленными
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;идентификаторами. В дальнейшем называется групповым
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;уведомлением. Уведомление одному пользователю является
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;частным случаем группового уведомления.

								&nbsp;&nbsp;&nbsp;<b>message</b>&nbsp;&nbsp;- текст уведомления в кодировке UTF-8 (максимум 254 символа)
								&nbsp;&nbsp;&nbsp;<b>type</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- тип нотификации. Задается разработчиком для статистики
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1-15, 0 - все типы)
								&nbsp;&nbsp;&nbsp;<b>test_mode</b>- тестовый режим. При включенном тестовом режиме должен принимать
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;значение 1. В боевом режиме должен отсутствовать. Позволяет
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;выключенным приложениям отправлять тестовые нотификации
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;пользователям. Тестовые нотификации отправляются только
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;администрации(владелец, администраторы, тестировщики)
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;приложения.
								&nbsp;&nbsp;&nbsp;<b>sig</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- подпись запроса. Формируется по следующему алгоритму:
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Все параметры запроса сортируются по имени параметра в
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;естественном(натуральном) порядке, затем конкатенируются
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;в одну строку, в виде параметр1=значение1параметр2=значение2.
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;К полученной строке в конец конкатеникуется секретный ключ
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;приложения. Вся строка хешируется по алгоритму md5.
							</pre>
							<p></p>

                            <p>Для общих уведомлений ( user_ids=all ) сервер возвращает только результат принятия запроса на рассылку, или сообщение о произошедшей ошибке.</p>

							<p><b>На все отправляемые уведомления от приложения накладываются следующие ограничения:</b></p>
							<ol>
								<li>Пользователь видит только одно уведомление от приложения. Все уведомления, отправленные ранее, не показываются.</li>
								<li> Общее уведомление обладает большим приоритетом. Если было отправлено общее и групповое уведомление, то показано
									будет только общее, не зависимо от очередности отправки.</li>
								<li>В течении 24 часов от одного приложения может быть отправлено только одно общее уведомление.</li>
								<li>Одному пользователю от одного приложения в течении одного часа может быть отправлено только одно уведомление.</li>
								<li>От одного приложения одному пользователю может быть отправлено не более 3-х уведомлений в сутки.</li>
								<li>Не будет отправлено повторное уведомление с тем же содержанием, что и предыдущее. (Нельзя отправить
									пользователю два сообщения подряд с одинаковым содержанием)</li>
							</ol>
							<p>Уведомления, отправленные с параметром test_mode = 1, не изменяют лимиты приложения на отправку уведомлений, не изменяют лимиты пользователей, которым были отправлены уведомления.</p>


                            <p>Пример:</p>
                    		<pre><b>&lt;?php
                    			&nbsp;&nbsp;&nbsp;$appKey = 'W7kVvxVxZ4';

							 	&nbsp;&nbsp;&nbsp;$params = [
							 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'api_id' => 1,
                             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'app_id' => 1,
                             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'format' => 'json',
                             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'message' => 'test message',
                             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'method' => 'sendNotification',
                             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'rnd' => rand(),
                             		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'type' => 1,
							 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'user_ids' => 'all'
							 	&nbsp;&nbsp;&nbsp;];
 
								&nbsp;&nbsp;&nbsp;ksort($params);
							
								&nbsp;&nbsp;&nbsp;$paramsString = '';

								&nbsp;&nbsp;&nbsp;array_walk($params, function($value, $key) use (&$paramsString) {
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$paramsString .= $key . '=' .$value;
								&nbsp;&nbsp;&nbsp;});

								&nbsp;&nbsp;&nbsp;// Обратите внимание, подписываемая строка не url-кодирована!

								&nbsp;&nbsp;&nbsp;$params['sig'] = md5($paramsString . $appKey);
 
								&nbsp;&nbsp;&nbsp;$queryString = http_build_query($params);
 
								&nbsp;&nbsp;&nbsp;// ?api_id=1&app_id=1&format=json&message=test+message&method=
								&nbsp;&nbsp;&nbsp;// sendNotification&rnd=480392365&type=1&user_ids=all&sig=
								&nbsp;&nbsp;&nbsp;// 74c0859c8c29407f6c25d172b9b802ea
							</b></pre>
							<p></p>

                            <p>Пример ответа, сервер принял запрос на проведение рассылки:</p>
							<pre><b>{
							&nbsp;&nbsp;&nbsp;"response":true
							}</b></pre>
							<p></p>
					
							<p>Пример ответа, сервер отказался принимать запрос на рассылку:</p>
							<pre><b>{
							&nbsp;&nbsp;&nbsp;"response":false
							}</b></pre>
							<p></p>

                            <p>Для групповых уведомлений, ответ представляет собой список идентификаторов пользователей, которым уведомление было отправлено
							  успешно, или сообщение о произошедшей ошибке.</p>
							  
							<p>Пример запроса:</p>
                        	<pre><b>&lt;?php
						    &nbsp;&nbsp;&nbsp;$appKey = 'W7kVvxVxZ4';

							&nbsp;&nbsp;&nbsp;$params = [
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'api_id' => 1,
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'app_id' => 1,
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'format' => 'json',
						    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'message' => 'test message 2',
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'method' => 'sendNotification',
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'rnd' => rand(),
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'type' => 1,
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'user_ids' => '1,2,3,4,5,6,7,8,9,10'
							&nbsp;&nbsp;&nbsp;];
 
							&nbsp;&nbsp;&nbsp;ksort($params);
 
							&nbsp;&nbsp;&nbsp;$paramsString = '';
 
							&nbsp;&nbsp;&nbsp;array_walk($params, function($value, $key) use (&$paramsString) {
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$paramsString .= $key . '=' .$value;
							&nbsp;&nbsp;&nbsp;});

   							&nbsp;&nbsp;&nbsp;// Обратите внимание, подписываемая строка не url-кодирована!

							&nbsp;&nbsp;&nbsp;$params['sig'] = md5($paramsString . $appKey);
 
							&nbsp;&nbsp;&nbsp;$queryString = http_build_query($params);
 
							&nbsp;&nbsp;&nbsp;// ?api_id=1&app_id=1&format=json&message=test+message+2&method=
							&nbsp;&nbsp;&nbsp;// sendNotification&rnd=1863846795&type=1&user_ids=
							&nbsp;&nbsp;&nbsp;// 1%2C2%2C3%2C4%2C5%2C6%2C7%2C8%2C9%2C10&sig=
							&nbsp;&nbsp;&nbsp;// 6b67ef56ec2c6a763fd2bf9a3cc0ed58
							</b></pre>
							<p></p>
						
							<p>Пример ответа, сервер отправил уведомление пользователям 1,3,4,6,7,8,9,10</p>
							<pre><b>{
    						&nbsp;&nbsp;&nbsp;"response":[1,3,4,6,7,8,9,10]
							}</b></pre>
							<p></p>
                           
						    <p>Пример ответа, сервер не смог отправить уведомления ни одному пользователю:</p>
							<pre><b>{
							&nbsp;&nbsp;&nbsp;"response":[]
							}</b></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}