<div class="modal-wrap" id="login">
    <div class="overlay"></div>
    <div class="modal modal--sign">
        <div class="modal__header">
            <div class="modal__close"></div>
            <a href="/" class="modal__header__logo"><img src="{{ constant('IMAGE_HOST') }}/assets/img/sign-login.png"></a>
        </div>
        <div class="modal__tabs modal__tabs--sign">
            <ul class="modal-tabs__list">
                <li><a class="active tab-login" href="#">Вход</a></li>
                <li><a class="tab-register" href="#">Регистрация</a></li>
                <li><a class="tab-restore" href="#">Восстановить</a></li>
            </ul>
        </div>
        <div class="modal__content modal__content--sign">
            <div class="sign-form-wrap tab-login">
                <form action="" class="sign-form" autocomplete="off">
                    <input type="hidden" name="{{ csrf.name }}" value="{{ csrf.value }}" />
                    <input type="hidden" name="target_url" value="" />
                    <div class="sign-input">
                        <input type="text" placeholder="E-mail" name="email">
                    </div>
                    <div class="sign-input">
                        <input type="password" placeholder="Пароль" name="password">
                    </div>
                    <div class="sign-input sign-input--last">
                        <input class="sign-input__checkbox" type="checkbox" id="rememberCheck" name="noRemember">
                        <label for="rememberCheck">Чужой компьютер</label>
                    </div>
                    <button class="sign-submit tab-login" type="submit">Войти</button>
                </form>
            </div>
            <div class="sign-social-wrap tab-login">
                <div class="sign-social-text">Войти через соц. сети:</div>
                <ul class="sign-social-list">
                    <li><a href="/auth_vk" class="sign-social__vk"></a></li>
                    <li><a href="/auth_fb" class="sign-social__fb"></a></li>
                    <li><a href="/auth_gp" class="sign-social__google"></a></li>
                    <li><a href="/auth_ok" class="sign-social__ok"></a></li>
                    <li><a href="/auth_mm" class="sign-social__mm"></a></li>
                    <li><a href="/auth_lf" class="sign-social__lf"></a></li>
                </ul>
            </div>
            <div class="sign-form-wrap tab-register">
                <form action="" class="sign-form" autocomplete="off">
                    <input type="hidden" name="{{ csrf.name }}" value="{{ csrf.value }}" />
                    <input type="hidden" name="target_url" value="" />
                    <div class="sign-input">
                        <input type="text" placeholder="Имя" name="name">
                    </div>
                    <div class="sign-input">
                        <input type="text" placeholder="E-mail" name="email">
                    </div>
                    <div class="sign-input">
                        <input type="password" placeholder="Пароль" name="password" id="password">
                    </div>
                    <div class="sign-input">
                        <input type="password" placeholder="Повторите пароль" name="password_repeat">
                    </div>
                    <div class="sign-input sign-input--last">
                        <input class="sign-input__checkbox" type="checkbox" id="offerAgree" name="offer_agree" value="1">
                        <label for="offerAgree">Я принимаю <a href="/rules" target="_blank">правила пользования</a></label>
                        <label id="offer_agree-error" class="error" for="offer_agree" style="display: none;">Необходимо принять правила использования</label>
                    </div>
                    <button class="sign-submit tab-register" type="submit">Зарегистрироваться</button>
                    <div id="recaptcha_reg" style="padding:0;margin-bottom:10px;position:relative;clear:both;width:100%;margin-left:90px;display:none;"></div>
                </form>
            </div>
            <div class="sign-social-wrap tab-register">
                <div class="sign-social-text">Войти через соц. сети:</div>
                <ul class="sign-social-list">
                    <li><a href="/auth_vk" class="sign-social__vk"></a></li>
                    <li><a href="/auth_fb" class="sign-social__fb"></a></li>
                    <li><a href="/auth_gp" class="sign-social__google"></a></li>
                    <li><a href="/auth_ok" class="sign-social__ok"></a></li>
                    <li><a href="/auth_mm" class="sign-social__mm"></a></li>
                    <li><a href="/auth_lf" class="sign-social__lf"></a></li>
                    {#<li><a href="/auth_lf" class="sign-social__lf"></a></li>#}
                </ul>
            </div>
            <div class="sign-form-wrap tab-restore">
                <p>Если Вы забыли пароль, пожалуйста<br>
                    введите e-mail указанный при регистрации<br>
                    и мы вышлем Вам инструкции для восстановления</p>
                <form action="" class="sign-form" autocomplete="off">
                    <input type="hidden" name="{{ csrf.name }}" value="{{ csrf.value }}" />
                    <div class="sign-input">
                        <input type="text" placeholder="E-mail" name="email">
                    </div>
                    <button class="sign-submit tab-restore" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>