{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Размещение игры</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/placement/add_game">Добавление игры</a></div>
                        <div class="dev-doc__txt">
                            <p><b>Укажите название игры.</b></p>
							<p>Название игры должно быть понятным. Нецензурные слова и выражения в названии игр запрещены.</p>
							<p><b>Разместите небольшое описание игры</b></p>
							<p>Кратко опишите свою игру: о чем она, кто главные герои, что нужно делать в игре и т.д.</p>
							<p><b>Выберите жанр</b></p>
							<p>Все жанры будут представлены в виде выпадающего меню. Если Вы считаете, что жанра подходящего для Вашей игры нет, выберите: "Другое"</p>
							<p><b>Ознакомьтесь с условиями размещения игр на сайте EXE.RU.</b></p>
							<p>В случае согласия с условиями, поставьте галочку "Я согласен", если Вы не согласны с условиями, покиньте раздел "Разработчики"</p>
							<p>После добавления игры, перейдите к следующему шагу - <a href="/doc/placement/iframe">Укажите настройки игры и параметры iframe.</a></p>
								
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}