{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>
              
                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Размещение игры</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/placement/icons"> Иконки и обложки игры</a></div>
                        <div class="dev-doc__txt">
                            <p>После настройки игрового приложения приступайте к загрузке иконок и обложек игры.</p>					
							<p><b>Квадратная обложка "Мои игры".</b></p>
							<p>Используется в каталоге “Мои игры”. Размер загружаемого изображения: 256х256px.</p>
							<p><b>Иконка 75x75px</b></p>
							<p>Используется в оповещениях и уведомлениях. Размер загружаемого изображения: 150х150px.</p>
							<p><b>Иконка 32x32px</b></p>
							<p>Используется на странице игры. Размер загружаемого изображения: 64х64px.</p>
							<p><b>Иконка 16x16px</b></p>
							<p>fav-иконка. Используется во вкладке браузера. Размер загружаемого изображения 16х16px.</p>
							<p><b>Баннер игры для каталога 405x250px</b></p>
							<p>Используется в каталоге игр. Размер загружаемого изображения: 810х500px.</p>
							<p><b>Примечание:</b> Размеры загружаемых изображений удвоены для использования на экранах высокой чёткости.</p>
							<p>После загрузки иконок и обложек, перейдите к следующему шагу - <a href="/doc/placement/roles">Распределите роли в руководстве игры</a></p>
								
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}