{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>
               
                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Размещение игры</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/placement/iframe">Настройки игры и параметры iframe</a></div>
                        <div class="dev-doc__txt">
                            <p>После добавления игры, Вам нужно указать настройки приложения и параметры iframe-окна.</p>					
							<p><b>Укажите размеры iframe-окна.</b></p>
							<p>Вам требуется указать только высоту iframe (но не более 4500px), т.к. ширина по умолчанию задается равной 100% ширины монитора компьютера игрока.</p>
							<p><b>Укажите адрес iframe</b></p>
							<p>iframe содержащий страницу должен располагаться на стороннем сервере.</p>
{#
							<p><b>Укажите подпись запроса к iframe</p></b>
							<p>?exe_user=23&game_sid=b4b0868277f38224f325426206a1cc25bb7f3a01e61de30f834f15ec3b91bc04</p>
							<p>&app_id=15&auth_key=0b14cf8ff8faf8d2bb6cb316ca23910b&request_key=ugo_ad=exe_posting</p>							
							<p>exe_user - идентификатор пользователя на сайте exe.ru</p>
							<p>app_id - идентификатор приложения</p>
							<p>auth_key - подпись запроса, формируется как md5($gid . '_' . $uid . '_' . $secretKey);</p>
							<p>где:</p>
							<p>$gid  - идентификатор приложения, $uid - идентификатор пользователя на сайте exe.ru, $secretKey - секретный ключ приложения.</p>
#}
							<p><b>Укажите https адрес iframe</b></p>
							<p>Для корректной работы игрового приложения в виду политики безопасности браузеров, необходимо, чтобы Ваш сайт поддерживал протокол безопасного соединения https.</p>
							<p><b>Укажите адрес обратного вызова</b></p>
							<p>Требуется для корректного осуществления платежей внутри игры.</p>
							<p><b>Укажите состояние игры</b></p>
							<p>Игра может быть включена и видна всем игрокам, либо отключена, тогда она будет доступна только создателю и другим людям из раздела Руководство.</p>
							<p>После указания настроек игры, перейдите к следующему шагу - <a href="/doc/placement/icons">Загрузите иконки и обложки игры </a></p>
								
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}