{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>            

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Размещение игры</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/placement/request">Заявка на размещение игры</a></div>
                        <div class="dev-doc__txt">
                            <p>После того, как Вы добавили игру, указали все необходимые настройки, загрузили иконки и обложки своего игрового приложения и распределили роли в управлении приложении, Вам осталось отправить заявку на размещение игры на сайте EXE.ru</p>												
							<p>Для этого, в настройках игры есть специальный пункт - Статус игры.</p>
							<p>Для того, чтобы Ваше игровое приложение появилась на главной странице сайта, оно должно быть одобрено администрацией EXE.ru и соответствовать <a href="/doc/terms" style="margin:0;">Условиям размещения</a>.</p>
							<p>Заявки рассматриваются в рабочее время с 10.00 до 18.00 с понедельника по пятницу.</p>
							<p>После успешного одобрения заявки, соответствующий статус появится в разделе Статус игры. На почту, указанную при регистрации на сайте EXE.ru будет отправлено подтверждение.</p>
							<p>В случае замечаний и несоответствий Условиям размещения, появится специальное оповещение с описанием проблемы в разделе Статус игры. На почту, указанную при регистрации на сайте EXE.ru будет отправлено письмо с замечаниями.</p>
							<p>После исправления замечаний, Вы можете повторно отправить заявку на размещение игры.</p>																												
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}