{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>
              
                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Размещение игры</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/placement/roles">Руководство </a></div>
                        <div class="dev-doc__txt">
                            <p>Добавьте пользователей и назначьте им роли в управлении игрой.</p>					
							<p><b>Владелец</b></p>
							<p>Пользователь, добавивший игру на сайт EXE.ru. Обладает всеми правами на редактирование настроек приложения, вплоть до изменения секретного ключа. Имеет право назначать Администраторов и Тестировщиков..</p>
							<p><b>Администратор</b></p>
							<p>Назначается Владельцем. Обладает всеми правами на редактирование настроек приложения, за исключением изменения секретного ключа, состояния игры и ID приложения. Имеет право назначать Тестировщиков.</p>
							<p><b>Тестировщик</b></p>
							<p>Назначается Владельцем или Администратором. Имеет право тестировать приложение в отключенном состоянии (т.е. когда приложение недоступно всем пользователям). Также может получить доступ к тестированию платежей.</p>													
							<p>После распределения ролей, перейдите к заключительному шагу - <a href="/doc/placement/request">Отправить заявку на размещение игры на сайте.</a></p>
								
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}