- var server = 'http://test.exe.ru/assets'

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title Popup

		script(type="text/javascript" src="#{server}/js/dpr.js")
		
		link(rel="stylesheet" type="text/css" href="#{server}/css/jquery.mCustomScrollbar.css")
		link(rel="stylesheet" href="#{server}/css/main.css")
		link(rel="stylesheet" href="#{server}/fonts/icomoon/style.css")

		script(type="text/javascript" src="#{server}/js/jquery.js")
		script(type="text/javascript" src="#{server}/js/jquery.validate.js")
		script(type="text/javascript" src="#{server}/js/jquery.mCustomScrollbar.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.min.js")
		script(type="text/javascript" src="#{server}/js/guest.js")

		link(rel="stylesheet" href="popup.css")

	body(style="background: lightgrey; padding: 30px 0; height: auto;")
		
		// like .modal__content

		div(style="width: 890px; margin: 0 auto 30px; padding: 20px 30px 50px; background: white;")
			.connect-popup
				.clearfix
					.connect-popup--left.left
						.connect-popup--poster
							img(src="http://placehold.it/405x250").connect-popup--image

						.connect-popup--name Родина
						.connect-popup--category Аркада
						
					.connect-popup--right.right
						.connect-popup--label Войти через:

						.connect-popup--socials
							a(href="#").connect-popup--social.vk
							a(href="#").connect-popup--social.fb
							a(href="#").connect-popup--social.gp
							a(href="#").connect-popup--social.ok
							a(href="#").connect-popup--social.lf

						.connect-popup--label.alt или

						a(href="#").connect-popup--btn Войти

						.connect-popup--hr

						a(href="#").connect-popup--btn Зарегистрироваться
						a(href="#").connect-popup--btn.alt Играть без регистрации

		div(style="width: 890px; margin: 0 auto; padding: 20px 30px 50px; background: white;")
			.connect-popup
				.clearfix
					.connect-popup--left.left
						.connect-popup--poster
							img(src="http://placehold.it/406x250").connect-popup--image

						.connect-popup--name Родина
						.connect-popup--category Аркада
						
					.connect-popup--right.right
						.connect-popup--big-box
							a(href="#").connect-popup--big.vk Войти через Вконтакте
							a(href="#").connect-popup--big.fb Войти через Facebook
							a(href="#").connect-popup--big.gp Войти через Google+
							a(href="#").connect-popup--big.ok Войти через Одноклассники
							a(href="#").connect-popup--big.lf Войти через LostFilm.TV

						.connect-popup--socials
							a(href="#").connect-popup--social.vk
							a(href="#").connect-popup--social.fb
							a(href="#").connect-popup--social.gp
							a(href="#").connect-popup--social.ok
							a(href="#").connect-popup--social.lf

						.connect-popup--label.alt или

						a(href="#").connect-popup--btn Войти

						.connect-popup--hr

						a(href="#").connect-popup--btn Зарегистрироваться
						a(href="#").connect-popup--btn.alt Играть без регистрации