{% extends "dev/layout.twig" %}
    {%  block content %}
		<div class="dev-content__white-box dev-doc container">
			<div class="clearfix">
				<div class="dev-doc__nav left">
					{% include "dev/doc/menu.twig" %}
				</div>
				<div class="dev-doc__info right">
					<div class="dev-doc__head">Работа с приложением</div>
					<div class="dev-doc__txt">
						<p>Размещайте игровые приложения на сайте EXE.ru, используя платформу для разработчиков dev.exe.ru. Тысячи игроков и только лучшие игры на EXE.ru. Начинайте зарабатывать прямо сейчас!

На игровом портале EXE.ru доступны к размещению iframe-приложения, поддерживаемые браузерами.

Для обмена данными с платформой EXE.ru, Вам необходимо интегрировать в игровое приложение методы Javascript API.</p>

						<div class="dev-doc__box">
							<div class="dev-doc__title"><a href="/doc/placement">Размещение игры</a></div>
							<div class="dev-doc__txt">
								<p>Игры, размещаемые на игровом портале EXE.ru интегрируются внутри сайта при помощи настраиваемого разработчиком IFrame-окна. Играм доступны все методы Игрового и Платежного API.
									<ul>
										<li>Добавьте игру на сайт</li>
										<li>Укажите настройки игры и параметры iframe-контейнера</li>
										<li>Загрузите иконки и обложки игры</li>
										<li>Распределите роли в управлении игрой</li>
										<li>Отправьте заявку на размещение игры на сайте</li>
									</ul>
								</p>
							</div>
							<div class="dev-doc__title"><a href="/doc/recommendations">Рекомендации по размещению игры</a></div>
							<div class="dev-doc__txt">
								<p>Воспользуйтесь рекомендациями по размещению игровых приложений на сайте EXE.ru для более эффективного взаимодействия с аудиторией Вашей игры.
									<ul>
										<li>Ознакомьтесь с рекомендациями по размещению игры</li>
										<li>Организуйте покупки дополнительного функционала внутри игры</li>
										<li>Интегрируйте социальные механики</li>
										<li>Монетизируйте аудиторию своей игры</li>
									</ul>
								</p>
							</div>
							<div class="dev-doc__title"><a href="/doc/terms">Условия размещения</a></div>
							<div class="dev-doc__txt">
								<p>Правила размещения игр на сайте EXE.ru. Пожалуйста, ознакомьтесь с условиями размещения игр перед началом работы с API игрового портала EXE.ru.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}