{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <form method="post" action="/feedback_do" id="dev-help__form" autocomplete="off">
                        <div class="dev-game__head">Обратная связь</div>

                        <div class="dev-game__info-field clearfix">
                            <label>Тема:</label>
                            <div>
                                <div class="sel" data-depends="#dev-help__input-subject">
                                    <input class="sel_hidden" type="hidden" name="" value="" />

                                    <div class="sel_in">
                                        <span class="sel_title">Выберите тему обращения</span>
                                        <span class="sel_arrow"></span>
                                    </div>

                                    <ul class="sel_list mCustomScrollbar">
                                        <li data-value="API">вопрос по игровому API</li>
                                        <li data-value="Application">вопрос по приложению</li>
                                    </ul>
                                </div>
                                <label for="dev-help__input-subject" class="error" id="dev-help__input-subject-error" style="display:none;"></label>
                            </div>
                        </div>

                        <div class="dev-game__info-field clearfix">
                            <label>Контактный e-mail:</label>
                            <div>
                                <input type="text" name="email" />
                                <label for="email" class="error" id="email-error" style="display:none;"></label>
                            </div>
                        </div>

                        <div class="dev-game__info-field clearfix">
                            <label>Ваше имя:</label>
                            <div>
                                <input type="text" name="name" />
                                <label for="name" class="error" id="name-error" style="display:none;"></label>
                            </div>
                        </div>

                        <div class="dev-game__info-field clearfix">
                            <label>Ваш запрос:</label>
                            <div>
                                <textarea rows="4" name="question"></textarea>
                                <label for="question" class="error" id="question-error" style="display:none;"></label>
                            </div>
                        </div>

                        <div class="dev-game__help-btns clearfix">
                            <button type="submit" class="main right">Отправить</button>
                            {% if user is not defined %}
                            <div id="recaptcha_feedback" style="padding:0;margin-bottom:10px;position:relative;clear:both;width:100%;margin-left:90px;display:none;"></div>
                            {% endif %}
                        </div>

                        <div style="position:absolute; visibility: hidden;">
                            <input name="subject" value="" type="text" id="dev-help__input-subject">
                        </div>
                    </form>

{#
                    <div class="dev-doc__head">Серверные методы API</div>
                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/servers">Серверные методы</a></div>
                        <div class="dev-doc__txt">
							<p>Все серверные запросы должны отправляться по адресу /apiv1/ методом GET.</p>
                            <p><b><a href="/servers/secureSendNotification">secureSendNotification</a></b> - отправляет уведомления пользователям от имени приложения.</p>
                      
                        </div>
                    </div>
#}
                </div>
            </div>
        </div>
    {% endblock %}