<ul>
    <li{% if leftLink == 'doc/doc' %} class="active" {% endif %}>
        <a href="/doc">Работа с приложением</a>
        <ul>
            <li{% if leftLink == 'doc/placement' %} class="active" {% endif %}><a href="/doc/placement">Размещение игры</a></li>
			<li{% if leftLink == 'doc/recommendations' %} class="active" {% endif %}><a href="/doc/recommendations">Рекомендации</a></li>
            <li{% if leftLink == 'doc/terms' %} class="active" {% endif %}><a href="/doc/terms">Условия размещения</a></li>
        </ul>
    </li>
    <li{% if leftLink == 'doc/methods' %} class="active" {% endif %}>
        <a href="/doc/methods">Интеграция</a>
        <ul>
            <li{% if leftLink == 'doc/methods/about' %} class="active" {% endif %}><a href="/doc/methods/about">Краткое описание</a></li>
            <li{% if leftLink == 'doc/methods/clients' %} class="active" {% endif %}><a href="/doc/methods/clients">Методы приложения</a></li>
            <li{% if leftLink == 'doc/methods/interface' %} class="active" {% endif %}><a href="/doc/methods/interface">Интерфейсные методы</a></li>
            <li{% if leftLink == 'doc/methods/servers' %} class="active" {% endif %}><a href="/doc/methods/servers">Серверные методы</a></li>
            <li{% if leftLink == 'doc/methods/server_app' %} class="active" {% endif %}><a href="/doc/methods/server_app">Требования к серверу</a></li>
			{#<li{% if leftLink == 'doc/methods/errors' %} class="active" {% endif %}><a href="/doc/methods/errors">Возвращаемые ошибки</a></li>#}
        </ul>
    </li>
    <li{% if leftLink == 'feedback' %} class="active" {% endif %}><a href="/doc/feedback">Обратная связь</a></li>
</ul>
