{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Интеграция</div>

                    <div class="dev-doc__box">
					 <div class="dev-doc__title"><a href="/doc/methods/about">Краткое описание</a></div>
                        <div class="dev-doc__txt">
						 <p>Особенности загрузки iframe и использование JS API.</p>
                        </div>
                        <div class="dev-doc__title"><a href="/doc/methods/clients">Методы приложения</a></div>
                        <div class="dev-doc__txt">
                            <p>Описание методов предназначенных для работы с данными EXE.ru.</p>
                        </div>
						<div class="dev-doc__title"><a href="/doc/methods/interface">Интерфейсные методы</a></div>
                        <div class="dev-doc__txt">
						    <p>Описание методов взаимодействия с интерфейсом сайта EXE.ru iFrame-приложений.</p>
						</div>
                        <div class="dev-doc__title"><a href="/doc/methods/servers">Серверные методы</a></div>
                        <div class="dev-doc__txt">
                            <p>Административные методы, предназначенные для вызова от имени приложения с использованием стороннего сервера.</p>
                        </div>
                        <div class="dev-doc__title"><a href="/doc/methods/server_app">Требования к серверу приложения</a></div>
                        <div class="dev-doc__txt">
                            <p>Использование интерфейсного метода showOrderBox требует обмена данными с сервером приложения.</p>
                        </div>
{#                        <div class="dev-doc__title"><a href="/doc/methods/errors">Возвращаемые ошибки</a></div>
                        <div class="dev-doc__txt">
                            <p>В случае, если в процессе обработки запроса произошли ошибки, посылается специальный ответ с кодом ошибки.</p>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}