{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Работа с приложением</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/placement">Размещение игры</a></div>
                        <div class="dev-doc__txt">
                            <p>Игры, размещаемые на игровом портале EXE.ru интегрируются внутри сайта при помощи настраиваемого разработчиком iframe-окна.</p>

								<p>Тысячи игроков приходят на EXE.ru в поисках лучших игр Сети. В свою очередь, разработчикам предоставлены максимально комфортные условия для размещения игровых приложений на платформе EXE.ru.</p>

								<p>Простые и понятные методы игрового API, а также выгодные условия взаиморасчета между платформой EXE.ru описанные в разделе "Монетизация" позволяют с уверенностью говорить, что EXE.ru - перспективная и интересная площадка для лучших Российских и мировых разработчиков.</p>

								<p>Для размещения игры на сайте EXE.ru выполните 5 шагов:</p>
								<ul>
									<li><a href="/doc/placement/add_game">Добавьте игру на сайт</a></li>
									<li><a href="/doc/placement/iframe">Укажите настройки игры и параметры iframe</a></li>
									<li><a href="/doc/placement/icons">Загрузите иконки и обложки игры</a></li>
									<li><a href="/doc/placement/roles">Распределите роли в управлении игрой</a></li>
									<li><a href="/doc/placement/request">Отправьте заявку на размещение игры на сайте</a></li>
								</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}