{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Работа с приложением</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations">Рекомендации по размещению</a></div>
                        <div class="dev-doc__txt">
                            <p>Для размещения на игровом портале EXE.ru доступны iframe-браузерные игры. Добавить игру на сайт Вы можете в разделе «Разработчики» на странице загрузки игры: <a href="/add" style="margin:0;">https://dev.exe.ru/add</a></p>
							<p>После загрузки игры, добавьте название, описание и выберите жанр игры. Каждому жанру соответствует определенный цвет:</p>
							<ul>
							<li>Аркады (синий) - Простое управление и короткие, постепенно усложняющиеся уровни</li>
							<li>Азартные (розовый) - Игры, прототипами которых являются карточные игры.</li>
							<li>Гонки (серо-голубой) - Симулятор процесса гонок и управления автомобилем или мотоциклом</li>	
							<li>Логические (лаймовый) - Игроку требуется решить задачу с помощью логики и интуиции</li>
							<li>Приключения (бирюзовый) - Сюжет крутится вокруг главного героя, исследующего мир и решающего загадки.</li>
							<li>Ролевые (зеленый) - Игрок развивает способности и умения персонажа, исследует мир и взаимодействует с ним</li>
							<li>Симуляторы (темно-синий) - Имитация настоящей или вымышленной реальности, нет конфронтации между игроками</li>
							<li>Спортивные (серо-синий) - Игры, прототипами которых являются спортивные соревнования.</li>
							<li>Стратегии (голубой) - Требуется стратегическое и обдуманное управление войсками и инфраструктурой для победы над противником</li>
							<li>Фермы (красный) - Создавайте свое фермерское хозяйство. Собирайте урожай и выращивайте домашних животных.</li>
							<li>Шутеры (желтый) - Игры от первого лица, основным элементом которых являются боевые действия, единолично или в команде</li>	
							<li>Экономические (оранжевый) - Вдумчивое управление экономикой для успешного развития предприятия и выгодной продажи товаров</li>
							<li>Другие (сиреневый) - Игры, описание которых не подпадает ни под одну из категорий.</li>					
							</ul>
							<p><b>Интеграция с игровым порталом EXE.ru</b></p>
							<p>Для обмена данными с платформой в приложение необходимо интегрировать Javascript методы, позволяющие более тесно взаимодействовать с сайтом EXE.ru.</p>
							<p>После интеграции для приложения будут доступны:</p>
							<p>- выполнение обращений к API EXE;</p>
							<p>- открытие окон приглашения друзей и поиска друзей;</p>
							<p>- внесение средств для оплаты дополнительного функционала игр (см. <a href="/doc/methods/interface" style="margin:0;">Интерфейсные методы</a>);</p>							
						<div class="dev-doc__title"><a href="/doc/recommendations/claims">Требования к играм</a></div>
                        <div class="dev-doc__txt">
						<p>Для публикации в каталоге игру нужно отправить на проверку модераторам EXE.ru.</p>
						</div>
						<div class="dev-doc__title"><a href="/doc/recommendations/reference">Рекомендации разработчикам</a></div>
                        <div class="dev-doc__txt">
						<p>Для успешного размещения игры на платформе EXE.ru, рекомендуем Вам выполнить некоторые требования.</p>
						</div>
						<div class="dev-doc__title"><a href="/doc/recommendations/audience">Привлечение аудитории</a></div>
                        <div class="dev-doc__txt">
						<p>Для привлечения пользователей используйте единый для всех игровых приложений набор социальных механик.</p>
						</div>
						<div class="dev-doc__title"><a href="/doc/recommendations/monetization">Монетизация</a></div>
                        <div class="dev-doc__txt">
						<p>Схема взаиморасчета разработчика и игровой платформы.</p>
						</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}