{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
					<a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Правила размещения</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/rules">Правила размещения приложения</a></div>
                        <div class="dev-doc__txt">
                            <p>EXE.ru – современный игровой портал с постоянно растущей аудиторией. Мы предоставляем разработчикам максимально выгодные условия для размещения приложений. Понятные и простые инструменты позволят Вам быстро и легко разместить свое приложение в нашем каталоге.</p>
 <p>Обратите внимание, ваши приложения должны соответствовать всем пунктам представленных ниже правил. Несоответствие одному или нескольким пунктам может являться причиной отказа от размещения приложения на игровом портале EXE.ru.<p> 
 <p>Если нарушение данных правил будет обнаружено после размещения приложения на сайте – приложение будет отключено.</p>
 <p>Если ваше приложение не соответствует каким-либо требованиям по размещению на Сайте, мы сообщим вам об этом в специальном письме. Вы можете исправить недочеты и отправить заявку на размещение повторно.</p>
 <p>Мы заинтересованы в каждом разработчике, но при этом мы хотим видеть у себя на Сайте только качественные и проверенные приложения.</p>
 <p>Напоминаем, что Администрация сайта оставляет за собой право изменять Правила размещения Игровых приложений на сайте EXE.ru в одностороннем порядке.</p>
 <p>Также, если у вас возникли вопросы по размещению приложения на Сайте, вы можете их задать по рабочим дням с 10.00 до 18.00 по электронной почте admin@exe.ru или через форму обратной связи на сайте EXE.ru.</p>

 <b><p>1. Общие требования</b></p>
 
<p>1.1. Игровое приложение должно соблюдать законы Российской Федерации.</p> 
<p>1.2. Игровое приложение не должно вводить пользователя в заблуждение относительно своей функциональности.</p> 
<p>1.3. Игровое приложение не должно ассоциировать себя каким-либо образом с товарными знаками игрового портала EXE.ru без письменного разрешения на это.</p> 
<p>1.4. Предоставление Пользователю Игрового приложения платных услуг не допускается, если иное не предусмотрено договором между Администрацией сайта и Разработчиком Игрового приложения.</p>
<p>1.5. Игровые приложения, значительно изменяющие первоначальную функциональность, одобренную модераторами, или заменяющие одно приложение другим, будут отключены.</p> 
<p>1.6. Игровые приложения без службы поддержки пользователей не размещаются на Сайте.</p>
<p>1.7. Игровые приложения без наличия системы монетизации не принимается к размещению на Сайте.</p>

<b><p>.2. Требования к содержанию</b></p>

<p>2.1. К размещению на Сайте принимаются только Игровые приложения.</p>
<p>2.2. Игровые приложения, загружающие сторонние файлы и/или программы на компьютер пользователя, не размещаются. Исключение составляют сертифицированные программные модули (Adobe Flash, Calydo, Unity и др.), необходимые для функционирования приложения.</p> 
<p>2.3. Игровые приложения, содержащие элементы оформления, дизайна, логотипы и упоминания социальных сетей и сайтов, отличных от EXE.ru не принимаются  к размещению на Сайте.</p>
<p>2.4. Игровые приложения, копирующие дизайн, графику, звук других приложений и не обладающие авторскими правами на данный материал, не принимаются к размещению на Сайте. Правило также распространяется и на точные копии приложений с открытой лицензией.</p> 
<p>2.5. Игровые приложения, абсолютно повторяющие функциональность или игровую механику других приложений, размещенных на Сайте, не принимаются к размещению, если приложение не привносит новых идей в эту функциональность.</p> 
<p>2.6. Игровые приложения, в которых упоминается / демонстрируется алкоголь, табак и табачные изделия, а также сам процесс курения, лекарственные препараты, наркотики и любые другие запрещённые вещества, не принимаются к размещению на Сайте.</p> 
<p>2.7. Игровые приложения с порнографическим или эротическим содержанием не принимаются к размещению на Сайте.</p>
<p>2.8. Игровые приложения, содержащие реалистичные сцены насилия или в любом виде пропагандирующие насилие, не принимаются к размещению на Сайте.</p>
<p>2.9. Игровые приложения, использующие в текстах нецензурную лексику, не принимаются к размещению на Сайте и будут исключены.</p>
<p>2.10. Игровые приложения, содержащие любые сцены насилия над детьми, не принимаются.</p> 
<p>2.11. Игровые приложения, пропагандирующие любые религиозные или политические взгляды, не принимаются к размещению на Сайте.</p>
<p>2.12. Игровые приложения, основным процессом в которых является составление гороскопов, предсказаний, гадание, тесты пользователей, не принимаются.</p>
<p>2.13. Приложения, основной функциональностью которых является дарение подарков, открыток, виртуальных товаров между пользователями, не принимаются к размещению на Сайте.</p>
<p>2.14. Игровые приложения, содержащие любой нелицензионный контент, не принимаются к размещению на Сайте.</p>
<p>2.15. Приложения, содержащие лотереи и розыгрыши реальных призов, принимаются к размещению на Сайте, исключительно после одобрения Администрацией сайта.</p>
<p>2.16. Приложения, работающие как интернет-радио, не принимаются к размещению на Сайте.</p> 
<p>2.17. Приложения, работающие как видеочаты или мессенджеры, не принимаются к размещению на Сайте.</p>

<b><p>3. Функциональные требования</b></p> 

<p>3.1. Игровые приложения, работающие некорректно и содержащие ошибки, не принимаются.</p> 
<p>3.2. Игровые приложения, находящиеся в режиме тестирования, не принимаются.</p> 
<p>3.3. Игровые приложения без достаточных серверных ресурсов (минимально 2000 пользователей одновременно, 25 000 установок в час) не принимаются и будут исключены.</p> 
<p>3.4. Все элементы интерфейса приложения должны быть на русском языке.</p> 
<p>3.5. Любые графические материалы в Игровом приложение должны быть загружены при использовании API вызовов с Сайта, а не с компьютера Пользователя.</p> 
<p>3.6. Игровые приложения, ограничивающие большую часть функциональности для пользователей, не воспользовавшихся функцией приложения «пригласить друзей» и подобных функций, предусматривающих распространение информации о приложении среди других пользователей, не принимаются к размещению на Сайт и будут исключены из каталога.</p> 
<p>3.7. Игровые приложения, в любой форме просящие указать логин, пароль от любых сайтов или телефон пользователя, не принимаются и будут исключены.</p> 
<p>3.8. Любой подъём приложением диалогов API должен происходить после активного действия пользователя.</p> 
<p>3.9. Игровому  приложению запрещается обращаться к скриптам в домене exe.ru и его поддоменах, если это явно не разрешается правилами Cайта.</p> 
<p>3.10. Игровому приложению запрещается использовать информацию, полученную с помощью вызовов API, где бы то ни было, кроме самого приложения, из которого данные вызовы были осуществлены.</p> 
<p>3.11. Игровому приложению запрещается отправлять SMS-сообщения.</p> 


<b><p>4. Требования к текстовым и графическим материалам</b></p> 

<p>4.1. Описание Игрового приложения должно соответствовать функциональности приложения и не вводить Пользователя в заблуждение.</p> 
<p>4.2. Основное название Игрового приложения должно быть на русском языке, но при этом оно может содержать одно или несколько слов на другом языке.</p> 
<p>4.3. Игровые приложения, использующие анимированные иконки, не принимаются и будут исключены.</p>
<p>4.4. Иконка Игрового приложения должна быть уникальной и не повторять иконки других приложений размещенных на Сайте.</p> 
<p>4.5. На логотипе Игрового приложения должно быть размещено название приложения или его основная часть. Приложения без названия в логотипе не принимаются к размещению на Сайте и исключаются из каталога.</p> 
<p>4.6. Игровые приложения с логотипом, имеющим белый или прозрачный фон, не принимаются к размещению на Сайте.</p> 
<p>4.7. Игровые приложения использующие иконки защищённые авторским правом, не принимаются к размещению на Сайте и будут удалены из каталога.</p> 

<b><p>5. Внешние ссылки и реклама</b></p> 

<p>5.1. Игровые приложения, размещающие ссылки и открывающие страницы, ведущие за пределы Сайта, не принимаются к размещению на Сайте и исключаются из каталога.</p> 
<p>5.2. Разработчики Игрового приложения могут размещать рекламу только других своих приложений на Сайте. Реклама может быть размещена в модальном окне внутри приложения, которое игрок может закрыть без перехода в рекламируемую игру.</p> 
<p>Реклама должна быть отделена не менее чем 10 пикселями от основного содержания приложения. Общая площадь рекламы должна быть не более 25% от основного содержания.</p> 
<p>Приложения, содержащие рекламу других приложений вне указанных блоков, не принимаются к размещению на Сайте и будут исключены.</p> 
<p>5.3. Игровые приложения, ограничивающие собственную функциональность рекламой других игр при старте, не принимаются и будут исключены.</p>
<p>5.4. Игровые приложения, в любом виде использующие или упоминающие оферные программы, не принимаются к размещению на Сайте и будут исключены.</p> 
<p>5.5. Игровые приложения, распространяющие назойливые рекламные сообщения (также известные как спам) через любые каналы, не принимаются и будут исключены.</p> 
<p>5.6. Игровые приложения, проводящие любые рассылки по электронной почте будут исключены.</p>

								</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}