{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
                <div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                </div>

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Работа с приложением</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/terms">Условия размещения </a></div>
                        <div class="dev-doc__txt">
                            <p>Данные Условия являются публичной офертой в соответствии со ст. 437 Гражданского кодекса Российской Федерации. Размещая игровое приложение на cайте EXE.ru, Разработчик принимает все положения настоящих Условий.</p>
                           <b><p>1.Термины</p></b>

                            <p>1.1. EXE.ru  (далее «Сайт») – сайт <a href="//exe.ru/" style="margin:0;">exe.ru</a> , владельцем которого является Администрация сайта.</p>
                            <p>1.2. Администрация сайта - под Администрацией сайта EXE.ru (ранее и далее - Администрация сайта) в настоящих Условиях и иных специальных документах, размещенных на Сайте, понимается Общество с ограниченной ответственностью «Интернет-Парк» юридическое лицо, созданное по законодательству Российской Федерации и зарегистрированное по адресу: Российская Федерация, Санкт-Петербург, 195599, ул. Уральская, дом 13, литера К, БЦ «Алмаз».</p>
                            <p>1.3. Разработчик –  лицо (физическое или юридическое), размещающее Игровое приложение (далее – Приложение) на Сайте и использующее его на условиях, изложенных ниже (далее – «Условия»).</p>
                            <p>1.4. Пользователь - дееспособное физическое лицо, присоединившееся к настоящим Правилам, либо выступающее от имени и в интересах представляемого им юридического лица.</p>                    
							<p>1.5. Дополнительный функционал – дополнительные сервисы внутри Приложения, предоставляемые пользователю за определенную плату.</p>

                            <b><p>2. Порядок изменения Условий</p></b>

                            <p>Данные Условия могут быть изменены или дополнены Администрацией сайта в одностороннем порядке без какого-либо специального уведомления. Действующая редакция Условий располагается в сети Интернет по адресу: <a href="/doc/terms" style="margin: 0;">https://dev.exe.ru/doc/terms</a>. Продолжение размещения и использования Приложения после внесения изменений и/или дополнений в настоящие Условия означает принятие и согласие Разработчика с такими изменениями и/или дополнениями.</p>
                           
						   <b><p>3. Порядок размещения  на Сайте </p></b>

                            <p>3.1. Разработчик добровольно размещает Приложение на Сайте. Инструменты для размещения  на Сайте располагаются по адреcу: <a href="/add" style="margin: 0;">https://dev.exe.ru/add</a>. Администрация сайта никоим образом не влияет на аудиторию и функциональные возможности .</p>
							<p>3.2. Для размещения на Сайте Приложение должно соответствовать <a href="/doc/rules" style="margin:0; display: inline;">Правилам размещения приложений на сайте EXE.ru</a></p>
                            <p>3.3. Администрация сайта не имеет информации и не несет ответственности, за действия Разработчика при размещении  на Сайте, а именно, нарушает ли Приложение права третьих лиц и действующие международные законодательства  и законодательства РФ.</p>
                            <p>3.4. Администрация сайта осуществляет модерацию  на предмет соответствия техническим требованиям,  предъявляемым к Разработчикам и Приложениям, размещаемым на Сайте.</p>
                            <p>3.5. Администрация сайта обязуется осуществлять круглосуточный контроль за технической исправностью Сайта, за исключением перерывов для проведения профилактических и ремонтных работ.</p>
                            <p>3.6. Администрация сайта вправе отказать Разработчику в размещении Приложения на Сайте без объяснения причин.</p>
                            <p>3.7. Разработчик полностью согласен с тем, что инициатива по размещению Приложения на Сайте исходит от него. Разработчик признает свою ответственность за исправность Приложения и выбор Пользователей Приложения.</p>
                            <p>3.8. Разработчик полностью несет ответственность за форму и содержание Приложения. Разработчик гарантирует, что Приложение полностью соответствует нормам международного права и законодательства РФ.</p>
                            <p>3.9. Разработчик гарантирует, что обладает всеми необходимыми правами на размещение Приложения на Сайте, согласно международным законодательствам и  законодательству РФ. </p>
							<p>3.10. Разработчик обязан предоставить данные о себе и информацию о Приложении, которые будут размещены Администрацией Сайта во вкладке «Разработчик» на странице Приложения. </p>
							<p>3.11. Для размещения Приложения на Сайте требуется заключения договора с Администрацией Сайта. </p>
                            
							<b><p>4. Обработка персональных данных Пользователей</p></b>
							
                            <p>4.1. С момента размещения Приложения на Сайте Разработчик берет на себе ответственность за обеспечение надлежащей безопасности при работе с персональными данными Пользователей, установивших Приложение Разработчика. Разработчик понимает, что передача персональных данных Пользователей Приложения третьим лицам запрещена.</p>
                            <p>4.2. В связи с обработкой персональных данных Пользователей, Разработчик обязуется оповещать Администрацию сайта о любых фактах взаимоотношений с Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций.</p>
                           
						    <b><p>5. Лицензия</p></b>
							
                            <p>5.1. Размещая Приложение на Сайте, Разработчик предоставляет Администрации сайта право на использование Приложения на условиях простой неисключительной лицензии в виде размещения её в свободном доступе для всех Пользователей на Сайте без ограничения по территории. Плата за использование Приложения с Администрации сайта не взымается.</p>
                            <p>5.2. Администрация сайта вправе передавать без ограничения по территории права использования Приложения Пользователям посредством их сублицензирования на условиях стандартного лицензионного соглашения, заключаемого между Администрацией сайта и Пользователями посредством размещения <a href="/rules" style="margin: 0;">Условий использования сайта EXE.ru</a>. Разработчик подтверждает, что не имеет возражений против предоставления Администрацией сайта прав на использование Приложения, размещенного на Сайте, Пользователям.</p>
                            <p>5.3. Разработчик предоставляет Администрации сайта права на использование Приложения, размещенной на Сайте без ограничения по территории следующими способами:</p>
                            <p>5.3.1. Предоставление Приложения на всеобщее обозрение в сети Интернет таким образом, что любое лицо может получить доступ к Приложении из любого места и в любое время;</p>
							<p>5.3.2. Рекламирование и продвижение Приложения любым способом без ограничений, в т.ч. посредством размещения рекламных материалов, созданных с использованием части(-ей) Приложения;</p>
							<p>5.4. Права на использование Приложения согласно пп. 5.1 и 5.2 выше предоставляются сроком на 5 лет с последующей автоматической пролонгацией данного срока на каждый последующий календарный год, в случае если ни одна из сторон договора не выразит волеизъявление о его досрочном расторжении не позднее, чем за 30 календарных дней до момента такого расторжения.</p>
							<p>5.5. Администрация сайта не предоставляет никаких дополнительных отчетов об использовании Приложения, размещенной на Сайте, за исключением согласованного в договоре.</p>
							<p>5.6. Разработчик настоящим гарантирует, что:</p>
							<p>5.6.1. Является правообладателем Приложения, размещенного на Сайте (либо правообладателем  является лицо, дополнительно указанное Разработчиком);</p>
							<p>5.6.2. Предоставление Администрации сайта прав на использование Приложения, размещенного на Сайте, не нарушает и не будет нарушать условия каких-либо сделок Разработчика с третьими лицами и/или права третьих лиц, ;</p>
							<p>5.6.3. Использование Администрацией сайта и/или Разработчиком Приложения, размещенного на Сайте, в соответствии с договором не нарушает прав третьих лиц, включая, но не ограничиваясь только этим, авторские права, смежные права, права на товарные знаки и иные средства индивидуализации, а равно личные неимущественные права физических лиц.</p>
							
							<b><p>6. Разрешение споров</p></b>
                  
                            <p>6.1. Условия размещения Приложения на Сайте регулируются в соответствии с законодательством РФ по месту нахождения Администрации сайта. В случае возникновения спорных ситуаций, для урегулирования споров применяются Условия использования сайта EXE.ru, расположенные по адресу: <a href="/rules" style="margin: 0;"> https://exe.ru/rules</a>. Разработчик и Администрация сайта обязуются приложить совместные усилия для разрешения спорных ситуаций, связанных с несоблюдением пунктов данных Условий, мирным путем. В случае если спорные ситуации не будут улажены мирным путем, споры подлежат рассмотрению в суде по месту нахождения Администрации сайта.</p>
                            <p>6.2. В случае предъявления Администрации сайта претензий, исков или предписаний со стороны третьих лиц, а также уполномоченных государственных органов, в отношении правомерности размещения Разработчиком Приложения, в том числе информации на Сайте, Разработчик обязуется предпринять все возможные меры для самостоятельного урегулирования претензий либо судебных исков. Разработчик обязуется компенсировать Администрации сайта все затраты на погашение штрафных санкций и расходов на судебные заседания, а также компенсировать упущенную выгоду в связи с нарушением международных законодательств и законодательства РФ.</p>
                            <p>6.3. Если по каким-то причинам один или несколько пунктов данных Условий будут признаны недействительными и не имеющими юридической силы, это не влияет на легитимность и применимость остальных пунктов Условий.</p>
                           
                            <b><p>7. Несоблюдение пунктов Условий.</p></b>
                            <p>Разработчик обязуется соблюдать Условия. Условия расположены по адресу: <a href="/doc/terms" style="margin: 0;">https://dev.exe.ru/doc/terms</a>.</p>
                            <p>7.1. В случае нарушения Разработчиком любого из пунктов данных Условий, Администрация сайта имеет право:</p>							
							<p>7.1.1. Временно заблокировать Приложение до исправления нарушения Условий.</p>
							<p>7.1.2. Прекратить предоставление технической возможности для размещения Приложения на Сайте без вынесения предупреждений и без выплаты какой-либо компенсации за упущенную выгоду.</p>
							<p>7.1.3. Заблокировать счет Приложения.</p>
							<p>7.1.4. Взимать штраф с Разработчика, со дня блокировки Приложения по запросу Федеральной службы по надзору в сфере связи, информационных технологий и массовых коммуникаций, в связи с нарушением Условий и до дня снятия блокировки. Минимальный штраф – 1000 Рублей.</p>
				
							<b><p>8. Дополнительный функционал приложений.</p></b>
                            <p>Разработчик имеет право предоставлять Пользователям дополнительный функционал (платные сервисы) в Приложении. Единицей оплаты дополнительного функционала могут быть только рубли.</p>
                           
						    <b><p>9. Реклама.</p></b>
							<p>По всем вопросам размещения рекламы Разработчик обращается по адресу: office@exe.ru</p>
							
							<b><p>10. Удаление Приложения.</p></b>
							<p>Удаление Приложения с Сайта осуществляется Администрацией сайта по запросу Разработчика. Запрос на удаление должен быть представлен в письменном виде.</p>
							
							 <b><p>11.Заключение договора на размещение Приложения на сайте EXE.ru.</p></b>
							<p>11.1	 Для размещения Приложения на Сайте требуется заключения договора с Администрацией Сайта.</p>
							<p>11.2	 Документы необходимые для заключения договора:</p>
							<ul>
							<li>Информационная анкета для каждой из игр Разработчика</li>
							<li>Копия Свидетельства о государственной регистрации юридического лица / Копия Свидетельства о государственной регистрации физического лица в качестве индивидуального предпринимателя</li>
							<li>Копия Свидетельства о постановке на учет российской организации в налоговом органе / Копия Свидетельства о постановке на учет физического лица в налоговом органе на территории РФ</li>
							<li>Копия Приказа о назначении на должность Генерального директора / Копия Доверенности на уполномоченного представителя контрагента, имеющего право совершать от имени контрагента сделки (акцептовать оферту), подписывать необходимые в процессе работы документы.</li>
							<li>Копия паспорта Генерального директора, Уполномоченного лица, Индивидуального предпринимателя.</li>
							<li>Копия уведомления о возможности применения упрощенной системы налогообложения (неплательщики НДС).</li>
							</ul>
							
							<p>11.3	Статистика по финансовым показателям доступна Разработчику в разделе «Разработчики» в настройках Приложения во вкладке «Платежи».</p>
							<p>11.4	Отчетная документация включает в себя (в зависимости от статуса Разработчика):</p>
							<ul>
							<li>Справка</li>
							<li>Акт для плательщиков НДС</li>
							<li>Акт для неплательщиков НДС</li>
							<li>Счет для плательщиков НДС</li>
							<li>Счет для неплательщиков НДС</li>
							<li>Счет-фактура для плательщиков НДС</li>
							<li>Письмо для плательщиков НДС</li>
							<li>Письмо для неплательщиков НДС </li>
							</ul>
							
							<p>11.6	 Адрес и реквизиты Администрации Сайта (ООО «EXE»):</p>
							<p>Адрес:199155, Санкт-Петербург, Ул.Уральская,  д.13, БЦ «Алмаз», офис 313</p>
							<p>Тел./факс: (812) 322-97-75;</p> 
							<p>е-mail office@exe.ru;</p> 
							<p>ОГРН 1177847034122;</p>
							<p>ОКПО 06433800;</p>						
							<p>ИНН/КПП 7801326840/780101001</p>


							<p>Банковские реквизиты:</p> 						
							<p>Филиал "Санкт-Петербургский" АО "Альфа-Банк"</p>
							<p>БИК 044030786; к/счет 30101810600000000786</p>
							<p>р/счет 40702810032230002179</p>

							
							 <b><p>12. Изменение и/или дополнение Условий</p></b>
							 <p>Администрация сайта оставляет за собой право изменять или дополнять Условия размещения браузерных игр на сайте EXE.ru. Разработчик обязуется соблюдать и своевременно проверять возможные обновления в действующей редакции Условия размещения браузерных игр на сайте EXE.ru.</p>
							
							
							
							<p>Дата последней редакции 15 мая 2016 года </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}