{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>             

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Рекомендации по размещению</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations/audience">Привлечение аудитории</a></div>
                        <div class="dev-doc__txt">
                            <p>Для всех приложений, размещенных в каталоге доступны бесплатные методы привлечения пользователей с помощью социальных механик.</p>					
							<p><b>Социальные механики</b> - Способы привлечения пользователей, основанные на использовании API EXE.ru и социальных инструментов.</p>
							<p><a href="/doc/recommendations/audience/inquiry" style="margin:0;">Запросы от друзей</a> — позволяют игроку позвать своего друга присоединиться к нему и попросить помощи в игре.</p>
							<p><a href="/doc/recommendations/audience/search" style="margin:0;">Поиск друзей</a> – позволяет игроку искать друзей по игре.</p>
							<p><a href="/doc/recommendations/audience/notifications" style="margin:0;">Уведомления</a> — способ напомнить игроку об игре, рассказать о важной акции или событии.</p>
							<p><a href="/doc/recommendations/audience/newsfeed" style="margin:0;">Записи в Новостной ленте</a> — способ поделиться с друзьями интересными событиями и достижениями в игре.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}