{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>
               
                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Рекомендации по размещению</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations/claims">Требования к играм</a></div>
                        <div class="dev-doc__txt">
                            <p>Для публикации на сайте EXE.ru, игру нужно отправить на проверку модераторам и заключить договор с Администрацией сайта.</p>					
							<p>В случае несоответствия игры условиям размещения игры на сайте EXE.ru игра не допускается к размещению.</p>
							<p>Оплата дополнительного функционала в играх осуществляется в рублях. Запрещается принимать оплату другими способами. После выставления счета игроку он будет перенаправлен на сайт платежной системы, с которой сотрудничает игровой портал EXE.ru (Яндекс Деньги, QIWI, WebMoney). Также стоит заранее убедиться, что приложение корректно работает в режиме обычного и безопасного (HTTPS) соединения во всех популярных браузерах и основных ОС.</p>
							<p>Разработчик обязан предоставить информацию о себе на странице игры во вкладке "Разработчик", оказывать техническую поддержку размещенной игры и предоставить игрокам контакты для связи с администрацией игрового приложения. Основным языком приложения должен быть русский язык.</p>
								
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}