{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>            

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Рекомендации по размещению</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations/monetization">Монетизация</a></div>
                        <div class="dev-doc__txt">
                            <p>Согласно условиям размещения игры на сайте EXE.ru, все транзакции между пользователями и приложениями должны вестись в рублях</p>					
							<p>Пользователи могут зачислять на свой виртуальный счет рубли с помощью мобильного телефона, банковских карт и платежных систем и использовать их для совершения платежей в играх.</p>
							<p>Игровое приложение имеет собственный счет, на который поступают рубли потраченные пользователями на покупки в этом приложении.</p>
							<p>Приобретение дополнительного функционала в игровых приложениях происходит следующим образом:</p>
							<ol>
							<li>Пользователь выбирает дополнительный функционал в приложении.</li>
							<li>С его глобального счета списываются средства, равные стоимости покупки.</li>
							<li>Счет приложения пополняется на стоимость покупки.</li>
							</ol>
							<p>Данная схема, проверенная в самых крупных и популярных проектах, дает возможность реализовать удобные и надежные взаиморасчеты между разработчиков, пользователем и платформой. В случае ошибочного платежа, потраченные средства возвращается быстро и без проблем.</p>											
                            <p>Для подключения платежей необходимо выполнить следующие действия:</p>
							<ul>
							<li>Ознакомиться с документацией API EXE.ru.</li>
							<li>Подготовить серверную часть к обработке платежных уведомлений.</li>
							<li>Настроить платежи в игре.</li>
							<li>Настроить вызов платежного диалогового окна.</li>
							<li>Отправить игру на проверку модераторам EXE.ru.</li>							
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}