{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>               

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Рекомендации по размещению</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations/reference">Рекомендации разработчикам</a></div>
                        <div class="dev-doc__txt">
                            <p><b>Использование символики платформы EXE.RU в игровых приложениях.</b></p>					
							<p>Разработчикам категорически запрещено использовать символику EXE.RU в своих играх.</p>
							<p><b>Постарайтесь сделать свою игру максимально визуально привлекательной.</b></p>
							<p>Качественная графика является визитной карточкой Вашего приложения. Хорошая графика в игре привлечет большее количество пользователей.</p>
							<p><b>Обязательно добавьте в свою игру обучение.</b></p>
							<p>Обучающий режим и подсказки необходимы для начинающих игроков, чтобы они заинтересовались приложением и не бросили играть на начальном этапе.</p>	
							<p><b>Игры одного разработчика не должны копировать друг друга.</b></p>
							<p>Данное требование распространяется на приложения одного разработчика. Если вы считаете, что другие разработчики нарушают Ваши права, рекомендуем обратиться к ним напрямую.</p>	
							<p><b>Элементы приложения должны быть понятны и работать корректно</b></p>
							<p>Например, если есть крестик, то при нажатии на него, открытый элемент приложения должен закрываться. В случае ошибки нужно выводить алерт (сообщение) о ней. Все кнопки и ссылки внутри игры должны быть рабочими.</p>	
							<p><b>Чтобы запустить игру пользователь должен быть зарегистрирован на сайте EXE.RU.</b></p>
							<p>Допустимо запросить никнейм при первом заходе (без пароля), другую информацию следует получать через API. Запрещается запрашивать такие данные, как email, пароли, номера телефонов, паспортные данные и другую личную информацию.</p>	
							<p><b>Доступность приложения</b></p>
							<p>Основной функционал должен быть доступен без дополнительных действий, например, рассылки приглашений друзьям. </p>	
							<p><b>Приложение может использовать поощрение пользователей дополнительным функционалом.</b></p>
							<p>Пользователь может получить дополнительный функционал за выполнение определенных действий в игре, с помощью которого играть будет легче</p>								
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}