@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: "Roboto";
    font-weight: normal;
}

@font-face {
    src: url("../fonts/Roboto-Light.ttf");
	font-family: "Roboto";
	font-weight: 300;
}

@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
	font-family: "Roboto";
	font-weight: 500;
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
	font-family: "Roboto";
	font-weight: 700;
}