@media (max-width:1150px) {
    .dev-header {
        height: 50px
    }

    .dev-header__logo a {
        width: 270px;
        background-position: 23px 12px;
        padding: 11px 0 0 133px
    }

    .dev-header__logo a:before {
        left: 111px;
        height: 27px
    }

    .dev-header__user .avatar {
        width: 50px;
        height: 50px
    }

    .dev-header__user .avatar img {
        width: 50px;
        height: 50px
    }

    .dev-header__user .name {
        width: 100px;
        font-size: 14px;
        line-height: 20px;
        padding: 5px 0 5px 10px
    }

    .dev-header__nav ul li a {
        padding: 0 12px;
        font-size: 13px;
        line-height: 50px;
        letter-spacing: 1px
    }

    .dev-header__search {
        margin: 8px 10px 0 0
    }

    .dev-header__search input {
        width: 200px;
        font-size: 14px;
        line-height: 32px;
        height: 34px;
        padding: 0 10px;
        border-right: 40px solid #c2c7cd
    }

    .dev-header__search button {
        width: 40px;
        height: 34px;
        line-height: 32px
    }

    .dev-content {
        padding: 20px 0
    }
}

@media (min-width:1151px) and (max-width:1350px) {
    .dev-header__logo a {
        width: 270px;
        background-position: 23px 22px;
        padding-left: 133px
    }

    .dev-header__logo a:before {
        left: 111px
    }

    .dev-header__user .name {
        width: 135px
    }

    .dev-header__nav ul li a {
        padding: 0 12px
    }

    .dev-header__search input {
        width: 250px
    }
}