{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>           

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Социальные механики</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations/audience/inquiry">Запросы от друзей</a></div>
                        <div class="dev-doc__txt">
                            <p>Запросы от друзей — это способ прямой коммуникации между друзьями в играх. Запросы от друзей делятся на:</p>
							<ul>
							<li>Приглашения - позволяют пользователю пригласить друга присоединиться к игре.</li>
							<li>Просьбы - дают возможность попросить друга о помощи, вернув его в игру.</li>
							</ul>							
							<p>Для отправки запросов от друзей разработчикам нужно использовать интерфейсный метод <a href="/doc/methods/interface/showRequestBox" style="margin:0;">showRequestBox</a>.</p>
							<p>Запросы от друзей являются действенным инструментом для привлечения новых игроков и возврата пользователей в игру.</p>
							<p><b>Другие социальные механики:</b></p>
							<p><a href="/doc/recommendations/audience/search" style="margin:0;">Поиск друзей</a> – позволяет игроку искать друзей по игре.</p>
							<p><a href="/doc/recommendations/audience/notifications" style="margin:0;">Уведомления</a> — способ напомнить игроку об игре, рассказать о важной акции или событии.</p>
							<p><a href="/doc/recommendations/audience/newsfeed" style="margin:0;">Записи в Новостной ленте</a> — способ поделиться с друзьями интересными событиями и достижениями в игре.</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}