{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>
               
                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Социальные механики</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations/audience/newsfeed">Записи в новостную ленту</a></div>
                        <div class="dev-doc__txt">
                            <p>Записи в новостной ленте — способ поделиться с друзьями интересными событиями и достижениями в игре.</p>					
							<p>После того, как игрок достиг нового уровня, установил игру, или выполнил определенное задание, Вы можете разместить информацию об этом в «Ленте Новостей».</p>
							<p>Для публикации записей в новостной ленте используйте интерфейсный метод <a href="/doc/methods/interface/showPublishBox" style="margin:0;">showPublishBox</a>.</p>
							<p>Реализовав возможность делиться записями в Новостной ленте, вы передаете в руки пользователей мощный инструмент распространения игры.</p>
							<p>Дайте игрокам возможность поделиться ценной информацией с друзьями, например, историей успеха или важным достижением.</p>
							<p><b>Другие социальные механики:</b></p>
							<p><a href="/doc/recommendations/audience/inquiry" style="margin:0;">Запросы от друзей</a> — позволяют игроку позвать своего друга присоединиться к нему и попросить помощи в игре.</p>
							<p><a href="/doc/recommendations/audience/search" style="margin:0;">Поиск друзей</a> – позволяет игроку искать друзей по игре.</p>
							<p><a href="/doc/recommendations/audience/notifications" style="margin:0;">Уведомления</a> — способ напомнить игроку об игре, рассказать о важной акции или событии.</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}