{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>
               
                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Социальные механики</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations/audience/notifications">Уведомления</a></div>
                        <div class="dev-doc__txt">
                            <p>Уведомления — способ напомнить игроку об игре, рассказать о важном событии или акции в приложении.</p>					
							<p>Они отображаются в виде всплывающего уведомления на сайте и попадают на главную страницу в специальный блок «Уведомления от игр».</p>
							<p>Оповещения отправляются с сервера приложения при помощи метода <a href="/doc/methods/servers/secureSendNotification" style="margin:0;">secureSendNotification</a>.</p>
							<p>Обратите внимание, нельзя отправлять более 1 уведомления в час одному пользователю. Кроме того, нельзя отправить одному пользователю два уведомления с одинаковым текстом подряд.</p>
							<p>Общее число нотификаций не должно превышать 3 в день для одного пользователя. 24 часа отсчитываются с 4.00 по Московскому времени.</p>
							<p>Более высокий приоритет у общих нотификаций. Менее высокий приоритет у групповых нотификаций.</p>
							<p><b>Другие социальные механики:</b></p>
							<p><a href="/doc/recommendations/audience/inquiry" style="margin:0;">Запросы от друзей</a> — позволяют игроку позвать своего друга присоединиться к нему и попросить помощи в игре.</p>
							<p><a href="/doc/recommendations/audience/search" style="margin:0;">Поиск друзей</a> – позволяет игроку искать друзей по игре.</p>
							<p><a href="/doc/recommendations/audience/newsfeed" style="margin:0;">Записи в Новостной ленте</a> — способ поделиться с друзьями интересными событиями и достижениями в игре.</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}