{% extends "dev/layout.twig" %}
    {%  block content %}
        <div class="dev-content__white-box dev-doc container">
            <div class="clearfix">
			<div class="dev-doc__nav left">
                    {% include "dev/doc/menu.twig" %}
                    <a href="javascript:history.back();" class="dev-game__nav-back"><i class="icon-arrow-right"></i>Назад</a>
                </div>             

                <div class="dev-doc__info right">
                    <div class="dev-doc__head">Социальные механики</div>

                    <div class="dev-doc__box">
                        <div class="dev-doc__title"><a href="/doc/recommendations/audience/search">Поиск друзей.</a></div>
                        <div class="dev-doc__txt">
                            <p>Поиск друзей — позволяет игроку искать друзей по игре.</p>					
							<p>Поиск друзей по игре - отличный способ найти новых знакомых в игре. Чем больше друзей у пользователя в игре, тем больше количество запросов о помощи и приглашений.</p>
							<p>Запросы о помощи и приглашения, в свою очередь, повышают численность игроков и удерживают уже установивших игровое приложение пользователей.</p>
							<p>Для поиска друзей по игре разработчикам нужно использовать интерфейсный метод <a href="/doc/methods/interface/showInviteFriends" style="margin:0;">showInviteFriends</a>.</p>
							<p>Поиск друзей по игре - хороший социальный инструмент для взаимодействия с аудиторией приложения.</p>
							<p><b>Другие социальные механики:</b></p>
							<p><a href="/doc/recommendations/audience/inquiry" style="margin:0;">Запросы от друзей</a> — позволяют игроку позвать своего друга присоединиться к нему и попросить помощи в игре.</p>
							<p><a href="/doc/recommendations/audience/notifications" style="margin:0;">Уведомления</a> — способ напомнить игроку об игре, рассказать о важной акции или событии.</p>
							<p><a href="/doc/recommendations/audience/newsfeed" style="margin:0;">Записи в Новостной ленте</a> — способ поделиться с друзьями интересными событиями и достижениями в игре.</p>
						</div>
                    </div>
                </div>
            </div>
        </div>
  
    {% endblock %}